[2014-08-10 19:28] saghul commented on #1405
Ideally it would be nice to make it automagic. Maybe we can use `pthread_atfork` for resetting global state in the child.

I don't think we can support all cases, so I'd say that creating an eventloop in the parent and then trying to use in the child would be unsupported. This should make things easier, though I haven't really sat down to think this all the way through.

You are welcome to work on

[2014-08-10 19:37] ibc commented on #1405
2014-08-10 21:28 GMT+02:00 Saúl Ibarra Corretgé notifications@github.com:

BTW my use-case was not su hard:
- Create UV loop in the parent.
- Run it and properly stop and close it.
- Fork.
- Create another loop.

I was never trying to reuse the same loop.

##

Iñaki Baz Castillo
ibc@aliax.net

[2014-08-10 19:48] saghul commented on #1405
@ibc yeah, your use case would be supported. But we would need to reinitialize some stuff like the signal handlers thing and probably something in the threadpool as well.

[2014-08-10 22:35] recp commented on #1404
I think actually we don't need additional pointers and overloaded functions if we will replace all callback types with wrappers for C++. I have updated uv.h like this on new branch (libuv-cpp):

https://github.com/recp/libuv/compare/libuv-cpp

So if we will force C++ to use std::function as callbacks (or custom wrappers such as uv_function, Im working on), **we don't need any changes on existing c

[2014-08-10 23:15] edhemphill commented on #1404
+1 ..especially since libuv is used for a lot of v8 work - and that's when work is C++11.

[2014-08-11 00:14] mmalecki opened #1413 "`spawn_closed_process_io` test fails on Solaris"
[code]

I dug into this and I'm pretty sure that I know what's causing that, but I'm not sure how to fix it.

The assertion that's triggering can be found here: https://github.com/joyent/libuv/blob/4c90cc8e14e4d45f6d7896e61a2588e602f89d48/src/unix/core.c#L463

I believe that the assertion is caused by the fact that in the test itself we call [`close(0)`](https://github.com/joyent/libuv/blob/4c90cc

[2014-08-11 07:33] txdv commented on #1404
What is this?

Why can't you use node.native?

[2014-08-11 08:08] saghul commented on #1404
I haven't had the time to look at this yet, but I'd like to point out that Node is the only project (that I know of) which uses libuv + V8.

[2014-08-11 08:13] saghul commented on #1413
FTR, the test was added by this commit: https://github.com/joyent/libuv/commit/fd77a5d6c6466f8c9d7ea6221b946599320702bb, which does the `close(0)` intentionally, to verify we don't try to close it again.

I guess a regression was introduced later on or something.

An interesting fact is that this test only fails on SmartOS.

[2014-08-12 17:46] LinuxJedi opened #1415 "An API for TCP timeouts"
It would be nice to have an API for TCP timeouts.  If for example you are doing a TCP connect with UV_RUN_DEFAULT in Linux you will hit a ETIMEDOUT after around 2 minutes.

I realise typical use case would be to run in UV_RUN_NOWAIT and have a timer for timeout but there are cases where you would not want to do this.

[2014-08-12 18:07] ghost opened #1416 "Feature request: uv_fs_readdir to report the type of the entries"
This is in order to support the following feature request in joyent/node#8146. The text is copy paste from there.

`readdir()` and `FindNextFile()` both return if the dir entry is file or directory, but node.js returns only the list of the names. This means if you have directory of 1000000 entries you need to call `fs.stat()` 1000000 times to find the types of the entries which is big waste. This

[2014-08-12 20:06] trevnorris commented on #1395
@saghul For kicks, mind assigning this one to me? I'd like to take another crack at it.

[2014-08-12 20:40] trevnorris opened #1417 "Implement OSX support using GCD"
AFAIK the versions of OSX currently supported also support [GCD](https://developer.apple.com/library/mac/documentation/performance/reference/gcd_libdispatch_ref/Reference/reference.html). I think writing `__APPLE__` support using GCD would help solve problems like [forcing serialized file system writes](https://github.com/joyent/libuv/blob/7bdcf3d/src/unix/fs.c#L601-L608).

Granted I don't even ow

[2014-08-12 21:26] saghul commented on #1395
Sure, go for it. I'm working on the docs.
On Aug 12, 2014 10:06 PM, "Trevor Norris" notifications@github.com wrote:

[2014-08-12 22:45] saghul commented on #1415
You mean connect timeouts? Those could be implemented at the application level, if we supported canceling uv_connect_t requests.

[2014-08-13 05:58] LinuxJedi commented on #1415
Yes, I mean connect timeouts in this context (although read/write timeouts in UV_RUN_DEFAULT could equally apply).

I agree this can done at the application level for less than 2 minutes, that isn't too hard.  You even have a test case in the code showing how to do it (test-tcp-connect-timeout.c).

What I'm saying is the OS socket layer is cancelling the connection at 2 minutes.

For my applicatio

[2014-08-13 07:25] LinuxJedi commented on #1415
OK, done some research into this.

Basically with MySQL as my example, they are doing a blocking connect, in which case the standard socket level timeouts apply.

Libuv with UV_RUN_DEFAULT is doing a non-blocking connect and an epoll_wait with infinite timeout.  the syn/ack retries are what causes the timeout.  The only solution I have found is using setsockopt() to set TCP_SYNCNT to a higher numb

[2014-08-13 07:35] saghul commented on #1415
Hi @LinuxJedi,

I think documentation is the only way to "solve" this. libuv always uses sockets in non-blocking mode, regardless of the mode the loop is run on. Now, if all you have in the loop is a TCP handle trying to connect somewhere, then the loop will block for i/o for an infinite amount of time. If you would add a timer for X seconds then the loop would block for that amount of time (since

[2014-08-13 07:37] LinuxJedi commented on #1415
Agreed, in the mean time I'll work on a fix for my code in the one scenario where I'm using UV_RUN_DEFAULT on connect :)

[2014-08-13 07:48] saghul commented on #1417
Isn't this a duplicate of #686? If not, please can you detail what problems would GCD solve here?

[2014-08-13 10:34] txdv commented on #1417
Looks like a nice set of APIs for true asynchronous file write and reads for MacOSX.

Are you planning on implementing this in libuv @trevnorris? Or are you just posting this with the idea that someone else has to do it?

[2014-08-13 11:50] trevnorris commented on #1417
@saghul Partially yes. But it also would allow greater enhancements. For example, I believe it would be possible to remove the need for a thread pool on OSX. From the docs:

@txdv Haha. Hell no. I hate Apple products. But, even more, I like to see code improved.

[2014-08-13 12:00] saghul commented on #1417
@trevnorris Well, the problem here is that if we switch to GCD we would loose platform consistency, exactly because the threadpool is managed by the system. So I'd like to see what the exact gains are before someone jumps to implement it blindly.

[2014-08-13 12:20] indutny commented on #1417
Wait a sec, guys. Will it be possible to send events back to the libuv event loop? It should be quite easy to dispatch new events, but replying back may be really complicated.

[2014-08-13 15:28] txdv commented on #1417
So linux has no AIO for files without O_DIRECT, Windows has IOCP and MacOSX has **Grand** Central Dispatch.

I'm freaking sad right now.

[2014-08-13 23:10] trevnorris commented on #1417
I know little about the Windows implementation, but I'm sure @piscisaureus
has told me that Win doesn't have a thread pool. So how does that fit in
with platform consistency?

[2014-08-13 23:19] trevnorris commented on #1417
@indutny The GCD uses a streams type interface for fd's, and handlers are passed to alert when the operation is complete. Take a look at this: https://developer.apple.com/library/mac/documentation/performance/reference/gcd_libdispatch_ref/Reference/reference.html#//apple_ref/c/func/dispatch_write

[2014-08-13 23:24] saghul commented on #1417
As of right now there is a single threadpool implementation which all
platforms use.
On Aug 14, 2014 1:10 AM, "Trevor Norris" notifications@github.com wrote:

[2014-08-14 02:50] sausax opened #1418 "Error while running make check"
Output

make[2]: Entering directory `/home/fs-user/softwares/libuv'

Output from process `platform_output`:
uv_get_process_title: /home/fs-user/softwares/libuv/test/.libs/lt-run-tests
uv_resident_set_memory: 774144
uv_uptime: 1329991.000000
uv_getrusage:
  user: 0 sec 999 microsec
  system: 0 sec 2999 microsec
uv_cpu_info:
  model: Intel(R) Xeon(R) CPU E5-2609 v2 @ 2.50GHz
  speed: 2500
  times.sy

[2014-08-14 03:24] misterdjules opened #1419 "Process hangs on SmartOS when reading from a stdin that was piped in from a process that closed stdout"
Given the following code:

[code]

built it on SmartOS using the following command line:

[code]

and run like this:
`
find . 1>&- | ./a.out
`
libuv's event loop will use 100% of a CPU and the process will never exit.

Using dtrace, I was able to determine that the event loop would never exit because a `POLLHUP` event was set on the standard input stream.

Thanks to @tjfontaine, I was able to iden

[2014-08-14 06:00] indutny commented on #1417
@trevnorris aaah, so you want it to not use kqueue at all. I wonder, if internally it is still using kqueue for all that stuff. This is what normally OSX does even with mach ports and rest.

[2014-08-14 07:11] saghul commented on #1418
What platform are you running the tests on?

[2014-08-14 07:23] saghul commented on #1419
By looking at the code, I think you are right. If POLLHUP ends up being set, we will never call `uv__read` AFAIS, and `uv__stream_eof` will only be called if and only if POLLHUP was set and there was a previous partial read.

Can you please make a pull request with this change? It will also need a test.

Thanks!

[2014-08-14 15:58] misterdjules commented on #1419
@saghul Sure, thank you for looking into this!

[2014-08-15 00:50] misterdjules commented on #1419
@saghul I just created a PR for that, please let me know what you think!

[2014-08-15 19:30] sausax commented on #1418
CentOS 6.5 VM

[2014-08-17 01:17] justmoon opened #1425 "Ambiguous flag UV_HANDLE_IPV6"
While reading through the code, I stumbled on a curiosity. It seems like one of the bits of the `flags` field on `uv_handle_t` has two meanings.

[src/unix/internal.h line 146](../blob/master/src/unix/internal.h#L146) defines `0x2000` to mean `UV_HANDLE_IPV6`.

[code]

[src/uv-common.h line 52](../blob/master/src/uv-common.h#L52) defines `0x2000` to mean `UV__HANDLE_REF`.

[code]

I might be missi

[2014-08-18 08:08] saghul commented on #1419
Closing, continues on #1422

[2014-08-18 08:08] #1419 closed, assigned to nobody

[2014-08-18 08:17] #1425 closed, assigned to saghul

[2014-08-18 18:35] saghul commented on #1418
Can you run the individual test like this:

[code]

inspect the core file generated and see what value is returned in r? Alternatively, you can just add a printf.

[2014-08-18 18:43] saghul commented on #1413
Can you try again with latest master @mmalecki? I believe https://github.com/joyent/libuv/commit/1552184238a49e748a04d0cb2cdf2d34c2d3c7cb actually fixed this.

FWIW it no longer fails on Jenkins.

[2014-08-18 18:43] saghul commented on #1415
Closing then!

[2014-08-18 18:43] #1415 closed, assigned to nobody

[2014-08-18 22:45] k0dek0mmand0 opened #1426 "UDP memory leaking when sending to inactive local port on Windows"
I'm using libuv version shipped with node 0.10.30 on Windows platform.

I think there's a problem with the UDP implementation, similar to the one discussed in issue #1194

If a datagram is sent from 127.0.0.1:10000 to 127.0.0.1:12345 and no-one is listening on port 12345, an alloc callback is triggered on the sending handle, but the allocated memory is never used anywhere (no read callback comes w

[2014-08-18 22:48] orborde opened #1427 "Zero-delay timers are executed immediately"
If, during a timer callback, I schedule a timer with a timeout of 0, it will get run immediately, without the uv_loop bothering to process other non-timer pending events. If, as in the attached example, my timer callback schedules _another_ timeout=0 timer, uv_run will get stuck forever executing my callback again and again, even if I pass UV_RUN_ONCE.

Example: https://gist.github.com/orborde/fe0

[2014-08-19 05:23] kyo06 opened #1429 "error C2146 : Visual studio 2012 pb with the definition LPFN_CONNECTEX in the header MSWSock.h"
I get this error when I compiled with MS visual studio 2012 : error C2146: syntax error : missing ';' before the identificator 'func_connectex' libuv\include\uv.h 804

I think it is a pb with the header MSWSock.h of Microsoft API.

Can you help me to fix it please ?
Best Regards

[2014-08-19 05:42] kyo06 commented on #1429
Fix it when I include #include <winsock2.h> in the main file.

[2014-08-19 05:42] #1429 closed, assigned to nobody

[2014-08-19 07:23] saghul commented on #1426
Can you make this a proper libuv test case?

To keep things in context, here is what I mentioned on #1194: "I checked the code on the Windows side and I only see one possible code path leading there: a WSAECONNRESET or WSAENETRESET error here: https://github.com/joyent/libuv/blob/master/src/win/udp.c#L508. alloc_cb was called but recv_cb won't be. This was introduced here: ea63f06"

[2014-08-19 07:26] saghul commented on #1427
We should queue all due timers and run the callbacks after. This is planned, alongside with a bigger refactor.

If someone wants to work on this for the current branches please leave a note here.

[2014-08-19 09:38] bisegni commented on #1394
i'm sorry i have read to late the answer but i see that you have patch the code. thanks

[2014-08-19 10:38] k0dek0mmand0 commented on #1426
I've made a [gist](https://gist.github.com/k0dek0mmand0/de162881912f9ce61c71) with the test case. Hope it helps.

[2014-08-19 11:15] saghul commented on #1426
It definitely does, thanks!

[2014-08-19 18:23] tjfontaine opened #1430 "uv_fs_readdir and uv_fs_readdir_next should use readdir"
The design intent of `readdir` is to handle streaming iteration of a large directory, the current implementation of `uv_fs_readdir` and `uv_fs_readdir_next` (while allocating less) do not actually fill this design need.

Seems like `uv_fs_readdir` is the only function that's needed here, and can be invoked multiple times, both on and off the threadpool (like with the current other implementations)

[2014-08-19 18:24] tjfontaine opened #1431 "add uv_fs_scandir"
With the advent of `uv_fs_readdir` we should provide a migration path for old code who rely on the old behavior and add `uv_fs_scandir`

[2014-08-19 20:43] saghul commented on #1430
You mean like making uv_fs_readdir an actual stream? The idea with `uv_fs_readdir_next` was that thet abstraction can be built outside of libuv. Using `readdir` underneath will probably give us the memory consuption goals we have.

[2014-08-19 22:07] neoxic opened #1432 "Write request hangs in a peculiar case when connection fails"
If a write request is initiated right after a call to `uv_connect` but before `uv_connect_cb` gets fired, it lingers indefinitely until the handle is closed.

Please consider the following test case:

[code]

The output is:

[code]

The loop neither terminates nor executes the first write request not fails it whereas the connection request has failed.

If the "UNCOMMENT ME" lines get uncommented,

[2014-08-19 23:22] saghul commented on #1432
I think the problem is here: https://github.com/joyent/libuv/blob/master/src/unix/stream.c#L1235 after the connect request callback is called we disarm the fd for writing. We should only do that if the write queue is not empty.

[2014-08-20 08:32] txdv commented on #1430
[scandir uses readir](https://github.com/lattera/glibc/blob/master/dirent/scandirat.c#L73).

[2014-08-20 12:49] tojocky commented on #926
Any news on this topic?

[2014-08-20 13:38] piscisaureus commented on #926
What are the use cases that people need this for?
Load balancing incoming connections, or something else?

@jgrahamc and @stakach

[2014-08-20 16:20] jgrahamc commented on #926
Specifically, we (CloudFlare) have a piece of software based on libuv that uses OpenSSL and we use libuv for threading and for handling a listen socket with multiple connections.

See my original comment above: https://github.com/joyent/libuv/issues/926#issuecomment-33556451

[2014-08-20 18:24] txdv commented on #926
If the bounty is still up, I can look at it at the weekend.

[2014-08-21 08:58] txdv commented on #1432
I wonder what we should do.

I always call uv_write only once i'm connected, so I never experienced this bug.

But libuv supports queuing of events, if the connection is successful it writes out everything. So if it is not successful, we should flush the write queue with ECANCELED? Or maybe UV_ECONNREFUSED?

Because if I remove the line that @saghul suggest I get UV_EPIPE, which is not a good erro

[2014-08-21 09:03] saghul commented on #1432
@txdv I'd go with ECANCELED. We'll need more than just commenting the line, quickly thinking about it: if the connection failed run all queued write callbacks with ECANCELED, else, if there are pending writes don't stop polling for writes.

PS: If any of you is willing to work on this, it will need to be ifdef'd out on Windows, because we currently don't support write queueing there.

[2014-08-21 09:04] txdv commented on #1432
I'll just add the support in my patch. But I need to get home for windows as usual.

[2014-08-21 09:07] saghul commented on #1432
Adding support for queing writes on Windows is not part of this issue, please don't add it to the same patch. A different patch which adds support for it is most welcome! :-)

[2014-08-21 09:35] txdv commented on #1432
@saghul https://github.com/txdv/libuv/compare/tcp-writer-after-connect ?

[2014-08-21 09:54] saghul commented on #1432
Left some comments. Can you send a PR with it? It's easier to track progress.

[2014-08-21 14:01] Tharit commented on #1348
I'm seeing the same error with node v0.10.30; appears very infrequently and I have not been able to reproduce it. affected application is an http server that makes heavy use of canvas and mariasql modules, everything else is js.

[2014-08-21 14:28] #1432 closed, assigned to nobody

[2014-08-23 08:18] saghul commented on #1209
FWIW, I just noticed we do have a test which opens $conin, but using a tty handle: https://github.com/joyent/libuv/blob/master/test/test-tty.c#L45-L54

[2014-08-23 08:24] txdv commented on #1329
This is exactly what I said and I never read that post!

Open up this bug, I will fix it myself!

[2014-08-23 08:29] saghul commented on #1329
Feel free to send a PR and ref this bug, thanks Andrius.

[2014-08-23 08:31] txdv commented on #1329
Reentrant library, do you remember?

[2014-08-23 08:35] saghul commented on #1329
Yep. We probably have some more, they'll show up with time and we can make things better gradually :-)

[2014-08-23 08:42] txdv commented on #1329
The reason why I didn't post more in the reentrant library pull request is because I thought 0.12 is just around the corner and you just want the current shit to be delivered.

[2014-08-23 08:46] saghul commented on #1329
Yeah. that was the idea. But in the end I want to ship the API docs, so there is a bit of time and we chan add a few more bugfixes there. As you have seen I also plan to add uv_fileno. If I work all the time on the docs I go nuts, gotta write some actual code :-)

[2014-08-23 08:49] txdv commented on #1329
uv_fileno is a function addition, not behavioral change - it can be added whenever one feels coding it.

[2014-08-24 10:38] DZLiao opened #1437 "[Wish] uv_loop_t time can option use high resolution time on windows"
Some applications need to use high resolution time because the time is sensitive some applications, like video stream. I known that use high resolution time is affect the performance. So maybe it can be optional on windows platform.

First the uv_loop_t add new flag for identify use high resolution time or not. Second, when uv_run() call uv_update_time() check the flag use uv_hrtime() or GetTickCo

[2014-08-24 10:50] saghul commented on #1437
You may want to check this out: https://github.com/joyent/libuv/pull/1165

[2014-08-24 13:07] saghul commented on #1413
Closing, as I've never see this one fail again.

[2014-08-24 13:07] #1413 closed, assigned to nobody

[2014-08-24 13:24] saghul commented on #1362
Folks, please check this out, as the previous patch I attached was wrong. https://github.com/joyent/libuv/pull/1438

-g is added all the time, just as in gyp builds.

[2014-08-26 12:23] txdv commented on #1362
I checked that thing and it looks good to me.

[2014-08-26 12:32] saghul commented on #1362
Thanks @txdv, will land later today.

[2014-08-26 12:38] txdv commented on #1329
According to http://msdn.microsoft.com/en-us/library/windows/desktop/ms683472(v=vs.85).aspx

[code]

The function doesn't return the exception since Windows Vista, only on Windows XP and Windows Server 2003.

[2014-08-26 12:39] saghul commented on #1329
Windows < Vista will be going away after the next release, I wouldn't bother about it :-)

[2014-08-26 12:44] txdv commented on #1329
It is actually not that hard of an exception to check: http://msdn.microsoft.com/en-us/library/swezty51.aspx

I would add this.

[2014-08-26 12:45] txdv commented on #1329
Ok, actually it is, because mingw doesn't understand #include exception.

I don't think msys2/mingw/whatever has the header files for SEH exceptions.

[2014-08-26 12:51] txdv commented on #1329
Ok, only for Windows XP and Windows 2003 with the microsoft visual compiler and SEH extensions.

I think it is save to close this, because mingw doesn't even support SEH (or for that matter any other compiler) and Microsoft has removed it itself, because they didn't see any value in it.

[2014-08-26 12:52] saghul commented on #1329
Ok, closing then. Thanks for looking into it, Andrius.

[2014-08-26 12:52] #1329 closed, assigned to nobody

[2014-08-26 21:06] mstewartgallus commented on #1329
@txdv that's great news then.

[2014-08-26 22:26] #1362 closed, assigned to nobody

[2014-08-27 23:20] saghul commented on #1426
Hey @k0dek0mmand0, can you check #1441? Basically the buffer will now be returned the same way as Unix does when it get EAGAIN: with nread == 0 and addr == NULL.

[2014-08-29 07:18] #1426 closed, assigned to nobody

[2014-08-29 15:10] deleisha commented on #1418
This is same as the second issue reported at issue 1401.
The fix for issue 1401 is delayed quite a long time due unavailability of ubuntu.

[2014-08-29 15:53] saghul opened #1442 "Handle case when O_NONBLOCK != SOCK_NONBLOCK"
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=759673

[2014-08-29 16:04] lucab opened #1443 "libuv (0.10) testsuite fails bit on arm64 (AArch64)"
Hi,
Debian recently gained an arm64 port, so the latest 0.10.28 was also autobuilt on that architecture.

However, it looks like there is something going wrong as more than 154 tests are failing.
Full build log for 0.10.28-3 at https://buildd.debian.org/status/fetch.php?pkg=libuv&arch=arm64&ver=0.10.28-3&stamp=1409264299

As there is not (yet) a porterbox available, I have no more details/debug-tr

[2014-08-29 17:00] saghul commented on #1443
Thanks for looking into it @lucab.

[2014-08-29 21:56] recp opened #1444 "test: spawn_reads_child_path fails"
I have just redownloaded latest version of libuv even I've already have it. Because I was wanted to compare test results of the current libuv with my forked version.

There are no errors about make but there are too many warnings about void \* such as:

[code]

The test (-spawn_reads_child_path-) fails always on OS X 10.10 (Darwin 14.0.0).

[code]

libuv has already placed (forked version -unstabl

[2014-08-30 08:53] saghul commented on #1444
Hi!

I just compiled libuv on my OSX 10.10 machine and I got no warnings when compiling nor errors when running the test suite. Can you please detail the steps you followed?

[2014-08-30 11:50] recp commented on #1444
Hi @saghul !
I have just redownloaded libuv and I followed the steps (again):
1. Download libuv-master via “Download ZIP”
2. Open Terminal.app and enter  ~/Downloads/libuv-master
3. Run the following commands

[code]

GCC Version:

[code]

I got same warnings for the GCC Version (Xcode5.1.1):

[code]

I got the following warnings for each object when make compiling:

[code]

Another warnings:

[co

[2014-08-31 04:16] strrchr opened #1445 "undefined reference to `quote_cmd_arg'"
version 0.11.29
build test and benchmark with libuv.so shared library got linker errors:
 undefined reference to `quote_cmd_arg'
 undefined reference to`make_program_args'
 undefined reference to `make_program_args'
 undefined reference to`make_program_env'

[2014-08-31 08:14] saghul commented on #1445
Deplicated: https://github.com/joyent/libuv/issues/1382

[2014-08-31 08:14] #1445 closed, assigned to nobody

[2014-08-31 09:49] lucab commented on #1442
Patch attached to the bug report, available at https://bugs.debian.org/cgi-bin/bugreport.cgi?msg=5;filename=libuv.hppa.patch;att=1;bug=759673

[2014-08-31 11:49] lucab commented on #1404
How is the external interface affected by this commit (eg. symbol naming and mangling)? I'm particularly interested/concerned in ABI stability when fully going for C++.

[2014-08-31 12:01] saghul commented on #1404
FWIW, we will consider this after 1.0.0 was released, and as announced, 1.x will maintain a stable ABI.

[2014-08-31 21:00] recp commented on #1404
I’m working on this. I've not tested on Windows yet but it works on my OS X. If you will interested in you can download the version (unstable) and samples (The sample also is woking for C version):

https://github.com/recp/libuv
https://github.com/recp/libuv-samples

All tests are failing (make check) for me for now but its will be fixed when porting to C++ completed (after v1.0.0)

The uv.h heade

[2014-09-01 16:46] ibc opened #1447 "Lot of warnings compiling libuv 1.0.0 in OSX with clang"
[code]

I call `make clean && ./configure && make` on today's master branch and get lot of warnings:

[code]

[2014-09-01 18:56] saghul commented on #1447
/cc @tjfontaine

[2014-09-02 07:28] saghul commented on #1444
That is not related to the test failure, please lets keep this issue on topic.

[2014-09-02 07:39] saghul commented on #1404
@recp I had a quick peek at the code, and honestly, I suggest you stop working on it until we agree on the direction forward. AFAIS it goes way beyond defining some typedefs for callbacks, which I'm not confortable with. I'll take a deeper look as soon as I can.

[2014-09-02 08:23] recp commented on #1404
Got it. I'm waiting

[2014-09-03 03:42] w359405949 opened #1450 "add uv_listen_stop or any other api to remove the callback."
hi, i am try to write a coroutine network library like gevent by libuv and lua-coroutine .

project home:
https://github.com/w359405949/luua

i handle coroutine resume&yield by a simple rule:
main coroutine run the uv_loop,
resume any other coroutine by the uv callback,
'invoke' to the loop from other coroutine by yield.

the key point is that when the coroutine 'invoke' to the loop, it should sto

[2014-09-03 06:00] PowerSurge1 commented on #1426
Question about the fix - why not put the WSAECONNRESET error through uv_translate_sys_error? before passing it off to recv_cb? I see that it would already map to UV_ECONNRESET in those cases, and client code would probably be interested in getting that instead of just a zero. If it's a compatibility error with higher level code, we could consider adding another flag to enable that.

We could also

[2014-09-03 07:54] saghul commented on #1426
This is quite peculiar use case of ECONNRESET. Basically what happens is that a previous UDP send failed, but because there is no way to report the error to the user, Windows makes the socket readable and reports that error. IIRC some Unixes also do it. The handling is the same as EAGAIN, in that we just need to return the buffer. The reason for handling it specifically like this is so we know why

[2014-09-03 07:59] saghul commented on #1450
And what is the question here? Yes, having uv_listen_stop would probably be nice, but so far nobody wrote a patch for it :-)

After 1.0.0 uv_listen and uv_accept will change pretty dramatically (that's the plan at least): uv_listen will just set the backlog in the socket, and uv_accept will be a request. More details will follow soon after the release.

[2014-09-03 08:04] saghul commented on #1450
Related: https://groups.google.com/forum/#!msg/libuv/LYW_5eILaVk/SF7CXoGCL9sJ

[2014-09-03 13:38] PowerSurge1 commented on #1426
Keeping the cases separate make sense.

How about giving the converted error code to the recv_cb? Maybe user code wants to know it's sending packets someplace bogus. I suppose a zero length read could be a signal that something bad happened...

Thanks for your quick response, by the way :)

[2014-09-03 13:41] saghul commented on #1426
@PowerSurge1 My pleasure :-) Getting such an error there means there was an error in a _send_ request, so it's irrelevant, confusing and not cross-platform. I don't see any good reason to do it.

[2014-09-03 14:13] PowerSurge1 commented on #1426
Thank you.

[2014-09-03 14:26] w359405949 commented on #1450
yeah, it's what i need, just stop the callback but don't need to stop the socket.

if you are interesting of my work, you can just read the lib/Socket.lua and you can get the answer.

[2014-09-04 02:47] neoxic opened #1451 "Build of shared lib fails on Windows"
I have had this for a while hoping it's known. Tested on Windows XP SP3 with VC2005 and VC2010 toolset.

The weird 'dllimport' error is probably the culprit.

[code]

The 'static' mode compiles ok. There are some assertions though when running tests, but I don't want to post them here until explicitly asked.

[2014-09-04 07:34] saghul commented on #1382
Updated the title to refer others here.

[2014-09-04 07:35] saghul commented on #1451
Duplicated, see https://github.com/joyent/libuv/issues/1382 Also, VC2005 is not supported.

[2014-09-04 07:35] #1451 closed, assigned to nobody

[2014-09-04 07:36] saghul commented on #1238
Doh, looks like this one fell through the cracks, sorry! That is currently unsupported, I'm afraid. Closing this in favor of https://github.com/joyent/libuv/issues/1382

[2014-09-04 07:36] #1238 closed, assigned to nobody

[2014-09-04 07:45] saghul commented on #1418
Closing in favor of #1401 then.

[2014-09-04 07:45] #1418 closed, assigned to nobody

[2014-09-04 07:54] saghul commented on #1416
This landed a while ago in master. Have a look at `uv_fs_readdir_next`: http://docs.libuv.org/en/latest/fs.html#c.uv_fs_readdir

[2014-09-04 07:54] #1416 closed, assigned to nobody

[2014-09-04 08:00] saghul commented on #931
`uv_fs_readdir_next` (http://docs.libuv.org/en/latest/fs.html#c.uv_fs_readdir) tried to address this, but even if the output looks paged, internally all dirents are stored in a big fat array. I'm not aware of a mechanism to make this "streaming"-like all the way down.

[2014-09-04 08:22] rogerwang opened #1453 "uv_async_send() not guaranteed to wake up loop on windows"
In uv.h:
`uv_async_send wakes up the event loop and calls the async handle's callback`

But the current implementation on windows uses a flag field `async_sent` to determine whether to post to the IOCP. The flag is reset to 0 in the callback (uv_process_async_wakeup_req). When another thread calls uv_async_send() just after the event loop wakes from polling and before uv_process_async_wakeup_req()

[2014-09-04 08:27] txdv commented on #1453
Could you provide an example?

The explanation is nice, but a test in the code would make it far more easier to verify the problem in the first problem.

[2014-09-04 08:44] saghul commented on #1453
`uv_async_send` doesn't guarantee that calling the function X times yields X executions of the callback, this is by design.

[2014-09-04 09:01] txdv commented on #1453
O, he meant that. We could actually make that happen in libuv for code consistency between windows and unix? @saghul ?

[2014-09-04 09:02] rogerwang commented on #1453
yes,  but in terms of just wakening the event loop, the current document created an expectation that after the point when a thread calling uv_async_send(), the event loop will wake up, or it will not block on the next iteration, but it does sometimes.

[2014-09-04 09:03] saghul commented on #1453
They are actually consistent. Windows is actually able to make 1 to 1 invocations happen, but it bends backwards to make the same guarantees as Unix does.

[2014-09-04 09:06] saghul commented on #1453
We can fix that with documentation, I'll extend this: http://docs.libuv.org/en/latest/async.html#c.uv_async_send but the behavior is correct. Since you are calling the function from another thread you can't possibly know what the loop is doing at that point.

[2014-09-04 09:15] saghul commented on #1453
Updated documentation, it should be regenerated shortly.

[2014-09-04 11:22] rogerwang commented on #1453
Thanks. I found another part of the doc in uv.h is confusing: `the only guarantee is that the callback function is called at least once after the call to async_send`. When there are multiple calls from another thread continuously, it's not obvious which call the document refers to by `the call to async_send` -- the sentence only applies to the very first call, while for the following calls, the ca

[2014-09-04 11:48] trevnorris opened #1454 "[unix] Simplify uv__run_pending()"
Just wanted to know if I'm missing something in the following simplification, or if I should open a PR for it?

[code]

[2014-09-04 12:00] saghul commented on #1454
QUEUE_EMPTY doesn't empty the queue, it returns 1 if the queue is empty, 0 otherwise.

Usually I only use foreach when there are no callbacks invoved, which could modify the queue while iterating it.

[2014-09-04 12:05] trevnorris commented on #1454
Ah, duh. I should inferred that from the `while()` conditional. Is there a quick way to empty the queue?

[2014-09-04 12:10] saghul commented on #1454
The queue is not a generic container where elements are put inside, it's an inclusive or embedded data structure, so everything you "put in" is aware of it. You can reset your pointers, but the elements in the queue would still be chained. You need to iterate it and reset the queue on each element.

[2014-09-04 12:14] trevnorris commented on #1454
thanks. that answers it. wanted to see if there was a quicker way than removing each queue item individually.

[2014-09-04 12:14] #1454 closed, assigned to nobody

[2014-09-04 12:23] saghul commented on #1453
@rogerwang can you suggest some text for docs.libuv.org? Whatever is on uv.h will be going away once the API docs are merged.

[2014-09-04 12:34] bnoordhuis commented on #931
I can't speak for Windows but why don't you use readdir_r() on UNIX?

That will require some changes though, I think.  uv_fs_readdir_next() should take a list of uv_dirent_t structures and go through the thread pool.  It should also copy out the d_name from the native struct dirent because that won't be stable over time.

I would not recommend making uv_dirent_t an alias for struct dirent because

[2014-09-04 12:36] saghul commented on #931
Aha, I (or maybe @indutny) will look into that.

Sure.

Thanks for the comments Ben.

[2014-09-04 18:05] saghul commented on #1395
I plan to make the 1.0.0 release by the end of next week. Do you have some time to work on this Trevor? Alternatively we can remove it from the milestone since it's the actual test what is wrong.

[2014-09-04 18:25] caiohrm opened #1456 "spawn_setuid_setgid failed code 6"
I have received this error while make check, and I wish to know where the error is, and how to fix this. thanks.
Sorry for bad english

[2014-09-04 18:28] saghul commented on #1456
Duplicate of #1339

[2014-09-04 18:28] #1456 closed, assigned to nobody

[2014-09-05 05:57] rogerwang commented on #1453
maybe something like `uv_async_send() is not guaranteed to wake up loop if you have called it previously` -- it's a proper warning.

[2014-09-05 09:09] saghul commented on #1453
Fixed in https://github.com/libuv/api-docs/commit/79d7a432b8ae7d71616c88a32eb884fa22076465

[2014-09-05 09:09] #1453 closed, assigned to nobody

[2014-09-05 09:21] saghul commented on #929
Closing as it's beaing dealt with in https://github.com/joyent/libuv/pull/1165.

[2014-09-05 09:24] saghul commented on #259
/me assumes we can close this now :-)

[2014-09-05 09:24] #259 closed, assigned to nobody

[2014-09-06 07:55] FROGGS opened #1458 "explosion in spawn's exit_cb when closing req (regression from 0.11.18 to 0.11.29)"
MoarVM upgraded yesterday to revision https://github.com/joyent/libuv/commit/49cb40c47902dd04c7787e6543e9e13368dc1840, and now we needed to apply this workaround to avoid failures:

https://github.com/MoarVM/MoarVM/commit/97adcd6a1bafd3148ae41f84e9a5b67d19328278

These are the commits of the version bump:
https://github.com/MoarVM/MoarVM/commit/fce509b4fb59609bf14560043e382f5a0157c74f
https://gith

[2014-09-06 16:18] FROGGS commented on #1458
Problems solved! We keep libuv in a git submodule, and upgrading from that old version to 0.11.29 left files flying around when our project was rebuild.
We patched our build system to take care of that.

[2014-09-06 16:18] #1458 closed, assigned to nobody

[2014-09-07 10:39] saghul commented on #1447
We need to add something like this to Makefile.am (and uv.gyp), but my autotools-fu is failing me :-/

[code]

This checks if the compiler is Clang, and if so it adds the appropriate flag. We used to have this before switching to autotools.

[2014-09-07 10:44] saghul commented on #924
This should cover the last 2 points of the list, which should hopefully be enough for now: https://github.com/joyent/libuv/pull/1459

[2014-09-07 10:46] saghul commented on #1447
@bnoordhuis Maybe you can give me a pointer or 2? (look at my previous note) Thanks!

[2014-09-07 11:16] bnoordhuis commented on #1447
The autotools way is checking if the compiler supports the flag.  See e862301 for an example; the magic happens in the check-flags.m4 script.

[2014-09-07 11:17] saghul commented on #1447
Oh my. Thanks for the pointer Ben!

[2014-09-07 16:39] cynron opened #1460 "keep consistent for timer container between win and unix?"
i noticed that the timer container used by unix implemetation is heap, but for win, it is rb-tree, i think maybe they shoud be consistent?  Thx.

[2014-09-07 17:01] saghul commented on #1460
Yes, the idea is to also switch to the heap on Windows, we just haven't go to do it yet. Patches are of course welcome ;-)

[2014-09-07 17:55] saghul opened #1461 "darwin: the select trick doesn't work when there are more than 1024 fds"
Issue report on Node: https://github.com/joyent/node/issues/8326

Fix attempt: https://github.com/saghul/libuv/tree/darwin-unlimited-select

I think we need to manage the fd_set manually since we are going beyond 1024 fds.

/cc @indutny

[2014-09-07 17:57] saghul commented on #1461
I wonder if we can use poll() instead of select() for this.

[2014-09-07 19:08] saghul commented on #1461
I tried to use `poll(2)` here: https://github.com/saghul/libuv/commit/754d21c9b3dca5c6ccf4205c38eaccc06af488bd but it doesn't seem to work with /dev/tty on OSX, still.

Long story short: poll continues to be broken on OSX, so we need to use select with manual fd_set mangling I think.

[2014-09-07 20:50] indutny commented on #1461
Hm... yeah, I think that `poll()` is actually emulated by a kqueue on OSX.

[2014-09-07 21:13] indutny commented on #1461
Anyway, I am at nodeconf right now. Will try to look into it tomorrow, but can't really promise!

[2014-09-07 21:55] saghul commented on #1461
Thanks!

[2014-09-07 23:27] indutny commented on #1461
Should be fixed by https://github.com/joyent/libuv/pull/1462

[2014-09-08 07:40] saghul commented on #1461
Fix landed.

[2014-09-08 07:40] #1461 closed, assigned to nobody

[2014-09-10 19:02] trevnorris commented on #1395
@saghul I can't get this to fail on Windows 8.1 x64 VM. Going to try some more, but not sure how to proceed if I can't reproduce.

[2014-09-10 19:06] trevnorris commented on #1395
Ok. I've gotten it to fail. Seems to only happen with Release builds. Not Debug builds.

[2014-09-10 19:09] trevnorris commented on #1395
Nix that. It failed for me once. Now it's not failing for me. The only thing I can attribute it to is the fact when the test started a request came to allow the firewall open. Now that I've allowed that, the test is passing.

[2014-09-10 19:49] trevnorris commented on #1395
PR for fix we discussed: https://github.com/joyent/libuv/pull/1466

[2014-09-10 20:57] saghul commented on #1395
PR was solid and landed, closing!

[2014-09-10 20:57] #1395 closed, assigned to nobody

[2014-09-10 21:03] saghul commented on #1447
Note to self: the `__attribute__ ((__may_alias__))` thing here: http://stackoverflow.com/a/19117080 might help with the other warnings from the functions we load using `dlsym`.

[2014-09-11 07:47] saghul commented on #924
#1459 landed, closing!

[2014-09-11 07:47] #924 closed, assigned to nobody

[2014-09-11 07:58] recp commented on #1447
The dlsym function has defined in dlfcn.h like this:

[code]

But we got compiler warning like this. I think, the void \* does not cause the warning because it seems related to void \* ( \* )() warning, probably there are some optimizations for dlsym when compiling/linking:

[code]

There are some solutions here: http://christopherpoole.github.io/dynamically-linking-shared-objects-in-c++/ for avoi

[2014-09-11 08:05] saghul commented on #1447
@recp cool! Can you make a PR with that?

[2014-09-11 08:16] recp commented on #1447
Yes I can :) I'll check all dlsym warnings and apply the approach/solution and create PR.

[2014-09-11 10:33] recp commented on #1444
Are there any changes for the test? I've just follow same steps and all tests passed for me :+1:

[2014-09-11 10:37] saghul commented on #1444
Nope, but it passes let's close this then! :-)

[2014-09-11 10:37] #1444 closed, assigned to nobody

[2014-09-11 22:11] recp commented on #1339
This test also fails on my Fedora20 (on AWS). I run make check as root.

GCC version (4.8.3):

[code]

kernel name:

[code]

Test results:

[code]

[2014-09-11 22:12] saghul commented on #1339
Can you get the error code?
On Sep 12, 2014 12:11 AM, "Recep ASLANTAS" notifications@github.com wrote:

[2014-09-11 22:27] recp commented on #1339
How can I get related error code? Debugging on Fedora using GDB? or is there any err-code on the test results?

I run the following cmd as you say before

[code]

it seems uv_spawn can't pass the following assert:

[code]

[2014-09-11 22:28] saghul commented on #1339
We need to know what the value of r is. You can just add a print or inspect
the core file.
On Sep 12, 2014 12:27 AM, "Recep ASLANTAS" notifications@github.com wrote:

[2014-09-11 22:42] recp commented on #1339
It is -13. The uv_spawn returns this val. I've run twice. Same result: -13

[2014-09-11 22:46] saghul commented on #1339
That's EACCESS. It's probably not an issue, but I have no idea why it fails
:-S

If anyone has any idea I'm all ears.

On Friday, September 12, 2014, Recep ASLANTAS notifications@github.com
wrote:

##

/Saúl
bettercallsaghul.com

[2014-09-11 23:00] bnoordhuis opened #1470 "Optimize uv_write() + uv_fs_sendfile()"
A standard trick on Linux to pack response headers and body into a single TCP packet is to sendmsg() the headers with flags=MSG_MORE and sendfile() or splice() the body afterwards.  That kind of optimized mix-and-match I/O is not something you can do with libuv.

In theory, libuv could apply the sendmsg+sendfile trick implicitly by correlating write and sendfile requests for the same file descript

[2014-09-12 02:54] roselyndomingo opened #1471 "make check error"
I cloned libuv from https://github.com/joyent/libuv, there's a problem with building it in Ubuntu:

OK    -    $ sh autogen.sh
OK    -    $ ./configure
OK    -    $ make
NG    -    $ make check
         -    $ make install
# Following is the error i got in "make check":

`spawn_setuid_setgid` failed: exit code 6
Output from process `spawn_setuid_setgid`:
# Assertion failed in test/test-spawn.c on

[2014-09-12 07:22] saghul commented on #1471
Duplicate of https://github.com/joyent/libuv/issues/1339. Please search for related issues before reporting.

[2014-09-12 07:22] #1471 closed, assigned to nobody

[2014-09-12 07:35] saghul commented on #1339
@recp who owns and what are the permissions of run-tests?

[2014-09-12 08:11] recp commented on #1339
[code]

The SELinux is active, can SELinux cause the issue (Ive no idea how)?

[code]

[2014-09-12 08:26] saghul commented on #1339
I'm 99.999% possitive this is a environment issue, not a libuv issue. But I'd like to know what it is to point people in some direction before we close this.

[2014-09-12 12:17] txdv opened #1472 "WriteFileGather ReadFileScatter instead of ReadFile and WriteFile in the windows file system operations."
Currently we are using [ReadFile](https://github.com/joyent/libuv/blob/master/src/win/fs.c#L572-L581)  and [WriteFile](https://github.com/joyent/libuv/blob/master/src/win/fs.c#L628-L637) over the entire nbufs collections with a while loop.

However, there are two functions called [WriteFileGather](http://msdn.microsoft.com/en-us/library/aa365749%28v=vs.85%29.aspx) and [ReadFileScatter](http://msdn

[2014-09-12 12:22] piscisaureus commented on #1472
Have you read those msdn pages in their entirety?
Pay special attention to alignment and file offset restrictions.

[2014-09-12 12:28] txdv commented on #1472
_Each element can receive one page of data. To determine the size of a system page, use GetSystemInfo._

_Each buffer must be at least the size of a system memory page and must be aligned on a system memory page size boundary. The system reads one system memory page of data into each buffer._

So sad.

[2014-09-12 12:39] txdv commented on #1472
Maybe we could check for the alignment?

Would that introduce too much overhead? I mean, the first check would probably reveal most of the time if it is not fit for the Gather/Scatter functions.

[2014-09-12 15:32] txdv commented on #1472
_The array must contain enough elements to store nNumberOfBytesToRead bytes of data, plus one element for the terminating NULL. For example, if there are 40 KB to be read and the page size is 4 KB, the array must have 11 elements that includes 10 for the data and one for the NULL._

This limitation makes it really hard to implement it, because the bufs have always the exact size.

We would need to

[2014-09-12 15:32] #1472 closed, assigned to nobody

[2014-09-12 21:36] recp commented on #1339
@saghul Ive just run the test codes (spawn_setuid_setgid) in a separate file like below, it passed. Maybe this is not good idea but it works on Fedora (also on OS X). But that fails in make check :/

[code]

[code]

[2014-09-12 22:13] saghul commented on #1339
Did you change anything in the test? I can't just eyeball it :-/

[2014-09-13 09:54] recp commented on #1339
@saghul I just changed process file name to "echo" and exit_cb as my previous comment.

[2014-09-13 10:07] recp commented on #1339
I've just changed test-spawn.c like below (All tests passed on Fedora):

I think uv_spawn couldn't spawn itself by exepath (uv_exepath). Because I think it is behave like a recursive fn and Linux does not approve the operations. Its my idea.

[code]

[2014-09-13 10:10] saghul commented on #1339
This test passes for me on all Linux boxes I have available, and also Jenkins. It has to be an environment problem somehow.

[2014-09-13 10:19] recp commented on #1339
Which environment settings can cause the test issue? There are two run-tests in the folder test/.libs/

[code]

I was printed exepath for the test and I saw it was trying spawn the `lt-run-tests` file so it couldn't. The my OS X has only run-tests file :/

[2014-09-13 10:33] saghul commented on #1339
I don't know what causes it, unfortunately :-( When I run the tests on my Debian machine I have both files too and the test passes.

[2014-09-13 10:58] recp commented on #1339
All tests passed on my OS X (10.10) but when I run the test individual as the following cmd AFTER MAKE CHECK I got the same assert like Fedora:

[code]

Is it expecting result?

[2014-09-13 16:54] recp commented on #1339
I guess if we will use another process for spawn tests such as `echo | mkdir | custom-executable` rather than itself (lt-run-tests  or run-tests) the tests will be passed on all systems (if there are no err :) ). Maybe I'm missing somethings about the tests. Because the test also fails on OS X like my prev-comment.

[2014-09-14 08:41] saghul commented on #1339
I think I know why it might fail: the test is skipped when not running as root, which means that if the test is actually executed, you are root. Now, when downgrading to Mr. "nobody", you might not have enough rights to reach the executable in the path.

Also, FWIW, test passes for me on OSX 10.10 when I run it just like you do.

[2014-09-15 07:32] #1460 closed, assigned to nobody

[2014-09-15 16:24] nalimilan opened #1478 "Remove -xnolibs argument when calling dtrace"
`Makefile.am` passes `-xnolibs` argument to `dtrace` at https://github.com/joyent/libuv/blob/master/Makefile.am#L321. This argument is no longer supported by dtrace >= 2.5. I'm not sure why it was present in the first place, I must admit I have no idea what happens in that line.

This has been spotted when packaging Julia (bundling libuv) for Fedora [1].

1: https://bugzilla.redhat.com/show_bug.cg

[2014-09-15 18:17] saghul commented on #1478
I have no idea what it does... @tjfontaine can you help? Either way, you can disable dtrace probes when building Julia (there is a ./configure modifier for it), currently there are just 2 which are not of much use.

[2014-09-15 18:39] nalimilan commented on #1478
Currently I'm calling sed to remove this argument from the Makefile. Not a big deal, but the Fedora policy is to move fixes upstream so that everybody benefits from them, instead of slowly piling hacks. :-)

[2014-09-15 18:41] saghul commented on #1478
Sure! Hopefully someone can clarify why is that needed. I believe we mostly
build with dtrace support on OSX and FreeBSD.
On Sep 15, 2014 8:39 PM, "Milan Bouchet-Valat" notifications@github.com
wrote:

[2014-09-15 18:58] indutny commented on #1478
I believe that it should not be required, but I'll leave it up to @tjfontaine

[2014-09-16 06:29] jorangreef opened #1479 "fs.watch on Windows 7: Renaming/deleting a file does not emit event for original path"
From: https://github.com/joyent/node/issues/8372

When renaming "a.txt" to "b.txt" I get the following events from fs.watch on Windows 7 on Parallels:

rename null
rename b.txt
change b.txt

Subsequently deleting "b.txt" just gives:

rename null

According to Ben, the null rename event is the FILE_ACTION_RENAMED_OLD_NAME event. The filename is filtered out but it's not for feature parity with inot

[2014-09-16 20:41] deepak1556 opened #1480 "adding uv_compare"
Following this thread https://groups.google.com/forum/#!topic/libuv/hrVIAyurYm0 , providing pthread#equal like helper would be nice. I am currently requring such an helper here https://github.com/deepak1556/node-ffi/blob/nan_upgrade/src/callback_info.cc#L153,   Any suggestions ?

[2014-09-17 07:35] saghul commented on #1480
I think I would entertain such a patch. But please don't call it `uv_compare`, call it `uv_thread_equal`, which would map to `pthread_equal` on Unix, and an arithmetic equal on Windows. Thread ids would also need to be typedef'd to their respective types an have some `uv_thread_id_t` type.

[2014-09-19 08:58] saghul commented on #1447
A fix for these landed in v1.x, closing. IIRC there is one warning left, which only kicks in with Clang.

[2014-09-19 08:58] #1447 closed, assigned to nobody

[2014-09-19 08:59] saghul commented on #1443
Can you try to apply this patch? https://github.com/joyent/libuv/commit/861de3d71d40bdd22712f0079cd38f41be75010d

[2014-09-19 09:00] saghul commented on #1437
#1165 landed, closing.

[2014-09-19 09:00] #1437 closed, assigned to nobody

[2014-09-19 09:05] saghul commented on #711
I'm going to close this since many of the failures have already been fixed in v1.x. Please open a new issue with fresh failures if need be.

[2014-09-19 09:05] #711 closed, assigned to nobody

[2014-09-19 09:08] saghul commented on #402
Closing this is over 2 years old, please reopen if need be.

[2014-09-19 09:08] #402 closed, assigned to piscisaureus

[2014-09-19 10:11] bnoordhuis opened #1483 "darwin: spawn new process with POSIX_SPAWN_CLOEXEC_DEFAULT"
On Linux (and FreeBSD too now, I think), libuv opens file descriptors with O_CLOEXEC.  On other platforms however, there is a race window between the creation of the file descriptor and setting its FD_CLOEXEC flag.  As a result, uv_spawn() may leak file descriptors into the new process and that's a potential security issue.

OS X has a POSIX_SPAWN_CLOEXEC_DEFAULT posix_spawnattr_t flag that could

[2014-09-19 12:01] saghul commented on #1431
I don't mind renaming these before 1.0.0, I'd say we are still on time. `uv_fs_readdir_next` happened in 0.11, so we could just go ahead and rename them to `uv_fs_scandir` and `uv_fs_scandir_next`.

Then we can think about readdir, which is a tad different, because every time you want the next entry we need to do a roundtrip through the threadpool, so it will need a callback interface.

Thoughts,

[2014-09-19 12:06] saghul commented on #1430
I don't enjoy the idea of making the readdir request a handle-like thing at all.We do have `uv_fs_req_cleanup`, which would cleanup whatever necessary. I'm not sure about how the API would look like (yet), but I don't see this happening before 1.0.0. See my comment on #1431 regarding the change of name to `uv_fs_scandir`.

[2014-09-19 17:53] indutny commented on #1431
I'm +1 for it.

[2014-09-19 17:55] tjfontaine commented on #1431
We don't always need to round trip for readdir, we would do it roughly the same as the rest of the FS mechanism, such that we have an async and sync, then we could chunk up say reading 32 dirents at a time for each loop, but at least it's at the discretion of the user

[2014-09-19 17:57] tjfontaine commented on #1430
I had @jclulow looking at this earlier, hopefully he will be able to show an example of what I'm thinking of

[2014-09-19 17:58] saghul commented on #1431
Yes, I had something like that in mind. Let's discuss those on #1430 though.

For this one, are you also OK with renaming then?

[2014-09-19 18:15] jclulow commented on #1430
We should be exposing the POSIX [opendir()](http://pubs.opengroup.org/onlinepubs/9699919799/functions/opendir.html), [readdir()](http://pubs.opengroup.org/onlinepubs/9699919799/functions/readdir.html) and [closedir()](http://pubs.opengroup.org/onlinepubs/9699919799/functions/closedir.html) functions as `uv_fs_` wrappers, probably with a readdir-specific handle type (analogous to `DIR *`).  This se

[2014-09-19 18:27] saghul commented on #1430
We could instead have `uv_fs_readdir` and `uv_fs_readdir_next`. The first one would do `opendir` + `readdir` X entries, and the latter would `readdir` X more entries. When end it reached it would `closedir`. If the end is never called because the user doesn't finish reading we would do it in `uv_fs_req_cleanup`.

Please do so as separate patches / PRs. Also I'd like for us to discuss the API furth

[2014-09-19 18:28] tjfontaine commented on #1431
yup

[2014-09-19 19:07] elfring opened #1484 "Use of angle brackets around file names for include statements"
Would you like to [replace any double quotes](https://github.com/joyent/libuv/blob/06f9e1438ed20dd83618bca78759ea8635a79289/include/uv.h#L48) by [angle brackets around file names for include statements](http://stackoverflow.com/questions/21593/what-is-the-difference-between-include-filename-and-include-filename)?

[2014-09-19 19:11] saghul commented on #1484
I don't think so, since those need to be looked up in that particular directory, that is, include/

[2014-09-19 19:11] #1484 closed, assigned to nobody

[2014-09-19 19:13] elfring commented on #1484
I suggest to reconsider the consequences of [the following wording](http://c0x.coding-guidelines.com/6.10.2.html) from [the section "16.2 Source file inclusion"](http://open-std.org/jtc1/sc22/wg21/docs/papers/2013/n3797.pdf) in the standard specification for the programming language "C++".

[code]
- How do you think about to avoid "a duplicated file search" here?
- Would you like to [restrict the

[2014-09-19 19:17] saghul commented on #1484
Yes. Users are meant to just include uv.h, which pulls everything they need.

[2014-09-19 19:31] elfring commented on #1484
Can the "[double quote file name specification](http://en.cppreference.com/w/cpp/preprocessor/include)" result also in the inclusion of header files from outside the specified include directories?

[2014-09-19 19:36] saghul commented on #1484
It can, if they are not on the current directory, AFAIK, but those files we are including are.

[2014-09-19 19:44] elfring commented on #1484
Thanks for your acknowledgement of this possibility. I would generally prefer to exclude the potential for the inclusion of header files from unexpected directories.
Can such a security detail become a bit more important?

[2014-09-19 20:07] saghul commented on #1484
Regardless using "" or <> the compiler will check in standard locations, so there is still a chance someone places a file with the right name somewhere. I'm not sure what trying to avoid here, perhaps you can detail the problem you are trying to solve?

[2014-09-19 20:12] elfring commented on #1484
I try to clarify and improve the fine-tuning for header file search directories. I'm curious if other software developers care also for the affected implementation details.

[2014-09-19 20:12] saghul commented on #1484
Ah, well: https://github.com/realXtend/tundra/issues/778

[2014-09-19 20:50] jclulow commented on #1430
I don't think it makes sense to conflate the `opendir()` and the `readdir()` steps behind one magical function call.  They are two orthogonal operations, with different sets of expected error conditions.  I _do_ agree that we should provide support for batching **N** different `readdir()` calls into one `uv_fs_readdir()` call -- batch size ought to be an option to `uv_fs_opendir()`, so that we may

[2014-09-19 20:55] saghul commented on #1430
There is no use for exposing `opendir()` other than calling `readdir`, so what's the point of it? My suggestion makes the API simpler to use IMHO. Also, I assume your proposal would reuse the same `req` object across calls to keep state, which not consistent with the current fs API.

I'd like to hear some more opinions here: /cc @indutny @piscisaureus @bnoordhuis

[2014-09-19 21:14] jclulow commented on #1430
Opening a directory is an operation that has particular failure modes; e.g. the directory does not exist, or you do not have permission to read entries from it.  Reading entries from that directory has different failure modes, many of which are less clear; e.g. a particular directory entry could not be read by a process with the current data model (32-bit vs 64-bit), or the directory is _partially

[2014-09-19 21:26] saghul commented on #1430
So? We'd return the error in the callback as per usual.

My proposal already addresses that: `uv_fs_readdir` would do the `opendir` and possibly `readdir` a few entries which would be cached, then `uv_fs_readdir_next` would be called in the callback called after `uv_fs_readdir` to fetch results. `uv_fs_readdir_next` would also need a callback because it needs to do a roundtrip to the threadpool to

[2014-09-19 22:24] tjfontaine commented on #1430
The spirit of the APIs here is that you have some form of an initialize and then the subsequent operations that happen on that resource, consider `uv_tcp_init` or `uv_fs_open`. They are separate things from `read` or `write`, and have different concerns.

A contrived example to demonstrate the ideal API:

[code]

[code]

Having `opendir` allows us in the future to pass flags that could be useful f

[2014-09-19 22:43] bnoordhuis commented on #1430
I agree with you on the first part but readdir() and readdir_r() cannot really fail absent libuv bugs.

[2014-09-21 20:55] recp commented on #1427
@saghul can we do something like this?: https://github.com/recp/libuv/compare/joyent:v1.x...timers . If uv_run_mode is NOWAIT || ONCE the timer will run once.

[2014-09-21 21:00] saghul commented on #1427
I don't hink so. It would still happen when running in default mode and it adds some non-obvious exception to timers execution which would make it harder to reason about.

[2014-09-22 06:15] sidorares opened #1486 "linux abstract sockets support in connect / listen"
libuv already [supports](https://github.com/joyent/libuv/commit/5ac214c712b99a94bc0e37e6544a53b7329d3ab1) abstract sockets in `uv_pipe_getsockname`

Unfortunately, there is no way to connect to abstract socket with `uv_pipe_connect`.

I'm currently wrapping socat binary to be able to connect to abstract socket address from node-dbus client but it would make life so much easier if abstract socket w

[2014-09-22 06:24] saghul commented on #1486
Hi! Yeah, both connect and bind (for pipes) would need to be adjusted. Now, given that abstract sockets are a linux-only thing, we'd be penalyzing the API for everyone else, I'm not 100% sure I'd want to do that. You can still create the socket yourself and pass it `uv_pipe_open`, that will work.

As for making this work with node, I created node-abstractsocket a while ago: https://github.com/sagh

[2014-09-22 06:38] sidorares commented on #1486
great, I searched for existing module a while ago and couldn't find any

basic support ( pipe_open only ) would be extra ~10 lines of code in terms of size and nearly zero penalty in execution speed ( extra check first byte of name ). API wise, that's extra paragraph in the doco "to connect to abstract socket you need to prefix name with '@'"

[2014-09-22 07:01] saghul commented on #1430
I gave this more thought during the weekend and I think I was wrong, exposing the 3 APIs seems to be the sanest thing to do.

Here are some things I mentally noted, some obvious:
- We need some platform dependent `uv_dir_t`, a typedef should do
- `uv_fs_t` will probably need at least a new field for storing/returning a `uv_dir_t`
- We probably want to preallocate an array of `uv_dirent_t` and pass

[2014-09-22 07:07] saghul commented on #1486
I created it recently, to get my feet wet in addons development, but it should be solid, there is not much to it :-)

"@" is just what Linux uses to pretty print abstract socket names, using it to delimit actual abstract sockets is a workaround. I just did a quick test and I can bind to a Unix domain socket called "@lala" just fine. Whould would use that as a name I don't know, but I'd rather not

[2014-09-22 07:15] sidorares commented on #1486
well, that would be handled in "unescape" part of non-abstract connect :)
anyway, I tried your module and it worked perfectly ( to my surprise no big difference in speed )

another reason to support - python and ruby have abstract sockets support, so might benefit pyuv
As a node user, I don't want to see in core something linux only (in most cases, dbus only). But as a client library author, I do

[2014-09-22 07:24] saghul commented on #1486
I actually plan to add support for it in pyuv, but there it's easy because a Python string can have embedded nulls, so I can extract the C char pointer and real length and workaround this limitation.

Given that this a Linux only thing, the cross-platform argument loses a bit of strength ;-) but that doesn't mean it wouldn't be nice to have it baked in.

@indutny, @bnoordhuis, @piscisaureus: what

[2014-09-22 07:27] sidorares commented on #1486
s/cross-platform/cross-architecture/ :) raspberry pi / android devices / routers / tizen

[2014-09-22 08:50] txdv commented on #1486
So we only need to add a length parameter alongside the the string?

Trivial solution and binding authors wouldn't be too mad about. Would add a bit more C code, but C is already tedious.

[2014-09-22 09:00] saghul commented on #1486
Yes, that's all we need because `strlen` won't do for abstract sockets. Then well check internally if name[0] == '\0' and build the `sockaddr_un` struct accordingly.

[2014-09-22 09:50] recp commented on #1427
The `uv__run_timers` is calling from `uv_run` so other events (non-timer or timer) will wait for the processing timers. I think we can move uv__run_timers to new thread in uv_run or we can create a thread for each timer?

[2014-09-22 09:58] saghul commented on #1427
No, that's not how it works. First we calculate the poll timeout by taking the nearest timer (assuming there were no other conditions affecting the timeout), the we poll for I/O, and at the begining of the next iteration we call the callbacks of the timer which are due before "now".

No way, timers work within the event loop thread.

Feel free to spend time on this, but this won't be a problem in

[2014-09-22 10:23] recp commented on #1427
Do you mean Apple's Grand Central Dispatch (GCD) or like this?

[2014-09-22 10:37] txdv commented on #1427
I wonder what the 'dispatch mode' is too.

[2014-09-22 10:42] saghul commented on #1427
No. We'll queue all callbacks and then run the callback queue after polling for I/O, instead of firing callbacks at different points in time.

I'll post an RFC after 1.0.0 with The Plan (TM).

[2014-09-22 22:44] KennethWilke opened #1488 "Test Assertion failures for v1.0.0-rc1"
Howdy!

I was checking out the v1.0.0-rc1 tarball to start tinkering with libuv, the tests run errored for me and I wanted to report back in case these are unexpected.

Tested on
`Linux tardis 3.10.25-gentoo #12 SMP Mon Mar 3 11:43:37 CST 2014 x86_64 Intel(R) Core(TM) i5-2520M CPU @ 2.50GHz GenuineIntel GNU/Linux`

I've just started tinkering with libuv today so I have no impact to my own projects

[2014-09-23 07:22] saghul commented on #1488
Hi! Not a good start :-/ I've seen the `spawn_reads_child_path` fail on some systems, though I couldn't pinpoint why, since I haven't been able to reproduce it, but the other 2 are unexpected. Are the failing consistently?

[2014-09-23 08:17] kevin-xu opened #1491 "Aborting when calling uv__async_send."
When running in Android NDK r8e, we've encountered a bug that results in abnormal termination in the line 199:

libuv//src/unix/async.c

[code]

errno == EFAULT

If modifying

[code]

to

[code]

,
then it will be fixed.

Why?

Thanks to you.

Kevin Xu

[2014-09-23 08:22] saghul commented on #1491
I have no idea :-S That code path is executed by all Linux systems, and I never saw such a failure. Does the test suite pass for you? Can you reproduce it outside the Android NDK?

[2014-09-23 08:32] kevin-xu commented on #1491
@saghul thank you :-)

I will run the test suite later.
No, I can't reproduce it outside the Android NDK.

[2014-09-23 08:33] kevin-xu commented on #1491
I'm confused why "static".

[2014-09-23 08:40] txdv commented on #1491
reentrant library all over again.

[2014-09-23 08:50] saghul commented on #1491
Not sure what you mean here. That buffer is not touched, it's just written, I don't see any reentrancy problem here.

As for the real problem, according to `man 2 write`, EFAULT can happen when the buffer is outside your addressable space.

[2014-09-23 08:56] kevin-xu commented on #1491
@saghul
If we add a logging statement in the beginning of the function body, it will not abort.

[2014-09-23 12:29] txdv commented on #1491
[code]

[2014-09-23 12:46] saghul commented on #1491
Yeah, we could improve that, but that's not the problem. The problem is why write gives a EFAULT error.

[2014-09-23 14:39] KennethWilke commented on #1488
I'm going to retry locally today and spin up a few VMs to test on as well and post my results.

[2014-09-23 15:04] KennethWilke commented on #1488
Here are my results on a few different boxes. The Ubuntu VM looks to have the fewest errors, just one related to test-spawn.c, as well it has the most up to date Linux kernel of the batch ran here. I'm going to build a more up to date kernel for my localbox and see if that makes any difference, but hopefully the information below can be helpful.

###### Gentoo - localbox

`Linux tardis 3.10.25-gen

[2014-09-23 16:32] KennethWilke commented on #1488
Rebuilt with an updated kernel:
`Linux tardis 3.14.14-gentoo #1 SMP Tue Sep 23 10:30:30 CDT 2014 x86_64 Intel(R) Core(TM) i5-2520M CPU @ 2.50GHz GenuineIntel GNU/Linux`
Same errors as with 3.10.25

[2014-09-23 17:02] mscdex opened #1493 "windows: cannot retrieve corresponding handle from fd opened by libuv"
I recently ran into an issue where `_get_osfhandle()` would fail on Windows with an fd (e.g. 3) that came from node/libuv (via `fs.openSync()` for example). When I compile the binding using these Windows APIs, I am seeing a debug assertion from the VC++ library: Expression: (_osfile(fh) & FOPEN)

As far as i can tell libuv still uses `_open_osfhandle()` on Windows, whose return value should be com

[2014-09-23 17:06] thierry-FreeBSD commented on #1488
Same problem on FreeBSD: see output log at http://people.freebsd.org/~thierry/libuv.log

[2014-09-23 21:12] saghul commented on #1493
That's really weird. We already use `_get_osfhandle` on `uv_fs_read` and `uv_fs_write` for example. Do you have a test case I could try out?

[2014-09-23 21:16] saghul commented on #1488
I think I finally got what up with the `spawn_setuid_setgid` test: you seem to be running the tests from /root, but that test sets the uid to 'nobody', which cannot aceess /root for reading. Can you run the test suite from /tmp perhaps?

@thierry-FreeBSD this should also apply to FreeBSD.

[2014-09-23 21:17] saghul commented on #1488
`tcp_connect_timeout` and `tcp_close_while_connecting` I have no idea why they are failing for you. They are network related though, do they consistently fail for you?

[2014-09-23 21:20] saghul commented on #1488
About `spawn_reads_child_path`, do you ming modifying the test and printing options.env and options.path here: https://github.com/joyent/libuv/blob/master/test/test-spawn.c#L1315-L1317

[2014-09-23 21:29] mscdex commented on #1493
[Here](https://gist.github.com/mscdex/5a69b5960a876ba21873) is the code I'm using.

[2014-09-23 21:33] thierry-FreeBSD commented on #1488
@saghul Not in my case: I run the tests from a directory owned by /me, no access problem.

[2014-09-23 21:34] saghul commented on #1493
How can I compile your test case on Windows? (don't tell anyone, but I have never compiled a Node binary addon on The Redmond OS).

[2014-09-23 21:35] saghul commented on #1488
@thierry-FreeBSD does the nobody user / nogroup group have access to it?

[2014-09-23 21:38] bnoordhuis commented on #1491
What does the disassembly for that section look like, before and after?

[2014-09-23 21:53] mscdex commented on #1493
Just `node-gyp rebuild` for release build and `node-gyp -d rebuild` for debug build. If you don't already have it installed globally, you will need to do `npm install node-gyp -g` first.

[2014-09-23 22:16] KennethWilke commented on #1488
I have to head out of the office so I won't be able to test this until tomorrow morning, but will spin up some VMs again and test from /tmp. On my local machine I did run the test as a non-root user from /tmp.

[2014-09-23 22:56] KennethWilke commented on #1488
I did get a quick chance to retest, on Ubuntu 14.04 it passes all tests when using /tmp instead of /root as you pointed out. On FreeBSD 10.0 I was getting the same errors as above.

On the Gentoo VM I got a different assertion error when running from /tmp

[code]

I modified the test you mentioned on the VM to spit out `printf("FILE: '%s'\nENV: '%s'\n", options.file, options.env[0]);`

output belo

[2014-09-24 07:24] saghul commented on #1488
Thanks for the help tracking these down! Except some of the failures on FreeBSD, I believe the rest of the failures are caused because of the host environment.

[2014-09-24 07:29] saghul commented on #1488
Grr, I cannot reproduce the `spawn_reads_child_path`, from my home dir, tmp or anywhere :-/

[2014-09-24 13:18] splinterofchaos opened #1495 "Make a named pipe or socket without opening it."
Hi. I'm working with some very old code that does something like this:

[code]

I found I could improve the efficiency of this by calling `mkfifo("outfile", ...)` and running `system("grep ...")` asynchronously. Yes, other ways might better solve this problem, but none seem as orthogonal to this code as making a pipe and using shell redirection and I actually wasn't able to achieve the same effici

[2014-09-24 19:16] KennethWilke commented on #1488
Hmm, oddly enough today I'm no longer getting those errors :\ They were consistently present before and now it's consistently gone, at least on my local machines. I am getting a new error though that I haven't gotten before;

[code]

[2014-09-24 19:18] KennethWilke commented on #1488
To be sure this is clear, this is using the rc1 tarball at http://libuv.org/dist/v1.0.0-rc1/libuv-v1.0.0-rc1.tar.gz

[2014-09-24 19:24] saghul commented on #1488
@KennethWilke that test runs getaddrinfo on "xyzzy.xyzzy.xyzzy", and it claims to succeed. If has to be a local weirdness.

[2014-09-24 19:25] KennethWilke commented on #1488
LOL

[code]

I'm on my phone hotspot atm, wonder wtf these are lol

[2014-09-24 19:27] KennethWilke commented on #1488
Yeah sorry about that. It looks like my cell provider resolves any unknown addresses to their own page :\

[2014-09-24 19:28] KennethWilke commented on #1488
Beyond that little oddball, all of my tests now pass which makes me happy. Thank you for you time looking into this! Please feel free to close this issue and I demand you keep up the good work

[2014-09-24 19:29] saghul commented on #1488
Thanks a lot for looking into test failures Kenneth, <3

[2014-09-24 19:29] #1488 closed, assigned to nobody

[2014-09-24 19:33] saghul commented on #1339
Ok I'm closing this since my previous comment has proved to be correct. See also #1488. A patch which skips the test if `uv_spawn` gives the proper error would be acceptable, but as a general rule of thumb, don't run the tests as root in a directory where only root can read.

[2014-09-24 19:33] #1339 closed, assigned to nobody

[2014-09-25 00:43] mattn commented on #1495
It's not asynchronized call. You can use popen POSIX API instead of libuv.

[2014-09-25 07:55] saghul commented on #1495
I really don't understand what you need.  The code you pasted above deals with a file, so you'd use the `uv_fs_*` API, not the pipe API. Pipes in libuv are an abstraction on top of Unix domain sockets and Windows named pipes. What do you need?

[2014-09-25 12:16] txdv commented on #1486
[Passing a \0 prefixed should already work for uv_pipe_connect](https://github.com/joyent/libuv/blob/49cb40c47902dd04c7787e6543e9e13368dc1840/src/unix/pipe.c#L170-L173).

We are not using strlen anywhere.

But for uv_pipe_bind we'd need a length parameter, since we are using strdup: https://github.com/joyent/libuv/blob/49cb40c47902dd04c7787e6543e9e13368dc1840/src/unix/pipe.c#L60

But we could just

[2014-09-25 12:39] saghul commented on #1486
strncpy will stop when it finds the first '\0', it doesn't work.

[2014-09-25 13:06] txdv commented on #1486
but it works for some reason even with that strncpy

[2014-09-25 13:34] txdv commented on #1486
My proposed api breakes if you pass a memory chunk with the size 1 having only "\0".

Then it will raise a memory exception.

[2014-09-25 13:40] saghul commented on #1486
That approach won't work. Abstract sockets are allowed to have embedded nulls, which you can't accommodate unless you accept the length.

Add a test with "\0uv-test\0ouch" and you'll see.

[2014-09-25 13:41] txdv commented on #1486
another funny thing is that "\0\0" is a valid unix domain socket.

[2014-09-25 13:53] sidorares commented on #1486
@txdv yeah, while your solution is good enough for my use case unfortunately it's not just '\0' + normal c string

[2014-09-25 14:08] txdv commented on #1486
what other usecases are there?

[2014-09-25 14:09] saghul commented on #1486
@txdv what I said, embedded nulls.

[2014-09-25 14:10] txdv commented on #1486
0 everywhere. Why would they add those embedded zeros?

[2014-09-25 14:18] txdv commented on #1486
http://troydhanson.github.io/misc/Unix_domain_sockets.html

it says nothing about embedded nulls apart from the first one

[2014-09-25 14:21] saghul commented on #1486
man unix:

abstract: an abstract socket address is distinguished by the fact that sun_path[0] is a null byte ('\0').  The socket's address  in  this  namespace  is
          given  by  the  additional bytes in sun_path that are covered by the specified length of the address structure.  (**Null bytes in the name have no special
          significance.**)  The name has no connection with filesystem

[2014-09-25 14:32] bnoordhuis commented on #1486
@saghul is correct; if the path starts with a null byte, the kernel treats it as an opaque binary blob (up to 108 bytes, that is.)

By the way, there's also an autobind feature for abstract sockets.  When you call bind() with addrlen == sizeof(short), the kernel will assign the first free name from a 1M entries namespace.  It can, in theory, fail with ENOSPC when all entries are in use or take a l

[2014-09-25 14:38] sidorares commented on #1486
@bnoordhuis interesting. Is this (autobind) documented somewhere?

[2014-09-25 14:54] bnoordhuis commented on #1486
@sidorares It should be documented in `man 7 unix` somewhere (and looking at it, it recommends that you use `sizeof(sa_family_t)`.)

[2014-09-25 15:42] sidorares commented on #1486
[code]

[2014-09-25 15:47] splinterofchaos commented on #1495
I had forgotten; I did have to modify the code significantly to use an asynchronous version of system that spawns the external program with redirection.

Breaks code standards of OS-independence.

To create the pipe, then to start running the external program writing to it, then to open the file and begin reading from it in a function that only knows the name of the file. Theoretically, the `fgets

[2014-09-25 16:21] saghul commented on #1495
libuv doesn't support pipes on Unix, `uv_pipe_t` is an abstraction over Unix domain sockets. The equivalent to `fgets` would be `uv_fs_read` if you are dealing with files or `uv_read_start` if you want o read from a `uv_stream_t` handle. I think you need to adapt what you try to do to what libuv can offer you. If you need to start a process that creates otuput and then process it line by line, you

[2014-09-25 16:21] #1495 closed, assigned to nobody

[2014-09-25 18:50] KennethWilke opened #1498 "uv_alloc_cb inteface not exposed in rendered sphinx docs"
Howdy!

I was perusing the rendered sphinx docs and noticed that while most callback interfaces are exposed `uc_alloc_cb` seems to have missed the cut. I found the typedef in the `uv.h` header easily enough but thought it'd be helpful to see this in the sphinx output as well (which is looking really nice btw).

http://docs.libuv.org/en/latest/search.html?q=uv_alloc_cb

[2014-09-25 18:52] KennethWilke commented on #1498
I'd submit a PR for this myself but I'm not too savvy on how it works :cry:  and figured someone else would probably get this corrected pretty quickly

[2014-09-25 19:08] saghul commented on #1498
Thanks for the report Kenneth!

[2014-09-25 19:45] saghul commented on #1498
Here you go! https://github.com/joyent/libuv/commit/5e822033b457618f0a3ca1c7fcc990f36d22822c (the online version should be regenerated shortly)

[2014-09-25 19:45] #1498 closed, assigned to nobody

[2014-09-25 21:09] KennethWilke commented on #1498
Awesome! Thank you!

[2014-09-26 11:50] darren opened #1500 "test tcp echo server does not write echo fully"
with latest commit 49cb40c47902dd04c7787e6543e9e13368dc1840
./run-tests  tcp4_echo_server

$ for a in $(seq 1 100000); do echo $a >> input.txt; done

$ md5 input.txt
MD5 (input.txt) = dea9193b768319cbb4ff1a137ac03113

$ while :; do cat input.txt |nc localhost 9123 |md5 ;done
dea9193b768319cbb4ff1a137ac03113
2d08e52d088bf1a1f5f9570c02570c92
dea9193b768319cbb4ff1a137ac03113
87216b5332a9d927014ae2bbb

[2014-09-26 12:36] darren commented on #1244
@saghul

in after_read
  if (nread < 0) {
    ....
    uv_close((uv_handle_t*) handle, on_close);
    return;
  }

when the client half closes its end of the connection and nread return < 0,  uv_close  the handle  here while server has not fully written its data will cause subsequent writes to be canceled, so uv_shutdown should be preferred.

please refer to #1500.

[2014-09-26 12:47] saghul commented on #1500
Can you try with the v1.x branch? It included a fix for this: https://github.com/joyent/libuv/commit/3d38eae37727f06df8ce9b634bac1c42e610dd64

[2014-09-26 13:36] saghul commented on #1431
#1496 landed, closing.

[2014-09-26 13:36] #1431 closed, assigned to nobody

[2014-09-26 14:38] darren commented on #1500
Great! v1.x branch works with no memleak, no sigpipe and no partial writes.

[2014-09-26 14:39] saghul commented on #1500
Sweet, closing then!

[2014-09-26 15:09] #1500 closed, assigned to nobody

[2014-09-27 04:14] creationix opened #1503 "uv_loop_t's data member isn't usable."
According to the [docs](http://docs.libuv.org/en/latest/loop.html#c.uv_loop_t.data), I should be able to use the `data` member of the `uv_loop_t` struct for my own uses.

But I'm finding this is not the case and it has caused me several hours of segfault debugging in gdb.  I hope the docs are correct and it's just a bug in libuv that will be fixed.

I can show easily that `uv_loop_init` it setting

[2014-09-27 07:44] shrimpz opened #1504 "libuv-v1.0.0-rc1 can't passed tests!!! on ubuntu 14.04 x64 / win8.1 x64(vs2012 x86, x64)"
game@ubuntu:~/libuv-v1.0.0-rc1/out/Debug$ ./run-tests

Output from process `platform_output`:
uv_get_process_title: ./run-tests
uv_resident_set_memory: 712704
uv_uptime: 834.000000
uv_getrusage:
  user: 0 sec 1961 microsec
  system: 0 sec 2141 microsec
uv_cpu_info:
  model: Intel(R) Core(TM) i5-4570 CPU @ 3.20GHz
  speed: 3199
  times.sys: 190100
  times.user: 112500
  times.idle: 7826500
  times.

[2014-09-27 09:25] saghul commented on #1504
Don't run the tests from the out/Debug directory, the test suite assumes you are in the root directory. Run them like this: https://github.com/joyent/libuv#running-tests

I got the same failures when running the tests like you, 0 when running them as the README says, closing.

[2014-09-27 09:25] #1504 closed, assigned to nobody

[2014-09-27 09:28] saghul commented on #1503
Ah, I think we need to clarify the docs :-( The loop is initialized to 0 here: https://github.com/joyent/libuv/blob/v1.x/src/unix/loop.c#L106 and when the loop is closed, it poisons the structure to help catch bugs: https://github.com/joyent/libuv/blob/v1.x/src/unix/loop.c#L66

[2014-09-27 09:30] shrimpz opened #1505 "I compile libuv-v1.0.0-rc1 use VS2012/VS2013 (x86 / x64) has many warnings!!!"
When fixed the warnings?
Thx

[2014-09-27 09:34] saghul commented on #1505
Please update the issue by showing **what** warnings you get.

[2014-09-27 09:40] shrimpz commented on #1505
Warning 1   warning C4244: '=' : conversion from '__int64' to 'int', possible loss of data  D:\libuv-v1.0.0-rc1\src\inet.c  175
Warning 2   warning C4244: 'initializing' : conversion from '__int64' to 'unsigned int', possible loss of data  D:\libuv-v1.0.0-rc1\src\inet.c  202
Warning 3   warning C4244: 'initializing' : conversion from '__int64' to 'const int', possible loss of data D:\libuv-v1.0.0-

[2014-09-27 09:41] shrimpz commented on #1505
The warnings just compiled "libuv“ project,
NOT containe run-tests & run-benchmarks

[2014-09-27 10:06] saghul commented on #1505
Thanks! These seem harmless, yet annoying. A patch would be welcome, otherwise we'll address them when we've got time.

[2014-09-27 10:08] lucab commented on #1443
Cherry-picked it on top of 0.10.28, all tests are now passing on arm64:
https://buildd.debian.org/status/fetch.php?pkg=libuv&arch=arm64&ver=0.10.28-5&stamp=1411736962

Please backport it to 0.10 branch and close this bug.

[2014-09-27 10:13] saghul commented on #1443
Great, thanks for confirming! Will do a  round of backports in the upcoming days.

[2014-09-29 10:38] txdv commented on #1503
Yeah, because the init is overwriting everything.

In between init and close you should be safe to use the data field.

[2014-09-29 19:12] creationix commented on #1503
Interesting.  I'd rather init not mess with it since it's convenient in my code to set data before calling init, but I can work around that if need be.  I checked my code and yes, I was trying to access data right after calling close.  That part was an easy fix.

[2014-09-29 23:51] KennethWilke opened #1507 "uv_connect_t structure not exposed in rendered sphinx docs"
I only want to use the pretty docs.... c'mon they're so pretty!

[2014-09-30 07:14] #1507 closed, assigned to nobody

[2014-09-30 07:19] #1503 closed, assigned to nobody

[2014-09-30 21:49] markjdb commented on #1478
(The reason it's used on FreeBSD, at least, is to enable using dtrace -h or dtrace -G without the DTrace kernel modules loaded. Otherwise dtrace processes the /usr/lib/dtrace scripts unnecessarily, and errors out when it tries to talk to the DTrace kernel code.)

[2014-10-01 13:02] jbergstroem opened #1508 "1.0.0rc sets library version to 1.0.0. Intentional?"
Since the library version is now 1.0.0 but the release says it's an rc; should consumers of libuv treat the release as abi stable? There already seems to be some changes in the 1.0.0 branch (for instance #1431) that could potentially conflict with this.

[2014-10-01 13:13] saghul commented on #1508
No, ABI might change a bit. I wanted to avoid it but couldn't. Either way, AFAIS the soname cannot be set to something like 1.0.0rcX , hence the 1.0.0.

Once 1.0.0 is released there will be no ABI breakage, until 2.0.0, that is.

[2014-10-01 13:19] jbergstroem commented on #1508
Thanks for elaborating. This pretty much makes pkg-config checks pointless since it wouldn't know the difference between 1.0rc\* and 1.0 though :( Hopefully package managers that exposes libuv handles dependencies differently.

There's really no problem bumping abi versioning differently from package version -- so the cleanest approach would just be major bumping abi on the "real" 1.0.

[2014-10-01 13:21] saghul commented on #1508
Well, package managers shouldn't package rc versions anyway :-)

[2014-10-01 13:25] jbergstroem commented on #1508
@saghul The problem with that statement is that everyone treats versioning and naming differently. I can imagine a pretty common use case is downloading latest available through github releases which doesn't really mention "do not trust this abi version".

At the end of the day, what we want to trust is really abi versioning. Worst case, people could have two versions of the libuv dylib/shared obj

[2014-10-01 13:33] saghul commented on #1508
@jbergstroem I understand your concern. I did a quick test and while the soname will stay as 1:0:0, we can set the version to 1.0.0-rc1 in autoconf and the pc file is generated just fine:

[code]

So, my bad. Will fix for rc2!

[2014-10-01 13:35] jbergstroem commented on #1508
Perfect. I guess another "solution" would be avoiding distributing releases publicly, but through controlled environment (mailing list, whatnot) where people also would understand the possible implications of using said release.

[2014-10-01 15:19] olijens opened #1509 "Port to Hurd"
Hi, please port libuv to Hurd.

I tried to build it on Hurd but the tests fail since all calls to uv_*, defined in kernel specific files in src/unix, fail.

Cheers, Oli

[2014-10-01 21:57] jbergstroem commented on #1509
Please provide more information about your system, environment and build output. Point being that others should be able to reproduce and assist with further qa. Attach instead of paste where relevant.

[2014-10-01 23:21] bnoordhuis commented on #1509
I daresay that a Hurd port is unlikely unless you are prepared to do the work yourself.  It's work enough to support the major Unices + Windows.

[2014-10-02 07:11] txdv commented on #1509
Yeah, I doubt that anybody will move a finger for hurd, unless it is yourself.

A simple "doesn't compile, plz port" won't really cut it.

[2014-10-02 07:12] LinuxJedi opened #1510 "Out of file descriptors should be handled more gracefully"
If you call uv_loop_new() and are out of file descriptors there is a chance it will either return NULL or abort().  It should return NULL every time (preferably have some kind of error to handle too) and let the application deal with the problem.

You should be able to reproduce this by calling uv_loop_new() in an endless loop, but there is a chance you could run an application using libuv when yo

[2014-10-02 07:32] txdv commented on #1510
I won't ask what operating system you are using, because it is quite obvious since your name is @LinuxJedi, but please people, provide this kind of information.

And... you probably have already written a test case, the simple while loop. Why not throw it in here?

[2014-10-02 08:45] LinuxJedi commented on #1510
I apologise, I was in a rush to file this whilst it was still in my head and had to go out.

Yes, it is Arch Linux with libuv 0.10.28 (although a quick browse of code shows it is probably still a problem with the 1.0.0rc).

I have a complicated test case, I'll quickly knock up a simple one for you now

[2014-10-02 08:56] LinuxJedi commented on #1510
Here we go.  This will trigger the abort every time for me, increasing "ulimit -n" lets this run for longer.

[code]

What I would expect is when the FD limit is hit uv_loop_new() would return NULL, and in some cases (an odd number of FDs remaining for example), it does happen.  That is difficult to get in a repeatable test case.

Actual output (using gdb) with an FD limit of 2048 is:

[code]

[2014-10-02 08:59] LinuxJedi commented on #1510
for me, "ulimit -n 2048" will trigger the abort, "ulimit -n 2047" will behave as I would expect.

[2014-10-02 14:47] olijens commented on #1509
yeah, expected as much :-)

Will give it a try then one day.

[2014-10-02 23:20] jbergstroem commented on #1509
Disregarding whether someone will implement it or not, I thought it would be good to collect information about it which is why I asked.

[2014-10-03 05:46] saghul commented on #1509
Feel free to open a PR when you have some basics working. Until then, I'm closing this, as Ben said it's enough work to deal with all Unices and Windows.

[2014-10-03 05:46] #1509 closed, assigned to nobody

[2014-10-03 05:57] saghul commented on #1510
We could indeed do a bit better here. Are you up for writing a patch? Note that we might need to initialize some stuff a bit earlier to avoid creating handles, since we need to destroy the loop.

Also, as a side note, uv_loop_new is deprecated in 1.0, you should use uv_loop_init now.

[2014-10-03 06:06] LinuxJedi commented on #1510
sure, but I might not be able to get it done until early next week.

I do want to migrate libAttachSQL to use libuv 1.0 eventually, but a majority of current Linux distros are still on the 0.10 series so it could cause additional packaging headaches for me if I upgrade now.

[2014-10-03 08:12] saghul commented on #1510
No worries. I'd say this is a "bug fix" so we can apply it when ready.

[2014-10-03 12:14] indutny opened #1512 "Handle EHOSTDOWN"
`connect()` may return it on OSX. see https://github.com/joyent/node/issues/8490.

Btw, is it really necessary to fail on that assert? Perhaps we could just print unknown or numeric code?

[2014-10-03 20:26] creationix opened #1514 "uv_cwd includes trailing \0 in size"
Given these identical bindings to `uv_execpath` and `uv_cwd`, I get the correct output with execpath, but wrong with cwd.

[code]

Output:

[code]

[2014-10-03 22:23] creationix commented on #1514
Either the docs need to be changed to mention that cwd includes the null in size, or the code needs the +1 removed at https://github.com/joyent/libuv/blob/fabafd6236e976580a2153aa1dfc985af400feee/src/unix/core.c#L640

[2014-10-04 09:49] saghul commented on #1514
I fixed those to be consistent a while back, what version are you using?

[2014-10-04 13:15] creationix commented on #1514
I'm using the latest in the `v1.x` branch. https://github.com/joyent/libuv/blob/v1.x/src/unix/core.c#L640

Maybe you fixed in in master, but not here?

[2014-10-04 13:21] saghul commented on #1514
Will check!
On Oct 4, 2014 3:15 PM, "Tim Caswell" notifications@github.com wrote:

[2014-10-05 17:07] bnoordhuis commented on #1512
Caveat emptor: EHOSTDOWN is not a POSIX error code.  It's visible by default on Linux but on FreeBSD and Darwin, you need to compile without _POSIX_SOURCE.

[2014-10-06 06:58] saghul commented on #1512
Will look into it.

[2014-10-07 08:10] moteus commented on #1493
Hello. I had same problem.
The reason in my case was is I use static version of MSVCRT. Each instance has its own version of fd set. So same fd in two modules could have different handles and point to different files. The solution is using same dynamic version of runtime library. But I do not how it is implemented in mingw.

[2014-10-07 10:57] moteus opened #1517 "Windows. uv_interface_addresses does not fill all structures"
When we calculate number of intrefaces we have loop

[code]

But when we fill results we have

[code]

On my WinXP SP3 for `MS TCP Loopback interface` `win_address->FirstPrefix` is NULL.
So we count Loopback interface but does not fill it.

[2014-10-07 11:36] moteus opened #1518 "Windows. uv_poll_init returns windows error codes not libuv error codes."

[2014-10-07 18:56] saghul commented on #1518
Good catch! Do you feel like providing a patch? :-)

[2014-10-07 18:58] saghul commented on #1517
I believe https://github.com/joyent/libuv/pull/1482 addresses this. Hopefully I can review it next monday.

[2014-10-08 08:08] moteus commented on #1518
Thanks for the offer but I am not very comfort in libuv sources.

[2014-10-08 08:58] saghul commented on #1518
No worries, will fix!
On Oct 8, 2014 10:08 AM, "Alexey Melnichuk" notifications@github.com
wrote:

[2014-10-08 13:06] cjihrig commented on #1518
@saghul would the fix be as simple as passing the result of `WSAGetLastError()` to `uv_translate_sys_error()`? If so, I'd be glad to submit a patch.

[2014-10-08 13:54] saghul commented on #1518
Yep, that's all there is to it.
On Oct 8, 2014 3:06 PM, "Colin Ihrig" notifications@github.com wrote:

[2014-10-08 21:53] aseemk commented on #931
Ran into this problem this week (trying to process a directory with >1M files), and felt this pain, so would love to see this happen.

I'm very ignorant on this topic, but https://github.com/joyent/node/issues/388#issuecomment-7490373 seems encouraging. =)

[2014-10-09 00:36] misterdjules commented on #1430
@tjfontaine @saghul I've submitted an initial PR that implements @tjfontaine's proposal. Further details are in the PR's comments.

[2014-10-09 10:20] moteus opened #1523 "Doc. Document when and how close handle which we send to process."
Pseudocode

[code]

[2014-10-09 15:58] sandr8 opened #1525 "maybe_new_socket() doesn't play well with a dual IPv4/IPv6 stack"
I'm hitting a somewhat annoying issue for active connections: maybe_new_socket() silently succeeds if the socket already exists but is of a different domain.

37 static int maybe_new_socket(uv_tcp_t\* handle, int domain, int flags) {
38   int sockfd;
39   int err;
40
41   if (uv__stream_fd(handle) != -1)
42     return 0;

When one has resolved a hostname via uv_getaddrinfo() with ai_family = AF_UN

[2014-10-09 16:50] saghul commented on #1525
If uv_connect fails you need to destroy and create a new handle, you shouldn't reuse it.

[2014-10-09 17:02] sandr8 commented on #1525
Thanks! It seemed to work fine so long as the address family stayed the same...

[2014-10-09 17:08] saghul commented on #1525
I'll revisit the code, maybe we can fail more gracefully. Closing the socket is not an option, the user may have manually bound it to a given IP and port.

[2014-10-09 19:05] falnos24865 commented on #838
I am getting the error:
 node: ../deps/uv/src/unix/core.c:701: uv__io_stop: Assertion `loop->watchers[w->fd] == w' failed.
I am not using any LDAP module so it cannot be that module. I am heavily using the SerialPort module but it seems this error might be more widespread.

Node: v0.10.32

[2014-10-09 21:10] justinmk commented on #1478
@tjfontaine If you have a moment, could you comment on this?

[2014-10-09 21:28] sandr8 commented on #1525
saghul: do you happen to be on IRC?

[2014-10-09 22:51] misterdjules commented on #931
@aseemk I started working on an implementation of a stream API in issue #1521. There's also more discussion about this in issue #1430. You might want to subscribe to these issues.

[2014-10-09 22:53] misterdjules commented on #931
@saghul Should this be closed in favor of #1430 to avoid duplication?

[2014-10-10 07:08] saghul commented on #931
Yeah, closing!

[2014-10-10 07:08] #931 closed, assigned to nobody

[2014-10-10 07:21] saghul commented on #1525
@sandr8 usually yes, unfortunately I've had some internet problems lately which prevent me from being around as much as I'd like to.

I looked a bit deeper and indeed, we should check for the family and return an error. While this is fixed (may take a while) I suggest you create 2 tcp handles, one for IPv4 and one for IPv6 addresses, and try the results of getaddrinfo in the respective handle. Thi

[2014-10-10 07:24] saghul commented on #838
We've seen this one reported every now and then, but always non-deterministically and / or in a  big application. If you can reduce your test case to either a libuv test case or a node core modules only test case, which exhibits the bug deterministically, we can look into it.

[2014-10-10 10:48] orangemocha commented on #1517
Yes, this is fixed by https://github.com/joyent/libuv/pull/1482

[2014-10-11 07:16] saghul commented on #1517
Thanks for confirming, @orangemocha, closing this one then!

[2014-10-11 07:16] #1517 closed, assigned to nobody

[2014-10-11 07:46] #1518 closed, assigned to nobody

[2014-10-13 07:58] saghul commented on #1523
You can close the handle once it has actually been sent to the process. Same concept as when freeing the memory which you write on a connection. That is, on the write completed callback.

If you think something might need clarification in the docs please do send us a PR :-)

[2014-10-13 07:58] #1523 closed, assigned to nobody

[2014-10-13 07:59] saghul commented on #1480
Superseded by #1516

[2014-10-13 07:59] #1480 closed, assigned to nobody

[2014-10-13 08:14] deepak1556 commented on #1480
:+1:

[2014-10-13 22:11] saghul commented on #1525
Closing. As discussed on IRC, we cannot re-create the socket with a different family because the socket might have been created and bound earlier y the user calling `uv_tcp_bind`.

This will hopefully be more clear when we modify the API to create sockets early (in init), as follows:

[code]

[2014-10-13 22:11] #1525 closed, assigned to nobody

[2014-10-15 11:26] piscisaureus commented on #1493
The msvcrt double-linking problem is known and unfortunately I can't think of an easy solution for it.

A stop-gap solution could be to expose `uv_os_handle_from_fd()`, but that would only work as a replacement for `_get_osfhandle` and not for any other api that takes an fd (like `lseek`). So maybe not that useful.

Long-term, we would have to make libuv capable of everything msvcrt can do; but th

[2014-10-15 11:26] #1493 closed, assigned to nobody

[2014-10-15 12:16] piscisaureus commented on #929
Actually closing :)

[2014-10-15 12:16] #929 closed, assigned to nobody

[2014-10-15 12:17] piscisaureus commented on #948
A patch to make this more consistent would be welcome.
I think the unix behaviour is preferable here.

[2014-10-16 05:13] rvagg opened #1527 "EACCES instead of ENOENT on EL6"
CentOS 6.5 to be specific (I can spin you up a DigitalOcean box if someone on core wants to tackle this). Kernel `2.6.32-431.1.2.0.1.el6.x86_64`.

This comes from failures in the Node test suite and are presumably bubbling up from libuv but there are no equivalent tests here to demonstrate it. These tests are all failing because of unexpected `EACCES` error codes:
- test/simple/test-child-process-

[2014-10-16 10:23] txdv commented on #948
Why callback with 0 length? Instead of returning immediately since we already know that we are disconnected?

The state of the socket is known immediately, we should return the error code immediately as well.

[2014-10-16 10:27] txdv commented on #1527
Who is on core? People who contribute a lot or have direct access to the repo?

What is EL6/EL7?

[2014-10-16 11:49] saghul commented on #1527
https://github.com/joyent/libuv/blob/master/CONTRIBUTING.md

RedHat's enterprise linux release.

[2014-10-16 11:50] saghul commented on #948
We need a consistent model for error reporting, there is already an issue open about it. The consensus seems to be to report invalid values right away and everything else as a callback. This would make things more consistent with this model.

[2014-10-16 11:57] rvagg commented on #1527
Sorry, not meaning to be too exclusive here, if somebody else is inclined to jump in and have a go but needs resources then I could probably spin up a dedicated DigitalOcean box just for you to mess around with this on. I'm mainly interested in getting basic CI targets happy and this is a hold-up for Node on EL6.

And as @saghul said, EL is "Enterprise Linux", although it's a bit broader than RHEL

[2014-10-16 11:59] txdv commented on #948
That is exactly what I am proposing, or is your argument directed at @piscisaureus ?

[2014-10-16 12:01] saghul commented on #948
No, you are proposing to return the error immeditely, I'm agreeing with @piscisaureus.

[2014-10-16 12:17] txdv commented on #948
So the consensus is to report invalid values right away, but you are agreeing with @piscisaureus to mimic the unix behavior which calls the read_cb with an empty buffer instead of returning an error code immediately?

I'm seriously confused right now.

[2014-10-16 12:26] saghul commented on #948
By invalid values I mean parameter sanity checks, for which we usually return EINVAL.

[2014-10-16 12:27] saghul commented on #948
https://github.com/joyent/libuv/issues/829

[2014-10-16 12:32] txdv commented on #1527
@saghul There is no definition of "core" in that readme.

[2014-10-16 12:34] saghul commented on #1527
core == project maintainers == people with commit acess. I'd also like my bike shed orange.

[2014-10-16 12:43] txdv commented on #1527
What does your bike shed have to do with this?

[2014-10-16 12:50] txdv commented on #948
We are already returning ENOMEM immediately... And we have been going the direction of returning error codes immediately if there is no need for them do defer (consistency between platforms) and now you dig up a 1 year old issue with a short description which advises us to move against what he have been already doing.

[2014-10-16 13:00] saghul commented on #948
This needs to be well thought out, and that's not going to happen before 1.0.0. We need to go though all cases. Some things are obvious: invalid parameter == EINVAL immediately, but some others not necessarily (EMFILE, scoket creation error, and so on).

[2014-10-16 14:19] txdv commented on #1527
I have installed CentOS 7.0 and I get following test fail:

[code]

@rvagg If you spin that machine up and give me the login, I will take a look at it.

[2014-10-16 14:46] txdv commented on #1483
How do you come up with these?

[2014-10-16 14:58] txdv commented on #948
Ok, can we start discussing this before 1.0.0?

Also, where do we want to discuss this? In bnoordhuis issue you referenced?

[2014-10-16 15:02] saghul commented on #948
I don't have the time to discuss this right now. I'd like to discuss it as part of a multi-chapter RFC for 2.0.0., which I'll publish when we are done with 1.0.0.

[2014-10-16 15:29] txdv commented on #948
Discussing this shouldn't be the time intensive task... But whatever.

What happened to that other [RFC](https://gist.github.com/saghul/909502cc7367a25c247a)? Can I start implementing it? Is there anything else but my pull request for the write_after_connect standing in front of 1.0.0?

[2014-10-16 15:34] saghul commented on #948
It is for me.

I told you before, I will implement that one. I already started, but well, things got in between. Also I needed to get a touch of reality before finishing up the rest of the RFC. Right now it's a bunch of notes which I need to tidy up.

At this point I'm not sure write_after_connect will land before 1.0.0.

[2014-10-16 17:52] txdv commented on #948
Can I write an RFC for the return codes then?

[2014-10-16 18:35] saghul commented on #948
Sure.
On Oct 16, 2014 7:52 PM, "Andrius Bentkus" notifications@github.com wrote:

[2014-10-16 19:41] bnoordhuis commented on #1483
The angels talk to me.

(Actually, the thought popped in my head while going over open rust issues.)

[2014-10-16 21:47] mdlavin commented on #1348
For what it's worth, I've seen the same failure when I use ZooKeeper in certain situations.  Your list of dependencies includes zookeeper which should include the same problem I'm seeing.  I'm not sure if you are seeing the exact same problem as me, but I've submitted a pull request that addresses my issues:  yfinkelstein/node-zookeeper#101

[2014-10-16 22:01] saghul commented on #1348
@mdlavin I haven't looked in the node-zookeeper code, but your reasoning in the issue is correct! :cake:

[2014-10-17 00:47] rvagg commented on #1527
yeah, tcp_writealot seems to fail some of the time for me too. @txdv your public github keys are in the root account @ 104.131.148.215, just make yourself a user account to play.

If anybody else would like access then let me know. I don't want to leave this running for too long obviously but you can thank DigitalOcean for their sponsorship and support of Node & libuv here.

[2014-10-17 08:30] saghul commented on #1514
Fixed in https://github.com/joyent/libuv/commit/8a8cff4b34c6dbaf6d31a2c9dda8afa3b1509cf0 Thanks for the report and help testing Tim!

[2014-10-17 08:30] #1514 closed, assigned to nobody

[2014-10-17 10:40] txdv commented on #1527
[code]

[code]

No errors on that machine...

[2014-10-17 11:02] rvagg commented on #1527
these are fails in node's test suite that (very likely) bubble up from libuv and there are no equivalent libuv tests that cover this; see original issue description

[2014-10-17 11:03] txdv commented on #1527
A, ok, i'll test node then. I overlooked that part when you specified node.

[2014-10-17 11:25] txdv commented on #1527
I created the user bentkus, added the same ssh authorized_keys file that root has, so you can directly log the user.

I pulled joyent/node/master and ran the tests and I got only one failure:

[code]

Seems unrelated to your errors. I ran the tests that you listed specifically and they just passed.

I don't know, maybe you are doing something different... Maybe setting it up differently?

[2014-10-17 11:32] saghul commented on #1527
Have you run it as root?

[2014-10-17 12:07] rvagg commented on #1527
try the v0.12 branch

[2014-10-17 13:22] txdv commented on #1527
[code]

Some crypto failure.

Can you maybe connect directly with the user bentkus and checkout the right commit you are having trouble with? Compile and run and check out the failures for maximum insurance?

[2014-10-17 15:59] gkze opened #1529 "Misspelled "asynchronous" in the description"
![libuv](http://i.imgur.com/WDSnPVZ.png)

[2014-10-17 16:29] saghul commented on #1529
wOW, that must have been wrong since forever :-O Fixed it, thanks!

[2014-10-17 16:29] #1529 closed, assigned to nobody

[2014-10-18 03:13] rvagg commented on #1527
[code]

Ignore the crypto-domains bug, it's been dealt with elsewhere and is only an intermittent problem with the tests due to worker threads finishing at different times.

[2014-10-18 03:19] rvagg commented on #1527
oh! you know what this is? it only happens when you're root and `su` to a user account to run the tests. It just occured to me to ssh in as the user account and run the tests and now they are running without showing EACCES errors.

Mind you, I don't understand why EL5 would be doing `su` differently that would cause this but at least I can work around the problem.

@saghul & others: any thoughts o

[2014-10-18 11:01] txdv commented on #1527
Looks like an issue with su or the os to me. We are basically calling just systems calls, I don't think we can do much about this in libuv.

[2014-10-18 15:04] bnoordhuis commented on #1527
It's unrelated to libuv but as a FYI, the `simple/test-crypto-domains` failure is a bug in the test that's been fixed in node-forward/node@1f11983 (currently private; if you want access, ping me.)  Not sure why `simple/test-v8-gc` crashes.

I bet that the EACCESS error is because part of $PATH is inaccessible to the non-root user, i.e. that it's a bad assumption in the test.

[2014-10-19 11:51] saghul commented on #1527
Ok, closing then!

[2014-10-19 11:51] #1527 closed, assigned to nobody

[2014-10-20 21:05] #393 closed, assigned to piscisaureus

[2014-10-20 21:08] saghul commented on #1508
Just released rc2 including this fix. Thanks for reporting @jbergstroem!

[2014-10-20 21:08] #1508 closed, assigned to nobody

[2014-10-20 21:47] saghul commented on #1443
A backport landed in https://github.com/joyent/libuv/commit/ef7b783d8d581f49a68f32f426c18b0fff9c78e3, it will be part of the next release.

[2014-10-20 21:47] #1443 closed, assigned to nobody

[2014-10-20 22:17] jbergstroem opened #1531 "Use `make dist` tarball for release instead of tag"
..this way users get a baked auto\* environment, omitting the need to run `./autogen.sh`. Less dependencies and a quicker build.

[2014-10-20 23:13] saghul commented on #1531
I'm not sure about this. autoconf is just one of the supported build systems, those using it need to run autogen as stated in the README. Those using gyo need to install gyp. Should we bundle gyp? I don't think so.

Also, right now we can make releases on Windows, and we wouldn't be able to do it if we need to use make dist. (not that's it's a big problem, just pointing out a downside)

@bnoordhui

[2014-10-21 01:07] yuaom opened #1532 "test failed"
os: unbuntu 12.04

`getsockname_tcp` failed: exit code 134
Output from process `getsockname_tcp`:
server socket: 0.0.0.0:9123
accepted socket: 127.0.0.1:9123
# Assertion failed in test/test-getsockname.c on line 95: memcmp(&check_addr.sin_addr, &compare_addr.sin_addr, sizeof compare_addr.sin_addr) == 0

`spawn_setuid_setgid` failed: exit code 134
Output from process `spawn_setuid_setgid`:
# Assert

[2014-10-21 06:58] saghul commented on #1532
How are you running the tests? As what user?

[2014-10-21 07:01] bnoordhuis commented on #1531
No strong opinions.  A tarball with no dependency on autotools is nice but, on the other hand, our users are developers and almost certainly have autotools installed anyway.

[2014-10-21 07:57] tracker1 opened #1533 "record-level locking... fs.readSafe/writeSafe"
Would be nice to have a readSafe/writeSafe methods on the filesystem object that will do range/record locking against the file being used.  Since most of the OSes in place support this, it would be a really nice thing to have.

It looks like a shared lock is being done on with the open anyway, why not add the range locking for read/write access, or an additional set of methods?

[2014-10-21 08:05] saghul commented on #1531
My thoughts exactly. Closing.

[2014-10-21 08:05] #1531 closed, assigned to nobody

[2014-10-21 13:22] imzyxwvu opened #1534 "How should I handle uv_read_cb's nread < 0"
I called uv_read_stop and it caused an assertion failure at the following assert on Linux. I thought I might called uv_read_stop at a wrong time. So please tell me calling it at what situations will cause the failure and when should I call it.

v0.11

[code]

[2014-10-21 14:59] imzyxwvu opened #1535 "SIGPIPE thrown when a web browser closes the connection"
When a uv_write_t request is in progress, and the client (web browser) closes the connection, a SIGPIPE will be thrown before the callback called.

[2014-10-21 15:06] txdv commented on #1535
Can you provide a test case?

[2014-10-21 15:08] imzyxwvu commented on #1535
I didn't handle the uv_write error. It's my fault.

[2014-10-21 15:24] imzyxwvu commented on #1535
My program started a write request, then the read callback reported that the connection has been closed, soon the write request will cause a SIGPIPE. (Linux, v0.11) I don't know how to deal with it except handling SIGPIPE. Cancelling the request?

[2014-10-21 16:01] indutny commented on #1535
You need to ignore SIGPIPE signal using sigaction.

[2014-10-21 16:01] #1535 closed, assigned to nobody

[2014-10-21 16:12] txdv commented on #829
Why do you think it is bad to return an error code immediately?

The negative stuff I can come up:
1. From a C perspective it means double checking, immediately when the function is called and in the callback. A bit tedious, but it is C, callback code with errors is already tedious. Can be countered by putting error checking code in a function (no separate locations of error checking), but it is e

[2014-10-21 16:26] imzyxwvu commented on #1534
When a stream's EOF reached, calling uv_read_stop will cause this assert failure. But if I uv_shutdown the stream then, calling uv_read_stop won't cause that assert. **So if the read callback was called with nread < 0, it won't be called any more and I shouldn't use uv_read_stop in that situation, just uv_close is required. Am I right?**

[2014-10-21 16:32] ralight opened #1536 "Consider reinstating CLA"
It has now been a while since the requirement for signing the CLA was removed. Would you consider taking a look to see whether the change in contributions has been worth the change in IP status?

My personal stance is that I preferred the situation when signing the CLA was a requirement. It makes life more difficult with commits of unknown provenance.

I realise that this may provoke some negative

[2014-10-21 16:35] indutny commented on #1536
@ralight -1 for CLA, it is just about spending tons of maintainer's time on checking if the user has signed it.

[2014-10-21 16:37] ralight commented on #1536
@indutny I was under the impression that you had this automated before, is that not the case?

[2014-10-21 17:11] bnoordhuis commented on #829
I don't think it's bad _as such_, just that it's bad because it's inconsistent.  In most places, libuv doesn't return run-time errors, it passes them on.  It's API design 101: when faced with two options, pick one or the other but not both.

[2014-10-21 19:36] txdv commented on #829
Yes, I agree with you, I just wrote my observation in a more detailed way. How the current API affects the users code (double error checking everywhere) and it is not really reasonable to sacrifice API usability for the mediocre performance increase during error handling.

[2014-10-22 07:24] as-xjc opened #1537 "test fail"
#

`spawn_setuid_setgid` failed: exit code 6
Output from process `spawn_setuid_setgid`:
# Assertion failed in test/test-spawn.c on line 1054: r == 0

system：boot2docker 1.3 for Windows
images：centos7
git：master

[2014-10-22 08:19] saghul commented on #1537
This is a problem in the environment where tests are being run. Please have a look at the closed issues.

[2014-10-22 08:19] #1537 closed, assigned to nobody

[2014-10-22 08:51] txdv commented on #1536
I signed it and I was still asked 3 times to sign it.

[2014-10-22 09:17] txdv commented on #1534
Yes, at least that is how I implemented it in my wrapper.

[2014-10-22 09:33] saghul commented on #1536
No way this is coming back. How does this make your life more difficult @ralight? It does make the lifes of us maintainers and some contributors more complicated for no real benefit that I can see.

[2014-10-22 09:45] saghul commented on #1534
I'd need to look a bit deeper, we might need to handle it better.

If EOF is reached the stream automatically stops reading: https://github.com/joyent/libuv/blob/master/src/unix/stream.c#L947-L954, not so if there has been another type of error: https://github.com/joyent/libuv/blob/master/src/unix/stream.c#L1118-L1121 In the latter case, not stopping or closing the handle will trigger that other a

[2014-10-22 09:50] saghul commented on #1534
Also, `uv_close` ends up calling `uv_read_stop`. Can you paste a backtrace?

[2014-10-22 23:51] jbergstroem opened #1539 "1.0.0-rc2 failed test: spawn_reads_child_path"
Fails both running as root and user (if relevant). This is linux 3.17.1 x86_64 with glibc 2.19 and built with gcc 4.8.3:

[code]

[2014-10-23 00:01] jbergstroem opened #1540 "1.0.0-r2 failed test: threadpool_multiple_event_loops"
This is linux 3.17.1 x86_64 with glibc 2.19 and built with gcc 4.8.3:

[code]

strace output (cut out most of the library loading part):

[code]

[2014-10-23 01:06] imzyxwvu commented on #1534
Which traceback, the assertion failure? The assertion failure is just inside uv_read_stop according to the gdb backtrace when assertion failure. That happened when I call uv_read_stop after the read callback got an EOF. I think uv_read_stop should return an error code instead of an assertion failure which breaks the program.

[2014-10-23 01:14] imzyxwvu commented on #1534
And if I didn't call uv_close, another assertion failure will be caused according to the another type of error @saghul mentioned, so I must make sure uv_close called when the read callback got an error. Am I right?

[2014-10-23 06:45] saghul commented on #1534
Yes, the backtrace. I wonder why this doesn't fail when you do uv_close: https://github.com/joyent/libuv/blob/master/src/unix/stream.c#L1549

[2014-10-23 06:45] saghul commented on #1534
YEah. IDeally uv_read_stop is enough... excpt when it isn't.

[2014-10-23 06:46] saghul commented on #1534
I'd rather have it silently do nothing instead.

[2014-10-23 06:54] saghul commented on #1534
@imzyxwvu @txdv please take a look / test this: https://github.com/joyent/libuv/pull/1541

[2014-10-23 06:56] saghul commented on #1540
Can you consistently reproduce it? I've never seen this one fail IIRC.

[2014-10-23 06:57] saghul commented on #1539
How are you running your tests? This one is a bit sensitive to the environment, I'm afraid.

[2014-10-23 06:57] saghul commented on #1533
@bnoordhuis did I dream about you mentioning this was not possible in a portable way?

[2014-10-23 08:41] jbergstroem commented on #1539
`make check` from a bash shell

[2014-10-23 08:41] jbergstroem commented on #1540
both this and issue #1539 is reproducible (happens every time :/)

[2014-10-23 08:46] imzyxwvu commented on #1534
I think backtrace won't help a lot. I will add a printf to print the values later.

I think it just should help the user close the handle if the user didn't do it instead causing an assertion failure.

[2014-10-23 10:11] txdv commented on #1540
What distro are you using?

[2014-10-23 10:14] jbergstroem commented on #1540
This is Gentoo. When it comes to reproducing I'll try on some other machines – but I can post the kernel config and additional versioning info if relevant.

[2014-10-23 10:18] txdv commented on #1540
I haven't tried gentoo in a while, maybe I should take it for a spin again. But compiling so long for one bug... I'm too inpatient for that.

[2014-10-23 10:20] saghul commented on #1540
@jbergstroem does the test complete if you rin it standalone?

[code]

[2014-10-23 10:27] jbergstroem commented on #1540
@txdv The amount of compiling from a base install in this particular case would be building git. Anyway, lets avoid os talk; I really don't care about Gentoo, rather this failing test.

@saghul: Works (no output/fail) if I call it twice – as you requested. Fails if I call the test only once (what I did with strace).

[2014-10-23 10:55] saghul commented on #1540
The difference between once and twice is that the test will run in a child process and be limited by the timeout, or not.

[2014-10-23 11:01] txdv commented on #829
@saghul questions:

I didn't write an RFC because I basically agreed with bnoordhuis, I wrote down the reasoning. I also wanted to checkout how it affects the code, because you can't just reason about it without actually changing it. So I picked uv_tcp_connect implemented it and took a look on it. All the other functions will be more or less the same.

The assert release/debug can be implemented i

[2014-10-23 11:03] txdv commented on #829
Just got a notification from @saghul that he wants assert fails in debug mode and returns in release mode...

[2014-10-23 11:05] saghul commented on #829
My bad, I wrote the opposite of what I wanted to say. My point still stands though, I'd want parameter errors to be returned.

[2014-10-23 11:17] saghul commented on #829
I don't think a "one fits" all solution is good here. If I call `uv_tcp_connect` with a timer handle it needs to let me know ASAP. That's a programming error, which users will fix quickly because the assert would blow up in their faces. Having release builds return an error would help environments of a more dynamic nature.

I don't see how returning EINVAL for invalid parameters makes out lives an

[2014-10-23 11:42] txdv commented on #829
So returning EINVAL immediately doesn't matter in bindings anyway.

But the immediate return code makes code in C more tedious.

What about ENOMEM? Should we return ENOMEM immediately? What if it is sometimes because when we try to resize some internal structure it fails not immediately and has to be deferred?

[2014-10-23 12:14] huxingyi commented on #829
If return value is kept just for the api consistency, I agree to keep it.
I can choose to ignore return value safely when I known every params are ok.

I think should not return ENOMEM immediately. if need malloc something, we could let user provider the space like the req struct(e.g. uv_write_t *req).

[2014-10-23 12:20] saghul commented on #829
Not necessarily. If your application doesn't segfault in debug mode you can choose to ignore the return code in release builds.

I have yet to see an application that properly survives to memory exhaustion :-) I guess I'd defer it to the callback, but I'm not sure if we can in all cases.

[2014-10-23 12:20] saghul commented on #829
That's not possible, some stuff must be malloc-ed. Like the uv_but_t structs.

[2014-10-23 12:28] txdv commented on #829
Don't you work with SIP software? I think asteriks doesn't destroy itself when it has not enough.

[2014-10-23 12:38] huxingyi commented on #829
Yes, you are right.
But don't return ENOMEM immediately. I think api is a promising, you give me all what I need, then I promising wont return error to you immediately.

[2014-10-23 12:45] txdv commented on #829
I can live with deffer everything except EINVAL, because that is something that won't ever happen anyway in bindings. Well, in bindings it is actually possible to just deffer it manually.

However, it makes it more tedious for C developers, because we still do not get rid of the 2 place error handling.

[2014-10-23 14:23] bnoordhuis commented on #1533
Yes, it's pretty much impossible to implement on all supported platforms.  Even on platforms where we could implement it, it won't necessarily work with NFS.

[2014-10-23 14:24] saghul commented on #1533
Thanks for clarifying, Ben!

[2014-10-23 14:24] #1533 closed, assigned to nobody

[2014-10-23 19:08] tracker1 commented on #1533
@bnoordhuis but, shouldn't it be available for those platforms that can support it?  It's a pretty important feature for being able to interact with data that other processes (that do range locking) are interacting with.

I understand that NFS, and even some older SAMBA/CIFS implementations may not be implemented correctly, just the same... would the underlying lock attempt throw an error if it wa

[2014-10-23 19:33] bnoordhuis commented on #1533
@tracker1 In general, libuv only implements lowest common denominator (LCD) behavior; that is, the subset that we can comfortably support on all platforms.  File locking has so many gotchas and incompatibilities that there is no useful LCD to speak of.

No, not necessarily.  With NFS file locking:
- The operation may be unimplemented but the operating system may still report success.  (Yes, this a

[2014-10-24 04:25] tracker1 commented on #1533
Fair enough.. even if it didn't raise an error, wouldn't it be better to have the option (where the environment supports it) which would include windows and linux against local files, as opposed to not even having the option?  I know it's buggy, especially with network shares, etc.. I just feel it's a really important functionality that is missing, even if support was relatively spotty.. (a warnin

[2014-10-24 08:15] aktau commented on #1417
The Grand Central Dispatch code is open source: http://libdispatch.macosforge.org/

Also, as far as I can remember, OSX implements POSIX AIO natively in the kernel (as Linux has wanted to do for quite some time, to adapt Linux AIO to POSIX AIO, this still hasn't happened). So both should be good options, fwiw. Apple is closing the kernel more and more with each release, so it gets more difficult t

[2014-10-24 08:24] aktau commented on #1470
That would be really cool, though I have not idea what it would look like either way. Afaik [splice()'ing to TCP can only be from a pipe](http://stackoverflow.com/a/7088068/558819) so it would depend on the input source.

Maybe there wouldn't be a need for magical correlating if the `uv_write_t` could be use to pass something like `MSG_MORE`.

If it's a userspace buffer and libuv has full control

[2014-10-24 13:24] bnoordhuis commented on #1533
I think sqlite uses or used to use POSIX file locks with a separate lock file.  You are probably aware of this but, for posterity, [this document](http://0pointer.de/blog/projects/locking.html) describes what is wrong with POSIX file locks: they are process-wide and automatically dropped when any file descriptor referring to the locked file is closed.  It's pretty much impossible to use them safel

[2014-10-24 20:51] tracker1 commented on #1533
I know it's wrapped in another project, but Synchronet uses the following (XPDEV) as a cross-platform wrapper, and you can see how it does the file locking... it may be worth at least considering... again, it just feels like a feature that should be there, and would be very useful...

http://cvs.synchro.net/cgi-bin/viewcvs.cgi/src/xpdev/filewrap.c?view=markup Line 90 starts lock then unlock.

[2014-10-25 03:24] xzzh999 opened #1544 "udp recv strange data"
[code]

used MiniSniffer to caputre the data, i found there sometimes come strange data like this:
   FF FE FF FE ... (just in loop) , and the size is just the rtp package size.

   At the first, i thought the problem maybe in my own code, then i use tcp test agagin, it doesn't happen; then i thought maybe somebody else send udp data to my port, but i checked that no one send me this;  at last i w

[2014-10-25 08:52] JohannesRudolph commented on #1126
This is very interesting, can you elaborate on the consequences of the current libuv behavior when readin e.g. from a serial port? I'm asking because we're seeing some atrocious performance with fs.read from node.js which uses uv_fs_read under the covers (reading from /dev/ttyATH0 on an Arduino Yun).

See the discussion here for some performance numbers: https://github.com/voodootikigod/node-seria

[2014-10-25 09:59] indutny commented on #1544
May I ask you to post a complete test case?

[2014-10-25 15:26] acornejo opened #1545 "outdated build instructions"
The repository used to checkout gyp has changed, it is now https://chromium.googlesource.com/external/gyp.git, this should be updated in README.md

Also, there are currently no instructions on the README on how to install libuv. One would expect "make install" or something similar to work (but it doesn't, at least not in OSX). I had to copy over the *pc, *.a and *.h files to the appropriate places

[2014-10-25 22:36] odeke-em opened #1547 "build: Failed to connect to chromium/gyp.git via https"
Following the README
  `$ mkdir -p build`
  `$ git clone https://git.chromium.org/external/gyp.git build/gyp`
I get:
 `fatal: unable to access 'https://git.chromium.org/external/gyp.git/': Failed to connect to git.chromium.org port 443: Connection refused`

However, using:
`$ git clone http://git.chromium.org/external/gyp.git build/gyp`
clones gyp successfully.
OR better:
`git clone https://chromi

[2014-10-26 02:14] xzzh999 commented on #1544
yes,of course and thank you for your reply. here is the test code stuff:   (I wrappered c to c++ code)

1> the client demo send loop:

[code]

2> the server demo just print the recv data count, and not do nothing else.

3> the wappered c++ code of libuv-udp:

[code]

4> the client and the server both use the wrapper class UDPClientProxy,  and both send & recv are use  the same port (i mean the cli

[2014-10-26 08:44] odeke-em commented on #1547
This issue is a subset of #1545

[2014-10-26 08:52] odeke-em commented on #1545
Hey @acornejo, thanks for bringing this up, I actually had the same issue since the gyp url changed. However, I was able to switch the url and then build on OS X without having to do the manual copy.
Once the gyp clone was done, I then run as specified in the docs.:
    $ ./gyp_uv.py -f xcode
    $ xcodebuild -ARCHS="x86_64" -project uv.xcodeproj \
         -configuration Release -target All

I ha

[2014-10-26 10:47] saghul commented on #1547
#1548 landed, closing.

[2014-10-26 10:47] #1547 closed, assigned to nobody

[2014-10-26 13:56] rajpaps opened #1549 "v1.0.0-rc2 failed test: tcp_close_accept"
Failed with command 'make check' with user 'root'

`tcp_close_accept` failed: exit code 6
Output from process `tcp_close_accept`:
Assertion failed in test/test-tcp-close-accept.c on line 88: stream == (uv_stream_t*) &tcp_incoming[0]

uname -m = x86_64
uname -r = 2.6.18-308.el5
uname -s = Linux
gcc (GCC) 4.1.2 20080704 (Red Hat 4.1.2-52)

[2014-10-26 13:58] rajpaps opened #1550 "v1.0.0-rc2: failed with timer_run_once"
Failed with command 'make check' with user 'root'

`timer_run_once` failed: exit code 6
Output from process `timer_run_once`:
Assertion failed in test/test-timer.c on line 284: 0 == uv_run(uv_default_loop(), UV_RUN_ONCE)

uname -m = x86_64
uname -r = 2.6.18-308.el5
uname -s = Linux
gcc (GCC) 4.1.2 20080704 (Red Hat 4.1.2-52)

[2014-10-26 15:18] ghost opened #1551 "Allowing multiple versions of libuv API to coexist"
_Context: I've been toying with libuv and to my chagrin I've discovered that my Archlinux has unstable 0.11, Debian has stable 0.10, and a 1.0 release is imminent. That makes it very hard to release my application without stuffing it with #ifdef's._

Seeing that a new release that breaks the API is coming and further changes can be expected in the near future, I think it'd be for the best if diffe

[2014-10-26 17:30] saghul commented on #1550
Can you reproduce this consistently?

[2014-10-26 17:35] saghul commented on #1551
I'm not sure about how we can help at this point. 0.10 didn't have pkg-config support, 0.11 was a development release, which gained pkg-config support at some point, and 1.0 is / will be properly versioned.

So, starting with 1.0 things will be OK, but we cannot change the past :-/ Also, packaging 0.11 given that it was unstable, might not have been the greatest idea.

[2014-10-26 18:18] ghost commented on #1551
I realize the past cannot be changed. My point was rather about being able to have multiple API/ABI versions of the library installed next to each other in the future. Right now would be a good moment to make the change. I'm not saying that you absolutely have to, however I fail to see any cons.

It's not solely about pkg-config. It means that different API/ABI versions should have a different nam

[2014-10-26 19:27] rajpaps commented on #1550
yep 10/10

[2014-10-27 01:23] yoonghm opened #1552 "broken-down timer"
#### Is there an implemention broken-down timer in libuv

Currently **uv_timer_t** implements relative time. However I am looking for a timer library which could trigger called at, say "**Every Wednesday 3:00pm**", "**Every first day of the month at 12:00am**", etc.

Any suggestion?

[2014-10-27 06:46] kvanbere opened #1553 "Bizzare build failure involving uv_spawn"
I have the code:

[code]

This fails on Mac OS X but works on Linux. If I remove the &, suddenly Linux builds and Mac OS X is broken:

[code]

It's almost like they have two completely different API.

Mac OS X libuv is from homebrew, updated to latest, whereas Linux is built from git master.

Has the API silently changed ... ?

[2014-10-27 09:55] Ognian commented on #1512
Any news?

[2014-10-27 10:55] txdv commented on #1552
libuv is a general async IO abstraction library for various async IO implementations on differnet OSes.

What you seek is a library like Chronic but written in C. Not the best place to ask for.

[2014-10-27 11:14] saghul commented on #1552
These kind of questions are better suited for the mailing list.

[2014-10-27 11:15] #1552 closed, assigned to nobody

[2014-10-27 11:16] saghul commented on #1553
It might, what version do you run on each system?

[2014-10-27 11:35] kvanbere commented on #1553
I don't know anymore, sorry. I uninstalled it and cloned from master, ran `make install` on OS X and the issue went away. Now both boxes are in sync.

[2014-10-27 13:19] ghost opened #1554 "doc: mention homebrew in README"
There's been a homebrew formula for libuv for a while: https://github.com/Homebrew/homebrew/blob/master/Library/Formula/libuv.rb
It allows one either to install a pre-built package or build it from scratches:

[code]

I personally think this deserves to be mentioned in README.

[2014-10-27 16:22] saghul commented on #1553
Oh. OK, we'll close this then! :-)

[2014-10-27 16:22] #1553 closed, assigned to nobody

[2014-10-27 16:23] saghul commented on #1554
I'd be OK with that! Mind sending a pull request? :-)

[2014-10-27 16:42] ghost commented on #1554
Not at all.

[2014-10-27 19:10] kvanbere commented on #1553
Don't close this! This means homebrew desperately needs updating! :)

[2014-10-27 23:08] saghul commented on #1553
Well that's a homebrew issue. libuv works fine in that regard unless a test
failure shows otherwise ;-)
On Oct 27, 2014 4:10 PM, "Kyle Van Berendonck" notifications@github.com
wrote:

[2014-10-28 11:59] kvanbere commented on #1554
Maybe it's worth mentioning you MUST use --HEAD at the moment, as non-head is way too old #1553

[2014-10-28 13:34] ghost commented on #1554
Yes, I didn't mention the non-head option in the pull request at all.

[2014-10-29 02:54] take-cheeze commented on #1554
BTW there is `--devel`(latest unstable release which is 1.0.0-rc2 currently) option too.

[2014-10-29 04:51] acornejo commented on #1545
@odeke-em

I was also able to switch the URL and build on OSX. However.. I did need the manual copy, since xcode does not install the header files globally.

[2014-10-30 16:50] odeke-em commented on #1545
Oh I see. I guess since I don't use xcode, I couldn't catch the manual copy trip. I'll also try reproducing this probably over the weekend.

[2014-10-31 16:05] creationix opened #1557 "Please expose bufs in uv_fs_t's result for uv_fs_read operations."
In my bindings, `uv_fs_read` is the only place in all of libuv where I have to externally track the read buffer to get the result.  In others like `uv_read`, the callback gives me a `uv_buf_t` which contains the buffer I allocated for the read (in `uv_alloc_cb`).  This makes is easy to both get the result and free my data when I'm done.

It would be awesome and save me a pointer in my reqs if `uv_

[2014-10-31 16:09] creationix commented on #1557
Also it appears that there are already private members containing the bufs and the number of bufs.  If these were simply added to the public API, that would be enough.

[2014-11-01 01:49] imzyxwvu opened #1558 "uv_timer_t didn't wait for the timeout after gets()"
I'm using libuv-0.11.29 on Windows.

The following program won't wait for timeout (3 seconds) and on_timer is called very soon if gets() blocked for more than 3 seconds.

[code]

[2014-11-01 16:35] geertj commented on #1478
_bump_ build still broken on Fedora 20

[2014-11-01 16:49] geertj commented on #1478
Since @markjdb mentions that the -xnolibs option is used on FreeBSD, I suggest disabling it only on Linux:

[code]

[2014-11-01 20:51] txdv commented on #1558
what happens if you put the uv_loop_default() behind gets?

[2014-11-02 02:09] imzyxwvu commented on #1558
@txdv It worked right. But if I need to get the user input when the loop is already got, must I use the TTY interface?

[2014-11-02 14:44] recp commented on #1558
The loop time has already initialized by `uv_default_loop()` before your program is waiting for an input. It seems if you will wait for an input about 3 seconds and you will be waited for the timeout as well. You can update the loop time after calling the `gets`, I think  it should be working properly

[code]

[2014-11-02 22:25] imzyxwvu commented on #1558
Thank you.

[2014-11-02 22:25] #1558 closed, assigned to nobody

[2014-11-03 21:34] ralight commented on #1536
At the Eclipse Foundation any third party code used by projects as a hard requirement needs to be IP clean. This means that the origin of the code is clear and the person who committed it was allowed to do so. One of the reasons is to ensure that any project can be used with a known provenance for the entire codebase including third party requirements.

By third party requirement here I mean somet

[2014-11-03 23:00] ghost commented on #1478
There's no such thing as "dtrace >= 2.5" (sic).  The -x options to dtrace(1m) are documented and form a committed interface.  If something out there purports to be DTrace but has removed them, it is not DTrace and we should not be invoking it as if it were.  This does not seem to be a bug in libuv.

[2014-11-03 23:05] tjfontaine commented on #1536
IANAL.

The choice was made to remove the CLA as often it was a stumbling block for adding contributions (especially trivial ones) into the source base.

There is debate in the open source community if the need for a CLA, DCO or similar utility should be required for contributing to a project.

While I am not equipped to argue the finer points of these devices, know that there are many voices inte

[2014-11-03 23:05] #1536 closed, assigned to nobody

[2014-11-04 08:48] nalimilan commented on #1478
I have no idea what's the real DTrace interface, but Linux distributions use SystemTap. See for Fedora:
https://admin.fedoraproject.org/pkgdb/package/systemtap/
http://linuxmanpages.net/manpages/fedora20/man1/dtrace.1.html

[2014-11-04 10:09] ralight commented on #1536
Thanks for the details, that sounds like a positive step all round.

[2014-11-04 15:48] usagi opened #1559 "`make check` failed: get_currentexe; but, succeeded with gyp ## get_currentexe is not support symlink yet"
version: current HEAD a4f88760be1838603fe2eae89a651066cc42eedd
environment: ubuntu-14.04/x86_64, g++-4.8.2

`make` is succeeded, but `make check` is failed.

[code]

[code]

---

But, it is succeeded use gyp.

[code]

[code]

[2014-11-04 20:50] creationix opened #1560 "Document uv_fs_access better"
The docs leave much to be desired and are misleading.  The second arg should be called `amode` or `mode` to line up with what's in the man page (currently it's `flags` which is a 4th arg to the long-form in the linux man page that is unrelated).  Also it appears through testing that the only non-error result is `0` and all other results are uv errors.  This is fine behavior, but it's taken me a wh

[2014-11-04 21:20] ghost commented on #1478
The dtrace(1m) interface is defined by the DTrace implementation.  The canonical DTrace implementation comes from the repository of record, illumos.  See https://github.com/illumos/illumos-gate/.  If GNU/Linux distributions are shipping a dtrace(1m) program that does not conform to the implementation in the DTrace repository of record, they are doing their customers a disservice.  They need to eit

[2014-11-04 21:48] markjdb commented on #1478
Indeed. It's kind of astonishing that Fedora ships a dtrace(1) that claims to be "DTrace compatible" and only implements a subset of the dtrace(1) parameters.

[2014-11-04 22:08] geertj commented on #1478
@markjdb @wesolows why is it a problem that dtrace on Solaris behaves differently than it does on Linux? It's not like "ls" or "cp" have exactly the same flags. I admit, using the same name is somewhat confusing. But in the end it's the choice of the SystemTap developers how they name things.  And since it's open source you can always contribute patches, I'm sure the ST developers would appreciate

[2014-11-04 22:19] nalimilan commented on #1478
Right. This is really not the place to debate whether SystemTap developers and Linux distributions were right to ship a semi-compatible command called `dtrace` (I guess it makes life easier for people using only basic options. ). Feel free to complain to them if you want.

But I don't see any problem for libuv to use a different command on the Linux platform. Where it called `stap` instead of `dtr

[2014-11-04 22:22] markjdb commented on #1478
Because dtrace(1) comes from Solaris. There are many open-source projects which support DTrace and SystemTap probes; for SystemTap, it makes sense to leverage the use of dtrace(1) that is already present in many build scripts. But the dtrace(1) reimplementation that was apparently done for SystemTap is incomplete, so it's not a compatible implementation.

Now there are patches being submitted whic

[2014-11-04 22:27] nalimilan commented on #1478
I'm not sure why they removed the `-x` option, I can't find an explanation anywhere. Before that the compatibility was apparently better.

If you want to test whether `dtrace` is actually systemtap, this works here:

[code]

[2014-11-04 22:30] ghost commented on #1478
Well, you also have the fact that _real_ DTrace on GNU/Linux (which presumably Oracle ships, although I don't use their product so I can't be sure) won't have this problem.  So just checking the equivalent of uname isn't right either.  This is an OS bug, not a libuv bug.  Please file this with Fedora instead.

[2014-11-04 22:36] nalimilan commented on #1478
@wesolows I just gave an easy way to check whether `dtrace` is actually SystemTap or the real DTrace. As regards Fedora, the bug is already fixed via an ugly call to `sed` in the .spec file. But all distributions are going to suffer from the same problem, and Fedora's policy is to try improving upstream so that everybody benefits, including people building libuv from source (potentially to contrib

[2014-11-04 22:53] ghost commented on #1478
It's better, at minimum, for 2 reasons:
1. It ends efforts to 'embrace and extinguish' DTrace by pretending that SystemTap is anything remotely comparable to DTrace.  In the process, it makes it easy for users to know what their system actually contains and what its true capabilities are.
2. It enables consumers like libuv to handle various different tracing frameworks that may be present without

[2014-11-04 23:08] justinmk commented on #1478
It doesn't, but rather forces downstream projects like https://github.com/neovim/neovim to add their own hacks in order to provide a less-frustrating experience to users and developers.

Also, it's ironic that GNU people could make the converse argument about clang vs gcc.

[2014-11-04 23:39] geertj commented on #1478
This argument is going nowhere. Options:
1. Add a 2 line patch to make libuv compile on recent Linux versions.
2. Go on a quest to ask the systemtap developers to rename their binary based on a phylosophical argument that whatever Sun (at the time) implemented for dtrace(1m) should be the canon of how any other program claiming the same name should behave.

My vote is for 1. I'm asking that one of

[2014-11-04 23:50] ghost commented on #1478
I've already explained (as has @markjdb) why the "2 line patch" is wrong.  We don't accept patches that are wrong.

[2014-11-05 00:47] geertj commented on #1478
@wesolows no you have not done that. You have stated your opinion, and myself and others on the thread do not agree with your opinion. Also I just checked out the commit history and I find 0 commits on your name. So I find it strange that you speak for the project like that.

[2014-11-05 01:07] ghost commented on #1478
Let me be clearer, then:

$(uname) == "Linux" =/=> "dtrace" lacks support for -x nolibs

Therefore a change based on the inverse assertion is incorrect.  A specific counterexample has been provided in the form of Oracle® Linux®; others are likely to exist (two likely candidates are FreeBSD's Linux emulation and illumos-joyent's LX-branded Zone environment).  Changeset integration count is not a su

[2014-11-05 01:25] saghul commented on #1478
Folks, relax. I'll have a look as soon ad I can, but I'm no expert in DTrace, so there is that.

Now, while we support dtrace, it just adds 2 pretty silly probes, so compiling without support for it (there is a switch for configure) should do until we find a solution.

[2014-11-05 01:25] bnoordhuis commented on #1478
I say we remove the dtrace probes or make `--without-dtrace` the default.  We only have two probes and they're not interesting ones either.

Anyone here ever managed to track down a bug or performance issue using the libuv probes?  Me neither.

EDIT: Great minds, @saghul.

[2014-11-05 01:51] geertj commented on #1478
I think @bnoordhuis gives one possible good suggestion. Just disable DTrace by default. Also @nalimilan makes a good suggestion. Check whether there is a "real" dtrace or a systemtap one:

[code]

Based on the above, HAVE_SYSTEMTAP could be set, and then the code can become

[code]

This could be fragile if the output of dtrace --help changes on SystemTap

[2014-11-05 10:08] nalimilan commented on #1478
Another option is to make `--without-dtrace` the default, and add a `--with-systemtap` option which would set `HAVE_SYSTEMTAP` and thus enable the code by @geertj in the previous comment.

[2014-11-06 00:25] saghul commented on #1478
+1 on removing the dtrace probes.

On Tue, Nov 4, 2014 at 8:25 PM, Ben Noordhuis notifications@github.com
wrote:

##

/Saúl
bettercallsaghul.com

[2014-11-06 13:07] bnoordhuis commented on #1478
libuv/libuv#3

[2014-11-06 14:42] jacob commented on #1512
I am seeing this as well in my local dev environment, good to know that it's OSX specific.

[2014-11-06 16:37] usagi commented on #1559
I got the cause and the answer for the issue.

I was injected the debugging code into the test code:

[code]

I got the result with `./autogen && ./configure && make && make check`:

[code]

And, `./gyp_uv.py -f make && make -C out && ./out/Debug/run-tests`:

[code]

The cause is current implement of `executable_path`. `executable_path` is not support symlinks. "/home/usagi/repos" in my environmen

[2014-11-07 00:07] rainbow-alex opened #1562 "Make it possible to immediately close a handle in a callback."
I am using libuv in combination with coroutines. What I am trying to do is:
1. In some coroutine, I put a one-off handle on the stack, and start it. I then yield control to the scheduler coroutine.
2. The scheduler coroutine loops and (eventually) my handle's event occurs. The callback simply switches back to coroutine A.
3. Coroutine A closes the handle.

The problem with the last step is the clo

[2014-11-07 00:37] saghul commented on #1551
As I said, we cannot change the past, so 0.10 and 1.0 will collide, that's life :-( Now, for 1.0 we have promised stable ABI and backwards compatible API, so users should just use the latest and greatest version of libuv, and in case they depend on some specific bugfix the version can be checked easily at runtime.

When 2.0 is finished it won't be API compatible so we'll probably install it in lib

[2014-11-07 00:37] #1551 closed, assigned to nobody

[2014-11-07 00:38] saghul commented on #1554
PR landed, closing!

[2014-11-07 00:38] #1554 closed, assigned to nobody

[2014-11-07 00:47] saghul commented on #1559
I haven't looked into it, but your analysis suggests `uv_exepath` doesn't support symlinks, which IIRC is not the case. Maybe the test needs to be relaxed?

[2014-11-07 00:50] saghul commented on #1562
This is by design and even if intuitively feels possible it's not really the case. Specifically on Windows some close operations take time. Also this makes the interface more consistent across libuv.

You'll have to allocate the handle on the heap and free it on the close callback.

[2014-11-07 00:50] #1562 closed, assigned to nobody

[2014-11-07 00:51] saghul commented on #1557
You can embed your `uv_fs_t` struct into another one and use `container_of` to grab a pointer to it on the callback.

This is the same design principle taken for `uv_write` for example. I don't recall what the reasons behind this were, maybe @bnoordhuis can clarify, but IIRC it has been like this from the start and the use of structure embedding is recommended.

Now, between you and I, those field

[2014-11-07 01:38] usagi commented on #1559
|  | current(1.0.0-rc2) symlink supporting | example |
| :-: | :-: | :-: |
| `path` (`argv[0]`) in `get_currentexe.c` | no | /some-symlink-dir/some-executable |
| `uv_exepath` in `libuv` API | yes | /symlink-resolved-path/some-executable |

This leads to a failure in the test unexpected. (`Assertion failed in test/test-get-currentexe.c on line 58: match && !strcmp(match, path)`)

Therefore, I thin

[2014-11-07 02:17] saghul commented on #1560
Hi Tim! I fixed the parameter name in e03c0c7. As for the return code, same rule as any other libuv function applies, as documented: < 0 means error, success otherwise (which is usually 0).

[2014-11-07 02:17] #1560 closed, assigned to nobody

[2014-11-07 03:15] saghul commented on #1559
Ah, I see what you mean. It's the runner which saves argv[0] as `executable_path`. I'll see if we can relax the test. If you have a patch which fixes the test without modifying the runner it would be awesome :-)

[2014-11-07 03:46] jbergstroem commented on #1551
@saghul FWIW, you shouldn't really have to do "uv2.h" as long as you properly use pkg-config. That way its basically up to distros/packagers to utilise sane install paths – `pkg-config --cflags libuv-2.0` would return `-I/usr/include/uv2` or similar (if you really insist of breaking everything).

[2014-11-07 12:42] usagi commented on #1559
OK, I'll write a patch later :)

[2014-11-07 13:21] bnoordhuis commented on #1557
Embedding allows for compact structures that can be freed in one go.  It eliminates the possibility of dangling pointers.  Embedding is generally also a bit faster than pointer chasing, although that's mostly irrelevant in libuv.

Having public API accessors would be a good thing.  It lets us move things around in the future without having to worry about breakage and it's arguably all around clean

[2014-11-07 14:11] scunningham opened #1563 "heap_insert unsafe"
Although understandably an edge case, heap_insert should fail to insert a new node if heap->nelts == UINT_MAX.

It is possible, though unlikely, that unsigned int is 16 bit.  Even in a 32 bit world, hitting UINT_MAX becomes more likely as machines get faster.

At the very least it should assert(heap->nelts < UINT_MAX).  It would be better to abort() than blindly corrupt the data structure.

[2014-11-10 06:39] hwwan80 opened #1568 "fs__create_junction append a slash to src path when the source path is regular file"
The following code in  src/win/fs.c:

[code]

Append a slash to the source path without checking the source path is regular file or directory. This make junction not work for regular file in windows since the source path is incorrect.

[2014-11-10 12:40] saghul commented on #1568
Junctions are only supported for directories, not regular files. (by Windows)

[2014-11-10 12:40] #1568 closed, assigned to nobody

[2014-11-10 23:15] saghul commented on #1478
DTrace probes are gone as of cb51400, closing.

[2014-11-10 23:15] #1478 closed, assigned to nobody

[2014-11-10 23:24] saghul opened #1573 "Moving the repository to libuv/libuv"
I’m posting this here, on behalf of the libuv core team, since it may have more reach than sending an email to the mailing list.

The 1.0.0 release is due soon, and after it’s done the development of libuv will be moved to its own organization (libuv), which currently just contains a fork of it. We kindly ask Joyent to transfer the project to this new organization.

We’ll take the opportunity to c

[2014-11-10 23:39] bnoordhuis commented on #1563
Libuv does not claim to support platforms where ints have fewer than 32 bits.  (What does, these days?)

I don't think that's realistic on 32 bit architectures: in order to hit UINT_MAX, you need to insert 2^32 elements - but that requires more memory than a 32 bits architecture can address.

It could become an issue on 64 bits architectures however.  I see two solutions: adding that assert you su

[2014-11-10 23:53] isaacs commented on #1573
:clap: :+1:

[2014-11-10 23:54] travisjeffery commented on #1573
yesss :+1:

[2014-11-10 23:57] mikeal commented on #1573
:clap:

[2014-11-10 23:58] interlock commented on #1573
:clap:

[2014-11-11 02:41] hwwan80 commented on #1568
@saghul  That depend whether the application is aware of junction. This is at least supported by application written with  node( which use libuv)  and  also mingw cat:

[code]

However, using symlink in node doesnot work because libuv append a slash after it:

[code]

It is also inconsistent that libuv allow reading regular file for junction but unable to create a junction on it.

[2014-11-11 09:16] jrmarino opened #1576 "DragonFly regression: RC1 builds, RC2 doesn't"
Error when building libuv RC on DragonFly:

[code]

As the title says, libuv happily built on DragonFly through RC1.  I don't know the cause of the regression yet.

[2014-11-11 09:41] nalimilan commented on #1478
Thanks!

[2014-11-11 10:19] saghul commented on #1568
I'm not sure what the junction utility does, it may create a hard link. Windows only supports junctions for directories, and this is also what libuv supports.

[2014-11-12 01:17] bnoordhuis commented on #1576
My money is on 3193b67.

[2014-11-12 09:49] jrmarino commented on #1576
Are the kqueue.o and freebsd.o object files getting included twice somehow?

[2014-11-12 12:19] saghul commented on #1576
Maybe it how's through the if DRAGONFLY and also if FREEBSD paths?

[2014-11-12 14:18] ghost opened #1578 "Change default thread pool size from fixed 4 to number of logical cores"
Hi.

I've been following libuv for a couple of months and I'm currently using its thread pool. I have read the other bug reports about implementing automatic detection of number of threads and those reports have all been closed without any actual action being taken. libuv 1.0 is coming up and the only thing happened to the thread pool seems to be that Windows version now also has 4 fixed threads b

[2014-11-12 16:06] txdv commented on #1578
You do realize that there is no correlation between the amount of cores and the IO throughput?

The thread pool is basically for IO operation which have no asynchronous counter part on the OS. There is no benefit your solution would bring.

In fact, on a single core CPU it will always block after 1 operation, even though there could be realistically more stuff going on.

There is no good solution

[2014-11-12 17:18] ghost commented on #1578
I do realize that if the bottleneck is IO, then adding more threads (CPU time) to the pool would not make the IO process faster. Yes.

That's not my point. My point is improving the thread pool, not the IO making use of the thread pool.

"In fact, on a single core CPU it will always block after 1 operation, even though there could be realistically more stuff going on." -> Then make it max(4, numbe

[2014-11-12 17:24] misterdjules commented on #1430
@saghul @tjfontaine I submitted #1574, a new PR that fixes this issue and implements @saghul's latest design proposal.

[2014-11-12 20:16] txdv commented on #1578
You do understand that we don't run the threads in that thread pool hot? They are immediately blocked by some IO operations. The ideal pool size doesn't correlate with the number of cpus/cores.

[2014-11-12 21:01] txdv commented on #1578
The presence of the maximum hardware concurrency variable in your mentioned frameworks has a very specific usage: You have a thread pool which has the size of the the amount of computational units which are able to perform computation concurrently. It is very relevant for something like a physics engine where you want to make all your cores sweat (as in, let the do as much computation as possible)

[2014-11-13 04:48] zhaozg opened #1579 "fail to build on linux,"
Why I got

[code]

if I change Makefile.am, replace '"-I m4"' with '-I m4' will pass.

[code]

[2014-11-13 05:56] mikermcneil commented on #1573
Cool :)

[2014-11-13 09:01] ghost commented on #1578
From reading the prior bug report: https://github.com/joyent/libuv/issues/649 I get the impression you were actually planning a change in future versions. But never mind that. Lets just start by correcting some bullshit you just spew out:
1. Linux 2.6 (since 2003) comes with kernel level async IO for files (aio_read, aio_write, signals, etc) - use that.
2. Yes you _actually do_ expose the thread p

[2014-11-13 09:14] txdv commented on #1578
The thread pool is not available to the user.

AIO is not ready, I've checked it, the creator of rtorrent has checked it and has written an article about it. It supports only writes/reads (leaving closes and open for the thread pool) and only if it is page aligned, so mostly for database use.

You are trying to prove something on the internet. If you really think that you are so smart then just wr

[2014-11-13 09:48] txdv commented on #1544
This is not a complete test case.

[2014-11-13 10:03] txdv commented on #1578
here hercules: http://blog.libtorrent.org/2012/10/asynchronous-disk-io/

Some observatios and directions, maybe they will help you when you write the AIO patch.

[2014-11-13 10:09] txdv commented on #1578
https://github.com/lighttpd/lighttpd1.4/tree/lighttpd-1.5.x

http://blog.lighttpd.net/articles/2006/11/12/lighty-1-5-0-and-linux-aio/

[2014-11-13 10:35] omninonsense commented on #1578
This got heated for no reason.

Okay, but on the [README.md](/joyent/libuv/blob/89bc09808f91e170e2486ee63f5a7b1cf0ac28bc/README.md) it's listed as a feature _highlight_, which would imply (at least it confused me in such a way, as it apparently also confused @alexhultman) that there's a thread pool interface which the library user can use. If it's an implementation detail to achieve asynchronous I

[2014-11-13 11:54] txdv commented on #1578
I stand corrected, uv_queue_work exposes the thread pool to the user, but...

The idea of posting long running computational tasks to it though is not a very good one. libuv uses the threadpool internally to emulate async behaviour for blocking only functions(getaddrinfo, fs operations on linux). So if you post 4 long taking computational tasks to it with uv_queue_work(while the thread pool size i

[2014-11-13 12:01] saghul commented on #1579
IURC, the oldest GCC we support is 4.6.

[2014-11-13 12:04] txdv commented on #1578
The limitations are very clearly documented here: http://docs.libuv.org/en/latest/threadpool.html

It is global singleton and the amount of threads is set only by a variable instance. For my personal taste this thread pool sucks for any kind of operations except for emulating blocking operations as non blocking.

I don't know why it is really available to the user....

@alexhultman is a douche, I

[2014-11-13 12:41] saghul commented on #1578
I thought we were all grown ups around here, but it seems not. I'm closing this because this is now how we want our community to work. If you (both) want to use this language / manners just go somewhere else, you are not welcome.

@alexhultman if you think we can do better, by all means, write a patch, benchmark it, and submit it. Some stuff has been attempted in the past, without much success, th

[2014-11-13 12:41] #1578 closed, assigned to nobody

[2014-11-13 12:45] zhaozg commented on #1579
But I modify makefile.ac,and pass build and check maybe others error

[2014-11-13 13:43] zhaozg opened #1581 "src/win/fs.c have not ANSI character, generate warning C4819."
....\portable\libuv\src\win\fs.c : warning C4819: 该文件包含不能在当前代码页(936)中表示的字符。请将该文件保存为 Unicode 格式以防止数据丢失

[2014-11-13 14:25] saghul commented on #1579
Disregard what I said earlier, we support 4.2 which old OSX has. Anyway, if that's all it takes please send a Pull Request :-)

[2014-11-13 14:37] saghul commented on #1581
Not sure what that means, can you translate?

[2014-11-13 14:44] zhaozg commented on #1581
File include character can not display use codepage 936,please save as Unicode format.
I think some specail char include,not ASCII code

[2014-11-16 03:15] ac opened #1582 "socks server sample - conn structure bug"
The "uv_connect_t connect_req;" member of "conn" structure in defs.h should not be inside "union t" because used in same time as "t.addr4" in connect request. So t.addr4 contents overwrites the t.connect_req.

I've moved connect_req on level up, and now socks server works under Windows too.
...
  uv_connect_t connect_req;
  union {
    uv_getaddrinfo_t addrinfo_req;
    uv_req_t req;
    struct so

[2014-11-16 12:18] txdv commented on #1582
can you do a pull request of that change?

[2014-11-16 16:04] ac commented on #1582
Here is the patch:

[code]

[2014-11-16 23:03] laszlo-kiss commented on #1539
FYI: Still occuring on Yosemite (Mac OS 10.10, XCode 6.1)

[code]

[code]

[code]

[code]

[2014-11-19 07:02] zhs077 opened #1583 "handle->write_queue_size >= req->queued_bytes"
发送50KB就会出现这种错误？？？

[2014-11-19 07:34] JacksonTian commented on #1583
Maybe you should give detail, such as stack.

[2014-11-19 11:55] saghul commented on #1583
Also, please use English so we can help you better.

[2014-11-19 18:23] rafahoro commented on #1348
I have the same issue in my code. It solved after commenting the a line to create a pipe with child's stdin (the code below was in my code, not in a library, but may help you finding the problematic line):

[code]

[2014-11-19 18:25] rafahoro commented on #838
I have the same issue in my code. It solved after commenting the a line to create a pipe with child's stdin (the code below was in my code, not in a library, but may help you finding the problematic line):

[code]

[2014-11-20 22:07] #1581 closed, assigned to nobody

[2014-11-20 22:24] tarruda opened #1584 "Invalid write when closing process handle after 1.0.0-rc1"
I've just tried testing [neovim lua client](https://github.com/neovim/lua-client) with libuv 1.0.0 but got some memory errors that were not present in libuv 0.11.29. Here's the relevant valgrind stack strace:

[code]

It happens when the loop is about to be garbage collected by the lua runtime: https://github.com/neovim/lua-client/blob/master/nvim/loop.c#L115-L126.

This error can be reproduced on

[2014-11-21 02:07] adohe-zz commented on #1573
cool :+1:

[2014-11-22 01:38] xzzh999 commented on #1583
I had the same problem before(我也曾出现过这个错误), but when you send data in the loop thread, that would not happen again(但是只要你保证发送的调用和主循环在同一个线程中,就不会有这个问题).
Also you should always use the stable version(同时你也应该尽量使用stable版本).  Otherwise its could cause some strange crash or bad stack errors(否则会导致一些奇怪的崩溃问题或者堆栈错误问题).

Look the follow link or search reference links like it:(查看下面的链接或者搜索相关的链接)
     https://githu

[2014-11-22 01:56] xzzh999 commented on #1544
Well...,yes the code is not completed, but i think i descripted it clear, just  like a common test demo. only diffrent  things is  the wrapper inside i used uv_udp_t or just original block socket, no drop packages and just in lan. And this not happed very offen,...... maybe i test not enough.

[2014-11-22 10:27] txdv commented on #1544
I don't really think that any one will take a look on this unless you provide a small self contained C test case which can be easily compiled and executed.

[2014-11-23 21:49] doppioandante opened #1585 "File system events stop working after file editing with vim"
[code]

The system is a guest inside virtualbox, but this should not be a problem in this case, as the file is not located in a shared folder.
Steps to reproduce:
- Create a file
- Run https://gist.github.com/doppioandante/aadde9de9f5aef503830 using the file path as command line argument
- Edit the file **using vim**, then write using `:w`
  After the file is written, further changes to the file a

[2014-11-23 21:52] indutny commented on #1585
Ok, as figured it out in IRC - the cause is VIM, who creates the tmp file, and removes original file, and moves the tmp file to original file's location. Not an issue.

[2014-11-23 21:52] #1585 closed, assigned to nobody

[2014-11-24 08:46] saghul commented on #1583
Sorry, there is not enough data to debug this issue. If you think you founf one, please open a new issue with a libuv test case showing it so we can debug it. Also, #1409 was not a libuv issue since it's not thread safe to write to a stream from a different thread.

[2014-11-24 08:46] #1583 closed, assigned to nobody

[2014-11-24 09:03] saghul commented on #1545
That got updated, thanks for pointing it out!

I assume you used gyp, in that case, it must be a gyp issue. The pkg-config file is only generated if autoconf is used, and in that case make install does work. If you want The True Unix Experience (TM) use the autoconf build system.

If you thing we should add some extra test to the README, could you write a PR for it?

That's not up for discussion a

[2014-11-24 09:11] saghul commented on #1544
Sorry, we cannot really work with this. If you suspect there is a libuv problem please try to reproduce it by writing a synthetic test case using libuv only.

I didn't spot any obvious mistakes in the code you pasted, but you do ignore return values from several libuv functions which may fail, you should probably check that out.

[2014-11-24 09:11] #1544 closed, assigned to nobody

[2014-11-24 09:32] lhecker opened #1586 "threadpool: add an runtime API analogous to UV_THREADPOOL_SIZE"
If libuv is used as a library for a project, which is not accessible through the command line, it would be really helpful to have a function similiar to this:

[code]

This function could be used to configure the threadpool size, without the need to use UV_THREADPOOL_SIZE, if this function is called before the first call to uv_queue_work, etc. Furthermore in the future this API could be used to dy

[2014-11-24 09:39] saghul commented on #1586
I have a proposal for a change to the threadpool which I plan to puiblish in the upcoming days, let me get back to you then ;-)

[2014-11-24 09:58] lhecker commented on #1586
Oh… That sounds great!

[2014-11-24 13:44] tkelman commented on #1545
@acornejo there's a 3rd-party example of a CMakeLists for libuv here https://github.com/aseprite/libuv-cmake/blob/master/CMakeLists.txt but I can't speak to how regularly it's updated or how fully it supports the same set of platforms as libuv's current gyp and/or autotools. For projects that are already using cmake it would be convenient to be able to manage libuv as an ExternalProject, but I can

[2014-11-25 08:27] saghul commented on #1545
I'm going to close this now. @acornejo @odeke-em feel free to open a PR with the improvements you see fit for the README!

[2014-11-25 08:27] #1545 closed, assigned to nobody

[2014-11-25 09:09] saghul commented on #1586
I just posted the RFC here: https://github.com/libuv/libuv/issues/7 Let's move the discussion there :-)

[2014-11-25 09:09] #1586 closed, assigned to nobody

[2014-11-25 14:27] bnoordhuis commented on #1576
@jrmarino If this is still an issue with the current HEAD of the v1.x branch, please refile your bug report at https://github.com/libuv/libuv/issues and I'll take a look.

[2014-11-25 14:30] jrmarino commented on #1576
hi bnoordhuis -- have you committed a fix then?  I infer from your comment that something has changed and you believe it's been resolved.  If that's the case, I'll be happy to refile over there.

[2014-11-25 14:31] jrmarino commented on #1576
I mean, refile if it's still a problem, of course.

[2014-11-25 14:35] bnoordhuis commented on #1442
The patch looks reasonable to me. @lucab Can you file it as a PR at https://github.com/libuv/libuv?  I don't want to take it as-is because then it won't have proper attribution in the commit history.

Aside, I think we can safely drop the `UV__O_NONBLOCK` define.  I may have been overly cautious with that one.

[2014-11-25 14:38] bnoordhuis commented on #1576
Sorry, no - I haven't committed anything but I haven't tracked recent development very closely either.  What I mean to say is that I don't know if @saghul or someone else has already landed a fix.  But if it's still an issue, I'll be happy to look at it.

[2014-11-25 14:42] lucab commented on #1442
I am not the original author. I already asked the OP to fill a PR here in reply to the debian bug report, but it looks like he is not following up.
I can cook a commit in his name, if you want.

[2014-11-25 15:02] jrmarino commented on #1576
hmm, i'm not tracking either, but I was assuming that if it was intentionally fixed, somebody would post on this issue.  Since nobody has, I'm under the impression it's still broken.

I can try rigging the freebsd/dragonfly port to use to top of the trunk and verify if the problem still exists.  I'll try to do that soon.

[2014-11-25 15:03] saghul commented on #1576
FWIW, this issue was not handled in any way so far. @jrmarino did you try reverting the commit @bnoordhuis referred to?

[2014-11-25 15:10] jrmarino commented on #1576
no, i haven't tried.  it doesn't see bad by itself, so if that commit caused it, it would me there's was an existing check for dragonfly that wasn't removed... (e.g. if freebsd or dragonfly then ...)

[2014-11-25 15:44] piscisaureus commented on #1584
I believe the crash happens because at line 100 the `QUEUE_INIT(q);` statement is removed.
This leads to a crash in QUEUE_REMOVE later on (QUEUE_REMOVE is a no-op if `q` is an empty queue, which is why it didn't crash in the old situation).

[2014-11-25 15:56] tarruda commented on #1584
I've created small test case that reproduces the error:

[code]

Result of running the above program under valgrind(ubuntu 12.04 64 bit):

[code]

Again, reverting @2d5eaea makes the error go away

[2014-11-25 16:09] saghul commented on #1584
I need to further investigate, but IIRC I removed it because after removing the handle from one queue we add it to another, I'll check nevertheless.

@tarruda thanks, that really helps.

[2014-11-25 16:15] bnoordhuis commented on #1442
@lucab Yes please, that would be great.

EDIT: I see you beat me by 37 seconds.  Thanks. :-)

[2014-11-25 16:23] lucab commented on #1442
Telepathy :)
It should probably be propagated across all the branches (master, v1.x, v0.10) though.

[2014-11-25 16:25] saghul commented on #1442
Thanks guys, closing!

[2014-11-25 16:25] #1442 closed, assigned to nobody

[2014-11-25 16:34] bnoordhuis commented on #1442
@lucab Yes, we'll up-merge it around release time (unless you have a pressing need for it now.  If so, just holler.)

[2014-11-25 18:04] schlamar opened #1588 "v0.10: tests don't compile on Windows"
[code]

[2014-11-25 18:25] saghul commented on #1588
Looks like I fucked up the backport of that test, will fix that tonight.

[2014-11-25 21:50] jszakmeister commented on #1584
I can confirm that reverting the processing of the pending list in 2d5eaea, then problem goes away in Neovim: jszakmeister/libuv@80afe31d49ca5acb5d7cdec2b9e63cb6670a729f.

I also tried adding in the `QUEUE_INIT(q)` bit--just blindly as I don't understand the significance of the line (jszakmeister/libuv@96b45e0005a0bda9b4730492d9ba8cf021179555)--and I end up with an assertion error while running th

[2014-11-25 23:11] jbergstroem opened #1590 "libuv 1.0.0: tests fail if ipv6 is missing"
I still get a lot of fails when disabling ipv6 in my linux kernel (3.17.2). Shouldn't these really be skips?

[code]

[2014-11-25 23:19] jbergstroem commented on #1590
I guess another way of approaching this would be checking for ipv6 support through autoconf and just not build/run these tests?

[2014-11-26 07:46] saghul commented on #1590
A patch for skipping tests in absence of IPv6 support at runtime would be welcome, indeed. Please reopen this issue on https://github.com/libuv/libuv, as development has moved there now.

[2014-11-26 07:46] #1590 closed, assigned to nobody

[2014-11-26 08:19] saghul commented on #1584
Allright, I think I caught it. @piscisaureus was right, when a process ends successfully we need to QUEUE_INIT the queue otherwise QUEUE_REMOVE will write those pointers when the process is closed.

@tarruda, can you test this patch?

[code]

Worked for me locally, but it would be great if yoiu could test it integrated in neovim.

[2014-11-26 08:21] saghul commented on #3
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:21] #3 closed, assigned to piscisaureus

[2014-11-26 08:22] saghul commented on #1588
#1589 landed in libuv/libuv, closing.

[2014-11-26 08:22] #1588 closed, assigned to nobody

[2014-11-26 08:23] saghul commented on #32
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:23] #32 closed, assigned to nobody

[2014-11-26 08:23] saghul commented on #36
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:23] #36 closed, assigned to nobody

[2014-11-26 08:23] saghul commented on #91
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:23] #91 closed, assigned to nobody

[2014-11-26 08:23] saghul commented on #105
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:23] #105 closed, assigned to nobody

[2014-11-26 08:24] saghul commented on #133
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:24] #133 closed, assigned to nobody

[2014-11-26 08:25] saghul commented on #134
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:25] #134 closed, assigned to nobody

[2014-11-26 08:25] saghul commented on #159
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:25] #159 closed, assigned to nobody

[2014-11-26 08:25] saghul commented on #172
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:25] #172 closed, assigned to nobody

[2014-11-26 08:25] saghul commented on #194
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:25] #194 closed, assigned to nobody

[2014-11-26 08:25] saghul commented on #231
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:25] #231 closed, assigned to nobody

[2014-11-26 08:26] saghul commented on #328
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:26] #328 closed, assigned to nobody

[2014-11-26 08:27] saghul commented on #468
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:27] #468 closed, assigned to nobody

[2014-11-26 08:27] saghul commented on #494
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:27] #494 closed, assigned to nobody

[2014-11-26 08:27] saghul commented on #505
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:27] #505 closed, assigned to nobody

[2014-11-26 08:27] saghul commented on #521
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:27] #521 closed, assigned to nobody

[2014-11-26 08:27] saghul commented on #527
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:27] #527 closed, assigned to nobody

[2014-11-26 08:28] saghul commented on #573
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:28] #573 closed, assigned to nobody

[2014-11-26 08:30] saghul commented on #592
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:30] #592 closed, assigned to nobody

[2014-11-26 08:30] saghul commented on #686
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:30] #686 closed, assigned to nobody

[2014-11-26 08:30] saghul commented on #726
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:30] #726 closed, assigned to nobody

[2014-11-26 08:32] saghul commented on #1126
We will have a specific handle for this: uv_devite_t, PR is still pending. Closing.

[2014-11-26 08:32] #1126 closed, assigned to nobody

[2014-11-26 08:32] saghul commented on #1176
Closing old stalled issues, please reopen at https://github.com/libuv/libuv if still needed.

[2014-11-26 08:32] #1176 closed, assigned to nobody

[2014-11-26 08:43] saghul commented on #1189
I know you folks are not using libuv anymore, but I'll leave the comment regardless. For 2.0 we plan to change how accepting connections works: https://github.com/libuv/libuv/issues/5 so the user would just stop doing `uv_accept`. Closing.

[2014-11-26 08:43] #1189 closed, assigned to nobody

[2014-11-26 08:45] saghul commented on #1198
Closing, I don't think there is nothing to fix in libuv here. Idf I'm mistaken, please feel free to open an issue at libuv/libuv.

[2014-11-26 08:45] #1198 closed, assigned to nobody

[2014-11-26 08:47] JohannesRudolph commented on #1126
Hi @saghul can you link the PR so we can track this?

[2014-11-26 08:49] saghul commented on #1277
Closing. Feel free to open a PR in libuv/libuv if you plan on working on this.

[2014-11-26 08:49] #1277 closed, assigned to nobody

[2014-11-26 08:50] saghul commented on #1309
Sorry nobody followed up on this. Can you please try with latest 1.0 release and reopen in libuv/libuv if it still applies? Thanks!

[2014-11-26 08:50] #1309 closed, assigned to nobody

[2014-11-26 08:51] saghul commented on #1371
No follow-up, closing. Please open a PR in libuv/libuv if any of you want to work on this.

[2014-11-26 08:51] #1371 closed, assigned to nobody

[2014-11-26 08:52] saghul commented on #1401
Fo follow-up, closing.

[2014-11-26 08:52] #1401 closed, assigned to nobody

[2014-11-26 08:55] saghul commented on #1404
Hi @recp, sorry for the delay. I looked at the code, and I can't really accept it. It changes everything. libuv is a C library, I don't mind helping C++ users, but this goes way too far.

I don't know if there is a simpler way to accomplish the same, but if there is, feel free to open a PR at libuv/libuv, we moved the delopment over there.

[2014-11-26 08:55] #1404 closed, assigned to nobody

[2014-11-26 08:56] saghul commented on #1126
@JohannesRudolph sure: https://github.com/joyent/libuv/pull/1580

[2014-11-26 08:57] saghul commented on #1209
Closing. This should be supported by the new handle proposed in this PR: https://github.com/joyent/libuv/pull/1580

As I mentioned (long time ago), `uv_fs_` are meant to work with regular files.

[2014-11-26 08:57] #1209 closed, assigned to nobody

[2014-11-26 08:58] saghul commented on #1430
Closing, work as begun at https://github.com/joyent/libuv/pull/1574

[2014-11-26 08:58] #1430 closed, assigned to nobody

[2014-11-26 08:59] saghul commented on #1579
Closing, feel free to open a PR at libuv/libuv with the fix you proposed.

[2014-11-26 08:59] #1579 closed, assigned to nobody

[2014-11-26 09:05] saghul commented on #839
I wouldn't object exporing the possibility of creating some "fs_stream" handle, which would use the majority of the stream functions, but as it stands we cannot merge the functionality, we need a new handle for that.

Please open an RFC/issue at libuv/libuv if this is still something you'd like to see / work on.

PS: I'm really sorry for the huge delay...

[2014-11-26 09:05] #839 closed, assigned to nobody

[2014-11-26 09:05] saghul commented on #1216
Closing, please open a PR when you have some code ready for review.

[2014-11-26 09:05] #1216 closed, assigned to nobody

[2014-11-26 09:07] saghul commented on #1246
Closing, please follow this discussion: https://github.com/libuv/libuv/issues/6

[2014-11-26 09:07] #1246 closed, assigned to nobody

[2014-11-26 09:08] saghul commented on #1275
Closing. Currently we have no way to deal with this, nor do I know how to do it, to be honest. If you can come up with a solution, please reopen the issue on libuv/libuv.

[2014-11-26 09:08] #1275 closed, assigned to nobody

[2014-11-26 09:09] saghul commented on #1406
No follow-up, cannot reproduce, closing. If you manage to reliably reproduce it, please reopen at libuv/libuv, we moved the development there.

[2014-11-26 09:09] #1406 closed, assigned to nobody

[2014-11-26 09:10] saghul commented on #1417
I'm closing this now. Feel free to explore the benefits of using GCD and reopen at libuv/libuv with some numbers so we can consider what to do.

[2014-11-26 09:10] #1417 closed, assigned to nobody

[2014-11-26 09:11] saghul commented on #1450
Closing, here is the proposal for the new API: https://github.com/libuv/libuv/issues/5 The user would just need to stop calling `uv_accept`.

[2014-11-26 09:11] #1450 closed, assigned to nobody

[2014-11-26 09:11] saghul commented on #1491
No follow-up, closing.

[2014-11-26 09:11] #1491 closed, assigned to nobody

[2014-11-26 09:12] unknownbrackets commented on #1404
To workaround this myself, I used a simple ticket / unordered_map system and mutexes, which I think is not unlike what node.native does.  But there is extra overhead since it has to look up the stored std::functions.

You can of course do simple member functions using data as a context pointer with a simple dispatch function.

-[Unknown]

[2014-11-26 09:13] saghul commented on #1573
The move has happened. We are now starting fresh at https://github.com/libuv/libuv and some new ideas are already being proposed: https://github.com/libuv/libuv/labels/rfc

I'd still like to get the repo handed over though.

[2014-11-26 10:11] tarruda commented on #1584
:+1: Worked nicely. When you push a new tag with this patch we'll point neovim bundled libuv to it, and it will be checked on every PR by our CI(we'll try to always use the latest libuv tag)

[2014-11-26 10:13] tarruda commented on #1198
:+1:  Neovim has changed the way it uses libuv and this is no longer an issue

[2014-11-26 10:16] saghul commented on #1584
Thanks for confirming @tarruda! Landed in https://github.com/libuv/libuv/commit/c0ea37cf30d64b778fea39ccd3a788dcc61185df

[2014-11-26 10:16] #1584 closed, assigned to nobody

[2014-11-26 13:46] saghul commented on #1510
Closing, continues on https://github.com/joyent/libuv/pull/1522

[2014-11-26 13:46] #1510 closed, assigned to nobody

[2014-11-26 14:15] Fishrock123 commented on #1573
:+1:

[2014-11-26 14:20] lloydwatkin commented on #1573
[code]

You forgot about becoming a t-shirt company too :)

Good luck!

[2014-11-26 16:10] fengmk2 commented on #1573
:+1:

[2014-11-26 16:47] recp commented on #1404
Hi @saghul I see that the last idea changes everything because of moving to C++ completely, you're right. But I think we can still consider the first approach or like this without change the existing C codes. I mean that adding some cpp files for just supporting member funcs without modifing the existing files even though file extension. I'll work again on this as soon as possible I can, and try a

[2014-11-26 16:49] saghul commented on #1404
@recp sure, if there is a way which we can agree upon I'll be happy to merge it!

[2014-11-26 16:54] recp commented on #1404
I'm glad to hear that, thank you very much @saghul

[2014-11-26 16:57] recp commented on #1573
:+1:

[2014-11-26 17:55] kaushal commented on #1573
:+1:

[2014-11-26 19:09] joaojeronimo commented on #1573
So... when is the same going to happen with node.js ;) ?

[2014-11-26 19:25] gkze commented on #1573
^ ^ :+1: :+1:

[2014-11-26 19:27] Fishrock123 commented on #1573
@joaojeronimo Joyent has trademarks on "node.js". Also, the contributors and such are very different. it's a much more complex situation, unfortunately.

(note: this _is_ off-topic here. See https://github.com/node-forward)

[2014-11-26 19:33] ghmlee commented on #1573
Cool. :+1:

[2014-11-26 19:38] pradeep-mishra commented on #1573
ok :+1:

[2014-11-26 23:25] splinterofchaos commented on #1404
@recp FWIW, gcc [has an extension](https://gcc.gnu.org/onlinedocs/gcc/Bound-member-functions.html) that lets you convert members to regular function pointers, but you don't really need that if you define your callback as a function that calls the member of some global or do an unsafe cast to the appropriate callback type and put your object as the _data_ for the callback.

[2014-11-26 23:46] tkelman commented on #1573
Would be ideal to see this as a repository ownership move (so url's get automatically redirected, etc) instead of a fork. Hopefully that's planned but just hasn't happened yet.

[2014-11-27 00:52] jmcbee commented on #1573
:clap:

[2014-11-27 07:46] Tushkiz commented on #1573
Cool, keep up the good work. :clap:

[2014-11-27 17:53] recp commented on #1404
@unknownbrackets I've never experienced with node.native, I just wanted use member-fn (maybe also lambda) as cb, not change/create-a-new libuv completely like node.native, also it seems the project need to maintenance for newest versions of libuv

@splinterofchaos, I'm not sure for use this gnu-ext or not but I'll take a look at this extension, thank you for the information

[2014-11-27 17:59] felipealmeida commented on #1404
Is writing to poll->data allowed for the user?

[2014-11-27 18:14] unknownbrackets commented on #1404
@recp will, lambda will afaik require more than just ->data, unless you store a pointer to a std::function, so long as you use arguments.  It's not just a context pointer and func pointer.

@felipealmeida yes.  That's its goal in life.  See here:
http://nikhilm.github.io/uvbook/utilities.html#passing-data-to-worker-thread

-[Unknown]

[2014-11-27 19:25] felipealmeida commented on #1404
You can use the code below to use it like this:

[code]

https://github.com/felipealmeida/libuv-template-data-pointer

http://pastie.org/9747382
http://pastie.org/9747384

[2014-11-28 15:01] #1573 closed, assigned to nobody

[2014-11-29 09:11] sjonnet19 commented on #1573
I would have proposed to move the repo as a such to keep issues, stars and followers.

[2014-11-29 09:20] saghul commented on #1573
I did ask in the original message, but its up to Joyent. It could still
happen, but if it doesn't I personally don't mind. Onwards and upwards!
On Nov 29, 2014 10:11 AM, "Shawn Jonnet" notifications@github.com wrote:

[2014-11-30 15:09] recp commented on #1404
Hi @felipealmeida, I've looked at this stuff a bit. Thank you for sharing your idea/codes...

I think we really don't need an invoker/fn-caller. If we will use wrapper functions for C++ for invoking callbacks, I think we can use like this (brief):

file uv-cpp.h:

[code]

file uv-cpp.cc:

[code]

Some uv functions need multiple callbacks so we can store them into STL container or static array... a

[2014-11-30 18:16] mcanthony commented on #1573
Being that libuv competes with some well established libraries of a similar nature I am inclined to think Joyent may try to hold onto libuv for the "innovation" it represents. I assume because of the way this thread reads no one had contacted Joyent prior to the decision to declare the project community ran (officially and otherwise). If Joyent had been approached by the community this move would

[2014-11-30 18:25] mikeal commented on #1573
@mcanthony Joyent has no current contributors working on libuv and hasn't for some time. It has been maintained and released by people outside of Joyent for quite a while. Joyent knows that the community wanted to move the project but declined to comment publicly or to move the project. At the same time, they are not committing to contributing to the project, maintaining or releasing it. The _proj

[2014-12-01 08:37] saghul commented on #1559
Closing.continues in #1565

[2014-12-01 08:37] #1559 closed, assigned to nobody

[2014-12-02 08:18] saghul commented on #1539
This one was also reported recently on libuv/libuv and a fix landed for it there (v1.x branch). Please try it out and if it's still a problem for you open an issue there. Thanks!

[2014-12-02 08:18] #1539 closed, assigned to nobody

[2014-12-02 08:19] saghul commented on #1505
Closing. If you'd like to take a stab at this please open a PR at libuv/libuv.

[2014-12-02 08:19] #1505 closed, assigned to nobody

[2014-12-02 08:22] saghul commented on #1550
Sounds like a timing issue. Can you edit the test and put a higher number like 10 for the timeout (test/test-timer.c, line 283) ?

[2014-12-03 05:50] jbergstroem commented on #1539
Confirmed! Thanks.

[2014-12-03 20:24] misterdjules opened #1594 "Put back dtrace probes"
dtrace probes [have been removed recently](https://github.com/joyent/libuv/issues/1478) because:
- They were causing build issues on some platforms.
- Only 2 probes were defined, which even on a platform where they would work properly, was not considered a sufficient use case.

However, given the usefulness of dtrace probes for troubleshooting issues in general and in node.js, my opinion is that w

[2014-12-04 08:09] saghul commented on #1594
I don't disagree :-) If you are willing to do the work please open an issue / PR at https://github.com/libuv/libuv so we can discuss the way forward.

[2014-12-04 08:09] #1594 closed, assigned to nobody

[2014-12-05 01:00] equalsraf commented on #1382
Hi, I've bumped into the same issue described in #1451 (duplicate?), Windows MSVC 2013

[code]

This particular issue seems to be caused by defining a static snprintf in task.h. A quick (but dirty) workaround is to define it as `__inline`

[code]

Then I get the following errors

[code]

These would come from libuv, but since it a shared lib they cannot be used. Just as an example, an equally dirt

[2014-12-05 01:57] equalsraf commented on #1382
Now for the Linux part of this bug, I was able to replicate as described. As in windows it seems to be a problem with accessing symbols from the shared library, but in fact it is a different issue altogether

First look at the linked libraries for the run-tests executable:

[code]

libuv is nowhere to be found, it makes sense that LD_LIBRARY_PATH fails to fix the issue, the linker cannot load a li

[2014-12-05 07:50] ramesh-rayaprolu commented on #1275
@saghul,

Sure, right now I have my alternate solution (as described before) within my application. It does not seem to be a serious issue, otherwise our test teams would have been on me by now. However, I still feel it can be dealt with inside libuv.

Right now, I am working on other stuff, and I shall re-open the issue whenever I get back on this.

Thanks,
Ramesh

[2014-12-05 09:40] txdv commented on #1275
What OS are you using?

[2014-12-06 07:58] ff2000 commented on #1539
@jbergstroem is this really fixed for you? I checked out v1.x branch, ran git clean -dfx.
Built with ./autogen.sh ./configure make check-TESTS and spawn_reads_child_path still fails.

[2014-12-06 08:05] jbergstroem commented on #1539
@ff2000 Make sure you're pulling from the libuv/libuv repo and not this one.

[2014-12-06 08:57] ff2000 commented on #1539
@jbergstroem did you in the meantime install libuv-1.0.1 systemwide?
Because I just did it, and I couldn't believe it - tests passed. Uninstalled it again, did the whole git clean -> build -> runtests-procedure -- and that one test failed again!
Also reverting (manually) the commit I bisected in lubuv/libuv#40 makes it work again.

Well, and now I know why :/ I have installed neovim+pyuv against l

[2014-12-06 09:11] jbergstroem commented on #1539
@ff2000 Although I do tests with the libuv packaged in gentoo, I try to not throw portage/emerge into the mix while investigating libuv test issus (well, no package in general). As for gentoo my goal is to bump the package shortly and remove the slot since the abi isn't really to be trusted before 1.0.0 (even -rc's are breaking). If you like to talk further about gentoo, lets keep this out of libu

[2014-12-06 09:19] ff2000 commented on #1539
I mentioned portage/preserved_libs only because that was the reason for libuv.so.11 still being present in /usr/lib64. As soon as I remove them tests also fail with v0.11.29 branch, so this issue should not be limited to Gentoo/portage, but it should affect every system.
Just to make it clear: I am currently building+running tests solely in $HOME/src/libuv, no portage+FEATURES="test"/... involved.

[2014-12-06 09:39] ramesh-rayaprolu commented on #1275
I am using it on 64 bit centos 6.4. kernel ver - 2.6.32-358. Does it matter in any case ?
Or, do you think 3.x kernels might have different behavior WRT NFS mounts ?

Few weeks back, I really wanted to try using centos 7 and test the scenario, but our project is still using only centos 6.4 (i cant justify upgrading to centos7 yet).

please let me know if you have any better idea..

[2014-12-06 10:01] ff2000 commented on #1539
Bisected again and now the first bad revision is the one that introduced this specific test.
c7e4b31444c946230609

[2014-12-06 11:42] ff2000 commented on #1539
One last note:
Building with gyp results in test SUCCESS for spawn_reads_child_path:

[code]

So this might (should) be an autotools issue. I use autoconf-2.69 and automake 1.13.4.
Now I only experience this issue: https://github.com/libuv/libuv/issues/43.

[2014-12-09 11:08] saghul commented on #1534
Closing, https://github.com/libuv/libuv/pull/47 landed, so now you won't need to do anything, the handle stops itself.

[2014-12-09 11:08] #1534 closed, assigned to nobody

[2014-12-12 11:37] misora-cc opened #1595 "libuv-1.0.0-stable fail in uv_winsock_init"
uv_fatal_error() is called in uv_winsock_init() caused by  bad LSP dlls.

[2014-12-15 21:04] piscisaureus commented on #1595
- Libuv has moved to https://github.com/libuv/libuv
- Your bug report is very sparse, I'm not even convinced this is actually a bug.

[2014-12-15 21:04] #1595 closed, assigned to nobody

[2014-12-16 02:53] jrmarino commented on #1576
It looks like bnoordhuis was correct.  With this patch, libuv v1.0.2 builds on DragonFly:

[code]

I guess uv.gyp already provides these sources. (?)

[2014-12-18 15:34] frqnck commented on #1539
Failling one assertion here with autotools on Darwin Kernel Version 14.0.0 (Mac OS 10.10):

[code]

[2014-12-18 15:40] frqnck opened #1596 "On assertion failling (Darwin Kernel Version 14.0.0)"
[code]

Building with autotols. Branch is 'v1.x' (master)!?

[2014-12-19 01:26] Raynos commented on #1099
@indutny @goffrie can we back port this to 0.10 ?

[2014-12-19 01:43] goffrie commented on #1099
It's in a 0.10 release already, though I can't remember the version number
off hand.
On Dec 18, 2014 5:26 PM, "Raynos (Jake Verbaten)" notifications@github.com
wrote:

[2014-12-19 02:00] Raynos commented on #1099
@goffrie I found the commit, thank you :)

[2014-12-22 09:29] saghul commented on #1596
Please open issues at https://github.com/libuv/libuv, development moved over there.

[2014-12-22 09:29] #1596 closed, assigned to nobody

[2014-12-22 09:30] saghul commented on #1576
It's fixed in libuv/libuv, v1.x branch. Closing.

[2014-12-22 09:30] #1576 closed, assigned to nobody

[2014-12-29 21:42] scunningham opened #1597 "Creation of full duplex pipe via spawn causes deadlock on Windows."
Recently tried to use the UV_CREATE_PIPE support in spawn to create a full duplex pipe.  The methodology used is as follows:

Parent Process:

1) Create a full duplex pipe on stderr shortly before calling spawn:

[code]

2) Start read on the newly created pipe:

[code]

Child Process:

1) Create a pipe object using uv_pipe_open:

[code]

2) Start read on newly created pipe:

[code]

3) Write a pay

[2015-02-09 22:23] jnicholls opened #1598 "Utilize lock-free queue for worker thread pool"
I think it would be far more efficient to utilize a lock-free queue (e.g. using compare-and-swap) to hand work off to the worker threads rather than using a mutex.  Has this even been considered and/or benchmarked against a lock-free queue for applications that are heavily utilizing the worker thread pool for blocking file I/O, etc.?

[2015-02-10 07:04] saghul commented on #1598
No, this hasn't been benchmarked,but I'm curious to see some numbers :-)
On Feb 9, 2015 11:23 PM, "Jarred Nicholls" notifications@github.com wrote:

[2015-02-10 08:03] saghul commented on #1598
Ups, wrong project, closing.

[2015-02-10 08:03] #1598 closed, assigned to nobody

[2015-02-10 13:12] saghul commented on #1512
Moved to https://github.com/libuv/libuv/issues/195

[2015-02-10 13:12] #1512 closed, assigned to nobody

[2015-02-10 14:03] jnicholls commented on #1598
Haha sorry, I mirrored it over at https://github.com/libuv/libuv/issues/188

[2015-03-06 10:46] swinghu commented on #876
If you still have same problem ,it may be cause by "build-essential"
You should do sudo apt-get install build-essential libtool

reference:http://unix.stackexchange.com/questions/118550/autoreconf-fails-with-cant-exec-libtoolize

[2015-03-10 11:37] saghul commented on #1597
https://github.com/libuv/libuv/issues/95

[2015-03-10 11:37] #1597 closed, assigned to nobody

[2015-03-12 03:28] Falven opened #1599 "OSX 10.10.2 issues."
Hello,
I have manually installed libtool-2.4.6 and can verify:
`which libtoolize` : `/usr/local/bin/libtoolize`
`libtoolize --version` : `libtoolize (GNU libtool) 2.4.6`
I have manually installed automake-1.9 and can verify:
`which automake` : `/usr/local/bin/automake`
`automake --version` : `automake (GNU automake) 1.9`
I have manually installed autoconf-2.69 and can verify:
`which autoconf` : `/

[2015-03-12 08:07] saghul commented on #1599
Wrong project.