[2011-04-18 05:07] ry opened #3 "check that echo_server doesn't return non-zero during ping_pong test"
test-runner bug - it should fail if a helper fails.
@gissues:{"order":75,"status":"backlog"}

[2011-04-18 05:08] ry opened #4 "class structure for uv_handle_t like in ev_watcher"
oio_tcp_handle
  oio_npipe_handle
  oio_file_handle
  oio_tty_handle
  oio_timer_handle ?

[2011-04-18 05:10] ry opened #5 "test wanted: oio_* methods should fail if req param hasn't been initialized"
Should oio_req need to be initialized before each use? Currently in Linux  this is necessary.

[2011-04-18 05:10] ry opened #6 "invoking ASSERT and FATAL should require semicolons"

[2011-04-18 05:11] ry opened #7 "FATAL should take a string"
dup

[2011-04-18 05:11] ry opened #8 "FATAL should take a string"

[2011-04-18 05:11] #7 closed, assigned to piscisaureus

[2011-04-18 05:14] ry opened #10 "test wanted: server calls oio_accept() several ticks after on_accept was called"
this should be okay.

[2011-04-18 05:14] ry commented on #10
use timer?

[2011-04-18 05:20] ry opened #11 "Wanted: benchmark executable"
Similar to the test executable (and using the `test/test.h`) to run benchmarks in a cross platform fashion. First bench: max one-way TCP throughput between two sockets.

Want output to be simple and parsable for future CI system.

[code]

[2011-04-18 06:01] ry opened #12 "close_cb_stack should be in a file of similar name"
that is, rename `test-callback-stack.c`

[2011-04-18 07:04] ry opened #13 "oio_accept() should require oio_tcp_handle_init() called before"
because it makes the system much simpler on unix

[2011-04-18 07:05] ry commented on #13
test changed in 2ba25c8249f562d37c4dcc111111e55f647d08a3

[2011-04-18 07:23] ry opened #14 "rewind_cursor should return void, if we're not checking return value."

[2011-04-18 07:30] #6 closed, assigned to piscisaureus

[2011-04-18 07:30] #8 closed, assigned to piscisaureus

[2011-04-18 07:35] ry commented on #12
in general i would like all of the tests to have a similar filename so that i can make my Makefile easier.

tests should have the form `test-*.c`. All other files should not: `test-runner.c` should change to `runner.c` (or something)

[2011-04-18 09:48] piscisaureus commented on #12
Allright. I imagined having multiple tests in one file, hence test-<something>-stack in test-callback-stack.c.

[2011-04-18 09:52] piscisaureus commented on #13
Isn't it possible to do call tcp_handle_init implicity from oio_accept on linux?
On windows this complicates stuff because socket options are set and iocp association is made in tcp_handle_init.
That work is wasted when you call oio_accept because the accepted socket is a different one.

[2011-04-18 09:54] piscisaureus commented on #3
Then there needs to be a way to gracefully shutdown echo_server.

[2011-04-18 09:57] piscisaureus commented on #4
yes

[2011-04-18 10:06] ry commented on #13
ok - i can do.

[2011-04-18 10:09] ry commented on #3
not necessarily- you can use the process_wait with a small timeout on each of the helpers after the main process exits. if process_wait has not timed out then kill the helper and assume everything is fine.

[2011-04-18 10:14] piscisaureus commented on #5
I don't care. If it makes your life easy, we can do this.
We shouldn't _guarantee_ that oio_\* failes if oio_req is uninitialized. It is difficult to check, because the user allocates oio_req memory himself -- (oio_req->flags & OIO_REQ_INITIALIZED) might be true even if oio_req_init was never called.

[2011-04-18 10:19] #13 closed, assigned to ry

[2011-04-18 10:21] ry commented on #13
did a force push just then. the actual fixing commit is c3eda7a4daea6036eecaac5f268a6b0f86cb9b82

[2011-04-18 10:24] ry commented on #5
agreed. it's up to us to have asserts on each implementation. closing.

[2011-04-18 10:24] #5 closed, assigned to nobody

[2011-04-18 10:25] ry commented on #12
Ah, okay. That makes sense.

 i still would like `test-runner.c` to be called something else.

[2011-04-18 10:30] ry commented on #3
sorry - above was accidentally pushed. it's not in the history any longer

[2011-04-18 10:32] ry commented on #3
something like this https://gist.github.com/925116 would catch crash errors from echo_server

[2011-04-18 10:41] piscisaureus commented on #3
Looks good.
- should we change process_wait to not take a vector? We're not using it anyway.
- Is the race condition intentional? During `if (timeout) {terminate(); wait();}` the process can still exit gracefully. But if that happens the timeouts in are probably wrong, so it's good that ASSERT(result != 0); fails.

[2011-04-18 12:47] piscisaureus commented on #4
- No timer handle
- The drawback of having multiple handle classes is that you need multiple oio_read and oio_write implementations _or_ the user needs to cast every time read / write is called.

[2011-04-18 12:48] piscisaureus commented on #12
I renamed the runner to just "runner".

[2011-04-18 12:48] #12 closed, assigned to piscisaureus

[2011-04-18 12:54] piscisaureus opened #15 "Need a way to return failed oio_req to the user."
consider:

void after_read(oio_req *req, int read) {
  free(req);
}

oio_handle_init(&handle, close_cb);

req = (oio_req*)malloc(sizeof(oio_req));
oio_req_init(req, &handle, after_read);
oio_read(req, &whatever_buf, 1);

oio_close(&handle);
// after_read is never called -> allocated req leaked.

[2011-04-18 15:33] luislavena opened #16 "MinGW errors and Makefile?"
Hello,

I was peeking into the project (heard from Rubinius guys at CodeConf) and was trying to build it using mingw-w64 GCC native on Windows.

http://mingw-w64.sourceforge.net/

It seems there are only two supported builds: Unix Makefile, which depends on libev and Windows solution files for Visual Studio.

Attempt to compile locally with it resulted in warnings and failure:

https://gist.github

[2011-04-18 16:14] piscisaureus commented on #16
The library and test runner now builds without error using MinGW. I didn't try with mingw-w64 as I don't have that on my machine and I'm not installing it anytime soon.

A makefile for MinGW builds _is_ welcome although it may be a little early to start maintaining that; I think it should be based on the linux makefile and I expect that one to change a lot.

[2011-04-18 16:20] luislavena commented on #16
Can you tell me which version of MinGW did work for you?

GCC 3.4.5, official build from mingw.org:

https://gist.github.com/925638

mingw-w64 in 32bits mode provides better headers, but normally everything should work.

I can create a Makefile for it, but first need to get it to compile ;-)

[2011-04-18 16:23] luislavena commented on #16
Scratch that, forgot to pull.

Now both 3.4.5 and 4.7.0 experimental compiles perfectly. Will create a makefile and supply in a pull request. Thank you.

[2011-04-18 17:07] ry commented on #3
let's keep the vector. i'll land this once i figure out how to wait with timeouts in unix - it's not so easy.

[2011-04-18 17:08] ry commented on #4
casting isn't a big deal

[2011-04-18 17:16] piscisaureus commented on #16
I'm changing a bit more because apparently the "normal" MinGW sucks.

[2011-04-18 17:38] piscisaureus opened #17 "License tracking"
Purpose of this issue is to track 3rd-party code that has been integrated with liboio. Some day we'll need to add a proper license statement.
- tree.h (from FreeBSD; 2-clause BSD license)
- ngx_queue.h (from nginx)
- libev

[2011-04-18 17:56] ry commented on #15
before the close_cb all pending reqs should have their callback called.

[2011-04-18 17:57] ry commented on #15
need tests for this.

[2011-04-18 17:59] ry commented on #17
thanks for reminding me. i'll add a license file with exceptional copyrights

[2011-04-18 18:11] #17 closed, assigned to nobody

[2011-04-18 18:12] piscisaureus commented on #15
Need api first. How is the callback gonna tell if the request completed successfully or if it was cancelled?

[2011-04-18 18:28] ry commented on #16
can the makefile be the same as the linux one? i'd like to attempt to setup a cross-compile env here

[2011-04-18 18:32] ry commented on #15
we could have an err param for each cb

[2011-04-18 18:35] ry commented on #15
alternatively add a function:

[code]

[2011-04-18 19:09] piscisaureus commented on #15
Let's have an extra argument to the callback.
void after_read(oio_req *req, int cancelled);
cancelled is nonzero if the request failed / was cancelled.

[2011-04-18 19:29] ry commented on #15
sure

[2011-04-18 19:31] luislavena commented on #16
@ry, yes, it could be the same, but dependencies on libev and `-unix` files will need to be conditional.

Let me think about it a bit more and will send a pull request.

[2011-04-18 19:32] piscisaureus commented on #16
You'll also need to link with libws2_32.a, and leave out libev.

[2011-04-18 20:18] piscisaureus opened #18 "x-platform error handling"
Need an API for it.
- Define error constants / strings / ... to unambiguously identify errors in a portable way.
- Retain the original error code somewhere so the platform's strerror / FormatMessage functionality can be used.
- Do it in a way that integrates nicely with node, and play nice with other parts of node that also report system errors.

[2011-04-18 20:40] piscisaureus opened #19 "IPv6 support"
The purpose of this issue is mainly to annoy Ryan.
Besides, we _do_ need IPv6 support.

[2011-04-19 05:05] ry commented on #19
sure - it's easy to add. let's put it off until we have to fix the ::1 test in node.

[2011-04-19 05:07] ry commented on #18
I think we should define our own messages instead of using strerror. We do not need to retain the original code.

I'd like the error codes to be Unix-y, e.g. `OIO_CONNRESET`

[2011-04-19 09:21] ry opened #20 "remove oio_write2"

[2011-04-19 09:34] ry commented on #18
we will use int only for errors: 111536c9e567a08530516b904c6d7f34d307538a

The library needs to have a [one-to-one mapping](http://en.wikipedia.org/wiki/Injective_function) from the OS error codes into the OIO error codes. This will allow strerror look ups given any _used_ OIO error code.

[2011-04-19 11:32] piscisaureus commented on #18
I agree that 1 to 1 mappnings would be ideal. The only thing is that windows has this:

[code]

So do you want to have OIO_EMFILE1 and OIO_EMFILE2? That sucks.

I think it would be better if we left the error number untouched, and then provide something like:

[code]

Also maybe we shouldn't use int -- users will be tempted to make assumptions.

[code]

[2011-04-19 11:45] piscisaureus commented on #18
Or we could not expose error numbers at all. Just use `const char* oio_last_err()` and `char* oio_last_err_describe()` to obtain a symbolic name and a description for the last error.

[2011-04-19 12:49] piscisaureus opened #21 "Tests: don't require separate TEST_IMPL and BENCHMARK_IMPL for helper processes."
see https://github.com/joyent/liboio/commit/1a99dcc980d273d04a539b3baf30191a46e76cb6#L4R148

[2011-04-19 12:58] #21 closed, assigned to piscisaureus

[2011-04-19 14:29] piscisaureus commented on #11
Closed in 2cbcbdd1a4bdd87827b2 and 53f9d5a8411dc2db0d2c

[2011-04-19 14:29] #11 closed, assigned to piscisaureus

[2011-04-19 14:33] piscisaureus opened #22 "oio_req.type should be private"
Because the possible oio_req types differ between platforms.

[2011-04-19 14:35] piscisaureus commented on #20
I agree

[2011-04-19 14:42] piscisaureus opened #23 "Unix: support write queuing"

[2011-04-19 15:06] piscisaureus opened #24 "Windows: allow the user to defer calling oio_accept"

[2011-04-19 15:07] #20 closed, assigned to nobody

[2011-04-19 16:10] ry commented on #18
we should wrap the errnos for full control. i guess the mapping can't be one-to-one given your example, but you'll still need a way to take OIO_EMFILE and pull it back to one of those two codes.

[2011-04-19 16:13] ry commented on #23
let's show it failing in a test first

[2011-04-19 16:14] ry commented on #24
it should be failing a test first. see #10.

[2011-04-19 16:24] piscisaureus commented on #18
Sure. This is what I mean: we keep the original OS error number somewhere. We expose two apis, one that translates the error number to a cross-platform symbolic name, and another api that lets the os describe the error.

[2011-04-19 16:29] ry commented on #18
my pref would be for a single int. if you want `struct { int errorno; int os_errorno; };` then go ahead.

[2011-04-19 16:43] piscisaureus commented on #18
Then that "single int" shall be the original OS error number.
We provide an API for translating that to a platform independent error.

I think the most convenient would be:

[code]

[2011-04-19 16:49] ry commented on #18
I want the values of the codes to be cross platform - otherwise we're leaking platform specific stuff into the program. We should have our own set of error descriptions.

(But obviously having some way of accessing the platform's error strings is going to be important for debugging.)

[code]

[2011-04-19 17:12] piscisaureus commented on #18
Ok, so we could have:

[code]

Ok, but bear in mind that windows defines _a lot_ (several thousands) of error codes. So either we're going to ignore a lot of them, or we'll add a 100kb or more to the executable. Most of these errors you'll rarely see if ever, but when you _do_ encounter one and liboio only tells you "unknown error", debugging is going to suck bigtime. And it'll likely affect node

[2011-04-19 22:37] piscisaureus commented on #18
OK some final details. We agreed that functions return 0 on success and -1 on failure.
- You want to store errors on a per-handle basis or globally? So would we use oio_last_error() or oio_last_error(handle) to obtain the error. The latter is less convenient but more flexible imho.
- What to do with callbacks that have an error parameter (currently connect_cb and close_cb). Should 'error' be the a

[2011-04-19 22:47] ry commented on #18
- I think we should follow Windows and do `oio_last_error(void)`
- i also vote for second option.

[2011-04-19 23:31] ry commented on #10
depends on #24

[2011-04-20 00:08] piscisaureus commented on #15
To be rubber-stamped:

[code]

[2011-04-20 00:25] ry commented on #15
_stamp_

[2011-04-20 00:47] #15 closed, assigned to piscisaureus

[2011-04-20 00:47] #18 closed, assigned to ry

[2011-04-20 17:25] bigeasy opened #25 "Build in Visual Studio Express 2010"
I've been able to follow along find in Visual Studio Express 2010. Keeping the Visual Studio Projects at the Express level will make it easier to get new developers involved, since there is no cash requirement beyond the Windows license.

With the latest Visual Studio solution file, there is a new feature in use, "Solution Items", that is disabled on Visual Studio Express. The code appears to buil

[2011-04-20 17:27] ry commented on #25
I agree, if at all possible we should target Express.

[2011-04-20 17:44] piscisaureus commented on #25
It currently doesn't build in express because it doesn't build at all.

[2011-04-20 17:46] bigeasy commented on #25
I know.

I'm noting that I get a warning message that "Solution Items" are not supported. An there is grayed area in the sidebar.

I noting this before someone sinks eight hours into the perfect "Solution Items" configuration.

[2011-04-20 17:50] ry opened #26 "Port to macintosh"
Note the use of the linux specific `/proc/self/exe` in `test/runner-unix.c`.

[2011-04-20 17:50] ry opened #27 "Port to Solaris"
note the use of the linux specific `/proc/self/exe` in `test/runner-unix.c`

[2011-04-20 18:34] piscisaureus commented on #25
VS express 2010 will be supported. If there are problems, you should indeed create a an issue.

Wrt. the "solution items", it's just a stale reference. I'll remove it in a minute.

[2011-04-20 18:35] #25 closed, assigned to nobody

[2011-04-20 19:19] bigeasy commented on #25
Thank you. If in the future there's a new issue, I'll reopen this issue so that we can keep the conversation in one place.

[2011-04-21 22:47] #10 closed, assigned to piscisaureus

[2011-04-21 22:48] piscisaureus commented on #24
Test landed in c61b38f

[2011-04-21 23:43] piscisaureus opened #28 "Graceful and disgraceful disconnect"
Thinking about it makes my head hurt. But here's what:
## Disgraceful disconnect

Currently, calling oio_close(handle) before the write queue is empty thrashes all data in the write queue. However the kernel will try to do a do a graceful disconnect anyway, so the client thinks he's received all data. This may be undesirable; an incomplete transfer should be recognizable as such by the other end.

[2011-04-22 00:07] ry commented on #28
- Should we track which ends of the stream have been closed or should the user do that?

I think we should, yes. This is a bit higher level than the systems interfaces - but we get to know more.
- Should oio_close be called automatically when a socket has been shut down at both ends?

Well - close() should be called automatically and the on_close callback fired.
- What if the user isn't reading th

[2011-04-22 02:49] bigeasy opened #29 "Create simple benchmark program."
Create a simple bench mark server that writes 10K bytes to to a simple client.

[2011-04-26 05:03] ry opened #30 "test runner should not have a new-line below the progress bar when running"
Once you figure out the fix for Win change
https://github.com/joyent/liboio/blob/master/test/runner-unix.c#L293
to be `printf("\033[2K\r");`

[2011-04-26 05:06] ry opened #31 "writealot fails on linux"
with timeout

[2011-04-26 05:15] ry commented on #23
see #31

[2011-04-26 06:14] ry opened #32 "test wanted: EPIPE - fail during a write"
this can be done by connecting - killing the helper (through some means...) and attempting to write to it. We should get `OIO_EPIPE` from `oio_write_cb`. Question: should the handle be closed automatically? I think so.

[2011-04-26 06:18] ry opened #33 "test wanted: oio_read into multiple oio_bufs"

[2011-04-27 11:27] piscisaureus opened #34 "Distinguish pending and nonpending requests"
As discussed, oio_write, oio_read and oio_connect _might_ complete synchronously. When that happens the request callback will not be made. How do we tell the user that this happened?

options:
-  Return 0 on immediate completion, return -1 and set the last error to OIO_PENDING when the request pends.
-  Return 0 on immediate completion, -1 on error, and -2 when the request pends.

remarks:
- Maybe

[2011-04-27 13:57] ry commented on #34
also it does not call the callback on immediate completion.

I like option one - as it's more windows-y

[2011-04-27 14:02] piscisaureus commented on #34
"When that happens the request callback will not be made."
I think we agreed on beforehand. :-)

[2011-04-27 14:09] ry commented on #34
How do you get the return value of `oio_read` - number of bytes read?

[2011-04-27 14:11] piscisaureus commented on #34
Return it? Use int instead of size_t. Also merge the status and nread arguments for oio_read_cb, make that an int too. People are not going to read/write > 2gb of data in one req anyway.

[2011-04-27 14:14] ry commented on #34
Why `int`? Should be `ssize_t`

[2011-04-27 14:15] piscisaureus commented on #34
Oh yes that's okay -- I wasn't aware of the existence of ssize_t.

[2011-04-27 14:21] ry commented on #31
issue #34 needs to be fixed first

[2011-04-27 14:23] ry commented on #23
Mostly complete in 95394439050bcbadf9180f79adaf36d0d659a671. Waiting on #34 to be resolved before it can really work.

[2011-04-27 22:31] josh commented on #26
A fix for the executable path issue, #35.

[2011-04-27 23:19] #26 closed, assigned to nobody

[2011-04-28 19:19] #30 closed, assigned to nobody

[2011-04-30 12:54] luislavena commented on #16
Hello,

I was not able to associate a pull request and since my current makefile is incomplete, decided to gist it instead:

https://gist.github.com/949647

It misses the benchmark tasks because I'm unable to compile yet:

`make -f Makefile.mingw`

Produces this: https://gist.github.com/949649

Also the makefile is able to provide basic cross-compiler support. Either you can compile natively on Wi

[2011-05-03 22:42] #14 closed, assigned to nobody

[2011-05-04 00:35] piscisaureus opened #36 "Tests wanted: write/shutdown after shutdown behavior"
We need tests for oio_write after oio_shutdown and calling oio_shutdown multiple times. Neither should be allowed.

[2011-05-04 01:14] ry commented on #23
fixed in 17c568b2350e9675895adfba558affbcf6c265a8

[2011-05-04 01:14] #23 closed, assigned to ry

[2011-05-04 01:14] ry commented on #31
fixed in 17c568b2350e9675895adfba558affbcf6c265a8

[2011-05-04 01:14] #31 closed, assigned to nobody

[2011-05-04 22:08] piscisaureus commented on #34
This idea was dropped -- all requests will complete async. Closing.

[2011-05-04 22:08] #34 closed, assigned to nobody

[2011-05-04 22:10] piscisaureus commented on #28
Landed in 7de68611468f9afa4816 and b87f07dee4851c6036a4.

[2011-05-04 22:10] #28 closed, assigned to nobody

[2011-05-04 22:11] piscisaureus commented on #24
Landed in 2b07bc34ce46670bcb94

[2011-05-04 22:11] #24 closed, assigned to piscisaureus

[2011-05-07 01:43] ry opened #37 "move visual studio files to subdir"

[2011-05-07 01:44] piscisaureus commented on #37
You hate 'em that much :D ?

[2011-05-07 02:16] #37 closed, assigned to piscisaureus

[2011-05-09 14:45] #16 closed, assigned to nobody

[2011-05-17 00:32] ry opened #39 "test wanted: uv_ref count tests for loop handles"
similar to this: https://github.com/joyent/libuv/blob/c41b7143c78b3215972799d3e77b4ae65394d065/test/test-loop-handles.c#L351-359

[2011-05-17 04:25] ry opened #40 "remove some of these unnecessary status codes and int return values"
e.g on the uv_loop_cb

what else?

[2011-05-17 05:55] denik opened #41 "UV_ constants"
UV_XXX constants seems to mirror POSIX constants. Why not use the actual POSIX definitions on unix and use a mapping on windows?
Or at least define UV_XXX to be XXX if XXX is defined.

[2011-05-17 12:51] piscisaureus commented on #40
uv_async_cb has the same useless status code.

On windows uv_prepare|check|idle|timer_init can never fail, I don't know about unix.

On windows ev_timer_start can fail if the btree is in inconsistent state. However I kill the loop if that happens, because it would probably mean that there is a bug in libuv or the user specified a nonexisting handle.

We need to think about what checks uv functions

[2011-05-18 17:34] ry commented on #27
fixed in 2f4e65a1b28b8911f1fe8f945d8b7dbb55bf3d91

[2011-05-18 17:34] #27 closed, assigned to nobody

[2011-05-18 17:36] ry commented on #29
we've got a throughput test now `test/benchmark-pump.c` use

[code]

to run

[2011-05-18 17:36] #29 closed, assigned to nobody

[2011-05-18 17:40] ry opened #42 "create uv.c for shared code between unix and win"

[2011-05-18 19:58] piscisaureus opened #43 "Add uv_timer_get|set_repeat for unix, make uv_timer_again conformant"

[2011-05-18 19:58] piscisaureus opened #44 "Test wanted: uv_timer_set_repeat and uv_timer_again"

[2011-05-18 20:25] #43 closed, assigned to ry

[2011-05-19 00:00] piscisaureus commented on #44
Test landed in 78c2930e252b2f38781a21dc47a606d0630366c4

[2011-05-19 00:00] #44 closed, assigned to nobody

[2011-05-20 15:29] ry opened #45 "unix ref count woes"
Our current strategy has been `uv_ref` on each handle that is initialized. In libev watchers also increase the ref count when they are active. Should a handle increase the count by only one ever? Or is it allowed to increase it more? Since the unix backend is currently increasing the count more than once, Node does not exit naturally.

We need tests to verify we're acting the same on both platform

[2011-05-20 16:11] ry opened #46 "semantics of uv_is_active()"
This issue is spawned by:
https://github.com/joyent/libuv/blob/c8603a74621d7151c087afdafe23b79ee0a7832e/test/test-timer-again.c#L79-88

What should `uv_is_active()` actually mean?

Suggestion: `uv_is_active()` returns true until the handle's on_close callback is fired.

[2011-05-20 19:17] piscisaureus commented on #45
I would suggest to increase the handle count _only_ when a handle is initialized, then decrease it only after it's close callback is called. Starting / stopping should not affect the counter. Let me know if that is doable on the unix side.

[2011-05-20 19:18] ry commented on #45
Would you pass the above test currently?

Yes - that is doable.

[2011-05-20 19:19] piscisaureus commented on #46
Currently we use uv_is_active to determine if a timer or loop watcher was started or not. If we change the uv_is_active semantics that is going to make our node job miserable. However we could have another api for this, e.g. uv_is_closed maybe?

[2011-05-20 19:23] ry commented on #46
is a tcp handle ever active?

[2011-05-20 22:44] piscisaureus commented on #46
For some handle types "active" would be a meaningless concept since they are never started or stopped.

TCP handles could be active when they are reading or accepting connections.

[2011-05-20 22:49] piscisaureus commented on #45
ref2 would be ok but ref (1) would time out, because initializing a handle adds a ref, and that handle is never closed. (Whether the idle watcher is active doesn't matter.)

[2011-05-20 23:30] bnoordhuis commented on #46
Leaky abstraction?

[2011-05-21 01:57] ry commented on #46
it's kind of strange to have timers, async, prepare, check, idle be handles in the same way as a tcp socket (which is an abstraction of an actual file descriptor)

[2011-05-22 19:58] ry commented on #45
fixed in 40f0ad6d364cff76adaf1c7f182b1dc939f36617

[2011-05-22 19:58] #45 closed, assigned to nobody

[2011-05-22 20:55] ry opened #47 "move alloc callback to uv_tcp_init()"
it's annoying to have to specify a alloc callback for programs where you may never open a tcp socket.

[2011-05-22 20:57] ry commented on #42
fixed by bert in 0177751ff5782dd96e9a634202a2ced219fac41b

[2011-05-22 20:57] #42 closed, assigned to nobody

[2011-05-22 21:01] piscisaureus commented on #47
Well you could set it to NULL in that case. Or we could use uv_set_alloc() and default to a dumb malloc allocator.

[2011-05-24 00:41] ry commented on #47
can't have a default allocator because we'd still be relying on the user to free the buffers

[2011-05-24 15:45] ry opened #48 "check_ref fails on solaris"
at least in d91b5012bd32b60f1a0f35241f7ac45c147f0c8a

[2011-05-24 15:53] ry opened #49 "test-get-currentexe fails on solaris"
see https://github.com/joyent/libuv/blob/9fc8a7f1670e6b6f223e48ebf390dd345a888007/uv-unix.c#L1238-1239

This probably implies passing `argv` to `uv_init()`. If this is the solution then #47 should be fixed first.

[2011-05-27 08:36] ry commented on #48
fixed in e3923b76b455f957915f9b8edf786a3de6d17b2c

[2011-05-27 08:36] #48 closed, assigned to nobody

[2011-05-27 08:38] ry opened #50 "helper processes should output to stdout too"
so that "make bench" outputs the results of pump100_server and pump1_server

[2011-05-27 09:18] ry commented on #50
i think caused by not waiting on helper processes to terminate

[2011-05-27 17:16] ry opened #51 "unix socket not being closed after uv_shutdown and EOF"
https://github.com/joyent/libuv/commit/982a620f1cefbc5ded030a963b6d7e3468a949ea#L0R62

Need test

Once this is fixed, this line should be removed:
https://github.com/joyent/libuv/blob/982a620f1cefbc5ded030a963b6d7e3468a949ea/test/echo-server.c#L62

reproduce - remove line 62 from echo-server.c, run echo-server, connect send it 'Q', disconnect. It will not gracefully shutdown.

[2011-06-03 09:05] #4 closed, assigned to nobody

[2011-06-03 09:30] #47 closed, assigned to nobody

[2011-06-03 09:33] ry commented on #39
somewhat addressed in 1352c72e35b49a32964f694e535abccbd31b847b. Need more!

[2011-06-03 09:35] ry commented on #51
I change my mind: handles should never be closed automatically. The user must be forced to call uv_close().

This is shown in 22ffc1915b3abfa5f46e00db7feb4e12fdc26385 and 5d4dabfe6835d6c81d25a6c26d4b44599cea3dfd - which have not been merged into master yet.

[2011-06-03 09:56] ry opened #52 "test/test-shutdown-eof.c broken on windows"
handles should not close automatically.

See also: #51

[2011-06-03 09:56] ry commented on #51
closing this issue in favor of #52

[2011-06-03 09:56] #51 closed, assigned to nobody

[2011-06-12 13:24] piscisaureus commented on #52
Fixed in b168bd1f70c966236aef7c8f9f561d3984ff162b

[2011-06-12 13:24] #52 closed, assigned to piscisaureus

[2011-06-12 13:25] piscisaureus commented on #33
Irrelevant now

[2011-06-12 13:25] #33 closed, assigned to nobody

[2011-06-13 21:13] bnoordhuis opened #55 "uv_listen(): default backlog"
I wish upon a star that passing a backlog of -1 or 0 to uv_listen() would pick a sane platform default, like SOMAXCONN for *NIX systems.

[2011-06-14 11:38] ry opened #57 "uv_listen uv_read API refactor"
I would like to change the API of uv_listen and uv_read to be a similar interface:

[code]

[2011-06-14 13:14] ry commented on #57
nevermind

[2011-06-14 13:14] #57 closed, assigned to nobody

[2011-06-16 17:38] ry opened #58 "test wanted: uv_write on newly connected socket does not increase write_queue_size"
i.e. uv_write happens synchronously. currently on unix it seems we do not attempt to do the writes synchronously.

[2011-06-16 21:10] bnoordhuis opened #59 "Document uv_write() behaviour"
Document that writes are in-order.

[2011-06-17 10:22] #59 closed, assigned to nobody

[2011-06-17 10:23] ry commented on #59
cool thanks

[2011-06-17 13:25] tim-smart opened #61 "Failure in test-hrtime"
[code]

Ubuntu 11.04, gcc version 4.5.2

[2011-06-18 18:42] rmustacc commented on #61
The test as written is busted. It's using uv_sleep(1) which sleeps for one microsecond. However the assert is checking that the operation took at least one millisecond. The three system calls involved hopefully don't take that long. I've put together a patch that fixes it. Sending the patch out of band.

[2011-06-18 19:18] rmustacc opened #62 "unix uv_sleep expects ms but operates in us"
The unix version of uv_sleep comments and arguments suggest that it should be working in milliseconds. However, the code simply calls usleep(3C). usleep(3C) is defined to operate in microseconds, not milliseconds. Depending on the desired behavior either uv_sleep should tell consumers that it expects microseconds or it should multiply the argument passed into usleep by 1000.

[2011-06-19 12:03] #61 closed, assigned to nobody

[2011-06-20 11:43] ry commented on #55
I'm happy to have a default but is `SOMAXCONN` really what one wants here? We should just default to some appropriately large value like 128.

[2011-06-20 12:34] bnoordhuis commented on #55
Hmm. SOMAXCONN=128 on linux (has been since at least 2.0.27). We should probably use a larger value: both apache and nginx default to 511 and I think the nginx docs recommend bumping it to 1024. No reason not to - nowadays, even the cheapest Dell server can handle thousands of SYN/ACKs per second.

[2011-06-21 05:59] rmustacc commented on #49
This can be grabbed through /proc. I'll code up a patch for it.

[2011-06-21 06:22] rmustacc opened #63 "libuv doesn't build with gcc3.4"
On GCC 3.4.3 (csl-sol210-3_4-20050802) libuv fails to build:

rm ~/src/libuv $ gmake
gcc --std=gnu89 -Wno-variadic-macros -g -c uv-unix.c -o uv-unix.o
cc1: error: unrecognized command line option "-Wno-variadic-macros"
gmake: **\* [uv-unix.o] Error 1

That warning didn't exist in the GCC 3.4 timeframe. GCC 3.4 support may not be desired, if that is the case it's fine to close the bug and declare i

[2011-06-21 09:28] bnoordhuis commented on #49
Doesn't Solaris have `getexecname()`? Alternatively, does __progname work? It's not standardized but I think it works on all the popular Unices.

[code]

[2011-06-21 10:11] ry commented on #63
I think we should actually be building with `--ansi --pedantic` unfortunately we're doing a lot of function pointer to `void*` implicit casts in the code right now. `--pedantic` doesn't like that.

[2011-06-21 10:12] #49 closed, assigned to nobody

[2011-06-21 10:34] ry opened #64 "uv_write on unix must immediately attempt writev syscall on empty write queue"
it's thought that this is will make for perf increase on Node http-bench

https://gist.github.com/1035660

[2011-06-21 10:41] ry opened #65 "uv_write on unix should not malloc room for the uv_buf_t[] array"
https://github.com/joyent/libuv/blob/31516fa150b9cde16f53c0ad3dd02542bd1ff5e8/uv-unix.c#L880-882
https://github.com/joyent/libuv/blob/31516fa150b9cde16f53c0ad3dd02542bd1ff5e8/uv-unix.c#L611

Probably should have several (4?) uv_buf_t elements embedded in each uv_req_t - and malloc if more room is needed.

[2011-06-21 13:43] ry commented on #19
want

[code]

[2011-06-21 15:20] rmustacc commented on #63
I added in -Wpointer-arith as a test and that didn't actually change anything. The bigger problems are going to be the following errors (gcc 4.3.3 / Linux x86) which are due to libev and c-ares.

~/src/libuv $ gmake
gcc -ansi -pedantic -g -c uv-unix.c -o uv-unix.o
In file included from uv.h:36,
                 from uv-unix.c:21:
c-ares/ares.h:380: error: expected declaration specifiers or ‘...’ b

[2011-06-21 15:32] bnoordhuis commented on #63
https://github.com/bagder/c-ares/pull/6 <- fixes fd_set issue

[2011-06-22 16:37] #64 closed, assigned to nobody

[2011-06-24 17:28] nelsonsilva opened #66 ""Windows: getaddrinfo support" breaks linux build"
I have to revert to HEAD^ and patch

--- /tmp/iF6ktf_uv-unix.c
+++ /home/nfgs/Programacao/Javascript/libuv/uv-unix.c
@@ -1294,7 +1294,7 @@
 int uv_ares_init_options(ares_channel *channelptr,
                         struct ares_options *options,
                         int optmask) {
-  rc = ares_init_options(channelptr, options, optmask);
-  int rc = ares_init_options(channelptr, options, optmas

[2011-06-26 20:11] japj opened #68 "Watching directories"
On Windows, it seems ReadDirectoryChangesW could be used to watch directory changes in IOCP style
http://msdn.microsoft.com/en-us/library/aa365198(v=vs.85).aspx

As a result, libuv might be a logical place to support for fs.watchFile in a crossplatform way.

This relates to https://github.com/joyent/node/issues/1171

[2011-06-26 20:28] ry commented on #68
+1

I've been unimpressed with libev's `ev_stat` - which Node currently uses. It supports only inotify - and doesn't do directory watching. We should probably not use that on the Unixes either. @rmustacc also expressed intrest in this task.

Linux: inotify http://www.kernel.org/doc/man-pages/online/pages/man7/inotify.7.html

What's the optimal facility on Solaris, OSX, and FreeBSD?

Can someone su

[2011-06-26 20:55] japj commented on #68
I am confused now, what exactly do you mean with "doesn't do directory watching"?

inotify supports "IN_CREATE - a file in a watched directory is created" and some other related events, so if you do fs.watchFile(directory) that should work I think (although maybe not they way you intended/expected)?

(and I think that is what @vincentcr is doing in the node issue 1171)

[2011-06-26 21:06] ry commented on #68
I meant `ev_stat` doesn't support recursive directory watching

[2011-06-26 21:54] rmustacc commented on #68
FreeBSD, Mac OS X, NetBSD, and OpenBSD use something called kqueue. SunOS uses Event Ports. While they are similar to inotify, they end up working differently. inotify ends up caching a lot of stuff in the kernel and thus can drop events. However, because of that it will tell you what dirent has changed. All the other APIs can tell you what event occurred in a directory, but they won't tell you wh

[2011-06-26 21:58] ry commented on #68
I've heard OSX has a different file notification mechanism which is preferred to kqueue. I can't find a link atm.

[2011-06-26 22:08] rmustacc commented on #68
This -- http://developer.apple.com/library/mac/#documentation/Darwin/Conceptual/FSEvents_ProgGuide/Introduction/Introduction.html -- the FSEvents API?

[2011-06-26 22:10] ry commented on #68
yes, thank you

[2011-06-26 22:14] ry commented on #68
From Apple:

[2011-06-26 22:37] rmustacc commented on #68
I have a lot of notes and API comparisons on the Unix side of thing and started sketching some implementations. Let me play around and solidify that there and then see what overlap there is with what Windows gives you. From taking a brief look at the mentioned function, it seems like Windows is doing what Linux is doing with inotify and gives you the name of the dirent that changed.

The kind of i

[2011-06-27 06:44] mattstevens commented on #19
I added IPv6 bind to fix a Mobile Safari issue (iOS waits on an IPv6 timeout for every connection if present) but ran into a snag I could use some help with.

XP doesn't have inet_pton so instead of a nice simple uv_ip6_addr it looks like we'll have to use getaddrinfo. Is there a better XP-compatible option? If not, should uv_ip6_addr be platform-specific?

Here's what I have so far: https://githu

[2011-06-27 10:43] bnoordhuis commented on #19
@mattstevens: does [this](https://gist.github.com/1048609) work on Windows XP?

[2011-06-27 10:50] piscisaureus commented on #19
c-ares provides an implementation of inet_pton that works on xp, although it is not part of the public API. We could use that however. Alternatively we could fall back to getaddrinfo on xp - I prefer to use inet_pton on platforms where it is available.

[2011-06-27 10:55] piscisaureus commented on #19
We can also choose to just not support ipv6 on xp. XP does not support IPv6 by default. An experimental ipv6 driver is available, but afaik noone really uses that.

Anyway, uv_ip6_addr needs top be platform-specific.

[2011-06-27 10:57] bnoordhuis commented on #19
The c-ares option sounds like a good idea, though. Cross-platform and less code to maintain.

[2011-06-27 13:22] mattstevens commented on #19
Thanks for the help! Looks like XP also has [WSAStringToAddress](http://msdn.microsoft.com/en-us/library/ms742214.aspx). I'll see if I can get one of these working.

[2011-06-27 15:37] ry commented on #19
We've got c-ares compiled in we might as well use that!

[2011-06-28 12:11] #19 closed, assigned to nobody

[2011-06-28 12:19] ry opened #71 "src/ and include/ directories"
Please reorganize the project tree so that `ares.h` and `uv.h` are in include/ and the source files are in `src/`. Patch should fix build systems on all platforms.

[2011-06-28 12:24] ry commented on #71
wait until the multiplicity patch is landed.

[2011-06-28 13:16] ry opened #72 "uv_find_ares_handle should use rbtree"
I believe the list can grow large if one is doing many concurrent queries. If that's the case the current linked-list implementation is not acceptable. I will do a test once the unix binding is done to see how many sockets are normally in use. If it does not grow much then there's nothing to worry about.

This issue corresponds to this TODO:
https://github.com/joyent/libuv/blob/fa514948fc4880f5918

[2011-06-28 14:56] ry opened #73 "Windows ares binding should not call ares_timeout()"
See the warning at
https://github.com/joyent/libuv/blob/fa514948fc4880f5918ae0f4244345142a761fe5/c-ares/ares_timeout.c#L27-31

Instead once per second call

[code]

while there is an active ares socket.

[2011-06-28 19:09] ry commented on #66
this was fixed in 8801925b41bccadbf87c02d41df5a402d5848f2f

[2011-06-28 19:09] #66 closed, assigned to nobody

[2011-06-30 21:56] ry opened #75 "uv_getaddrinfo_t needs to be a uv_req_t"
it represents an in progress async function call. we're going to wrap all uv_req_t objects in a unified way at the node layer.

cc @HenryRawas

[2011-06-30 22:13] ry commented on #73
fixed in 9d84f92613ddba07e90f84aa033fcee89ef011b8

[2011-06-30 22:13] #73 closed, assigned to HenryRawas

[2011-07-01 14:51] ry opened #76 "unix and windows should share the error handling"

[2011-07-01 16:37] ry opened #77 "uv_sleep in test/task.h takes microseconds not milliseconds"
windows implementation needs to be multiplied by a factor

comments should be updated

[2011-07-01 16:38] ry commented on #77
Or they can all take milliseconds - but it should be the same!

[2011-07-01 16:42] ry commented on #77
#62 already covers this issue

[2011-07-01 16:42] #77 closed, assigned to nobody

[2011-07-01 23:25] igorzi opened #78 "Doing uv_close inside write callback sometimes causes truncated writes"
This could be easiliy reproduced with uv webserver.  The issue is that the write callback indicates that the buffer was given to the kernel, not that it was sent to the client.  In order to ensure graceful shutdown, we need to follow http://msdn.microsoft.com/en-us/library/ms738547(v=VS.85).aspx

[2011-07-03 10:50] fillano opened #79 "fix for macros and structs redefined errors in msvc"
I'm using msvc express 2010 to build libuv with msbuild in console. It always complained that macros and structs redefined in winsock2.h etc. The cause is #include <windows.h> before #include <winsock2.h>, and windows.h will include winsock.h by default. A simple way to solve this is to add #define WIN32_LEAN_AND_MEAN before #include <windows.h>

I changed the ares_setup.h by adding three lines be

[2011-07-04 01:44] fillano commented on #79
Ah, I just saw ry cleared all  define WIN32_LEAN_AND_MEAN. I think another way is to keep winsock2.h included before windows.h in ares_setup.h. Maybe like this,

#ifdef HAVE_WINDOWS_H

# ifdef HAVE_WINSOCK2_H

# include <winsock2.h>

# ifdef HAVE_WS2TCPIP_H

# include <ws2tcpip.h>

# endif

# else

# ifdef HAVE_WINSOCK_H

# include <winsock.h>

# endif

# endif

# include <windows.h>

#endif

[2011-07-04 01:44] #79 closed, assigned to nobody

[2011-07-04 16:35] japj opened #80 "unrecognised command line option '-Wno-variadic-macros' on cygwin"
trying to compile libuv latest master fails with the following:

<pre>
japj@PC-MD8860 /cygdrive/c/github/libuv-cygwin
$ make
gcc -Ic-ares/ -D_LARGEFILE_SOURCE -D_FILE_OFFSET_BITS=64 -Ieio --std=gnu89 -Wno-variadic-macros -g -c uv-unix.c -o uv-un
ix.o
cc1: error: unrecognized command line option "-Wno-variadic-macros"
make: *** [uv-unix.o] Error 1
</pre>

note: as a result, current master node also

[2011-07-04 17:48] #80 closed, assigned to nobody

[2011-07-04 21:18] rmustacc commented on #63
This works now.

[2011-07-04 21:18] #63 closed, assigned to nobody

[2011-07-04 21:35] rmustacc opened #81 "uv.h missing <netdb.h> include"
uv.h should be including <netdb.h> for the definition of the struct addrinfo \* for the following definitions:

typedef void (_uv_getaddrinfo_cb)(uv_getaddrinfo_t_ handle, int status, struct addrinfo\* res);

int uv_getaddrinfo(uv_getaddrinfo_t\* handle, uv_getaddrinfo_cb getaddrinfo_cb, const char\* node,  const char\* service, const struct addrinfo\* hints);

[2011-07-04 21:57] japj opened #82 "make on cygwin results in: ares_config.h: No such file or directory"
when trying to compile with cygwin I get the following error

<pre>
$ make
gcc -Ic-ares/ -D_LARGEFILE_SOURCE -D_FILE_OFFSET_BITS=64 -Ieio --std=gnu89 -g -c uv-unix.c -o uv-unix.o
uv-unix.c: In function `getaddrinfo_thread_proc':
uv-unix.c:1521: warning: passing arg 3 of `getaddrinfo' from incompatible pointer type
gcc -Ic-ares/ -D_LARGEFILE_SOURCE -D_FILE_OFFSET_BITS=64 --std=gnu89 -g -c uv-common

[2011-07-06 01:01] piscisaureus commented on #82
Fixed in 49baaa4731c31e4bef58c98b31a27914f666d3b0

[2011-07-06 01:01] #82 closed, assigned to nobody

[2011-07-06 13:49] txdv opened #83 "Multiple loops?"
Are there any plans to add multiple loop support?
I know node is all about one process, one event loop, but there are other projects which support more then 1 event loop.

[2011-07-06 13:58] piscisaureus commented on #83
There are plans but we're not sure yet what the api will look like.

[2011-07-06 21:12] ry commented on #83
The branch is https://github.com/joyent/libuv/tree/multiplicity

The question is:

Do we want to have independent event loops for each thread?
OR
Do we want to have a thread pool handle events like IOCP?

[2011-07-06 23:04] ry commented on #71
not waiting for multiplicity.

@piscisaureus can you please review http://nodejs.org/0001-Fixes-71.-src-and-include-directories.patch

[2011-07-07 00:10] ry commented on #71
also here https://github.com/joyent/libuv/tree/reorg

[2011-07-07 01:58] piscisaureus commented on #71
Sorry - this is unreviewable. Can you explain to me what you have done?

[2011-07-07 02:04] ry commented on #71
i've moved the public headers into a directory `include` and source code into `src` and updated the `config-unix.mk`, `config-mingw.mk`, and `Makefile`

[2011-07-07 11:20] piscisaureus commented on #71
Okay lgtm.
I will make the necessary modifications to the msvc projects.

[2011-07-07 14:55] ry opened #84 "File System API. eio.h should not be exposed publicly."
Suggestions for API?

[2011-07-07 15:36] ry opened #85 "Named Pipe API"

[2011-07-07 15:36] ry opened #86 "stdio API"

[2011-07-07 15:44] ry opened #87 "Compile with `--std=c89 --pedantic -Werror`"
need to rework the `void*` in `uv_req_t` first.

[2011-07-07 16:50] ry commented on #71
complete in 81bb15feed871a3f7fc91ce608b378ce0a6f86bc

[2011-07-07 16:50] #71 closed, assigned to nobody

[2011-07-07 19:12] piscisaureus opened #88 "Event loop should use low-resolution clock"
Currently the event loop time is based on QueryPerfomanceCounter. This function call shows up lightly on my profile. GetTickCount/GetTickCount64 would probably be cheaper to use.

We should use QueryPerformanceCounter for uv_hrtime only.

[2011-07-07 19:47] japj opened #89 "mingw broken: cc: Command not found"
It seems on mingw, it tries to use cc instead of gcc.. as a result I get:

<pre>
japj@PC-MD8860 /c/github/libuv
$ make
cc -Iinclude -g --std=gnu89 -D_WIN32_WINNT=0x0501 -Isrc/ares/config_win32 -c src/uv-win.c -o src/uv-win.o
make: cc: Command not found
make: *** [src/uv-win.o] Error 127
</pre>

[2011-07-07 20:01] japj commented on #89
according to git bisect, this commit broke mingw (update comment, because I was still one step away from first bad commit) :

$ git bisect bad
9518ab65949257384bf7e407d8502a6437fdda4b is the first bad commit
commit 9518ab65949257384bf7e407d8502a6437fdda4b
Author: Ryan Dahl ry@tinyclouds.org
Date:   Thu Jul 7 08:32:29 2011 -0700

[code]

:100644 100644 a115277a9deaf6860425f3664dddbbaf1e3a24fe be8ab

[2011-07-07 20:22] bnoordhuis commented on #89
9518ab6 uses ?= conditional assignment (assign unless already set) but `make` has CC set to `cc` by default.

PS: this happens on Unices too but since `cc` is a symlink to `gcc`, it doesn't actually break the build.

[2011-07-08 01:02] rmustacc opened #90 "ev.h missing from include"
uv-unix.h requires ev.h. If you make a simple C file that #includes <uv.h> and pass -Ilibuv/include then it can't find ev.h which is hiding in src/ev/ev.h.

[2011-07-08 02:16] rmustacc commented on #87
Patch out of band covers most of it. Changes the void _cb into a void *(_cb)(void *).

[2011-07-08 04:55] ry commented on #90
fixed in 18fa8c0ecdfb3b526b1de7087db9afd399928c25

[2011-07-08 04:55] #90 closed, assigned to nobody

[2011-07-08 05:05] ry commented on #87
fixed in 8c00b369b40a98f23a4d7349344962dd6cb3cf56

[2011-07-08 05:05] #87 closed, assigned to nobody

[2011-07-08 05:48] txdv commented on #83
I don't understand the question, since I'm not quite familiar with IOCP.

Could you give a more detailed explanation?
API showcases would help to understand.

[2011-07-08 15:43] rmustacc commented on #83
Ultimately you need to support both methods because each one solves different problems.

The IOCP model basically lets you multiple dispatch for a single event loop. i.e. you would have multiple threads that each called port_get(), but a given fd would ideally only be serviced by one thread at a time. The API could conceivably look the same as what you already have, but you specify a number of thr

[2011-07-08 16:03] ry commented on #83
@rmustacc makes a good point. Both models are beneficial.

To make this more concrete, let's consider how Node.js goes multicore. Our current method involves using ancillary messages over a unix pipe to send a server file descriptor to other Node proceses. Each of the Nodes polls for readability on that server fd and accepts greedily. This is the Nginx model as well. It has the effect of load bala

[2011-07-08 18:17] DrPizza commented on #83
Option 1 is certainly the more Windowsy way of doing things.

Maybe I'm misunderstanding the problem, and/or maybe this is more complicated than you would like, but I would think a neat enough solution to the "dispatch to the right instance" problem could be constructed something like this.

Make a two-tier system; have an IOCP with its own thread per Node instance, and a single top-level IOCP. Al

[2011-07-08 18:53] ry opened #91 "want ability to run tests with valgrind"

[2011-07-08 23:03] ry opened #92 "windows: uv_tcp_connect, uv_tcp_connect6 should share code?"
like we do on unix: https://github.com/joyent/libuv/blob/e14715582190e9a2ca444467b074141dcb21ebeb/src/uv-unix.c#L950-961

current implementation seems to duplicates a lot: https://github.com/joyent/libuv/blob/e14715582190e9a2ca444467b074141dcb21ebeb/src/uv-win.c#L1065-1157

[2011-07-08 23:06] ry commented on #92
Nevermind i just realized that you don't have a single connect system call. Probably there isn't much to share.

[2011-07-08 23:06] #92 closed, assigned to HenryRawas

[2011-07-09 01:56] txdv commented on #83
Manos, the C# cousin of node.js, would be happy about option 1, though, as already mentioned, both models should make it into the lib :)

[2011-07-09 13:08] piscisaureus commented on #83
@ry's first model is a total misfit for node, because all i/o is tied to the v8 isolate and the thread that initiated the i/o. The one iocp per event loop / thread is by far the best solution for this problem imho. There are numerous ways to solve the special problem of prefork server - a select thread, overlapped io w/ events instead of an iocp, WSAEventSelect etc.

We probably don't need the sec

[2011-07-09 13:10] piscisaureus commented on #83
If people are really interested in model one, please help us specify what the semantics would be; what should be the semantics of uv_idle, how would locking work for you, how can we ensure that concurrent access doesn't clobber libuv's internal state?

[2011-07-09 14:50] txdv commented on #83
Maybe it might be a misfit for node, but node doesn't have to use that functionality at all.
Node doesn't have to provide all the functionality provided by libuv.

[2011-07-09 19:34] piscisaureus commented on #78
Fixed in 5aa8c005ec28de2aa66d4cb457b596fdf37f5e44

[2011-07-09 19:34] #78 closed, assigned to nobody

[2011-07-10 08:30] japj opened #93 "freebsd compile failure with CTL_KERN, KERN_PROC"
from https://github.com/joyent/node/issues/519#issuecomment-1541060 it seems libuv fails compilation on FreeBSD with

<pre>
src/uv-freebsd.c: In function 'uv_exepath':
src/uv-freebsd.c:36: error: 'CTL_KERN' undeclared (first use in this function)
src/uv-freebsd.c:36: error: (Each undeclared identifier is reported only once
src/uv-freebsd.c:36: error: for each function it appears in.)
src/uv-freebs

[2011-07-10 15:23] #89 closed, assigned to nobody

[2011-07-11 00:43] #93 closed, assigned to nobody

[2011-07-11 18:14] ry opened #95 "remove UV_PIPE_PRIVATE_TYPEDEF from uv.h"

[2011-07-11 18:37] ry opened #96 "remove instanceCount parameter from uv_pipe_listen"
EMFILE should be the limiting factor just like the TCP server. People can do their own connection limiting in the uv_connection_cb.

[2011-07-11 18:37] ry opened #97 "Rename uv_pipe_create to uv_pipe_bind?"
what do you think?

[2011-07-11 19:07] igorzi commented on #97
makes sense.  will do

[2011-07-11 20:28] igorzi opened #98 "uv_pipe_bind should fail when called for the same pipe name"

[2011-07-11 20:30] igorzi opened #99 "uv_pipe_bind shoudn't preallocate a bunch of OS pipe handles"
Windows pipe handles should be created as needed.

[2011-07-11 20:38] ry commented on #99
+1

[2011-07-11 21:03] bnoordhuis opened #100 "test/run-tests <test> should start and stop helpers"
`run-tests` in single test mode should start and stop helpers.

Make sure to set `ulimit -u 256` before hacking on this, it's surprisingly easy to fork bomb yourself (as I found out the hard way).

[2011-07-11 21:24] ry commented on #100
There's also the problem that sometimes the echo-server isn't fully up and
running which causes tests to fail.

[2011-07-11 22:26] igorzi commented on #97
Fixed with 2e49cc56d182c361cee7c8fa729fe66102216711.

[2011-07-11 22:26] #97 closed, assigned to igorzi

[2011-07-12 16:58] ry opened #101 "unix: implement uv_getsockname"

[2011-07-12 19:24] igorzi opened #102 "uv_pipe_bind and uv_pipe_connect name should be const char*"

[2011-07-12 21:12] bnoordhuis opened #104 "uv.h should not leak implementation details"
Proposal:

[code]

[2011-07-12 21:25] bnoordhuis opened #105 "Error-checking cast macros for uv_*_t types"
Proposal:

[code]

[2011-07-12 21:45] bnoordhuis opened #106 "fork() semantics"
How do we handle `fork()`? More specifically, should or should we not mark all file descriptors used by libuv as close-on-exec?

Open file descriptors survive `execve()` so not setting close-on-exec may leak information to the new process (bad).

Opinions?

[2011-07-12 22:06] HenryRawas opened #107 "test/simple/test-net-server-on-fd-0 obsolete?"
This test assumes that server has a property called fd and it has a value 0.
So far in net_uv this does not exist. It is easy to add this property and make the test pass.
I would rather remove the test unless there is a plan to support a fd property that has some meaning.

[2011-07-12 22:39] igorzi commented on #102
Fixed in f852c517a1d53974f1e8

[2011-07-12 22:40] #102 closed, assigned to igorzi

[2011-07-12 22:57] bnoordhuis commented on #101
Added in 48eb98c.

[2011-07-12 22:57] #101 closed, assigned to bnoordhuis

[2011-07-12 23:09] bnoordhuis commented on #107
That test checks for the issue reported [here](https://github.com/joyent/node/issues/746) but that's not applicable to libuv since net.Server doesn't operate on raw file descriptors any more.

Henry, do you test with `make test` or `make test-uv`? The latter skips that test.

[2011-07-12 23:13] HenryRawas commented on #107
I am trying to add to the list of tests in test-uv by fixing the non-working tests.

[2011-07-13 00:14] bnoordhuis commented on #107
You can skip this one, it tests an implementation detail of the old back end.

[2011-07-13 15:50] bnoordhuis opened #108 "Clean compile with `-Wall -Wextra`"
This is not #87.

I want libuv to compile cleanly with `-Wall -Wextra`. Right now too many potential bugs are hidden by relaxed compiler checks.

`-Wno-unused-parameter` is negotiable, bonus points for `-pedantic`.

[2011-07-13 16:30] meegogo opened #109 "libuv doesn't compile on VC++ express"
after ares was added，libuv doesn't compile using VCExpress 2010（WIN32）,message after open sln:

C:\Users\meegogo\Desktop\joyent-libuv-9c19391\msvs\libuv.vcxproj : warning  : Platform 'x64' referenced in the project file 'libuv' cannot be found. Please make sure you have it installed under '%VCTargetsPath%\Platforms\x64'.

C:\Users\meegogo\Desktop\joyent-libuv-9c19391\msvs\libuv-test.vcxproj : warn

[2011-07-14 00:20] #100 closed, assigned to nobody

[2011-07-14 13:42] bnoordhuis commented on #62
This has been fixed in 9a5b47d9.

[2011-07-14 13:42] #62 closed, assigned to nobody

[2011-07-14 13:57] bnoordhuis opened #110 "libuv functions should not clobber errno"
libuv should be both carbon and errno neutral. Idiom:

[code]

[2011-07-14 14:24] piscisaureus commented on #110
-1

[2011-07-14 14:26] bnoordhuis commented on #110
@piscisaureus motivation!

[2011-07-14 16:25] DrPizza commented on #110
Why would one expect `errno`/`GetLastError()` to be preserved in a library such as libuv?

I mean, it's not like anyone is surprised that it's making syscalls, is it?

If the caller is hellbent on having it preserved, the caller can preserve it.

[2011-07-14 17:56] ry commented on #106
i think we should set closexec on our FDs - this is what's happening in node

[2011-07-14 17:57] igorzi commented on #99
Fixed with f5ff8694880624189c59.

[2011-07-14 17:57] #99 closed, assigned to igorzi

[2011-07-14 17:58] igorzi commented on #96
Fixed with f5ff8694880624189c59.

[2011-07-14 17:58] #96 closed, assigned to igorzi

[2011-07-14 17:58] igorzi commented on #95
Fixed with f5ff8694880624189c59.

[2011-07-14 17:58] #95 closed, assigned to igorzi

[2011-07-14 19:55] ry opened #111 "uv_pipe_bind tests"
similar to https://github.com/joyent/libuv/blob/902dd567b1c7883d4384e09c228bf6838df6a6d5/test/test-bind-error.c

[2011-07-15 19:25] japj opened #112 "cygwin compile error with CLOCK_MONOTONIC"
Trying to compile master on cygwin I get:

<pre>
japj@PC-MD8860 /cygdrive/c/github/libuv-cygwin
$ make
gcc --std=c89 -pedantic -Iinclude -Isrc/ev -D_LARGEFILE_SOURCE -D_FILE_OFFSET_BITS=64 -Isrc/ares/config_cygwin -g -c src
/uv-cygwin.c -o src/uv-platform.o
src/uv-cygwin.c: In function `uv_hrtime':
src/uv-cygwin.c:33: error: `CLOCK_MONOTONIC' is hier niet gedeclareerd (eerste gebruik in deze funct

[2011-07-15 19:56] bnoordhuis commented on #112
Love the Dutch i18n! The error message is that CLOCK_MONOTONIC hasn't been declared. Some quick googling suggests that it was added in cygwin 1.7.6.

[2011-07-15 20:01] japj commented on #112
yeah, really funny ;)

Strange thing is that I re-ran the cygwin setup tool and I am up to date.

On Fri, Jul 15, 2011 at 9:56 PM, bnoordhuis
reply@reply.github.com
wrote:

[2011-07-15 20:18] japj commented on #112
it seems this is due to --std=c89 from the CSTDFLAG in config-unix.mk
and the combination of

<pre>
/usr/include/sys/features.h
#ifdef __CYGWIN__
#if !defined(__STRICT_ANSI__) || defined(__cplusplus) || __STDC_VERSION__ >= 199901L
#define _POSIX_MONOTONIC_CLOCK                  200112L

/usr/include/time.h
#if defined(_POSIX_MONOTONIC_CLOCK)
#define CLOCK_MONOTONIC (clockid_t)4
#endif
</pre>

If I

[2011-07-15 20:51] bnoordhuis commented on #112
@japj can you try this patch?

[code]

[2011-07-16 06:56] japj commented on #112
This does not seem to fix it, I still get the same error.

If I rename uv-cygwin.c to cc and adapt the makefile (in order for it
to behave like a cplusplus file then I get the next error which is:

<pre>
$ make
gcc --std=c89 -pedantic -Iinclude -Isrc/ev -D_LARGEFILE_SOURCE
-D_FILE_OFFSET_BITS=64 -Isrc/ares/config_cygwin -g -c src/uv-cygwin.cc
-o src/uv-platform.o
cc1plus: warning: command line opt

[2011-07-18 15:59] bnoordhuis opened #113 "Handle EINTR"
Handle EINTR for all syscalls that can return it. Annoying because even `close()` is interruptible but it's the right thing.

[2011-07-18 20:16] igorzi opened #114 "uv_pipe_connect should run on thread-pool for remote pipes"
This is very low priority (remote pipes will probably not be used by many people).

[2011-07-19 15:32] #88 closed, assigned to nobody

[2011-07-19 16:32] ry opened #115 "no progress output on "make bench""

[2011-07-20 16:00] #112 closed, assigned to nobody

[2011-07-20 18:44] #115 closed, assigned to bnoordhuis

[2011-07-20 18:58] ry commented on #65
fixed by @pquerna in 0bf38570e8c7837bd830388f7b57f138aebb3395

[2011-07-20 18:58] #65 closed, assigned to nobody

[2011-07-20 19:13] #50 closed, assigned to nobody

[2011-07-20 23:52] ry opened #116 ""test/run-tests echo_server" should not fork"
i don't want to type echo_server twice.

[2011-07-21 13:23] #113 closed, assigned to nobody

[2011-07-21 13:31] bnoordhuis commented on #116
You mean tcp4_echo_server or pipe_echo_server, right? Will fix.

[2011-07-21 17:02] #116 closed, assigned to bnoordhuis

[2011-07-21 23:49] bnoordhuis commented on #108
Fixed per 5248719.

[2011-07-21 23:49] #108 closed, assigned to nobody

[2011-07-21 23:51] bnoordhuis commented on #111
Landed in afc9987. Good work, @igorzi.

[2011-07-21 23:51] #111 closed, assigned to igorzi

[2011-07-22 00:00] bnoordhuis commented on #106
Fixed.

[2011-07-22 00:00] #106 closed, assigned to nobody

[2011-07-22 00:11] igorzi commented on #98
fixed with ee5236cf56ffcd5f132c

[2011-07-22 00:11] #98 closed, assigned to igorzi

[2011-07-22 00:12] igorzi commented on #85
named pipe API is now implemented.

[2011-07-22 00:12] #85 closed, assigned to igorzi

[2011-07-24 23:15] DrPizza commented on #84
I was just playing around/experimenting with this, the results of which are [here](https://github.com/DrPizza/node/tree/master/deps/uv). Nothing very adventurous at the moment. It allows multiple outstanding I/Os on a file, and processes them in whatever order the system chooses. There are half finished bits (I want to have a kind of "streaming mode" with a libuv-maintained file pointer, but I wan

[2011-07-29 00:44] ry opened #117 "want uv_walk (which calls ev_walk on unix - need windows imlemenation)"
cc @jhurliman

[2011-07-30 02:15] igorzi opened #118 "remove rpcrt4 and ole32 libs from windows builds"

[2011-07-30 02:26] ry opened #119 "want: benchmark for spawning"
spawn self (using `uv_exename`) many times report time.

[2011-07-31 04:45] DrPizza commented on #118
ole32 is easy to remove, of course, by calling `UuidCreate()` directly, but that doesn't really help with rpcrt4.

If you want to stick with GUIDs for random names, you could probably generate a version 4 UUID without any further lib dependencies (though you've probably got to wing it when it comes to the RNG, since the cryptographic RNGs mean trading one dependency for another). But a weak PRNG w

[2011-07-31 17:54] igorzi commented on #118
we're thinking of doing _snprintf(name, size, "\\.\pipe\uv\%d-%p", pid, handle)

[2011-07-31 18:18] DrPizza commented on #118
That would mean setting the name of the pipe only after you've created it, no?

[2011-07-31 21:32] rmustacc commented on #104
Rather than having it hidden behind an ifdef why not just use a second header file like uv-impl.h which isn't installed?

[2011-08-01 01:28] ry commented on #118
please remove https://github.com/joyent/node/blob/f0f941a59e42a22771583da55d78e454a58eb051/wscript#L496-499 when this bug is fixed and landed inside node

[2011-08-01 03:34] ry opened #120 "If options.cwd isn't specified CreateProcess should a NULL lpCurrentDirectory param"
currently it does not - it seems to do unnecessary work

just remove this branch https://github.com/joyent/libuv/blob/master/src/win/process.c#L656-667  ?

[2011-08-01 14:16] entity64 commented on #109
I solved the "The project file ' ' has been renamed or is no longer in the solution" problem by deleting the included solution file and creating a new one, adding all projects back. The x64 platform warnings can probably be ignored.

[2011-08-01 21:04] ry opened #121 "unix: please remove uv_flag_* functions"
stupid and harder to read than just manual bit twiddling

[2011-08-01 21:54] piscisaureus opened #122 "uv_spawn env+path semantics"
uv_spawn uses the `PATH` environment variable to locate the executable to be spawned.

On unix, if the user explicitly supplies an environment block, the `PATH` from this environment is used. If the supplied environment does not contain a `PATH` variable, `:/bin:/usr/bin` is used as a fallback.

On windows the search path from the _parent_ process is always used.

This semantic difference may need

[2011-08-02 01:42] igorzi commented on #120
@ry: cwd is needed for search_path.  see https://github.com/joyent/libuv/blob/master/src/win/process.c#L725.

[2011-08-02 01:46] igorzi commented on #118
@DrPizza: no, the handle here refers to uv handle (not windows handle).

[2011-08-02 01:57] ry commented on #120
ok

[2011-08-02 01:57] #120 closed, assigned to igorzi

[2011-08-02 02:40] DrPizza commented on #118
Oh, of course. I didn't think that was normally safe (client code can stack allocate uv_pipe_ts) but I guess since `uv_process_options_t` stores only pointers then they'll tend to be created on the heap, so the addresses will all be unique.

[2011-08-02 03:17] igorzi commented on #118
fixed with 6d940a3afcbd4280801f9adfb72c821c4edbccf9

[2011-08-02 03:17] #118 closed, assigned to igorzi

[2011-08-02 08:43] ry opened #123 "GYP support"

[2011-08-02 08:44] ry commented on #119
complete in e9bee5131a9de4fe9854b13dfc0ab3972dfbdb3f

[2011-08-02 08:44] #119 closed, assigned to igorzi

[2011-08-02 08:45] ry commented on #104
c-ares is public.

eio will be private once we do a file system API.

I would like very much to not leak ev.h, uv-win.h, and uv-unix.h but I don't see what can be done about it.

[2011-08-02 19:08] ry opened #124 "pipe server locking in unix"
removed flock due to solaris incompatibilities https://github.com/joyent/libuv/commit/b2ed24d86ecc561135edf566878b43d93e364d44

please do this without `.lock` file or allocations if possible

[2011-08-03 05:42] DrPizza opened #125 "tabs also need quoting"
I don't imagine it happens often (bare tabs aren't very easy to type on the command line, so I can't imagine people try to use them as arguments), but when building argv from the array of command-line parameters, `quote_cmd_arg()`'s quoting needs to be enabled if you hit a tab character, as well as space and backslash. That's because the widely-used VC++ runtime will split command-lines [on tab](h

[2011-08-03 05:52] DrPizza commented on #105
Relatedly (insofar as it's related to trapping type errors), it would IMO be nice if the handle types had an actual inheritance hierarchy when uv.h is included in C++ programs, so that certain safe conversions were implicit (e.g. passing a `uv_stream_t*` to `uv_close()`).

[2011-08-04 08:56] meegogo commented on #109
tried,didn't work

[2011-08-06 15:01] utaal commented on #121
Have a look at pull request #129

[2011-08-06 19:13] #121 closed, assigned to nobody

[2011-08-06 19:14] ry commented on #123
fixed in a30a7336f0ed8bb0c0bf

[2011-08-06 19:14] #123 closed, assigned to ry

[2011-08-06 19:15] ry opened #131 "need Makefile.mingw"
GYP doesnt support mingw yet. Until then we will manually maintain a makefile

[2011-08-06 22:53] DrPizza commented on #125
Fixed in d84b2496161c7a11ead6

[2011-08-06 22:53] #125 closed, assigned to nobody

[2011-08-08 08:57] jhurliman commented on #117
On a related note, I hacked together a quick test exposing some of the ev_walk() functionality to JS. Only tested with a timer so far but appears to work fine. https://github.com/jhurliman/node/commit/9e556deb991f2b48da1d419663f283630126026e

[2011-08-09 05:39] jhurliman commented on #117
I'm capturing stack traces in the IOWatcher constructor using:

[code]

But it looks like I'll need to possibly capture traces in the ObjectWrap constructor or in multiple constructors, since an IOWatcher does not get created for setTimeout(). Two IOWatchers are created when I call console.log though:

[code]

[2011-08-09 19:19] jhurliman commented on #117
Switched to capturing traces in the ObjectWrap constructor. A lot more traces are captured than necessary due to various IOWatcher/ObjectWrap objects being initialized internally in node for resource pools (my simple test program grabs about six traces when it only needs one). However, this approach should work for every type of watcher. I'll switch over to uv_walk() when it's in master.

Here is

[2011-08-09 22:49] isaacs commented on #117
Holy awesome.

[2011-08-11 07:46] felixge commented on #117
This is exactly what I need! <3

[2011-08-11 23:37] ry opened #133 "Want simple test that demos EPIPE failure with uv_write on TCP socket."

[2011-08-11 23:38] ry opened #134 "Want test test-child-process-double-pipe.js ported to libuv"
here is a start https://gist.github.com/1141084

the test should break on f7b4e65090735441f1705805a06eb4b84500018b and be fixed on b44f9d75ea95adb004155998fd4f61c5aabfbd58

[2011-08-12 08:10] ry opened #135 "unix: fix pipe_bind_error_addrinuse preferably without lock file"

[2011-08-12 08:11] ry opened #136 "linux: enable pipe2 again"

[2011-08-12 10:02] ry opened #137 "udp support"

[2011-08-12 13:04] bnoordhuis commented on #135
Yes, please. Seeing that test fail makes me sad. But how without a lock file?

That `fcntl(sockfd, F_GETOWN)` hack you suggested doesn't work as I think you think it does: you can't `open()` UNIX sockets (raises ENXIO) and calling `fcntl(sockfd, F_GETOWN)` on an unbound socket is an exercise in futility - the owner is always the current process.

[2011-08-12 13:10] bnoordhuis commented on #136
Apparently the #define construct for HAVE_PIPE2 isn't supported by older gcc's.

https://github.com/joyent/node/pull/1508

[2011-08-12 14:11] bnoordhuis commented on #136
Fixed in 7f82995.

[2011-08-12 14:11] #136 closed, assigned to ry

[2011-08-12 18:24] ry opened #138 "unix uv_spawn_sync implementation with tests"
cc @felixge

[2011-08-12 18:53] ry opened #139 "platform work: uv_set_process_title()"
https://github.com/joyent/node/blob/a38bda9fb279c6dd01f9b8b7e55f9f60832e9721/src/platform.h#L32

 (and uv_get_process_title?)

[2011-08-12 18:54] ry opened #140 "platform work: uv_memory()"
https://github.com/joyent/node/blob/a38bda9fb279c6dd01f9b8b7e55f9f60832e9721/src/platform.h#L35

current process's memory usage

[2011-08-12 18:54] ry opened #141 "platform work: uv_get_memory()"
https://github.com/joyent/node/blob/a38bda9fb279c6dd01f9b8b7e55f9f60832e9721/src/platform.h#L35

[2011-08-12 18:54] ry opened #142 "platform work: uv_cpu_info()"
https://github.com/joyent/node/blob/a38bda9fb279c6dd01f9b8b7e55f9f60832e9721/src/platform.h#L36

[2011-08-12 18:55] ry opened #143 "platform work: uv_sys_memory()"
https://github.com/joyent/node/blob/a38bda9fb279c6dd01f9b8b7e55f9f60832e9721/src/platform.h#L37

query system wide memory pressure

[2011-08-12 18:56] ry opened #144 "platform work: uv_uptime()"
https://github.com/joyent/node/blob/a38bda9fb279c6dd01f9b8b7e55f9f60832e9721/src/platform.h#L39

[2011-08-12 18:57] ry opened #145 "platform work: uv_load_avg()"
https://github.com/joyent/node/blob/a38bda9fb279c6dd01f9b8b7e55f9f60832e9721/src/platform.h#L43

not sure how well this translates to windows - let's discuss what exact interface we want

[2011-08-12 18:57] ry opened #146 "platform work: uv_interfaces()"
https://github.com/joyent/node/blob/a38bda9fb279c6dd01f9b8b7e55f9f60832e9721/src/platform.h#L44

returns all the network interfaces

[2011-08-12 18:58] ry commented on #141
dup

[2011-08-12 18:58] #141 closed, assigned to igorzi

[2011-08-14 22:23] jhurliman commented on #117
Initial version is here: https://github.com/joyent/node/pull/1532

[2011-08-17 01:17] ry opened #147 "split up uv-unix.c"
waiting on  #137 (UDP) to land

[2011-08-17 07:51] ry opened #148 "need ev_stat wrapper that will not take forever to implement"

[2011-08-18 03:10] piscisaureus commented on #122
Dropping the path search code entirely and using the search mechanics built into CreateProcess should also be considered.

The downside is that it uses a different search rules than what (I think) people are familiar with from cmd.exe / spawnvpe().
On the upside, we could delete quite some code. Also the CreateProcess search rules are well-documented.

[2011-08-18 03:42] DrPizza commented on #122
There are many options. They all suck to a greater or lesser extent. Windows has a bunch of rules in different places. I'm not really sure users will have any consistent expectations.
- `ShellExecute()` is probably the most complex API. It checks working directories, PATH, various registry keys, and probably more. Awful.
- cmd.exe's behaviour is perhaps even more complex than `ShellExecute()`, sin

[2011-08-18 19:13] DrPizza opened #150 "Set SO_EXCLUSIVEADDRUSE on Win32 sockets."
`SO_EXCLUSIVEADDRUSE` and `SO_REUSEADDR` are a mess on Windows. The only real way to allow a libuv server to behave consistently and robustly (i.e. to ensure that it can actually listen on the port it needs to listen on and can't get clobbered by other programs) is to set `SO_EXCLUSIVEADDRUSE`. I think libuv should set this for such sockets, probably for both TCP and UDP.

[2011-08-18 19:16] bnoordhuis commented on #150
That's the plan for (at least) UDP sockets.

[2011-08-21 21:39] piscisaureus opened #152 "win: active_tcp_streams can become inaccurate"
When a handle is closed without ever being connected.

It would be better to increase the counter on `uv_tcp_queue_read` and decrease it in `uv_process_tcp_read_req`.

[2011-08-24 09:44] japj commented on #109
@meegogo there has been a lot of work on the windows build structure, could you try again with latest master tree and confirm if this problem is still reproducable?

[2011-08-24 20:12] piscisaureus opened #154 "Fast-completing io may starve other callbacks"
Stressing the event loop with a lot of i/o that completes without using the iocp causes some callbacks (e.g. timer callbacks) to be never called. This happens in benchmark-udp-packet storm on vista/7/2k8.

[2011-08-25 17:34] erickt opened #155 "uv_getaddrinfo provides no way for custom data"
The function `uv_getaddrinfo` function zeros out the `uv_getaddrinfo_t` structure, which clears out the user provided data field inside the `uv_getaddrinfo_t`. The simplest way to solve this is to just provide a `getaddrinfo_init` that zeros out the structure and gives the user the opportunity to set the data before calling `uv_getaddrinfo`, but I imagine implementing #75 would solve the problem a

[2011-08-26 00:14] piscisaureus opened #157 "win pipes: uv_close should flush the kernel write buffer"
Just like tcp and unix sockets.

[2011-08-26 16:06] #155 closed, assigned to nobody

[2011-08-29 22:05] erickt opened #158 "uv_pipe_bind allows multiple binds to same pipe"
uv_pipe_bind used to use flock to protect against rebinding a unix domain socket, but that code was removed in b2ed24d because flock is not supported on Solaris. This has broken the test `test-pipe-bind-error.c` on darwin with this error:

`pipe_bind_error_addrinuse` failed: exit code 6
Output from process `pipe_bind_error_addrinuse`:
Assertion failed in test/test-pipe-bind-error.c on line 58: r =

[2011-08-30 03:23] ry opened #159 "want test: port test-fs-sir-writes-alot.js from node to C"
https://github.com/joyent/node/blob/d2defa3012a5448a16a6cdab276a64f7bbd367e0/test/simple/test-fs-sir-writes-alot.js

[2011-08-30 03:24] ry commented on #159
@igorzi interested?

[2011-08-30 09:49] kuebk opened #160 "Adding the way to set affinity"
I would like to add a possibility of setting/getting affinity for each spawned process.

I want to:
- extend uv_process_options_t to contain an array(?) of cores to set process affinity to,
- add functions to set/get affinity on given process

What you think?

[2011-08-30 10:16] ry commented on #160
can you suggest some API?

[2011-08-30 13:33] kuebk commented on #160
Extend uv_process_options_t with unsigned long cpu_affinity?

int uv_set_affinity(uv_process_t\* process, unsigned long cpu_affinity);
int uv_get_affinity(uv_process_t\* process, unsigned long cpu_affinity*);

EDIT: Missclicked comment & close.

[2011-08-30 17:00] bnoordhuis commented on #158
Yes, and it's making me sad. :`(

`flock()` doesn't exist on sunos and `lockf()` and `fcntl()` have nasty semantics. I cry a little every time I run `make test` but I don't know of a good way to solve it.

Node 0.4.x solves it by stat'ing and unlinking the socket but that's so race-y, I don't want to consider it.

[2011-08-31 07:13] ry opened #162 "want test: multiple loops in use."
even better if it's on multiple threads. (might be okay if the tests depend on pthreads as long as libuv itself doesn't?)

[2011-08-31 07:14] ry opened #163 "unix: all eio requests can only be returned to default loop"
entry point https://github.com/joyent/libuv/blob/e3f910d0a9dc523565b9f7437079e0db45926b7f/src/uv-eio.c#L128-132

[2011-08-31 07:46] ry opened #164 "file rename all hyphens to underscores."
c-ares, libev, eio use underscores. we will too.

[2011-08-31 14:08] piscisaureus opened #166 "Multiplicity / thread-safety issues"
- uv_hrtime() and uv_exepath() can't report an error code (not bound to a loop)
- uv_hrtime() runs one-time initialization code, but is not thread-safe
- the uv_strerror() return value becomes invalid when uv_strerror() is called another time
- the "active tcp streams" is not thread-safe and not bound to a loop
- there's no way to fully clean-up and delete a loop. uv_loop_delete is not implemented

[2011-08-31 16:22] ry commented on #83
multiple loops supported in e3f910d0a9dc523565b9f7437079e0db45926b7f

[2011-08-31 16:26] #83 closed, assigned to nobody

[2011-08-31 18:13] ry opened #167 "uv_fs_t should be subclass of uv_work_t"
@igorzi what do you think?

[2011-08-31 18:40] txdv commented on #83
On what branch is this candy?

[2011-08-31 18:47] ry commented on #83
master

[2011-08-31 21:04] ry commented on #147
done in 6fd340b8cab84291f8cbd7d469eaf0cb3fd694bc

[2011-08-31 21:04] #147 closed, assigned to ry

[2011-08-31 21:05] ry commented on #137
done in 36ce74f2ca9a3a943b342a79837cd3453a2764d8

[2011-08-31 21:05] #137 closed, assigned to bnoordhuis

[2011-08-31 21:06] ry commented on #55
@bnoordhuis do you still want this?

[2011-08-31 21:14] bnoordhuis commented on #55
Yes, but let's benchmark it first.

[2011-09-01 15:24] erickt opened #168 "clang reports several warnings in 3rd party libraries"
Compiling libuv with clang reports several issues in 3rd party libraries:

CC(target) out/Debug/obj.target/uv/src/ares/ares_process.o:

[code]

CC(target) out/Debug/obj.target/uv/src/ev/ev.o:

[code]

CC(target) out/Debug/obj.target/run-benchmarks/test/benchmark-pound.o:

[code]

CC(target) out/Debug/obj.target/run-tests/test/test-spawn.o:

[code]

[2011-09-01 16:56] igorzi commented on #159
@ry - yep.

[2011-09-01 23:26] luislavena opened #169 "preprocessor typo in win/loop-watcher.c"
Attempt to compile it result in error:

[code]

Here is a small patch:

https://gist.github.com/b4b4eb85d345e74fe7aa

[2011-09-02 18:36] dolmen commented on #104
@ry: I agree with @bnoordhuis and @rmustacc: there are too much implementation details available in `libuv.h`.

Here is an example: `uv_stream_t`.
This should be an opaque pointer for the user of the API, so the internal definition of the private members must not even appear in any files included (directly or indirectly) by the user of the API.
`libuv.h` should only contain the following line (no

[2011-09-02 18:45] dolmen opened #172 "Encoding specification in API"
The API should be capable of accepting Unicode strings in file names and paths, domain names, error messages, command line arguments.

Currently, those strings are just defined as "char *" which says nothing about the expected encoding.

[2011-09-02 19:04] dolmen opened #173 "Callback user data"
C does not have closures like JavaScript.
So every callback function need to receive an opaque (void*) pointer that contains everything that the callback function may need to do its job.
I do not see any such callback data. Did I miss something?

Here is an example of how the API would be changed:

[code]

[2011-09-02 19:26] ry commented on #104
@dolmen, I appreciate your comments but exposing those structs and not hiding star are design goals - not problems. We expose the structs so users can manage their own memory. Typedeffing pointers IMHO makes code hard to read. We're not concerned with protecting users from private members - they can just read the docs.

[2011-09-02 19:59] ry commented on #173
see the `void* data` members of various structs.

[2011-09-02 19:59] #173 closed, assigned to nobody

[2011-09-02 22:44] luislavena commented on #169
Closing this, submitted proper pull request #174

[2011-09-02 22:44] #169 closed, assigned to nobody

[2011-09-03 12:28] japj opened #175 "test_fs fails compilation on windows"
The test_fs fails compilation on windows.

I have a temporarily workaround at https://github.com/japj/libuv/commit/131ad9726fbc3f9c696bb4d1fc20e9940d45f147
but I don't know if req.ptr will be always a stat struct on all the platforms.
(note also on the top of the test_fs, there is a #define stat _stat for !UNIX platforms.

[2011-09-03 12:42] dolmen commented on #173
I think this is a mistake to store the user data in a structure. This is C, and its painful to write structure initialisation code and to allocate and deallocate memory.

Take for example the `uv_write_s`' pain:

[code]

**Why not directly pass the `data` pointer as an argument ?** The `uv_write_s` should be only an internal structure not exposed in the API.

Here is what would be `uv_write`'s pro

[2011-09-03 12:53] dolmen commented on #104
Beside binary compatibility that you do not seem to care about, private members exposed as you do are also exposed in debuggers. My point is that kind of information should be only available when debugging the API implementation, but not when debugging a client application.

[2011-09-04 11:17] japj commented on #175
fixed by cf5ed86a79f8082a9a022964fe6f8a2109b4aa80

[2011-09-04 11:17] #175 closed, assigned to nobody

[2011-09-05 01:06] ry opened #177 "windows: need uv_fs_t.path implementation"
see https://github.com/joyent/libuv/blob/a18860aec6416e4e6a9540471c61e9a497f55703/test/test-fs.c#L243-244

for https://github.com/joyent/node/blob/01bf209a3d8e89143739a0a9c5b4c523fb28e383/src/node_file.cc#L89-93

[2011-09-06 10:27] dolmen commented on #173
@ry please reopen this issue

[2011-09-07 12:12] pietern opened #179 "uv_write_t and error handling"
It seems that there is no logic in place to clean up queued uv_write_t's after a write error. When an attempted write for the head of the queue fails, its callback is executed by `uv__stream_io`. Subsequent uv_write_t's are ignored.

I don't think an API for iterating over write requests is a good idea. Maybe libuv should call every write callback with -1 status after the head failed to allow for

[2011-09-08 00:45] piscisaureus commented on #173
I do not agree. libuv needs to store some internal state for every write. Having the user allocate the struct that holds the state avoids libuv malloc()ing for every write.

Also you're misrepresenting what you need to do with the current api. Do it like this:

[code]

[2011-09-08 01:13] ry commented on #173
No - I disagree with your ideas about API design. This library is the platform layer for Node.js and the current way we handle user data pointers works fine for us.

[2011-09-08 15:53] bnoordhuis commented on #179
As discussed on IRC: that's the expected behaviour but it's not fully implemented yet. Fixing it turned out harder than I thought it would be - there's a bug hiding somewhere in tcp.c or stream.c that turns the write_completed queue into a circular list.

[2011-09-08 17:13] luislavena opened #181 "Undefined ENOTSUP and IO_REPARSE_TAG_SYMLINK under mingw-w64"
Using GCC 4.5.4 from mingw-w64 project and attempt to compile:

[code]

[2011-09-08 18:29] piscisaureus commented on #181
Should be fixed in 06d69a8

[2011-09-08 18:29] #181 closed, assigned to nobody

[2011-09-08 23:17] bnoordhuis commented on #179
Fixed in 431195c, test added in 98b9f58.

[2011-09-08 23:17] #179 closed, assigned to nobody

[2011-09-08 23:22] pietern commented on #179
Awesome, thanks!

[2011-09-12 09:25] piscisaureus opened #185 "Specify error handling for uv_write and uv_connect"
uv_write and uv_connect can fail synchronously (returning -1) and asynchronously (reporting result=-1 to the callback). Right now it is unspecified which error will be reported how.

I think that we should guarantee that errors cause by "external" factors (like a failing network) are reported asynchronously. Only errors that indicate user bugs (EINVAL or ENOTSOCK etc) or serious system errors (ENO

[2011-09-12 16:24] ry commented on #185
Is this not the case right now?

[2011-09-13 07:38] pietern commented on #185
@piscisaureus That sounds like a solid separation. When `uv_write` only reports `ENOMEM` or `EINVAL`, people using the API can safely put a bunch of asserts there (unrecoverable or programming error), instead of having to check for the "external" conditions as well.

@ry When the write queue is empty, `uv_write` attempts to do the write immediately. When this fails with e.g. a `ECONNRESET`, this i

[2011-09-13 10:01] pietern commented on #185
It was a while ago that I did those tests, and did them against the Redis event loop with a lot of hackish code, so set out to reproduce. It appears I was wrong (or my previous test was faulty), and that writing immediately has an advantage (for a small payload, such as `PING\n`).

**Linux (immediate write)**

[code]

**Linux (write on write event)**

[code]

This is the code I used to record late

[2011-09-16 21:01] piscisaureus opened #187 "uv_strerror woes"
From the nodejs mailing list. Probably due to setting `loop->last_err.errno` but leaving `loop->last_err._sys_errno` alone.

[code]

[2011-09-16 21:49] piscisaureus opened #188 "write callback order (windows)"
Patch from Pieter Noordhuis here: https://github.com/joyent/libuv/commit/f0044c007a24ea4dd18f979c59b16c5f1b02fa8f, awaiting CLA.
Should fix https://github.com/joyent/node/issues/1697

@pietern Could you sign the node.js CLA please? http://nodejs.org/cla.html

[2011-09-17 05:27] rmtew commented on #25
I just cloned this, opened up a Visual Studio 2010 Express command prompt and typed "vcbuild.bat".  It failed to build any of the three projects (main, test and benchmark) due to inability to find "stdint.h" for each.

d:\VCS\GIT\libuv-clone\include\uv.h(35): fatal error C1083: Cannot open include file: 'stdint.h': No such file or direc
tory [D:\VCS\GIT\libuv-clone\uv.sln]
...

I can get it to com

[2011-09-17 06:01] rmtew commented on #25
Okay, this was because it generated VC2008 Express solutions and projects, which do not appear to have "stdint.h".  Presumably if I can get it to use 2010 instead, it will just work.

[2011-09-18 02:46] ry opened #190 "upgrade c-ares to 1.7.5"
http://c-ares.haxx.se/mail/c-ares-archive-2011-08/0020.shtml

warning: we're currently floating significant changes.

we should also attempt to contribute a .gyp file for c-ares upstream - it would help the upgrade process.

[2011-09-18 03:21] liujinf opened #191 "windows 7, run-tests fail. `tcp_ping_pong` failed: timeout"
`tcp_ping_pong` failed: timeout

master

version:
Author:     Ben Noordhuis (info@bnoordhuis.nl)
Author date:    2 days ago (Fri Sep 16 02:21:09 2011 +0200)
Committer:  Ryan Dahl (ryan@joyent.com)
Commit date:    28 hours ago (Fri Sep 16 16:17:23 2011 -0700)
Commit hash:    75a088ebf1c1e5bb71111395d138d04b04624484

[2011-09-20 02:22] jhurliman commented on #117
I updated to node HEAD this afternoon and process.watchers() broke. I can still call ev_walk() and successfully get a list of watchers, but running:

[code]

Will sometimes segfault. My quick scan over some of the new code suggests that ev_watcher.data is not used to hold an ObjectWrap pointer now, but I may be misreading it. (I haven't had time to fully digest the changes.) Either way, I think ge

[2011-09-20 06:36] liujinf commented on #191
I download a iocp example from web, it work ok.
The old version of libuv work ok. but master no.
but after reinstall system, the problem disappear.

[2011-09-20 06:36] #191 closed, assigned to nobody

[2011-09-20 18:55] ry opened #192 "modify uv_spawn to also accept uv_file for stdio"
we need this to pass test-child-process-custom-fds in Node. See https://github.com/joyent/node/blob/b20c98e42708668c564d5f83bad83cf074cf4f58/test/simple/test-child-process-custom-fds.js#L47

The test only checks file file descriptors - never socket fds. Non-file non-tty fds in uv_spawn can remain broken

[2011-09-20 19:01] ry commented on #192
14:55 < piscisaureus> but it will prevent is from using FILE_FLAG_OVERLAPPED files in the future
14:55 < ryah> piscisaureus: can you explain?
14:55 < piscisaureus> since normally processes will not like it when their stdio is open in overlapped mode
14:56 < piscisaureus> ryah: if you're passing a file fd to a child process that's fine
14:56 < piscisaureus> ryah: but not so much if you have opened

[2011-09-21 10:41] felixge commented on #117
Can't help with the segfaults, but I just wanted to say thanks for continuing to work on this - this is awesome!

[2011-09-21 23:18] igorzi opened #193 "File system watcher: Store long and short names"
See http://blogs.msdn.com/b/ericgu/archive/2005/10/07/478396.aspx

[2011-09-21 23:20] igorzi opened #194 "File system watcher: optimize for multiple files in the same dir"
Instead of multiple ReadDirectoryChangesW calls, we could make one; and then filter based on file names.

[2011-09-21 23:21] piscisaureus commented on #193
Consider using `GetLongPathName` on all filenames returned - so we're sure that we always deal with long filenames only.

Short filenames must die.

[2011-09-28 02:06] #76 closed, assigned to nobody

[2011-09-28 17:26] ry opened #201 "windows: support utf8 in uv_fs methods"
getting bug reports in node: https://github.com/joyent/node/issues/1785

cc @igorzi

[2011-10-01 02:25] tommypowerz opened #206 "src/uv-common.c:92: uv_err_name: Assertion `0' failed."
my node server.js is breaking from time to time with this error:

src/uv-common.c:92: uv_err_name: Assertion `0' failed.

it uses socket.io and get many connections...

is there a way to try/catch this somehow in my server?

i'm totally lost.. there are no more informations when it crashes....

thanks in advance for your help guys..

[2011-10-01 21:51] bnoordhuis commented on #206
Try this:

[code]

Post the backtrace here.

[2011-10-01 21:53] bnoordhuis commented on #206
Oh, and make sure you build Node with `./configure --debug` (and substitute node with node_g). The release build doesn't have debug symbols so the backtrace won't be very enlightening.

[2011-10-01 22:05] tommypowerz commented on #206
ok i will try that and post what i find out...

how do i (and substitute node with node_g). ?

node_g server.js ?

or gdb --args node server.js ?

[2011-10-01 22:15] tommypowerz commented on #206
Program received signal SIGPIPE, Broken pipe.
[Switching to Thread 0x7fabbdf6c6f0 (LWP 18634)]
0x00007fabbc7b275b in write () from /lib/libpthread.so.0

(gdb) backtrace
#0  0x00007fabbc7b275b in write () from /lib/libpthread.so.0
#1  0x0000000000803a5a in uv__write (stream=0x1d16208) at src/unix/stream.c:354
#2  0x00000000008048b3 in uv_write (req=0x1cd9d88, stream=0x1d16208, bufs=0x7fffa250af30,

[2011-10-01 22:23] tommypowerz commented on #206
another one:
Program received signal SIGPIPE, Broken pipe.
[Switching to Thread 0x7fceb97926f0 (LWP 23027)]
0x00007fceb7fd875b in write () from /lib/libpthread.so.0
(gdb) backtrace
#0  0x00007fceb7fd875b in write () from /lib/libpthread.so.0
#1  0x0000000000803a5a in uv__write (stream=0xf025f8) at src/unix/stream.c:354
#2  0x00000000008048b3 in uv_write (req=0xf22e78, stream=0xf025f8, bufs=0x7fffa

[2011-10-01 22:38] tommypowerz commented on #206
now i compiled the v.0.4.12 stable version with --debug.. works longer. but comes up with this:

[New Thread 0x7f2a70fbd6f0 (LWP 25400)]

Program received signal SIGPIPE, Broken pipe.
[Switching to Thread 0x7f2a70fbd6f0 (LWP 25400)]
0x00007f2a6f803720 in __write_nocancel () from /lib/libpthread.so.0
(gdb) backtrace
#0  0x00007f2a6f803720 in __write_nocancel () from /lib/libpthread.so.0
#1  0x00000

[2011-10-01 23:03] thejh commented on #206
$ gdb --args node /usr/local/bin/coffee proxy
GNU gdb (GDB) Fedora (7.3-43.fc15)
Copyright (C) 2011 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later http://gnu.org/licenses/gpl.html
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was confi

[2011-10-01 23:05] tommypowerz commented on #206
another one node v0.4.12

Program received signal SIGPIPE, Broken pipe.
[Switching to Thread 0x7fe5dda596f0 (LWP 28196)]
0x00007fe5dc29f75b in write () from /lib/libpthread.so.0
(gdb) backtrace
#0  0x00007fe5dc29f75b in write () from /lib/libpthread.so.0
#1  0x000000000052ba8d in Write (args=@0x7fff8b391510) at ../src/node_net.cc:988
#2  0x0000000000582ec3 in v8::internal::Builtin_HandleApiCall ()

[2011-10-01 23:07] tommypowerz commented on #206
Program received signal SIGPIPE, Broken pipe.
[Switching to Thread 0x7fa7f67de6f0 (LWP 32186)]
0x00007fa7f5024720 in __write_nocancel () from /lib/libpthread.so.0
(gdb) backtrace
#0  0x00007fa7f5024720 in __write_nocancel () from /lib/libpthread.so.0
#1  0x000000000052ba8d in Write (args=@0x7fffa80535c0) at ../src/node_net.cc:988
#2  0x0000000000582ec3 in v8::internal::Builtin_HandleApiCall ()
#3

[2011-10-01 23:14] thejh commented on #206
From the kernel sources:

[code]

As I can sometimes reproduce the error by disconnecting and then reconnecting the network interface while streaming stuff from nodejs, this seems like it could be it.

[2011-10-01 23:19] thejh commented on #206
Do those SIGPIPE errors really matter? I used `handle SIGPIPE nostop noprint pass` to get the interesting data... but then again, I don't know much about C or gdb or anything from that topic.

[2011-10-01 23:26] tommypowerz commented on #206
ok trying it also with handle sigpipe...

[2011-10-01 23:29] thejh commented on #206
Actually, I'm not so sure about that disconnecting and then reconnecting the network interface thing being the cause, it randomly crashes now without me manually disrupting it, too.

[2011-10-05 06:36] creationix opened #210 "Wrong error message for fs_* operations"
Here is an example from latest node on Linux showing the problem:

[code]

I'm using latest libuv in my project and I have the same behavior.  From tracing the code, it looks like `.code` is set in the struct, but `.sys_errno_` is zeroed out and that's all the unix function looks for.  Thus it always says `Success`.

[2011-10-05 18:34] tommypowerz opened #211 "throw new Error('Socket is not writable');"
i run  node v0.412 and this http://github.com/einaros/socket.io

my server is getting stabler... sometimes it crashes due to segmantion faults:

Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fd0a4cf36f0 (LWP 24039)]
0x000000000062a873 in v8::internal::FlexibleBodyVisitor<v8::internal::StaticMarkingVisitor, v8::internal::FixedArray::BodyDescriptor, void>::Visit ()
Cur

[2011-10-05 21:44] bnoordhuis commented on #211
Do you get the crash or the exception with the latest master?

[2011-10-05 22:00] tommypowerz commented on #211
which one is the latest master?

i used: http://github.com/einaros/socket.io (downloaded it 4-5 days ago)

[2011-10-05 22:02] bnoordhuis commented on #211
I mean Node's master, the project you filed a bug report with...

[2011-10-05 22:09] tommypowerz commented on #211
sorry for the confusion.. this was suppost to be posted on socket.io

they told me they only support 0.4.12

but i plan ofcourse let this run on the latest version of nodes to report you the bugs

[2011-10-05 22:14] bnoordhuis commented on #211
Oh wait, you posted this at joyent/libuv, not joyent/node (oversight on my part, I get mail for both). Sorry, but you're in the wrong place here.

If socket.io only supports 0.4.12 then I suppose there's not much point in trying out the master branch but I'd be curious if you still get that segfault.

[2011-10-05 22:14] #211 closed, assigned to nobody

[2011-10-05 23:19] bnoordhuis commented on #210
Provisionally fixed in c787046.

[2011-10-05 23:19] #210 closed, assigned to nobody

[2011-10-07 02:39] #193 closed, assigned to igorzi

[2011-10-07 23:54] erickt opened #215 "Making uv_udp_t subclass uv_stream_t"
There are a lot of benefits having `uv_udp_t` merge with the `uv_stream_t`. It'd let us cut out a lot of redundancy between the two codepaths (at least for unix). For the users, it'd let them optionally use `connect`, and then they can use `send`/`recv` instead of `sendto`/`recvfrom`. Or, the user could use `uv_getaddrinfo` to generically configure a socket.

The downside is that we'd have to prot

[2011-10-10 14:23] bnoordhuis commented on #91
Let's do it. `./run-tests --valgrind`?

[2011-10-10 15:21] bnoordhuis commented on #215
We've discussed this when we implemented UDP and the conclusion was that a UDP socket is fundamentally not a stream. To name just one important distinction: TCP is 1-to-1, UDP is many-to-1 - one UDP socket can receive datagrams from many peers.

Embedding sockaddr_storage is quite costly. On most systems it's around 140 bytes whereas `sizeof(sockaddr_in)` is usually 8 to 16 bytes.

[2011-10-10 15:21] #215 closed, assigned to nobody

[2011-10-11 16:06] defunctzombie opened #216 "config-unix.mk still sets CC explicitly"
This prevents using other compilers when the CC environment variable is set by the user. Just deleting this line fixes the problem and allows the user to override the compiler used.

[2011-10-11 16:28] bnoordhuis commented on #216
Thanks. Fixed in 6936d60.

[2011-10-11 16:28] #216 closed, assigned to nobody

[2011-10-11 20:39] bradacina opened #218 "win\udp.c ENOSYS undefined"
win\udp.c
line 226:

int uv_udp_set_membership(uv_udp_t\* handle, const char\* multicast_addr,
  const char\* interface_addr, uv_membership membership) {

  /\* not implemented yet */
  uv__set_sys_error(handle->loop, ENOSYS);
  return -1;
}

ENOSYS is undefined on windows.
Replaced with E_NOTIMPL (from WinError.h)

[2011-10-11 21:21] bnoordhuis commented on #218
Thanks. Fixed in 04daabd.

[2011-10-11 21:21] #218 closed, assigned to nobody

[2011-10-12 16:00] alexandertrefz commented on #206
I got that error on 0.5.9 with a very tiny socket.io server, too. So i guess it is triggered by something in socket.io. (there are no other dependencies and i never assert anything in the other 30 lines that power the server)

[2011-10-12 16:06] bnoordhuis commented on #206
Can one you guys run your script through strace (i.e. `strace node script.js`) and post the output?

[2011-10-12 16:38] dolmen commented on #201
This is related to #172: Encoding specification in API

[2011-10-12 20:25] #201 closed, assigned to igorzi

[2011-10-13 06:17] bubbles2229 commented on #162
Can you show me your test? How can i use multiple loops?
Thanks

[2011-10-13 09:30] alexandertrefz commented on #206
[Here you go.](http://pastebin.com/bW55CD9t)
This was run on: Linux live-059 2.6.32-33-server # 72-Ubuntu SMP Fri Jul 29 21:21:55 UTC 2011 x86_64 GNU/Linux
with this [script](http://pastebin.com/kL3AU8Tb)

[2011-10-13 13:15] bnoordhuis commented on #206
@atrefz: Thanks. I'm afraid I can't reproduce it on the current master (1b55010) with the script you linked.

The two possible culprits I see in the strace log are ECONNRESET and EPIPE but both are handled in libuv.  Can you try this?

[code]

EDIT: `break uv-common.c:94` if you upgrade to master.

[2011-10-13 15:27] alexandertrefz commented on #206
do i need to recompile node with special parameters if i want to do this?

[2011-10-13 15:43] bnoordhuis commented on #206
`./configure --debug && make` <- builds node_g

[2011-10-15 16:25] indutny commented on #143
implemented in 33cb8775bcb32dc9a020ffda7e359b28e2470b8e.

[2011-10-15 16:25] indutny commented on #145
implemented in a35591bbfce1c72cfc1108c35013adb55cabdbc1.

[2011-10-18 23:34] davidhoyt opened #221 "MinGW-w64 Build Problems"
src/win/fs.c has several build problems when using mingw-w64 and make. My gcc's winnt.h doesn't include definitions for REPARSE_DATA_BUFFER, ENABLE_INSERT_MODE, ENABLE_QUICK_EDIT_MODE, and ENABLE_EXTENDED_FLAGS. Consequently there are build problems with src/win/fs.c.

An MSVC build also doesn't seem to work since it looks for stdint.h in uv.h and because it doesn't exist, it fails.

I'm using the

[2011-10-19 07:15] luislavena commented on #221
@davidhoyt, you're correct, mingw-w64 is missing those defitions, but mingw.org does have them.

Perhaps will be better report this to mingw-w64 so they add the missing information.

Don't think that is going to happen, Gyp is used but I don't think MinGW is supported.

Correct, there is no shared object being created, only `uv.a`

[2011-10-19 07:32] luislavena commented on #221
A followup on this: mingw-w64 is not missing the declaration, it is inside `ddk` which is not included in the default GCC include path.

I don't remember a way to trigger DDK be available :-(

[2011-10-19 10:52] ryanrolds commented on #206
[code]

Little context, this only happens when running `ab -k -n 10000 -c 5000 http://localhost:3000/tobi.jpeg`. Non-keepalive works fine. The code being performance tested is Connect's staticCache. It should be serving the requested jpeg from memory.

[2011-10-19 12:23] okuoku commented on #221
Hmm, my MinGW32/64 install (TDM-GCC 4.6.1) has everything you've mentioned ( wincon.h or ddk/ntifs.h ).

MSVC10 has stdint.h. and I'm using MSVC10 build (with my CMake branch) flawlessly.

[2011-10-19 13:22] luislavena commented on #221
@okuoku mingw-w64 indeed defines the elements, but these belong to DDK headers and those are not in the default lookup path for GCC.

TDM build of mingw-w64 (only the 64bits) might have relocated them so it could work, can't comment on that.

But, if you look at src/win/winapi.h will see that the missing definitions for MinGW are added there, for some reason win/fs.c is not picking that up?

[2011-10-19 14:00] okuoku commented on #221
What we have to do is:

<pre>
diff --git a/src/win/winapi.h b/src/win/winapi.h
index 78ffe16..ac89bf6 100644
--- a/src/win/winapi.h
+++ b/src/win/winapi.h
@@ -4080,7 +4080,7 @@

 /* from ntifs.h */
 /* MinGW already has it */
-#ifndef __MINGW32__
+#if !defined(__MINGW32__)||defined(__MINGW64__)
   typedef struct _REPARSE_DATA_BUFFER {
     ULONG  ReparseTag;
     USHORT ReparseDataLength;
</pre>

[2011-10-19 14:40] bnoordhuis commented on #206
@ryanrolds: Thanks. Not sure how that can happen. Will investigate.

[2011-10-19 15:20] okuoku commented on #221
Ah, Ubuntu Mingw32-w64 lacks rest.

Finally, following works at Ubuntu mingw64, TDM MinGW32/64.
(I don't know anything about MSYS. But should work.)

<pre>
diff --git a/src/win/util.c b/src/win/util.c
index cc6f93c..4f236e3 100644
--- a/src/win/util.c
+++ b/src/win/util.c
@@ -25,7 +25,7 @@

 #include "uv.h"
 #include "internal.h"
-#include "Tlhelp32.h"
+#include "tlhelp32.h"

 int uv_utf16_to_utf8

[2011-10-19 17:52] ryanrolds commented on #206
If you need more information, just ask.

[2011-10-21 04:21] igorzi opened #223 "Create event pool for UV_HANDLE_EMULATE_IOCP"
@gissues:{"order":95.83333333333333,"status":"backlog"}

[2011-10-22 11:55] mei-rune opened #225 "possible to allocate large memory block on win32"
I'm not sure it is not a bug, please check......

deps \ uv \ src \ win \ util.c (64): utf16Buffer = (wchar_t *) malloc (sizeof (wchar_t) \* \* size);

It has two **

[2011-10-22 13:10] leetreveil commented on #225
That's not a bug, the second \* is dereferencing size.

[2011-10-22 15:17] bnoordhuis commented on #225
Like @leetreveil said, not a bug.

[2011-10-22 15:17] #225 closed, assigned to nobody

[2011-10-22 19:31] ryanrolds commented on #206
Confirming that I'm experiencing the same issue in 0.5.10rc2.

[2011-10-26 19:52] igorzi opened #227 "windows: uv_listen fails with EALREADY on a tcp handle that's already listening"
This is different from unix implementation.  If this is by-design, the unix implementation should be changed to do this as well.

[2011-10-26 20:57] #227 closed, assigned to igorzi

[2011-10-27 10:34] luislavena opened #228 "TCP_KEEPALIVE is not defined under MinGW"
Hello,

Attempting to compile latest master against MinGW GCC 4.5.2 got the following error:

[code]

Seems to be related to the usage of `TCP_KEEPALIVE` by `setsockopt`

I couldn't find any reference in MSDN to TCP_KEEPALIVE, only SO_KEEPALIVE:

http://msdn.microsoft.com/en-us/library/windows/desktop/dd877220(v=vs.85).aspx
http://msdn.microsoft.com/en-us/library/windows/desktop/ms740476(v=vs.85).

[2011-10-28 21:40] tojocky commented on #206
Hello,

With v0.5.11-pre is the same problem, but with src/uv-common.c:94.

The result of gdbs is:
Breakpoint 1, uv_err_name (err=...) at src/uv-common.c:94
warning: Source file is more recent than executable.
94        assert(0);
(gdb) backtrace
#0  uv_err_name (err=...) at src/uv-common.c:94
#1  0x0815a665 in node::SetErrno (err=...) at ../src/node.cc:1098
#2  0x0817d81c in node::StreamWrap::Aft

[2011-10-28 23:49] #228 closed, assigned to nobody

[2011-11-01 17:22] piscisaureus opened #231 "Win: uv_fs_event_init should not do i/o on the main thread"
See

https://github.com/joyent/libuv/blob/9c6103a479b295bb22e4e109561f71f16a8e52fd/src/win/fs-event.c#L158
https://github.com/joyent/libuv/blob/9c6103a479b295bb22e4e109561f71f16a8e52fd/src/win/fs-event.c#L176
https://github.com/joyent/libuv/blob/9c6103a479b295bb22e4e109561f71f16a8e52fd/src/win/fs-event.c#L194

[2011-11-01 17:24] igorzi commented on #231
I'll take it.

[2011-11-01 21:26] igorzi commented on #167
@ry yeah makes sense.

[2011-11-04 15:27] piscisaureus opened #234 "Add flags to uv_fs_event_init"
- a flag for using stat polling
- a flag for observing a directory entry instead of directory contents

Just throw when used. We need this before 0.6.

[2011-11-05 01:08] piscisaureus commented on #234
Fixed in 1997e10b507c467b1b25d2a22263620025eafbcf.

[2011-11-05 01:08] #234 closed, assigned to nobody

[2011-11-06 03:05] bnoordhuis opened #236 "windows: implement uv_loop_new() and uv_loop_delete()"

[2011-11-06 03:10] bnoordhuis commented on #236
I've added stubs in 16d48be.

[2011-11-06 20:50] JerrySievert commented on #206
confirming in 0.6

[2011-11-06 21:17] JerrySievert commented on #206
the error code failing is 104, which under linux is connection reset:

[code]

adding an additional reset to the uv_error_code enum in uv.h:

[code]

and adding a case to uv_err_name in uv-common.c:

[code]

fixes the assertion failure and allows node to recover correctly.

connection reset appears to occur under heavy load.

[2011-11-07 22:27] ry commented on #206
We should `fprintf(stderr)` the bad error code

[2011-11-07 22:31] JerrySievert commented on #206
@ry did that, error code was 104 (linux connection reset).  i added it to the maps, but the patch got rejected.

[2011-11-08 14:54] piscisaureus opened #240 "crt calls are not safe from the thread pool"
Windows only: we're supposed to use _beginthread to create threads; a windows managed thread will leak memory when it uses crt functions.

[2011-11-09 18:56] igorzi commented on #240
I just went through all crt functions that we run on thread pool, and looks like none of those functions use _getptd() (which is responsible for allocating the TLS struct that could leak).  I don't think we need to do anything for this, especially if we're planning to stop using crt functions for fs.

[2011-11-09 19:00] piscisaureus commented on #240
Not really. We export uv_tp_queue work, which libuv users can use for anything. Node, for example, uses it to run openssl methods on the thread pool.

[2011-11-10 14:36] bnoordhuis opened #244 "sunos: check that event ports supports fs watching"
Reported here: http://groups.google.com/group/nodejs/browse_thread/thread/cd41bc2eb0cad7c1

Provisionally fixed in bnoordhuis/libuv@a8ecf69, pending confirmation.

[2011-11-10 19:06] bnoordhuis commented on #244
Fix confirmed. Merged in 224584c.

[2011-11-10 19:06] #244 closed, assigned to bnoordhuis

[2011-11-10 22:26] olostan commented on #206
Looks like same issue on ubuntu 11.10, node 0.6.1-pre (updated from master branch and recompiled).

node: src/uv-common.c:58: uv_err_name: Assertion `0' failed.
Segmentation fault

[2011-11-11 00:08] paddybyers opened #246 "Support for threads analogous to child_watcher"
I don't know if this is of interest:

https://github.com/paddybyers/libuv/commit/93015792f109180afe14266c51507ed1ced723d6

This was done as part of the work to support multiple node isolates. The requirement was to be able to watch for thread exit in the same way as process exit. The watcher itself is just ev_async, but helper functions also create pipes to pipe stdio in the same way as uv_spawn d

[2011-11-11 02:44] ry commented on #206
this issue was fixed in fd2b04d784d6cc10ca985a5548835310622bda50

[2011-11-12 13:07] tj opened #247 "ENAMETOOLONG not mapped"
running the connect tests lead me to a UV_UNKNOWN for this one

[2011-11-12 16:08] luislavena commented on #221
Hey @piscisaureus and @bnoordhuis, by chance can you look at this and #222?

I've asked about this on mingw-w64 and they follow MS header placed inside ddk folder, see the thread in mingw-w64 here:

http://bit.ly/t6O57P

Thank you

[2011-11-13 13:00] hnsr opened #250 "ETIMEDOUT not translated in unix/error.c's uv_translate_sys_error"
libuv doesn't properly translate ETIMEDOUT to EV_ETIMEDOUT in uv_translate_sys_error() in src/unix/error.c, leading nodejs to print the somewhat uninformative error "connect Unknown system errno 110" when it fails to connect to something

I am not very familiar with libuv code but it looks like it can be trivially fixed in src/unix/error.c by adding "case ETIMEDOUT: return UV_ETIMEDOUT;" in the sw

[2011-11-13 18:55] pyrostrex commented on #206
node: src/uv-common.c:58: uv_err_name: Assertion `0' failed.

still happening with node 0.6.1 cluster used.

[2011-11-14 09:19] quexer commented on #206
same problem with @pyrostrex.

node 0.6.1 on REHL 5.3
node cluster is used.

[2011-11-14 21:38] devdazed commented on #206
I also got a broken pipe:

[code]

[2011-11-14 22:33] ry commented on #206
SIGPIPE should be ignored... https://github.com/joyent/node/blob/5c3954aa6fb2e0b23a7bcfec6fc4636d5d152333/src/node.cc#L2380

[2011-11-14 22:41] bnoordhuis commented on #206
It's an artefact of how gdb reports some signals: it reports them even if the program ignores them. `handle SIGPIPE nostop noprint` makes gdb ignore them as well.

[2011-11-15 14:27] pyrostrex commented on #206
It turns out, it is not because of cluster. I tried to turn off cluster but it still raise up.

[2011-11-15 19:35] bnoordhuis commented on #206
@ry Are you okay with applying the patch below as a band aid? It doesn't fix the root issue (unmapped errors) but at least it gives people a chance to handle the error themselves.

[code]

[2011-11-15 20:12] ry commented on #206
I want to root cause this. They shouldn't be seeing this error now that all of the errnos are mapped.

[2011-11-15 22:57] MagicalTux commented on #206
Confirmed to be still happening with nodeJS 0.6.1:

node: src/uv-common.c:58: uv_err_name: Assertion `0' failed.
Aborted

I'd suggest adding a way to know which errno caused this. I'll manually patch my nodejs to show it for now.

EDIT: added a fprintf right before the assert(0) to show the error when the thing crashes, should have it happen within ~24 hours or so.

May I suggest the list of errno

[2011-11-16 06:26] ry commented on #206
please insert a printf there and tell us the code:

[code]

you'll need to do `make clean all`

[2011-11-16 06:34] tojocky commented on #206
In future, do not debug hard, maybe you put this patch in the repository?
Will be simple to communicate only error code without using gdb.

[2011-11-16 14:46] devdazed commented on #206
bad err.code = 104
node: src/uv-common.c:59: uv_err_name: Assertion `0' failed.
Aborted

[2011-11-16 17:06] devdazed commented on #206
here is from the bt full:

[code]

[2011-11-16 21:02] #206 closed, assigned to nobody

[2011-11-16 21:07] ry commented on #206
Updated Node v0.6 branch with this fix in joyent/node@44314ccf48332c91db57a53d5fc0e3de48642681

[2011-11-21 16:22] shigeki opened #254 "Make failure of gcc caused by "inline static""
On my Ubuntu 11.10 with gcc (Ubuntu/Linaro 4.6.1-9ubuntu3) 4.6.1, making of  libuv failes with errors below,

unix:~/tmp/github/libuv> make
cc --std=c89 -pedantic -Wall -Wextra -Wno-unused-parameter -D_GNU_SOURCE -Iinclude -Iinclude/uv-private -Isrc/unix/ev -D_LARGEFILE_SOURCE -D_FILE_OFFSET_BITS=64 -Isrc/ares/config_linux -Isrc  -g -c src/unix/core.c -o src/unix/core.o
In file included from src/u

[2011-11-23 06:40] networkimprov opened #256 "Enable omitting pages from filesystem cache on/after read"
Necessary when reading a large number of files exactly once, as for backup or indexing or synchronization.

On Linux, posix_fadvise() provides this. I don't believe it's in libeio. Note, on ARM Linux the syscall is

[code]

[2011-11-23 20:04] bnoordhuis commented on #254
Thanks for the report. It's fixed in 96c2303.

[2011-11-23 20:04] #254 closed, assigned to bnoordhuis

[2011-11-24 01:11] shigeki commented on #254
Confirmed. I've just known that __inline works as C++ inline in old C. Good Job.

[2011-11-25 11:19] piscisaureus opened #259 "Remove all UV_EAI error codes"
These are currently mapped from a special set of error values that getaddrinfo() returns. Remap getaddrinfo errors to normal error codes and remove all UV_EAI errors.

[2011-11-25 21:40] elfring opened #260 "reserved identifier violation"
I would like to point out that the preprocessor symbols "[`_UV_TREE_H_`](https://github.com/joyent/libuv/blob/b47c474cfd62eaf0030e069c160b363a2cb8ec2a/include/uv-private/tree.h#L26)" and "[`_NGX_QUEUE_H_INCLUDED_`](https://github.com/joyent/libuv/blob/b47c474cfd62eaf0030e069c160b363a2cb8ec2a/include/uv-private/ngx-queue.h#L7)" [do not fit](https://www.securecoding.cert.org/confluence/display/secco

[2011-11-28 02:05] defunctzombie opened #261 "uv_queue_work should manage its own request"
Currently, when calling uv_queue_work you have to provide the uv_work_t object and then clean it up after you use it. This is very error prone. It would be nice to adopt libeio behavior here and just have the user provide the baton pointer. The library should handle the creation of the work_t and destruction of it.

Thoughts? I am happy to provide the patch if this is the way forward.

[2011-11-28 04:36] baudehlo commented on #256
This would be worth adding to fs-ext rather than node core. Patches are always welcome.

[2011-11-28 05:34] networkimprov commented on #256
I don't understand why it doesn't belong in libuv. Flagging whether or not to impact the filesystem cache is required for any procedure reading a large number of files once each (backup, indexing, synchronization).

Please reopen, unless this is covered by another issue.

[2011-11-28 05:47] baudehlo commented on #256
It's probably hard to do cross platform and isn't really necessary for core use of node. Honestly there are WAY more important things that should be in core than this (flock, for example).

[2011-11-28 06:04] networkimprov commented on #256
The fact that the APIs are so different on unix & windows is a strong argument to do this in libuv. At least writing an flock binding is trivial for all platforms.

[2011-11-28 11:03] rmtew opened #262 "Add asynchronous interface for libuv itself"
Currently the control flow for the libuv framework is (as I understand it):

  ... set up application ...
  uv_run()
  ... return from blocking indefinitely ...

This  means that if an application is to use libuv, it needs to let libuv drive it.  This affects the way in which the application can be written.  If there was a minimal change to the libuv running mechanism to let it be pumped with a sp

[2011-11-28 11:39] bnoordhuis commented on #261
No, for two reasons:
1. One of libuv's design goals is to do as little malloc'ing as possible. That's why the caller is responsible for and has ownership of the uv_work_t struct.
2. The uv_work_t struct is embeddable and that makes it very convenient to look up the embedding struct in your callback with a container_of construct ([example](https://github.com/joyent/node/blob/216019b/src/node_crypto

[2011-11-28 11:39] #261 closed, assigned to nobody

[2011-11-28 12:42] bnoordhuis commented on #262
Sure, I'd take a patch for that. I don't think libev has facilities for timed polls (without adding explicit timers to the event loop) but the diff below should be all you need for a simple immediate poll.

[code]

[2011-11-28 14:24] baudehlo commented on #256
Flock is probably equivalently "hard".

[2011-11-28 15:29] defunctzombie commented on #261
The issue I see is that you _have_ to have a uv_work_t struct and that you have to clean it up right after you use it, not at any other time. Why does it matter that you can embed it? Each of the callbacks (during and after) all receive a pointer to it. The point is that in lib eio the library stored it for you because it was a detail of the inner workings that the end user does not really care ab

[2011-11-28 19:04] luislavena opened #263 "Slim Reader/Writer Locks only present on Windows Vista or greater"
Hello,

Seems libuv is using SRWLOCK in it's `uv_rwlock_t`.

The problem is that SRWLOCK is not defined when `_WIN32_WINNT=0x0501` (at least not under MinGW)

It requires define `_WIN32_WINNT=0x0600` (Vista) so SRWLOCK is defined.

This means libuv is bumping it's minimum required version?

[2011-11-28 19:05] luislavena commented on #263
Forgot to include links associated with this:

http://msdn.microsoft.com/en-us/library/windows/desktop/aa904937(v=vs.85).aspx
http://msdn.microsoft.com/en-us/library/windows/desktop/ms683483(v=vs.85).aspx
http://msdn.microsoft.com/en-us/library/aa383745(v=vs.85).aspx

[2011-11-28 19:09] networkimprov commented on #256
Oh, I'd thought it or fcntl were common C lib functions; apparently not...

[2011-11-28 19:13] bnoordhuis commented on #263
No, libuv should fall back to mutex based read/write locks on XP/2K and Vista.

[2011-11-28 19:15] luislavena commented on #263
But is expecting SRWLOCK be defined at compile time, which means _WIN32_WINNT needs to be 0x0600 for MinGW properly define it.

[2011-11-29 16:20] bnoordhuis commented on #263
Yes, we'll bump _WIN32_WINNT to 0x600.

[2011-11-29 21:13] luislavena commented on #263
Ok, thank you.

[2011-11-30 03:21] waywardmonkeys opened #265 "Foreign file descriptors"
I have some libraries that I'd like to use in conjunction with libuv that expose their file descriptors for integration into a foreign event loop (in this case, I'd like that to be libuv).

libev seems to support this, so I suspect that it is a matter of adding a new handle type with readable / writable callbacks?

Examples of publicly available libraries that do this include libpq's asynchronous

[2011-11-30 13:47] bnoordhuis commented on #265
Sounds reasonable. @ry?

[2011-12-08 03:58] mei-rune opened #270 "Can add a method for sent a request from another thread to the main thread."
In my patch, the very need it, see "adding a signal of support on win32.".

existing uv_\* handler can not do it,

[2011-12-08 14:50] bnoordhuis commented on #270
I think you're looking for the `uv_async_*` functions. Your 'signals for windows' patch is under consideration.

[2011-12-08 14:50] #270 closed, assigned to nobody

[2011-12-09 00:33] bnoordhuis opened #271 "IPv6: support link-local addresses"
@tshinnic pointed out that on at least Linux link-local addresses require that the interface is specified. In other words, we need to:
1. Parse the address in `uv_ip6_addr()`
2. Look up the interface ID with `if_nametoindex()` or `ioctl(SIOCGIFINDEX)`
3. Set `sin6_scope_id` to the interface ID to use

For the record, a qualified link-local address looks like this: `fe80::20c:29ff:fe31:8d4e%eth0`

[2011-12-11 03:08] txdv opened #274 "run_once functionality"
Hello guys!
I was thinking about using libuv, but I was in need of a function called run_once:
It will run through the event loop once (without blocking) executing all the events if there are any queued.

It would make libuv quite useful in gaming servers and other real time apps!
And it should be really easy to implement.

[2011-12-12 07:31] txdv opened #275 "struct sockaddr_in(6) arguments as pointers"
The function definition and implementastion of uv_ip4_addr is as follows:

[code]

I would like it to change to:

[code]
# Cons:
## Beauty of code

The code looks uglier at some place, instead of a one liner

[code]

you have to do something like this

[code]

And code like this:

[code]

turns into

[code]

which makes it quite awkward if you have more variables defined, because then the actual a

[2011-12-12 08:54] txdv commented on #262
looks like a run_once method to me, now the windows equivalent is the only thing missing.

[2011-12-12 09:08] mattn commented on #262
I hope `uv_run_once()`.

[2011-12-12 12:22] bnoordhuis commented on #262
I called it `uv_poll()` because it lets you poll for events at your convenience but the actual name is inconsequential. If someone wants to submit a patch that includes Windows support, please go ahead, else it will have to wait until someone on the team has some spare cycles.

[2011-12-12 12:23] bnoordhuis commented on #274
Closing, dup of #262.

[2011-12-12 12:23] #274 closed, assigned to nobody

[2011-12-12 12:43] bnoordhuis commented on #275
Does it matter? Even if the size of sockaddr_in and sockaddr_in6 vary across platforms, they're still fixed for the platform you compile libuv for.

It makes no difference (for x86 and x86_64 at least) since the caller allocates. To wit:

[code]

That compiles down to (snipped for brevity):

[code]

[2011-12-12 13:18] txdv commented on #275
seems like my proposal totally sucks

[2011-12-12 13:18] #275 closed, assigned to nobody

[2011-12-13 00:14] mattn commented on #262
Do you mean that the `uv_poll()` do once of `uv_run()`'s loop?

[2011-12-13 00:22] bnoordhuis commented on #262
Yes, poll once without blocking if there are no events.

[2011-12-13 00:31] mattn commented on #262
But `uv_poll` is defined in src/core/win.c alreadly. Do you mean changing `uv_poll` to global function?

[2011-12-13 00:34] bnoordhuis commented on #262
Oh, I see what you mean. Like I said, the name is inconsequential - if the Windows component of libuv already defines a `uv_poll()`, we'll name it `uv_run_once()`.

[2011-12-14 13:33] bnoordhuis commented on #262
Fixed in e53cecb.

[2011-12-14 13:33] #262 closed, assigned to nobody

[2011-12-14 18:50] igorzi opened #278 "Use UV_SUCCEEDED_WITHOUT_IOCP optimization with pipes"

[2011-12-16 11:01] chingjun opened #281 "Unable to compile with older linux kernel without inotify support"
We're using linux kernel version 2.6.9 in our company and this version of linux kernel doesn't support inotify.
Is there any way to compile libuv (or nodejs) without inotify?

Thanks.

[2011-12-16 16:59] bnoordhuis commented on #281
Thanks for the report. d808cf9 adds inotify detection to libuv and libuv has been upgraded in joyent/node@666aa0a.

[2011-12-16 16:59] #281 closed, assigned to nobody

[2011-12-19 03:58] bacchusrx commented on #158
I forked libuv and reimplemented this against the lastest master. See:

https://github.com/bacchusrx/libuv/compare/master...pipe-flock

`test-pipe-bind-error.c` passes there.

I needed this behaviour for a project I'm working on and I don't use Solaris so this is good enough for me. Maybe it'll be helpful to others until a more universal, official fix is adopted.

[2011-12-21 08:20] saghul commented on #265
I'd love too see this, and perhaps I could help (at least with the Unix part). Is anyone working on this atm?

And, how should the API look like? Should it be a thin wrapper around ev_io or perhaps make it inherit from uv_stream_t?

Thanks!

[2011-12-21 15:38] bnoordhuis commented on #265
No.

I haven't thought deeply about it but it should probably be a direct descendant of uv_handle_t. The file descriptor could very well be fundamentally incompatible with the concept of streams (think datagram sockets).

[2011-12-21 16:23] saghul commented on #265
Thanks for the info, Ben. I'll see if I can work something out! :-)

[2011-12-22 00:42] piscisaureus opened #282 "c-ares license is not included in the license file"

[2011-12-22 16:20] bnoordhuis commented on #282
Fixed in 39481b7.

[2011-12-22 16:20] #282 closed, assigned to nobody

[2011-12-26 21:59] 7phs opened #283 "Error renaming file in Win32, if the file already exists"
Calling fs__rename (src/win/fs.c) in Windows returns an error if the file on a new path already exists.
The behavior of "rename" (Linux) and "_wrename" (Windows) is different:

rename http://linux.die.net/man/3/rename : "If the link named by the new argument exists, it shall be removed and old renamed to new."

_wrename http://msdn.microsoft.com/en-us/library/zw5t957f.aspx : "The new name must not

[2011-12-27 09:15] daniel-j commented on #206
Got this on node v0.6.1:

PROCESS TITLE: src/uv-common.c:58: uv_err_name: Assertion `0' failed.
Avbruten (SIGABRT)

where PROCESS TITLE is the process.title value.

[2011-12-27 11:44] thejh commented on #206
@daniel-j Yes, use the newest node v0.6.

[2011-12-30 23:49] #283 closed, assigned to nobody

[2012-01-01 13:51] thejh opened #286 "uv_dlopen returns wrong error"
`uv_dlopen` returns wrong errors. The correct way is calling `dlerror()`. For example, I got an `ENOENT` although the real error was `/home/jann/gitty/node-nacl/build/Release/node_nacl.node: undefined symbol: ev_rt_now`.

[2012-01-01 22:28] bnoordhuis commented on #286
Yes, known problem. See e9235a3 for a bit of background. The dl\* functions don't set or return error codes, the best you can get is a string containing the error message. We currently don't have good facilities for passing around arbitrary strings in `uv_err_t`.

[2012-01-02 13:33] thejh commented on #286
@bnoordhuis Uh, but that commit isn't on the master branch, right? Why not?

[2012-01-02 13:47] thejh commented on #286
At least on 32-bit-machines, this could work by having a special `uv_err_code` for string errors that means that the `sys_errno_` is a pointer, right? And by giving `sys_errno_` the size of a pointer, this should work everywhere, right?

[2012-01-02 15:31] bnoordhuis commented on #286
It's part of the v0.6. a.k.a. the stable branch. It hasn't been up-merged into master yet.

Not quite. The pointer returned by `dlerror()` may not be persistent so libuv would need to make a copy. Who is going to free that memory and when? That's not part of the API contract right now and I don't want to bolt it on in an ad hoc fashion.

[2012-01-07 06:50] chriso opened #287 "Spawning 100+ processes causes segfault in libev"
Dup of [node #2481](https://github.com/joyent/node/issues/2481) but posted here as it appears to be a libev issue.

**test.js**

[code]

Running this on OS X Lion:

[code]

Here's the GDB output:

[code]

[2012-01-08 22:24] bnoordhuis commented on #287
Thanks for the report, Chris. Can you post the output of `backtrace full` (in gdb, after the crash)?

I suspect that you're running into the file descriptor limit. It's 256 by default on OS X and each child process uses 2 or 3 file descriptors so spawning 100 processes probably hits the limit. Until this is fixed, setting `ulimit -n 16384` should let you work around it.

[2012-01-09 08:08] chriso commented on #287
Thanks Ben, upping the descriptor limit fixes the issue.

[code]

[2012-01-10 00:04] bnoordhuis commented on #287
Thanks, Chris. Turns out it's a bug in node after all. It's fixed in joyent/node@d5d043f and joyent/node@b07acb3.

[2012-01-10 00:04] #287 closed, assigned to nobody

[2012-01-10 22:49] txdv opened #288 "read watcher for uv"
libev has a readwatcher - it just notifies if there is at all something to read so the user itself can decide how to read the data.
This would be useful for node-ncurses, since it uses the ev read_watcher to determine if there is something to read and then it uses getch (provided by the curses library) to actually get the data.
So it is impossible to compile node-ncurses on windows.

getch returns

[2012-01-11 00:25] txdv commented on #288
https://github.com/txdv/libuv/tree/read_watcher

[2012-01-11 00:44] txdv opened #289 "add shared library target"
A shared library build target would make my life much easier.

https://github.com/txdv/libuv/tree/sharedlibrary

Here is a branch with the functionality for the makefile/linux build system.
I don't know if the windows variant works, need some tester and I do not know about gyp anything at all.

[2012-01-11 01:27] luislavena commented on #289
@txdv work towards a shared library has already been implemented in master, but not completed.

See the TODOs about symbol hiding that are still pending:
https://github.com/joyent/libuv/blob/master/include/uv.h#L45

(and use `-fvisibility=hidden` for when compiling?)

PS: wonder why is this a Issue and not a pull request?

[2012-01-11 11:28] txdv commented on #289
maybe because of code review? further suggestions?

You said that there is already a shared library target in master? Can you point out where it actually is?

Edit: Ok, I see now what you meant with your last post, people can read more on this issue on http://gcc.gnu.org/wiki/Visibility

I have to admit that I did not care about the visibility because I just wanted to have a shared library so I co

[2012-01-11 12:23] txdv commented on #288
I updated the branch, took boords comments into consideration.
But we need a windows implementation for this as well, someone out there with windows please?

[2012-01-11 12:24] txdv opened #291 "uv_poll/uv_run_once_noblock"
This function should through the loop without blocking and dispatching all events.

joyent/libuv@e8494dddc0

Would make libuv suitable to be used in single threaded non blocking engines (game engines for example).

[2012-01-11 13:50] txdv commented on #289
So I have updated the my branch.

Now I have to somehow distinguish between the object files created for the shared and the static library.
The shared library object files should be compiled with -DBULDING_UV_SHARED, while the static library should be compiled without this macro.

Currently I am adding that macro manually to the clags in the config-unix.mk but this is a bad solution I guess.
There

[2012-01-11 18:06] txdv commented on #288
I talked to bnoordhuis on irc and he suggested to make the read_watcher a handle that you can instantiate from an arbitrary fd.
There is a draw back: kqueue needs all file descriptors to be in the same kqueue (loop).

So I coded it that one can instantiate a read_watcher handle from an arbitrary stream (so the read_watcher ends up in the same loop as the stream itself). The handle is an abstractio

[2012-01-12 00:18] piscisaureus commented on #288
Maybe we can somehow have full ev_io like support for some handle types? I can provide it for windows, although it will be much less efficient than overlapped io. I think it could be useful because it is sometimes needed for integration with other libraries (e.g. c-ares).

[2012-01-12 20:01] txdv commented on #288
what other ev_io functionality are you missing?

On a comment on the read_watcher2 (it has a uv_read_watcher_t which is a handle).
I don't know, the implementation is kind of heavy for a simple callback.
In my opinion this would be nicer:

[code]

Any comments?

[2012-01-16 12:06] piscisaureus commented on #154
Closed in fce90652ed38ab0925131ed141972354a494933b

[2012-01-16 12:06] #154 closed, assigned to piscisaureus

[2012-01-17 16:07] saghul opened #293 "[unix] Crash on uv_guess_handle if error is produced"
On unix uv_guess_handle calls uv__set_sys_error with NULL as the loop argument, causing a segfault. Should it just return UV_UNKNOWN_HANDLE instead?

[2012-01-17 16:48] #293 closed, assigned to nobody

[2012-01-17 16:48] bnoordhuis commented on #293
Thanks for the report, Saúl. It's fixed in bf8ccfc.

[2012-01-17 18:18] saghul commented on #293
That was quick! Thanks @bnoordhuis!

[2012-01-23 20:27] kkaefer opened #296 "Create junction points instead of symlinks"
Symlinks require admin access and are only available from Windows Vista on. libuv should create [junction points](http://support.microsoft.com/?kbid=205524) ([C++ interface](http://www.flexhex.com/docs/articles/hard-links.phtml#download)) if possible. Junction points only work on directories, so plainly using them for everything won't work either. Not sure what's the best way to do this.
@gissues:

[2012-01-23 20:32] piscisaureus commented on #296
Don't want "instead of" but "in addition to" should be fine.

(Old) code to create symlinks is already here: https://github.com/piscisaureus/node/blob/abbc52482809081c01ed06d08ba2c8d50bc65d5d/src/platform_win32_fs.cc#L21-174

[2012-01-24 08:45] kkaefer commented on #296
That code already seems to create junction points. https://github.com/piscisaureus/node/blob/abbc52482809081c01ed06d08ba2c8d50bc65d5d/src/platform_win32_fs.cc#L193-199 has a bool parameter for creating a junction point instead of a symlink.

[2012-01-26 15:47] joeferner commented on #286
Instead of returning the error string in the uv_err_t struct could it be stored in a last error string on the globals stack and then calls to uv_strerror could get the last error string.

[2012-01-31 01:17] bnoordhuis opened #300 "linux: uv_fs_event_init() should use single inotify fd"
The current implementation creates an inotify fd for each watcher, making it quite easy to run into the `fs.inotify.max_user_instances` sysctl limit.

See joyent/node#2479 for an example.

[2012-01-31 09:26] #236 closed, assigned to nobody

[2012-01-31 09:26] igorzi commented on #236
Done (2ce0058251373bc08016acd579aaf5bb0d8494c3)

[2012-01-31 12:18] bsnote opened #301 "Is comment for uv_write function valid?"
[code]

[2012-01-31 12:28] bsnote commented on #301
The comment is valid.

[2012-01-31 12:28] #301 closed, assigned to nobody

[2012-01-31 23:00] luislavena commented on #263
Hello @bnoordhuis seems b471b33da88da0ca0b913573370cc6919ec134e7 solved the issue for `config-mingw.mk` but the gyp file still defines `0x0502`:

https://github.com/joyent/libuv/blob/master/uv.gyp#L118

[2012-01-31 23:25] luislavena commented on #188
@piscisaureus @pietern was this merged in?

[2012-01-31 23:31] pietern commented on #188
It wasn't, but can't be applied to the current tree as is anyway.

[2012-01-31 23:34] paddybyers opened #302 "HAVE_GETADDRINFO_THREADSAFE no longer does anything"
In the ares config.h this option exists but in libuv it does nothing.

in Android (versions before 3.0) getaddrinfo is not thread-safe and it would be good to enable this or an equivalent option.

Would a patch for that be welcome?

If so - any thoughts on implementation? Obviously we can just put the getaddrinfo call so it runs in the event loop thread instead of in a helper thread but I don't kn

[2012-02-01 08:41] bsnote opened #303 "Assertion failed on connection timed out"
[code]

when executing this program, it's aborted. Below is the output

connect_cb: connection timed out
program: src/unix/stream.c:685: uv__stream_io: Assertion `stream->type == UV_TCP || stream->type == UV_NAMED_PIPE || stream->type == UV_TTY' failed.
Aborted
bsnote@ubuntu64:~/src/program$

[2012-02-01 14:27] bnoordhuis commented on #263
Thanks for pointing that out, Luis. It's fixed in 65bbf02.

[2012-02-01 14:27] #263 closed, assigned to nobody

[2012-02-01 15:03] paddybyers commented on #302
As discussed on irc:
- HAVE_GETADDRINFO_THREADSAFE never did anything in c-ares;
- there's nothing generic we can think of that would solve the issue.

In Android, the issue isn't that GETADDRINFO isn't thread-safe, it's that it uses stdio which isn't thread-safe. So locking to provide mutual exclusion for calls to getaddrinfo doesn't solve the problem.

[2012-02-01 15:03] #302 closed, assigned to nobody

[2012-02-01 21:59] bnoordhuis commented on #303
Works for me with master and v0.6. You're missing a `#include <stdlib.h>` so maybe it's the missing malloc prototype that's breaking your test.

[2012-02-03 12:03] ABelliqueux opened #304 "Building on uClibc fails (futimes issue)"
Hi,

I'm trying to get libuv to build on my system in order to build node.js, but an undefined reference to 'futimes'
arrise.

Some information on my system :

OS is Gnu/Linux distro Alpinelinux, based on uClibc and Busybox.

[code]

What I did :

I cloned the libuv git, and then tried to 'make'. While 'make' seems to result in no error , 'make test' does.
I get the same result as in 'make test' l

[2012-02-03 15:14] bnoordhuis commented on #304
Arthus, can you test bnoordhuis/libuv@661ff1a?

[2012-02-03 19:20] ABelliqueux commented on #304
Hi there !

Allright, I cloned the 'issue304' branch, then tried to build.

Again, no error seems to show while building, but new errors when trying 'make test'.

Not sure what it means... If I ever get to build libuv, am I supposed to do something with it ? There seems to be no 'make install' rule...

Again, thanks a hunch for your help and time !

# make

[code]

# make test

[code]

[2012-02-03 23:40] bnoordhuis commented on #304
It's part good, part bad.

The patch compiles and seems to work as advertised so that's good. The bad part: there are a lot of tests failing for no obvious reason.

[2012-02-04 17:59] ABelliqueux commented on #304
Would you like me to do anything special to help you trace the issue ?

I tried compiling node after copying the previously built 'uv.h' in /lib/include,
and it still won't build...

Not quite sure what I should do next...

[2012-02-04 20:26] bnoordhuis commented on #304
Can you post the output of (for example) `strace test/run-tests delayed_accept delayed_accept`?

[2012-02-05 17:00] luislavena opened #305 "win: use of undefined IPV6_HOPLIMIT in udp (MinGW)"
Seems that `IPV6_HOPLIMIT` is not defined under MinGW (mingw.org build), resulting in the following failure:

[code]

Couldn't find a page in MSDN that documents it's value.

[2012-02-05 17:00] ABelliqueux commented on #304
Sorry for the delay, I did'nt see your answer until now ...

So here is the result of above command :

[code]

I have the feeling that the 'Aborted' part isn't good news...

[2012-02-05 17:04] piscisaureus commented on #305
We take patches for that. Missing definitions and prototypes should go into `src/win/winsock.h` or `src/win/winapi.h`.

From ws2ipdef.h:

[code]

[2012-02-05 17:06] luislavena commented on #305
Thank you @piscisaureus will send a pull request later today.

[2012-02-05 22:54] bnoordhuis commented on #304
Can you run it once more? It's failing for a different reason than the first time, presumably because there are still some test runners active in the background. `pkill run-tests` should fix that for you.

[2012-02-06 09:52] ABelliqueux commented on #304
Hi,

Did `pkill run-tests`, then `strace test/run-tests delayed_accept delayed_accept` :

[code]

Does it help ?

[2012-02-06 19:41] bnoordhuis commented on #304
Arthus, I've landed the patch in the master branch in 4a5f3bb.

The tests seem to fail for a multitude of reasons (delayed_accept, for example, inexplicably fails with ECONNREFUSED. Maybe your system is too far outside the mainstream.) I'll take patches but I can't invest too much time myself.

[2012-02-06 19:41] #304 closed, assigned to bnoordhuis

[2012-02-06 20:08] ABelliqueux commented on #304
Allright, Well I guess I'll have a debian installed in order to do what I planned to... Thanks a hunch anyway for your time !

[2012-02-07 16:04] kkaefer opened #308 "Child process doesn't terminate after longjmp in threadpool"
Demo code is at https://gist.github.com/1760397

It looks like child processes don't terminate correctly when a `longjmp` has happened before in a threadpool function. The child process closes stdout and stderr, but node fails to report that it terminated. After that, I can only terminate node with `kill -9`. Am I using `longjmp` incorrectly?

[2012-02-07 16:05] kkaefer commented on #308
(not sure this is a libuv problem, but the same code worked in node v0.4)

[2012-02-07 21:11] bnoordhuis commented on #308
It should work. However:
1. This is not a libuv bug.
2. It's generally not a good idea to longjmp() around in programs that use mutexes. (Should be harmless in this particular case but the advise stands.)
3. You probably need to use `siglongjmp()`.

[2012-02-07 21:11] #308 closed, assigned to nobody

[2012-02-07 23:09] isaacs opened #309 "Provide binding to truncate as well as ftruncate"
On windows, do open/_chsize/close.  The unix version should be something like this:

[code]

[2012-02-10 10:07] nikolaybotev commented on #289
I just managed to build uv as a DLL on windows. I had to:
1) open the project in vs2010 and convert it (generated sln was in vs2008 format and did NOT build from the command line due to missing stdint.h pre-vs2010)
2) created a new configuration Debug-dll
2.1) change configuration type to DLL
2.2) add the BUILDING_UV_SHARED preprocessor directive
2.3) add Ws2_32.lib, Psapi.lib, Iphlpapi.lib as add

[2012-02-10 10:12] nikolaybotev commented on #25
Hi what is the status of this exactly?  I just cloned libuv and gyp generates vs2008 project files for me still. I have both vs2008 ultimate and 2010 ultimate installed. Is there a way to tell gyp to generate vs2010 project files?

[2012-02-10 21:44] nikolaybotev commented on #289
run-benchmarks linked to the DLL works like a charm. Do you guys plan on providing first-class support for building as a shared library as part of the standard gyp infrastructure?

I could look into updating gyp with a new target for windows, and Linux and Mac at a later point. Would that be useful or do you guys already have this in place/coming soon?

[2012-02-10 21:56] nikolaybotev commented on #25
I figured out this is a gyp issue. I am posting here for other unfortunate souls who stumble upon the same issue:

If multiple versions of Visual Studio are installed, gyp picks 2008 first, then 2005, then 2010 (as of time of this writing):

http://code.google.com/p/gyp/source/browse/trunk/pylib/gyp/MSVSVersion.py#207

To force gyp to generate VS 2010 projects, the easiest way is to set the GYP_MS

[2012-02-11 01:17] ry opened #312 "upgrade libev to 4.11"
http://comments.gmane.org/gmane.comp.lib.ev/1717

[2012-02-11 05:11] txdv commented on #289
Do that in a branch and post the branch in here!
Do that for windows first and I'll try to do it for linux :)

[2012-02-14 07:02] saghul opened #313 "uv_setup_args not working on Linux"
Hi,

I was testing uv_get/set process_title on Linux and it didn't seem to work properly, I always got the empty string back (from the get operation).

I tracked it doen to the uv_setup_args function:

[code]

The malloc tight after the length calculation will fail and thus the empty string will be returned. I tried to find the fix myself but it eludes em :-S

[2012-02-14 08:20] saghul commented on #313
Sorry for the noise, it was my fault :-S I was calling uv_setup_args with the wrong argv, not the real one.

[2012-02-14 08:20] #313 closed, assigned to nobody

[2012-02-16 15:37] luislavena commented on #131
@ry I think this is no longer required as we have `config-mingw.mk` and `Makefile` working together.

@piscisaureus and @bnoordhuis what do you guys think? can be closed?

[2012-02-16 15:45] piscisaureus commented on #131
Good point. Closing.

[2012-02-16 15:45] #131 closed, assigned to nobody

[2012-02-18 00:31] bnoordhuis opened #315 "unix: reimplement EMFILE trick"
Stash away an open file descriptor. When EMFILE is returned by e.g. `accept()`, close the spare and retry the operation, then close the new file descriptor. (Note: not foolproof in multi-threaded environments.)

This is good because it signals to peers that we're overloaded / stops connections from rotting away in the listen backlog. It also mitigates issues like joyent/node#2529.

[2012-02-19 00:09] nikolaybotev commented on #289
I was wrong, I do not have the time for dealing with gyp and posting a branch here. The manual steps I documented here are good enough for me for now. Hopefully someone else with more gyp expertise and/or time can tackle this.

[2012-02-21 12:01] radare opened #317 "size_t is unsigned (c99)"
As size_t is unsigned it is not valid to check for negative values with it. Here's one example where this can cause an error.
I have detected this bug by using the api from inside a chroot without mounted /proc. But this error should be in other places than just src/unix/linux.c

[code]

[2012-02-21 12:33] bnoordhuis commented on #317
Thanks, it's fixed in e504719. Let me know if you find more.

[2012-02-21 12:33] #317 closed, assigned to nobody

[2012-02-21 12:50] radare opened #318 "TODO: Add API for serial ports"
It would be good to add support for serial ports on libuv at some point. I think that basic event api would work with COM# (windows) or /dev/ttyX (unix). But we need an API to configure the speed, parity, etc.. of the terminal.

[2012-02-21 13:01] bnoordhuis commented on #318
That's out of scope for libuv. You're free to build something on top, of course, but libuv itself is not the place for it.

[2012-02-21 13:01] #318 closed, assigned to nobody

[2012-02-21 14:16] olsonjeffery opened #319 "call uv_close() callbacks that are registered post-return from uv_run()"
If I have a handler that was added to the loop, but is not keeping the loop from exiting (via uv_unref() ), I'd like to still be able to use uv_close(), after uv_run() returns, to register a callback to be processed once any libuv-managed memory/descriptors linked to the handle have been released.

Right now, it appears that a callback registered as such isn't executed (in my testing with a uv_asy

[2012-02-21 14:18] piscisaureus commented on #319
@olsonjeffery What about this:

[code]

[2012-02-21 14:38] #305 closed, assigned to nobody

[2012-02-23 17:59] bnoordhuis opened #320 "windows: make libuv thread-safe"
Timers are stored in a static rbtree right now, there are some other static variables too. Those should all be moved into the `uv_loop_t` struct sometime soon, it's blocking the Rust guys.

[2012-02-23 18:04] olsonjeffery commented on #320
thanks!

[2012-02-23 18:16] #300 closed, assigned to bnoordhuis

[2012-02-23 18:17] bnoordhuis commented on #300
Fixed in d3efefb.

[2012-02-24 00:36] piscisaureus commented on #320
@bnoordhuis Timers _are_ stored in the loop struct. RB_GENERATE_STATIC just generates functions. Where do you see thread-safety issues?

[2012-02-24 10:56] judofyr commented on #289
What's the status on this?

[2012-02-24 11:25] shigeki commented on #286
@bnoordhuis  Is there any updates on this recently?
 I had the experience that it was very hard to investigate the error of dlopen() some time ago.  It seems that most of such troubles cannot be solved until the messages of dlerror() are shown to user.

If binary installation via npm will be deployed in the near future, they would be much more serious problems.

So, I've tried to show dlerror() me

[2012-02-24 11:32] bnoordhuis commented on #320
I was worried about [this](https://github.com/joyent/libuv/blob/fbc2154/src/win/timer.c#L34) but `uv_ticks_per_msec_` doesn't appear to be used at all.

[2012-02-24 12:22] piscisaureus commented on #320
Did anyone experience actual thread safety issues on windows? I know there are some counters that are not embedded in the loop struct yet - but that shouldn't matter, we don't rely on them to be absolutely correct.

@olsonjeffery @bnoordhuis

[2012-02-24 14:12] bnoordhuis commented on #286
@shigeki: It's a good start. Can you submit it as a libuv PR first? I would like the API to look something like this:

[code]

[2012-02-24 14:58] shigeki commented on #286
Thanks, Ben. I will submit a new PR soon.

[2012-02-24 16:39] TooTallNate commented on #286
OMG +Infinity

[2012-02-24 17:05] shigeki commented on #286
@TooTallNate Thanks a lot.

@bnoordhuis I've just submit #325. Please review it. After your review, I will submit a new PR to node.

[2012-02-25 01:31] olsonjeffery opened #328 "windows v. linux behavior of uv_unref()'d uv_async_t handle"
1. create a new loop
2. do `uv_async_init()` with the loop
3. do `uv_async_send()` with the `new uv_async_t` handle
4. `uv_unref()` the new `uv_async_t` handle
5. do `uv_run()` with the loop
6. results in:
   - on windows: loop exits immediately. `uv_async_t` callback is never called
   - on linux: `uv_async_t` callback is executed. if new handles are registered in the course of the callback, the

[2012-02-25 01:47] olsonjeffery commented on #328
Mainly: is this undefined behavior and my fault for trying to exploit it to my advantage?

I've already coded around it to account for the "on windows" (with a net complexity increase ): . Naturally, I prefer the 'on linux' behavior as it enabled some (of the good kind of) laziness on my part.

[2012-02-26 16:09] piscisaureus commented on #328
Whether uv_async_send should ref is something we underspecified when designing libuv. However, I think the uv-unix way is better, so we will adjust uv-win accordingly.

(It also fits within the general ref count refactor plans)

[2012-02-27 20:14] bnoordhuis commented on #308
@kkaefer: Late addendum, I forgot to mention in my previous comment that you need to declare your locals `volatile`, they're getting clobbered now.

[2012-02-27 21:56] kkaefer commented on #308
Thanks for your feedback. In this particular case I decided to use C++ exceptions with throw instead (I was already in a C++ context anyway), which works fine.

[2012-02-27 23:31] saghul commented on #190
Hi,

Is anyone working on this at the moment? If not, I'd like to help :-) I need to parse NAPTR query results, which was just recently merged into c-ares master, so upgrading would make my life easier :-)

Appart from the fact that the files are organized in different directories, what significant changes are you referring to, @ry? Do you mean changes made to the c-ares inside libuv or potential

[2012-02-28 16:23] bnoordhuis commented on #328
The uv-unix behavior is an unintentional side effect, the send is effectively done immediately. I can live with keeping the event loop alive for another tick if that makes other people's lives easier.

[2012-02-28 16:26] piscisaureus commented on #328
@bnoordhuis On windows the send also happens immedately. The difference is that on unix you always make at least one pass through the loop reactor (but calling epoll/kqueue/... with timeout 0). On windows we immediately fall off the loop when you call uv_run when the refcount is zero. Windows could easily adopt linux behavior.

[2012-02-28 16:55] bnoordhuis commented on #328
Right, that's what I mean with 'unintentional side effect'. Doing one more iteration of the event loop sounds good.

[2012-02-28 17:38] Keno opened #330 "Test failures on windows"
I have buillt libuv in both mingw and MSVC and I have 8 test failure (http://pastebin.com/ARYY62ga). Is that normal?

[2012-02-28 17:48] bnoordhuis commented on #330
The *_ref tests? Yes. Other tests may fail for a number of reasons. Some operations aren't supported on Windows XP, for example.

[2012-03-01 23:02] jbergstroem commented on #289
I guess the next relevant question is if libuv will offer an versioned ABI. Guess the library is still in its conception, but all this static compiling and embedding feels "wrong".

[2012-03-04 21:01] erikdubbelboer opened #334 "getaddrinfo error codes"
Shouldn't `uv_getaddrinfo()` return the error codes of the underlying `getaddrinfo()` call?

Our application started throwing ENOENT exceptions on dns lookups of `localhost`. It took us a long time to figure out that our application was running out of file descriptors and `getaddrinfo()` was actually throwing an EMFILE error.

This would be a fix but it breaks the dns tests which are still looking

[2012-03-05 14:17] bnoordhuis commented on #334
Alas, no. `getaddrinfo()` isn't guaranteed to set `errno` unless it returns `EAI_SYSTEM`.

[2012-03-05 14:17] #334 closed, assigned to nobody

[2012-03-05 14:25] erikdubbelboer commented on #334
Then shouldn't we check for EAI_SYSTEM and set the correct error in this case? Currently there is just no way to really know why `getaddrinfo()` failed!

[2012-03-05 15:06] bnoordhuis commented on #334
I should've anticipated that question. :-)

The reason `EAI_SYSTEM` isn't handled like that is because glibc sometimes sets `h_errno` instead of `errno`. In other words, you would get bogus error codes. UNIX is great, isn't it?

[2012-03-05 15:14] erikdubbelboer commented on #334
Great :(

Since node uses it's own set of error codes, couldn't we we just return a custom EAI_SYSTEM like error code instead of ENOENT? Since ENOENT seems like the wrong code for these kinds of errors (out of memory, out of file descriptors, ...)

[2012-03-05 15:26] bnoordhuis commented on #334
If your patch fixed the issue for you, then the system resolver returned `EAI_NONAME` or `EAI_NODATA`, not `EAI_SYSTEM`. You almost never get `EAI_SYSTEM`, it's the `getaddrinfo()` equivalent of `abort()`. With the other two error codes, the value of `errno` is unspecified.

[2012-03-05 15:41] erikdubbelboer commented on #334
I guess so yes. So it returend `EAI_NONAME` but I checked `errno` and it is set to `EMFILE`. Even though `errno` is correct in this case I guess it won't aways be so I have no idea how to fix this. Maybe somehow exposing `errno` in the error thrown, but I don't have enough knowledge of how nodejs errors work to be able to fix this (of even see if it's possible).

[2012-03-08 14:18] piscisaureus commented on #330
The TTY test should probably be disabled

[2012-03-09 08:17] saghul opened #339 "Proposal: add flags to uv_run, a la ev_run"
I noticed issue #291, and I think (please, correct me if I'm wrong), that the implementation of NOWAIT in Windows would just involve passing false to the call to poll here: https://github.com/joyent/libuv/blob/master/src/win/core.c#L237 (perhaps with a new parameter to UV_LOOP_ONCE, but I didn't hink too much of that yet).

So assuming that would be added there would be uv_run, uv_run_one and uv_r

[2012-03-11 10:48] AndreasMadsen opened #340 "uv_close might have a bug"
A while ago @piscisaureus told me that this node.js patch [2676](https://github.com/joyent/node/pull/2676) was wrong, because you can't call `._internal.close()` before the process has dies. However it works perfectly on OS X, so there is properly something wrong with `uv_close`.

[2012-03-12 14:16] tempbottle opened #342 "Is uv_insert_pending_req need thread safe?"
Hi,
I have send a event to the default loop from thread pool, and that make a crash.
I don't know whether the libuv can do some sync or I can do some sync like use a mutex outside.
In fact, I use pyuv to write a tcp-echo-server, and the dump file give this msg:

call stack:

[2012-03-12 14:28] piscisaureus commented on #342
You cannot access an event loop from multiple threads concurrently. The only thread-safe function is uv_async_send. You should use that if you need to synchronize with the main thread.

[2012-03-12 14:28] #342 closed, assigned to nobody

[2012-03-13 08:24] saghul opened #344 "Lifetime of buffers on uv_write"
Hi,

I was wondering what the expected lifetime for buffers passed to uv_write was so I checked the code and found what could be an inconsistency between Windows and Unix.

In Unix uv_write copies (with memcpy) all the buffers passed, so basically I could write code like this:

[code]

On Windows, OTOH, I don't see that memcpy, and according to the documentation (please correct me if I'm wrong) on

[2012-03-13 12:51] bnoordhuis commented on #344
/cc @piscisaureus

It's the responsibility of the caller to keep the memory that the `uv_buf_t` structs point to alive and untouched until the write request completes. It's libuv's responsibility however to make a copy of the structs themselves.

[2012-03-13 12:58] saghul commented on #344
Hi Ben,

Right. I mistakenly thought that in Unix the whole content of the structs themselves was copied, but it's not, yeah that makes sense :-)

You may close this if @piscisaureus confirms that copying is not required on Windows then.

[2012-03-14 04:31] Marak commented on #158
Is there any status on this? This seems like something that should be available to Node.js

[2012-03-14 04:37] bacchusrx commented on #158
I don't know if it would be acceptable to #ifdef around sunos so that this works at least on Linux, Darwin, etc., for now. It doesn't feel right, but at least it wouldn't be broken everywhere.

[2012-03-15 00:50] bnoordhuis commented on #303
Closing. No reply in over a month so I assume you resolved the issue.

[2012-03-15 00:50] #303 closed, assigned to nobody

[2012-03-15 00:50] bnoordhuis commented on #246
Thanks Paddy but we won't take it. Appreciate the effort though.

[2012-03-15 00:50] #246 closed, assigned to nobody

[2012-03-15 00:50] bnoordhuis commented on #157
@piscisaureus: Is this still relevant?

[2012-03-15 00:53] bnoordhuis commented on #158
Duplicate of #135. I don't think we can fix this using traditional methods (at least in a portable way) but who knows.

EDIT: Make that #124.

[2012-03-15 00:53] #158 closed, assigned to nobody

[2012-03-15 00:54] bnoordhuis commented on #135
Duplicate of #124, continues there.

[2012-03-15 00:54] #135 closed, assigned to bnoordhuis

[2012-03-15 00:58] bnoordhuis commented on #320
Closing, seems we're fine.

[2012-03-15 00:58] #320 closed, assigned to nobody

[2012-03-15 00:59] bnoordhuis commented on #288
Closing, continues in #316.

[2012-03-15 00:59] #288 closed, assigned to nobody

[2012-03-15 01:00] bnoordhuis commented on #286
Fixed in b55801f.

[2012-03-15 01:00] #286 closed, assigned to nobody

[2012-03-15 01:06] bnoordhuis commented on #289
Building a shared library should already Just Work(TM), provided you pass `-Dlibrary=shared_library` to gyp. I will entertain patches to the Makefiles but in all honesty, I don't care - gyp is the way forward.

@jbergstroem: re: versioned ABI: Eventually maybe, there's no rush so far.

[2012-03-15 01:06] #289 closed, assigned to nobody

[2012-03-15 01:07] bnoordhuis commented on #265
Continues in #316.

[2012-03-15 01:07] #265 closed, assigned to nobody

[2012-03-15 01:24] #260 closed, assigned to nobody

[2012-03-15 01:25] bnoordhuis commented on #260
I suppose you're technically correct (the best kind of correct, according to some). Fixed in 7a2bd05.

[2012-03-15 01:26] bnoordhuis commented on #160
Closing, we're not going to do this.

[2012-03-15 01:26] #160 closed, assigned to nobody

[2012-03-15 01:27] bnoordhuis commented on #163
Fixed in abf9654.

[2012-03-15 01:27] #163 closed, assigned to nobody

[2012-03-15 01:29] bnoordhuis commented on #168
Closing. Most of these warnings have been fixed with the exception of libev and libeio, thanks to Marc Lehman's inimitable^ coding style.

^ Fortunately.

[2012-03-15 01:29] #168 closed, assigned to nobody

[2012-03-15 01:33] bnoordhuis commented on #166
Doesn't strike me as a problem. The other issues have all been resolved.

[2012-03-15 01:33] #166 closed, assigned to nobody

[2012-03-15 01:37] bnoordhuis commented on #250
Fixed in 248ca5d6.

[2012-03-15 01:37] #250 closed, assigned to nobody

[2012-03-15 01:38] bnoordhuis commented on #247
Fixed in 24e6c7ec.

[2012-03-15 01:38] #247 closed, assigned to nobody

[2012-03-15 01:41] bnoordhuis commented on #221
I _think_ this got fixed in ee49c7a. If not, holler and I'll reopen the issue.

[2012-03-15 01:41] #221 closed, assigned to nobody

[2012-03-15 01:41] bnoordhuis commented on #185
Closing, this got fixed.

[2012-03-15 01:41] #185 closed, assigned to nobody

[2012-03-15 01:43] bnoordhuis commented on #164
I like hyphens, with hyphens I don't have to tap shift. Closing. _hug_

[2012-03-15 01:43] #164 closed, assigned to nobody

[2012-03-15 01:45] bnoordhuis commented on #162
We have a couple of these in `test/test-thread.c` now. Closing.

[2012-03-15 01:45] #162 closed, assigned to nobody

[2012-03-15 01:47] #146 closed, assigned to igorzi

[2012-03-15 01:47] #145 closed, assigned to nobody

[2012-03-15 01:47] #144 closed, assigned to igorzi

[2012-03-15 01:47] #143 closed, assigned to igorzi

[2012-03-15 01:47] #142 closed, assigned to igorzi

[2012-03-15 01:48] #139 closed, assigned to igorzi

[2012-03-15 01:48] #140 closed, assigned to igorzi

[2012-03-15 01:48] bnoordhuis commented on #188
@piscisaureus: This got fixed, right?

[2012-03-15 01:50] bnoordhuis commented on #192
Not relevant anymore, closing.

[2012-03-15 01:50] #192 closed, assigned to nobody

[2012-03-15 01:52] bnoordhuis commented on #172
Fixed in 72b5976. Possibly needs documenting in uv.h. @piscisaureus or @igorzi?

[2012-03-15 01:55] bnoordhuis commented on #117
Superseded by the work on domains, closing.

[2012-03-15 01:55] #117 closed, assigned to nobody

[2012-03-15 01:55] bnoordhuis commented on #110
Okay, we're not going to do this. Closing.

[2012-03-15 01:55] #110 closed, assigned to nobody

[2012-03-15 01:56] #109 closed, assigned to nobody

[2012-03-15 01:58] bnoordhuis commented on #152
@piscisaureus: Is this still relevant?

[2012-03-15 01:59] bnoordhuis commented on #81
Closing. If this hasn't been fixed by now, I owe you a sixpack.

[2012-03-15 01:59] #81 closed, assigned to nobody

[2012-03-15 02:00] bnoordhuis commented on #86
We have a stdio API now (for better or worse), closing.

[2012-03-15 02:00] #86 closed, assigned to piscisaureus

[2012-03-15 02:01] bnoordhuis commented on #84
Closing, superseded by #104 (which I still think is a good idea).

[2012-03-15 02:01] #84 closed, assigned to nobody

[2012-03-15 02:05] bnoordhuis commented on #68
Closing, we have a file watcher API now.

[2012-03-15 02:05] #68 closed, assigned to nobody

[2012-03-15 02:06] bnoordhuis commented on #41
Closing, we're not going to change what we have now.

[2012-03-15 02:06] #41 closed, assigned to nobody

[2012-03-15 02:07] bnoordhuis commented on #39
Closing, we have lots of refcount tests now.

[2012-03-15 02:07] #39 closed, assigned to nobody

[2012-03-15 02:07] bnoordhuis commented on #22
Closing, no longer relevant.

[2012-03-15 02:07] #22 closed, assigned to nobody

[2012-03-15 02:10] bnoordhuis commented on #55
Okay, I've changed my mind: no one ever complained so let's forget about it.

[2012-03-15 02:10] #55 closed, assigned to nobody

[2012-03-15 02:11] bnoordhuis commented on #46
@piscisaureus and I figured out the semantics a while ago and work is ongoing to implement it. Closing.

[2012-03-15 02:11] #46 closed, assigned to nobody

[2012-03-15 02:12] bnoordhuis commented on #75
Closing, this has been implemented.

[2012-03-15 02:12] #75 closed, assigned to nobody

[2012-03-15 02:12] bnoordhuis commented on #58
Closing, this works now.

[2012-03-15 02:12] #58 closed, assigned to nobody

[2012-03-15 02:15] bnoordhuis commented on #259
@piscisaureus: You still want to do this? There are only three UV_EAI\* codes left and I don't see anything wrong with them.

[2012-03-15 02:16] bnoordhuis commented on #256
I don't see a pressing need to add this to libuv. Closing unless you can convince me otherwise.

[2012-03-15 02:16] #256 closed, assigned to nobody

[2012-03-15 02:23] bnoordhuis commented on #167
I don't think we're going to do this. It's a subclass of `uv_req_t` now and that seems fine to me. Let me know if (and why) you disagree.

[2012-03-15 02:23] #167 closed, assigned to igorzi

[2012-03-15 03:53] networkimprov commented on #256
Some apps need to read a potentially large tree of files, each exactly once, for synchronization or backup purposes, which will wipe out the file cache, unless this feature is available.

I'd be glad to provide a patch. (Tho won't get to it for a while yet.)

[2012-03-15 08:44] elfring commented on #260
Thanks for your source code adjustment.

I have found a few more update candidates. I would like to point out that identifiers like "[`ARES__H`](https://github.com/joyent/libuv/blob/2e4eca3b5e200171c3b446b53992aaac3f4106e7/include/ares.h#L18)" and "[`ARES__VERSION_H`](https://github.com/joyent/libuv/blob/2e4eca3b5e200171c3b446b53992aaac3f4106e7/include/ares_version.h#L2)" [do not fit](https://www.

[2012-03-15 09:09] elfring opened #346 "Unsafe include guards"
I find your include guards like "[`UV_H`](https://github.com/joyent/libuv/blob/2ef5798c6f0513914bf83aa910b2535d9a1d5948/include/uv.h#L24)" and "[`EIO_H_`](https://github.com/joyent/libuv/blob/abf9654a55fe7c1c5b729626914c437c99d1a668/include/uv-private/eio.h#L40)" too short.
How do you think about to add an [UUID](http://en.wikipedia.org/wiki/Universally_unique_identifier) to them so that the reuse

[2012-03-15 09:37] paddybyers commented on #246
Yes, understood, it's long-since overtaken by events. It looks like I can still migrate to the libuv thread support you added, although I still have to figure out how to maintain the isolate stuff long term :)

[2012-03-15 13:20] luislavena commented on #289
As long gyp is supported by your platform (hint: mingw still isn't) :wink:

[2012-03-15 13:41] bnoordhuis commented on #246
Isolates are dead / have never existed as far as I'm concerned but if there's something we can do to make your job easier, let me know.

[2012-03-15 13:46] bnoordhuis commented on #260
You should report those to c-ares, we only bundle it.

[2012-03-15 13:48] bnoordhuis commented on #346
Sorry but no, not going to do that.

[2012-03-15 13:48] #346 closed, assigned to nobody

[2012-03-15 13:54] bnoordhuis commented on #256
If someone can show me a real world libuv application where fs cache trashing is the bottleneck, I'll consider it. Until then, I won't be taking patches.

[2012-03-15 14:10] piscisaureus commented on #256
I can't speak for unix variants, but at least windows is quite good in detecting access patterns and adjusting caching behavior accordingly. If it detects a serial read it'll quickly start doing only read-ahead caching and nothing else. If you really care, there is a flag for CreateFile (the winapi equivalent of open) that tells windows that the read is going to be serial. I don't really think we

[2012-03-15 14:15] piscisaureus commented on #259
It's not consistent. At some point we decided that we wanted to drop EAI error codes and map them to normal ones. Now I don't want leave just 3 of them.

[2012-03-15 14:25] bnoordhuis commented on #259
Okay, go and fix it then. Us unix folk don't use them.

[2012-03-15 14:41] piscisaureus opened #347 "refcount refactor"
The current refcount system kind of sucks and it also makes debugging impossible. Therefore we are going to refactor it.

First, there are new reference count principles:
- Handles add a reference to the event loop _only_ when they are active.
  - `uv_check`, `uv_idle`, `uv_prepare` are only active when they are started.
  - `uv_timer` is active when a timer is set. If the timer is repeating, it i

[2012-03-15 14:41] piscisaureus commented on #46
Continues in #347

[2012-03-15 14:43] piscisaureus commented on #22
Still somewhat relevant - we still have a `read` type that is only used by uv-win internally. But nobody seems to care anyway :-)

[2012-03-15 14:43] piscisaureus commented on #152
@bnoordhuis still accurate

[2012-03-15 14:45] piscisaureus commented on #172
This issue is valid - it's a documentation bug. We should document that on windows filenames (and other stuff) are expected to be in utf-8, whereas on unix the "terminal encoding" (for tty) or "binary" strings are expected.

[2012-03-15 14:47] piscisaureus commented on #188
It didn't get fixed, but we fixed node to not crash when write callbacks arrive out of order. So we're not going to fix this unless anyone complains.

[2012-03-15 14:47] #188 closed, assigned to nobody

[2012-03-15 14:47] piscisaureus commented on #185
@bnoordhuis Did it? I am not so sure.

[2012-03-15 14:48] piscisaureus commented on #166
@bnoordhuis Closing is fine. We should probably stratify the api to return uv_err_t from non-loop functions.

[2012-03-15 14:49] piscisaureus commented on #157
Still relevant.

[2012-03-15 14:53] bnoordhuis commented on #185
No? I don't think it happens with uv-unix anymore but if it's still an issue with uv-win, please reopen.

[2012-03-15 15:10] okuoku commented on #221
I have: https://github.com/okuoku/libuv/commit/0dca9f7b2d57f56078da767f99d8697482aba535
to fix mingw64 build for my own CMake fork. It must be a MinGW64 bug but not confirmed yet.

Anyway, MinGW32/64 are not "tier-1" here so i'm ok with closing this, at least.
I will submit my patch later if i'd get more confident with my patch...

[2012-03-15 15:44] dolmen commented on #172
This issue is _not_ issue #201.

Here I'm talking about encoding in other areas than just the file I/O: domain names, error messages, command line arguments. Please add references to others commits if those are fixed too.

[2012-03-15 15:54] piscisaureus commented on #172
Domain names: utf8 (probably just ascii) on windows, don't know about unix
Error messages: ascii
Command line arguments: utf8 on windows, binary on unix.

[2012-03-15 15:58] bnoordhuis commented on #172
A restricted subset of ASCII on all platforms.

[2012-03-15 19:34] networkimprov commented on #256
Imagine the disk is virtual, accessed over a network. Reloading a large cache from that source would cause a significant drop in throughput.

It's a fair Q whether a series of sequential reads will really wipe out most of the cache, and I have verified that, as recently as Linux 2.6.32 with ext4, reading each file in a tree sequentially does pull most/all of the tree into the cache.

O_DIRECT migh

[2012-03-15 22:45] paddybyers commented on #246
Thanks :)

[2012-03-16 01:13] #72 closed, assigned to bnoordhuis

[2012-03-16 01:15] piscisaureus commented on #330
This has been fixed.

[2012-03-16 01:15] #330 closed, assigned to nobody

[2012-03-16 01:42] piscisaureus commented on #177
This has been fixed for a long time. Closing.

[2012-03-16 01:42] #177 closed, assigned to piscisaureus

[2012-03-16 01:52] bitraft opened #348 "Add shared lib support"
I am not sure this is doable, I need a libuv.dll to use on other language.

[2012-03-16 01:57] bnoordhuis commented on #348
Building a shared library works with gyp. See #289 for details.

[2012-03-16 01:57] #348 closed, assigned to nobody

[2012-03-16 01:59] bnoordhuis commented on #72
Fixed in dfda500 with some finishing touches in 87151c8.

[2012-03-16 14:20] gigi81 commented on #25
The Nikolay post was really helpfull, thanks.
For others that stumble on this add this:
set GYP_MSVS_VERSION=2010
in the first lines of vcbuild.bat

[2012-03-17 09:37] agnat opened #349 "Help needed with windows port of mdns addon"
I've been looking into porting my [bonjour addon](https://github.com/agnat/node_mdns) to windows. Unfortunately I cannot find a way to tap into libuv's IO facilities.

The bonjour API returns a winsock2 socket at some point. I'd like to add that socket to the event loop and receive notifications whenever the socket becomes readable. Reading is done by the bonjour API.

Looking at the [request type

[2012-03-17 14:56] bnoordhuis commented on #349
This seems related to #316 but @piscisaureus knows the uv-win internals better than I do.

[2012-03-18 18:19] tjfontaine opened #350 "Inspect which handles are holding the loop open"
Useful during troubleshooting, it would be helpful to see the list of handles keeping the loop open (missed sockets, timers, etc).

This likely depends on #347

I don't see it as being necessary for normal operation, but could be enabled in a debug build

[2012-03-18 21:30] bnoordhuis commented on #350
I did most of the work for that in bnoordhuis/libuv@6a3f29fb but it still needs to be implemented on the uv-win side of things.

[2012-03-19 19:02] bnoordhuis opened #351 "fix pointer aliasing"
We need to fix pointer aliasing because we're knee deep in undefined territory now. The only reason it hasn't blown up yet is a combination of luck and good compiler heuristics.

Two possible solutions:
- Compile with `-fno-strict-aliasing`. Simple to implement, may leave (possibly negligible) performance on the table.
- Fix all occurrences of pointer aliasing. A chore but not really difficult. On

[2012-03-19 19:02] bnoordhuis commented on #351
/cc @piscisaureus

[2012-03-21 10:03] Bonuspunkt commented on #296
shouldn't be a creation of hard link (file) and junction (dir) considered?
this would work around the "requires admin privileges" issue

[2012-03-21 10:07] piscisaureus commented on #296
@Bonuspunkt
No. If the user wants to create a hard link, he should just use uv_fs_link.

[2012-03-21 14:42] bnoordhuis opened #353 "unix: delayed_error should be handle/req local"
It's global to the loop now, meaning that a failed operation could mask the error of a previous operation.

[2012-03-21 23:33] dpaleino opened #354 "Make a release :)"
Hello,

I'd need to package libuv for Debian (since node-zipfile seems to need it), and it would be best if I did package a released tarball.

Could you please publish a 0.1 release? :)

Thanks,
David

[2012-03-22 22:41] bnoordhuis commented on #354
We don't really do releases (not yet anyway) but pick the v0.6 branch if you want a stable version. v0.6 has a frozen API and only receives bug fixes.

I'm curious though why you need a separate package. libuv is bundled with node and that's what node modules should build against.

[2012-03-23 15:32] piscisaureus opened #355 "Windows: fix lstat"
Currently does the same as stat.

Since windows lacks a definition for S_IFLNK we probably need to add libuv constants for this (like UV_S_IFLNK). Also, we may need to define uv_stat_t. On unix these could be redefined as their native counterparts. @bnoordhuis Agree?

The implementation can be mostly the same as fs__stat except that the file should be opened with the FILE_FLAG_OPEN_REPARSE_POINT f

[2012-03-23 16:16] bnoordhuis commented on #355
Yes.

[2012-03-23 17:48] piscisaureus commented on #355
I think it is more conveniente to use NtQueryInformationFile with FileAllInformation. This is also what GetFileInformationByHandle does. NtQueryInformationFile will just tell us what the reparse tag is.

GetFileInformationByHandle also calls ZwQueryVolumeInformationFile, which I think we might as well just skip.

[2012-03-23 23:10] bnoordhuis opened #356 "unix: handle (or at least report) EIO"
[code]

[2012-03-23 23:11] bnoordhuis commented on #356
@piscisaureus: What's the Windows equivalent? `man errno` has this to say about EIO:

[code]

Very helpful, very descriptive. :-/

[2012-03-24 07:47] piscisaureus commented on #356
@bnoordhuis There are many. to get the idea, look here: http://sources.redhat.com/cgi-bin/cvsweb.cgi/src/winsup/cygwin/errno.cc?rev=1.87&content-type=text/x-cvsweb-markup&cvsroot=src

[2012-03-25 22:08] ghost opened #358 "unbuffered stdin/stdout to support -i in Windows"
In order to support an --interactive flag in Windows stdin/stdout need to be unbuffered. Despite other fixes that have come through in bringing the -i flag to reality, the buffered input in Windows is killer.

The relevent part of Python's code is this:

[code]

And a discussion here on the specifics of setvbuf's uses in Windows http://sourceforge.net/mailarchive/forum.php?thread_name=AANLkTikt_f2

[2012-03-25 22:10] ghost commented on #358
Related Node issue https://github.com/joyent/node/issues/2754

https://github.com/joyent/node/commit/feaa8a41c7533c254923ea7333457234ed44f8f9

@TooTallNate

[2012-03-25 22:34] piscisaureus commented on #358
In libuv, stdin is always unbuffered, except if it is a tty. If it is a tty it can be made unbuffered with uv_tty_set_mode.

[2012-03-25 22:34] #358 closed, assigned to piscisaureus

[2012-03-27 09:48] dvv commented on #315
+1

[2012-03-27 13:46] piscisaureus opened #360 "Windows: closing the fs watcher triggers an error"
The overlapped ReadDirectoryChangesW operation calls the watcher callback with an ERROR_OPERATION_ABORTED error when the watch handle is closed by uv_close. This is not correct - after calling uv_close we should no longer make the watcher callback (even if they are successful).

Node issue: joyent/node#2837

[2012-03-27 21:13] dvv opened #364 "proper (?) uv_close()ing one-shot timers"
Hi!

My app is aborting with the following stacktrace when trying to do the subj.

[code]

To replicate the issue, build https://github.com/dvv/luv with simple `make`, run `./luv` and run https://github.com/luvit/luvit/blob/master/examples/http-bench.lua in another terminal. Hit CTRL+C to abort the client, and server should get aborted with the above trace.

What ever calls timers_reify() (unix/ev

[2012-03-27 21:29] bnoordhuis commented on #364
@dvv: With what commit of libuv are you seeing this?

[2012-03-28 04:42] dvv commented on #364
with https://github.com/joyent/libuv/commit/2b3ba91eb91143b20741b62a7164e529032bb7ae
64bit linux

[2012-03-28 05:01] dvv commented on #364
and now with the current master -- https://github.com/joyent/libuv/commit/6e0ca3aa8f92e398f4bbbe872d56af7ec3af6212 -- on 32bit linux as well

[2012-03-28 08:17] LostAbaddon opened #366 "About new thread in Libuv (uv_loop_new)"
I've tried to create a new loop in Node.JS to do some listening stuff, such as listen the dbus message or others.
But when I tried to create a new loop, lots of error occurs.
When I use uv_loop_new, there's a segmentation fault error.
And when I create a thread, like the test/test-async.c does, it told me that symbol lookup error.
And then I use pthread to create threat by my own, the segmentation

[2012-03-28 13:49] bnoordhuis commented on #366
You should post your code and Makefile, there's no telling now what goes wrong. Have a look at `test/test-thread.c` to find out how to create threads and event loops. Make sure to compile _and_ link with `-pthread`.

[2012-03-31 00:10] piscisaureus commented on #360
Fixed on the 0.6 branch in 1795427ab0d885cae3aa9bbcecb423c4bf863749.

[2012-03-31 00:11] #360 closed, assigned to nobody

[2012-03-31 18:18] piscisaureus commented on #344
https://github.com/joyent/libuv/blob/685b36ba661933a675d809028714df577c808439/src/unix/stream.c#L935-937:

[2012-03-31 18:18] #344 closed, assigned to piscisaureus

[2012-03-31 18:26] saghul commented on #344
@piscisaureus Doh, I somehow missed that, sorry!

[2012-04-01 19:19] piscisaureus commented on #349
Yes, this issue is tracked #316. I am working on a patch. Closing this issue for being duplicate.

[2012-04-01 19:19] #349 closed, assigned to piscisaureus

[2012-04-01 19:21] piscisaureus commented on #124
@ryah @bnoordhuis Is this issue still valid?

[2012-04-01 19:23] agnat commented on #349
Awesome, thanks.

[2012-04-02 07:22] saghul commented on #364
Hi @dvv,

I've written Python bindings for libuv and I've never seen this, do you have a synthetic test showing this behavior?

[2012-04-02 07:28] dvv commented on #364
thank you for heads up. it's in my dvv/luv. i'll soon be writing a test case for libuv. but i believe you can replicate it with uv_close()ing a previously stopped one-shot timer.

[2012-04-02 08:00] saghul commented on #364
Ok, I'll wait for your test then, I couldn't find a way to reproduce this myself.

[2012-04-02 13:32] bnoordhuis opened #368 "rfc: create sockets in uv_*_init() functions"
Create sockets immediately in uv_tcp_init(), uv_udp_init(), etc. Don't defer until connect() or bind() time.

Benefits:
1. Less complex, don't have to remember socket options[1].

Drawbacks:
1. Changes API considerably. Caller now needs to specify the socket type upfront (e.g. IPv4 vs. IPv6). Then again, that means we can remove the uv_tcp_bind() / uv_tcp_bind4() dichotomy.
2. Pushes burden of asy

[2012-04-02 15:08] bnoordhuis opened #369 "windows: support 64 bits file offsets"
`off_t` is 32 bits on Windows which means you cannot write files > 4 GB. This should be fixed.

For the record, it works right on Unices because libuv defines _LARGEFILE_SOURCE and _FILE_OFFSET_BITS=64.

See also joyent/node#3053.

[2012-04-04 00:23] bacchusrx commented on #124
The corresponding test still fails (current master on Darwin):

[code]

In #158 I asked if it would be acceptable for now to get this working on non-Solaris platforms, using flock and #ifdef. At least then it's not broken everywhere. If so, I can put a pull request together, since I have this working again in my own fork (https://github.com/bacchusrx/libuv/compare/v0.6...pipe-flock-v0.6). If not,

[2012-04-04 22:49] piscisaureus commented on #368
@bnoordhuis

I think that would be better. Remarks:
- This would just move the responsibility for deferred socket creation to node.
- I don't understand your comment about EMFILE.
- I'd like other to weigh in as well. (@ry, if you don't mind...)

[2012-04-05 06:45] saghul opened #372 "Inconsistency when calling uv_run with loop refcount 0"
I noticed a slight inconsistency in how uv_run behaves in Unix vs Windows. In unix it's now implemented as a do-while and does one iteration of the loop, whereas in Windows it's a while-do.

This means that it I create an idle handle, unref the loop and call uv_run, the callback will be called on Unix systems, and when you try to close handle it will crash because refcount goes bellow 0. On Window

[2012-04-05 06:50] saghul commented on #339
Changing uv_run might be too much, so maybe having 2 functions would not hurt. What about this?

[code]

uv_run would just call uv_run2(loop, UV_RUN_DEFAULT).

If it's not a good time for this (i see 0.8 is approaching) please let me know and I'll leave this open and tackle it later :-)

Thanks,

[2012-04-05 16:49] bnoordhuis commented on #339
I won't take patches right now but maybe I'll steal your idea and apply it in the upcoming refactor.

[2012-04-05 16:51] saghul commented on #339
Cool!

/Saúl

On 05/04/2012, at 18:49, Ben Noordhuis
reply@reply.github.com
wrote:

[2012-04-05 23:20] bnoordhuis commented on #124
@piscisaureus: It's still broken.

@bacchusrx: I appreciate the offer but if it's broken (which it is) it should be _really_ broken as a not so gentle reminder to fix it.

[2012-04-06 00:16] igorzi commented on #369
fixed in v0.6 with 052aaa4c4dbb52c9430b609cdfe81fc942a7df64

[2012-04-11 19:34] saghul opened #375 "uv_uptime broken on Windows"
After 442aa1f4696d24a605790b8ad4317696758ee8de it no longer works. I tested it on a Windows 7 (32bit) machine using MinGW.

This is the output I'm getting, though it's not very meaningful :-S When running inside GDB it doesn't report anything either.

[code]

Reverting that commit fixed it.

[2012-04-11 19:43] piscisaureus commented on #375
Works for me (using msvc 2010, Windows 7 enterprise)

[2012-04-11 22:42] ionut-rosoiu opened #376 "pipe_connect_to_file, ipc_send_recv_pipe, fs_readdir_file, dlerror - test failures on Windows"
Windows Server 2008 R2, VS2010

[code]

[2012-04-12 01:20] piscisaureus commented on #375
@saghul Can you try this branch? https://github.com/joyent/libuv/commits/windows-uptime

[2012-04-12 05:47] saghul commented on #375
@piscisaureus It works! You're the man! :-)

[2012-04-12 15:37] piscisaureus commented on #375
Ok, a slightly modified version of this patch was landed in 9984d157ffcd8ab71fee6a6b6888c08d0f277f83.

[2012-04-12 15:37] #375 closed, assigned to nobody

[2012-04-12 15:50] creationix commented on #347
I need an API to know if a handle is "active" by active I mean it may fire a callback in the future without further API interaction.  This means there are any pending requests tied to that handle or the handle itself can emit events (like a listening tcp or readable stream).  We can probably just change the semantics of uv_is_active.

For bonus points I would like to be notified via an event (C ca

[2012-04-12 17:17] dvv commented on #347
+1. Very welcome. I add that since, imho, the only use of `on_active_change()` is to catch when the handle becomes "dead", I would instead propose to introduce `uv_*_done(void (*on_done)(uv_handle_t *))` registering such event.

[2012-04-12 19:07] piscisaureus opened #377 "Load path for DLL dependencies"
In node, when people require a .node file that relies on external DLLs the search path for those DLLs is... surprising.
What we could do is add the path that contains the .node file to the DLL search path. I wonder how that works on unix though.

See also the discussion in #node.js with @pkrumins here: http://piscisaureus.no.de/node.js/latest#18:37:51.036

Thoughts? @isaacs @bnoordhuis @tootallnat

[2012-04-12 19:20] pkrumins commented on #377
Seeing one major problem with that approach actually.

When you write your module, you dont have build\Release. It gets created only after you do `node-gyp build`, and your module gets put in there. So how do you ship the necessary dll's with your module? You can create build\Release yourself and put the dll's in there, but it doesn't look nice.

I propose this. Let's have a `gyp` directory that w

[2012-04-12 19:49] TooTallNate commented on #377
I think the principle of least surprise (and the least amount of work at runtime) would be to have node search for DLLs in the directory of the `.node` file. Making up any new conventions is a little bit extreme IMO.

We could add a default target to `addon.gypi` that copies and of the files specified in a variable we decide on (similar to `library_files` in node.gyp), and those files would be cop

[2012-04-12 19:58] pkrumins commented on #377
Perhaps not `build_files` but `dll_files`? So if I get it right, the files specified in `dll_files` would get copied to the `build\Release` dir?

[2012-04-12 20:02] TooTallNate commented on #377
@pkrumins Correct, they'd got copied during `node-gyp build`. I called it `build_files` to try and be generic, since the technique could be useful for other kinds of files.

[2012-04-12 20:06] pkrumins commented on #377
That works really well!

[2012-04-12 20:15] isaacs commented on #377
@TooTallNate So, anything in build_files gets copied directly into build/Release/?

[2012-04-12 20:17] TooTallNate commented on #377
@isaacs Not currently, but ya that's the idea.

It should be possible by adding a target to the `addon.gypi` file that reads that variable and copies them over (might need a tiny Python script if gyp can't do it on its own).

[2012-04-12 20:35] isaacs commented on #377
@TooTallNate that sounds like a pretty nice and simple API for doing this, then.

[2012-04-12 20:49] TooTallNate commented on #377
Cool, I've opened an issue for the node part of it (placing the necessary files in the build dir).

@piscisaureus are you able to do the libuv part? Is it gonna be a change to `uv_dlopen`?

[2012-04-12 20:50] piscisaureus commented on #377
@TooTallNate I can do the libuv/node bits, but I have to touch base with @bnoordhuis about how that would work on unix, whether it would be possible or even necessary etc.

So @bnoordhuis: ping

[2012-04-13 01:03] piscisaureus commented on #376
These should have been fixed now.

[2012-04-13 01:03] #376 closed, assigned to nobody

[2012-04-13 06:05] saghul commented on #376
I'm still getting some of those myself (libuv on Windows 7 32 bit using MinGW):

[code]

I also got this on on another run:

[code]

[2012-04-13 09:40] jbergstroem commented on #354
I'm curious as to why you've stepped away from the traditional approach to releasing versions of software. Libuv – to me – is an excellent example of software you'd want to version and release properly. I imagine libuv taking a central place in a wide range of software within a foreseeable  future and can't imagine all these softwares doing `git clone libuv/master` and statically building it into

[2012-04-13 12:36] bnoordhuis commented on #354
One word: Convenience. :-)

Releases done right are quite a bit of work (type up changelog, test on all supported platforms, put out release notes, etc.). The main user of libuv is node and node doesn't need ABI compatibility since both projects are developed in tandem.

We'll eventually do releases, now that other projects are starting to pick up libuv (rust, julia, lots of language bindings), bu

[2012-04-13 12:59] jbergstroem commented on #354
@bnoordhuis Thanks for keeping me/us updated. I could probably add freebsd, linux and illumos buildbots if wanted/needed.

[2012-04-13 14:53] piscisaureus commented on #376
@saghul I just checked it with the latest master, all tests pass fine for me using mingw32. Are you sure you updated to the latest master?

The async test could in theory fail due to a race condition, although that never really happens for me.

[2012-04-13 15:12] saghul commented on #376
I'll test again as soon as I get back home, I don't have a Windows
machine with me ;-)

/Saúl

On 13/04/2012, at 16:53, Bert Belder
reply@reply.github.com
wrote:

[2012-04-15 07:30] dvv opened #379 "UV_CLOSING too late?"
Hi!

I believe setting `UV_CLOSING` at https://github.com/joyent/libuv/blob/master/src/unix/core.c#L114 is too late, and should be done right after entrance into `uv_close()`. This would allow us to use `uv_is_closing()` to determine more robustly whether a handle has already been attempted to close.

--Vladimir

[2012-04-15 09:13] saghul commented on #376
I just repeated the tests (3 times) after a fresh checkout and here is what I got:

[code]

[2012-04-16 16:24] piscisaureus commented on #377
Changed it on windows (master only), you can now put dll dependencies in the folder that holds the .node file. On unix this is not possible though.

[2012-04-16 16:24] #377 closed, assigned to nobody

[2012-04-16 20:34] bnoordhuis commented on #376
eio_overflow is not a great test, it's timing sensitive. The other tests should not fail. async in particular is odd, it never fails on Unices.

[2012-04-16 21:27] bnoordhuis commented on #372
Yes, this will be fixed once the refcount branch gets merged into master.

[2012-04-16 21:27] #372 closed, assigned to nobody

[2012-04-16 21:44] chjj opened #380 "Linux Process Title"
Would there be any benefit to using `prctl(2)` to change a process' title in linux kernels later than 2.6.9? The way it's hacked in now, the title change works properly when you check `/proc/$PID/cmdline` in the proc filesystem as well as, `ps ax | grep my_title`, but it doesn't change the title otherwise: e.g. `ps -e | grep my_title` or `/proc/$PID/comm`. Would `/comm` appear to change if `prctl(

[2012-04-16 21:57] bnoordhuis commented on #380
We used to do that but the downside to prctl() is that it only allows names up to 16 bytes, hence the argv hackery.

[2012-04-16 21:57] #380 closed, assigned to nobody

[2012-04-16 23:49] chjj commented on #380
I see. Wish there were a better way of doing this. Oh well.

[2012-04-17 05:53] saghul commented on #372
Great! :-)

[2012-04-17 12:25] bnoordhuis commented on #379
I don't see why. You're not calling `uv_close()` and `uv_is_closing()` concurrently, are you?

[2012-04-17 14:06] dvv commented on #379
scenario: uv_is_closing checks for UV_CLOSED|UV_CLOSING in handle flags. chances are in async flow, that i called uv_close() and then another piece of concurrent code called uv_is_closing() right in the moment when the first call haven't set UV_CLOSING yet. such code will execute uv_close(), the latter being called twice.

[2012-04-17 14:13] bnoordhuis commented on #379
That's simply not safe. It's the responsibility of the libuv user to not call `uv_async_send()` (or any libuv function really) after `uv_close()` has been called on the async handle.

[2012-04-17 14:13] #379 closed, assigned to nobody

[2012-04-17 14:15] dvv commented on #379
but how does the user know uv_close() has been called, really?

[2012-04-17 14:19] bnoordhuis commented on #379
Synchronization between threads is left as an exercise to the reader. :-)

In all seriousness, you would use a uv_mutex_t and a flag to signal that the handle is closed.

[2012-04-17 17:26] dvv commented on #379
i might be misunderstanding something, but if i start a timer to close a stream on timeout and simultaneously read from this stream (and must call uv_close() in case of IO error) -- in this scenario i don't see threads and mutexes. whatever event occurs the first, it must inhibit the second, and the order is completely indeterminate.

i can track the handle state in separate variable, but this see

[2012-04-17 22:08] bnoordhuis commented on #379
You _are_ misunderstanding something. :-) In your example, everything runs serially. It doesn't matter when uv_close() sets the UV_CLOSING flag, the observable behavior is the same: the handle is in the open state before and in the closing state afterwards.

[2012-04-18 06:22] saghul commented on #379
@dvv maybe this is the same thing you mentioned on #364?

[2012-04-18 06:54] saghul commented on #376
I run another 3-runs of the test suite after I saw the changes to the async test. That seems fixed, but now I get these:

[code]

The ipc_listen_before _write test failures are now consistent, it fails all the time for me, so does the fs_file_loop.

Can this issue be reopened please? :-)

[2012-04-18 09:31] dvv commented on #379
@bnoordhuis from my POV handle is UV_CLOSING right upon entrance to `uv_close()`

@saghul not sure. this issue is about so far i don't see a robust way to make `uv_close()` idempotent, i.e. perform the task once. #364 is about one can (could?) make loop refcount negative with (seemingly?) valid sequence of operations on a timer.

[2012-04-18 09:52] saghul commented on #379
@dvv I think I know where you are going. The way I understand it `uv_close` is not be idempotent. Particularly, I use the `close_cb` to free memory, so calling `uv_close` more than once would be a disaster. Now, if uv_close should just `return` if the handle is closing or closed is something @bnoordhuis probably has a good answer for :-)

I'm not sure if it would be such a good idea to make uv_clo

[2012-04-18 09:58] dvv commented on #379
i believe it's just a matter of the following guard code:

[code]

This way we don't call `cb` more than once hence i see no way to double free

[2012-04-18 12:08] bnoordhuis commented on #379
Right, that's a rather different issue. I don't want to make uv_close() idempotent, that's papering over application bugs. I am not opposed to adding an assert() though.

[2012-04-18 12:10] saghul commented on #379
+1 for the assert, that would help detect the problem in the application easier.

[2012-04-18 23:33] bnoordhuis opened #381 "windows: cross-compiling tests with mingw32 fails"
Not sure if it matters but I'll post it anyway.

[code]

Compiling master with MSVC works but I have 16 failing tests (almost all fs related but counters_init and pipe_connect_to_file are in there too).

[2012-04-19 01:43] luislavena commented on #381
@bnoordhuis that was master?

The undefined references I believe was merged from pull #333 in c344277450a2d2c35572183b5e25480a8966dc56 for `GetAdaptersAddresses` and `GetProcessMemoryInfo`

[2012-04-19 07:30] saghul opened #382 "windows: _chsize_s not available on MinGW"
After this change: https://github.com/joyent/libuv/commit/d5acfd0c0545acbef5ced2fbcbc6a91c8fc7c025#L3R580 libuv won't compile on MinGW because apparently _chsize_s is not available. Apparently _chsize is limited to 32bits offsets so we can't use that in case the _s version is not available.

[2012-04-19 12:14] bnoordhuis commented on #382
That looks like it at least partially explains #381. I'll see if I can fix it.

[2012-04-19 12:24] saghul commented on #382
Indeed, that seems to be the case. FWIW, I think MinGW uses the 7.0 CRT.

[2012-04-19 13:03] bnoordhuis opened #383 "windows: libuv does not compile with mingw-w64"
[code]

We need better `#ifdef __MINGW32__` checks in `winapi.h`.

[2012-04-19 14:08] luislavena commented on #383
@bnoordhuis I have a patch for this on my computer at the office, will send a pull request later today :smile:

[2012-04-19 14:13] luislavena commented on #382
@saghul MinGW uses default `MSVCRT` which happens to be internally version `7.0` but used to be `6.0` in older versions of Windows.

You can change MinGW to use a different version of CRT but that will force you to build the link libraries for `msvcr80` or `msvcr90` and also distribute those with you (which you can't)

I did mention @piscisaureus about `_s` function:
https://github.com/joyent/libu

[2012-04-19 14:17] bnoordhuis commented on #383
Awesome, thanks.

[2012-04-19 14:17] saghul commented on #382
@luislavena Thanks for the info!

AFAIK the '64' variant of those functions is now the default and apparently that call to _chsize_s made it to master. I changed it to _chsize and compilation worked so apparently it's the only occurrence.

[2012-04-19 14:26] luislavena commented on #382
Can't something similar be achieved with `_ftruncate64` ? I believe is present on both MinGW and mingw-w64 builds. Will check that later and confirm.

[2012-04-20 01:03] bnoordhuis opened #385 "unix, win: assert() in uv_close() if UV_CLOSING|UV_CLOSED"
See #379.

[2012-04-20 01:11] piscisaureus commented on #379
@dvv

libuv is not thread safe - you should not call `uv_close` from any other thread, unless you ensure that the main thread is blocked somewhere in user code. (so, before you ask, just suspending the thread isn't gonna cut it). Use a mutex or something.

[2012-04-20 01:12] luislavena commented on #382
@saghul while mingw-w64 already defines `_chsize_s` and mingw, what about an approach that uses `SetFilePointer` and `SetEndOfFile`?

http://msdn.microsoft.com/en-us/library/windows/desktop/aa365541(v=vs.85).aspx
http://msdn.microsoft.com/en-us/library/windows/desktop/aa365531(v=vs.85).aspx

The only drawback is that instead of a file descriptor we need a `HANDLE` and split `int64_t` offset in hig

[2012-04-20 01:20] piscisaureus commented on #382
There is another issue with `_chsize` and `SetEndOfFile`, which is that it requires moving the file pointer. That's not compatible with `ftruncate`.

I think you should do it with `NtSetInformationFile` and the FileEndOfFileInformation command. See http://msdn.microsoft.com/en-us/library/windows/hardware/ff557671%28v=vs.85%29.aspx and http://msdn.microsoft.com/en-us/library/windows/hardware/ff5457

[2012-04-20 01:32] luislavena commented on #382
@piscisaureus thanks, I'll see if I can work on this by early next week (a bit overloaded with work).

[2012-04-20 07:41] saghul commented on #382
@luislavena I wish I could help, but this is a bit out of my reach, I have no idea about the Windows CRT... I do have the build chain ready, so at least I could test patches :-)

Thanks guys!

[2012-04-20 22:09] davepacheco opened #386 "core dump in uv__pipe_accept"
While running a Node program, I saw this:

[code]

In src/unix/pipe.c, in uv__pipe_accept, we have:

[code]

Unfortunately, uv__accept just calls accept(3) and does **not** handle EAGAIN or EWOULDBLOCK.  But both the SmartOS and MacOS man pages document that EWOULDBLOCK is a valid case, and the other primary caller of this function, uv__server_io, handles it fine:

[code]

It looks like uv__pipe_a

[2012-04-21 04:16] bnoordhuis commented on #386
Thanks for the bug report, Dave. It's fixed in 1fa1c51.

[2012-04-21 04:16] #386 closed, assigned to nobody

[2012-04-22 17:10] davepacheco commented on #386
Thanks! Is there any chance this might go back into a node 0.6 release?

[2012-04-22 17:34] bnoordhuis commented on #386
Sure. I've back-ported it in 21bee8c so it'll be part of node v0.6.16.

[2012-04-22 17:37] davepacheco commented on #386
Great! Thanks.

[2012-04-25 20:26] isaacs opened #388 "Replace uid/gid setting in process.c"
This was in node 0.4, and was not ported to libuv.  If a uid/gid option is passed in, it should setuid/setgid to that value before running the child process.

[2012-04-26 02:37] scarvell opened #390 "500 Error Unknown Stat..."
Using: Express 3.0 (reported issue https://github.com/visionmedia/express/issues/1110#issuecomment-5348254)

500 Error: UNKNOWN, stat 'D:\USERDATA\ScarvelB\Desktop\opeth\public\wqerty<'

If params.id contains < or > in windows, throws that error.

[2012-04-26 16:21] bnoordhuis commented on #390
Sanity check, does this script throw an error?

[code]

[2012-04-26 23:21] scarvell commented on #390
Sure does:

[code]

[2012-04-27 00:45] bnoordhuis commented on #390
Okay, thanks.

@piscisaureus: Can you check this out?