[2013-03-30 18:22] bnoordhuis opened #758 "unix, windows: make uv_run() re-entrant?"
I ran into this while trying to write bindings for Chicken Scheme.

Chicken Scheme uses a somewhat esoteric approach to garbage collection called 'Cheney on the MTA'. It compiles Scheme code to CPS C code, meaning functions never return, and cleans up the stack whenever it threatens to overflow. (It's essentially bi-generational GC with the stack as the new object space and the heap as the old obj

[2013-03-30 19:27] piscisaureus commented on #758
I think in the past we flamed someone for making a request like this (it was about libuv's intolerance for people that call longjmp() from a callback).

As I read it, this problem is the same. I think making libuv reentrant like that will in fact be very hard. You'd have to assume that no callback would ever return, so there can be absolutely no logic after the callback invocation.. [This](https:/

[2013-03-30 19:27] #758 closed, assigned to nobody

[2013-03-31 05:52] nikhilm opened #759 "comment for uv_backend_fd() says uv_run_once()"
New API is uv_run with right flags.

[2013-03-31 18:03] bnoordhuis commented on #759
Thanks, fixed in ec24bfa.

[2013-03-31 18:03] #759 closed, assigned to nobody

[2013-04-01 20:05] jvburnes opened #760 "New API Thread Call"
I'd like to suggest a new, portable thread call for yielding the processor to the next runnable thread.   This is useful when writing lock-free message code and a producer/consumer detects a resource contention issue.
#### Justification vs Other Techniques
- You can spin-lock in these instances, but sometimes the spin-lock can freeze the other side out resulting in dead lock.
- You could yield the

[2013-04-02 14:20] bnoordhuis commented on #760
I suggest changing the return type to void and documenting that uv_thread_yield() is only a hint and possibly a no-op. sched_yield() doesn't return a meaningful status code on the Unices: it's either 0 or -1 with errno=ENOSYS.

[2013-04-05 08:40] malern opened #763 "spawn doesn't allow parent fd to be inherited by multiple child fds"
I'm trying to spawn a child process whose stdout and stderr are both redirected to the same file. I'm opening the file in the parent process and assigning the same fd to both options.stdio[1].data.fd and options.stdio[2].data.fd. The child process executes correctly, but only stdout ends up going to the file.

I believe the problem is because the original fd is being closed immediately after being

[2013-04-05 13:44] kristrev opened #764 "Generic datagram protocol support"
Hi,

I am currently working on a small project where I want to implement a network monitor using libuv (for Linux) and Netlink sockets. Before trying to extend libuv with Netlink support, I decided to check if there were any other options. One thing I noticed is that uv_udp_open does not do any checks on for example the socket protocol before adding to the io_watcher.

Passing a netlink file descr

[2013-04-05 13:55] bnoordhuis commented on #764
It's pretty much intentional. As long as the file descriptor honors the datagram contract (works in unconnected mode, can do recvmsg and sendmsg, etc.), it'll work. There's no reason for libuv to impose artificial constraints.

Not really. It already works, right?

[2013-04-05 14:00] kristrev commented on #764
Thanks for letting me know, then I will proceed with my application.

Yup, I agree. Maybe it should be added to the documentation, since it expands possible use cases for libuv and is not immediately clear.

[2013-04-05 14:55] bnoordhuis commented on #764
Sure. Documentation patches are welcome.

[2013-04-05 14:56] #764 closed, assigned to nobody

[2013-04-07 06:38] hhchristian opened #767 "Redundant if clause in unix/stream.c"
There's an unnecessary check if accepted_fd is set to -1 in /src/unix/stream.c

[code]

Edit: This check may be intended to take release and debug builds into account.

[2013-04-07 23:34] bnoordhuis commented on #767
No, you're right, it's superfluous. Removed in 4a55522, thanks.

[2013-04-07 23:34] #767 closed, assigned to nobody

[2013-04-08 03:34] qqshfox opened #769 "Inconsistent behavior with uv_tcp_bind on OSX and Linux"
On OSX, after first calling `uv_tcp_bind`, it will make the bind address in use immediately, but not on Linux. Is this as expected? Or it's just an undefined behavior?

example:

[code]

on OS X

[code]

but on Linux

[code]

Which one was expected?

Thanks,
Hanfei

[2013-04-08 03:43] qqshfox commented on #769
Another example written with raw socket:

[code]

On OSX

[code]

On linux

[code]

The result showed the consistency. Maybe something wrong in my codes or even in libuv?

[2013-04-08 07:47] saghul commented on #769
libuv sets SO_REUSEADDR when binding to the socket (https://github.com/joyent/libuv/blob/master/src/unix/tcp.c#L67), so libuv's behavior on Linux is correct and expected.

I googled a bit and found this (http://bugs.python.org/issue16594) which says that in order for BSDs (including OSX) to behave the same SO_REUSEPORT also needs to be set. Maybe libuv should do that?

I'm sure @bnoordhuis knows b

[2013-04-08 12:43] bnoordhuis commented on #769
The OS X behavior is the correct one, actually. We have a test for that but it doesn't cover this particular case. In a nutshell, OS X reports the error at bind() time while Linux reports it at listen() time. (Phrased differently, on OS X, first to bind wins. On Linux, first to listen wins.)

[code]

If you call uv_listen() first on tcp1, then on tcp2, you get the same behavior on both platforms.

[2013-04-08 13:00] saghul commented on #769
/me learned a new thing today...

[2013-04-08 17:30] bnoordhuis commented on #769
Okay, I just realized that my proposed scheme won't work if you do bind() + connect(). An implicit listen() will make the connect() syscall fail with EISCONN.

That leaves two solutions AFAICS: we a) defer the actual bind() syscall until the user calls uv_listen() or uv_tcp_connect(), or b) close this as WONTFIX. Option A is a pretty big change in the API and the ABI (libuv would need to keep a co

[2013-04-08 20:42] saghul commented on #769
Does this apply to stream sockets only? AFAIS for UDP we do use SO_REUSEPORT on BSDs (https://github.com/joyent/libuv/blob/master/src/unix/udp.c#L330) does it make any sense to use it here?

[2013-04-08 23:15] vtjnash opened #771 "test-tty typo"
tty_out is opened in mode 2 -- readable, instead of 0 -- writable

[code]

https://github.com/joyent/libuv/blob/master/test/test-tty.c#L87

[2013-04-09 00:10] vtjnash opened #773 "unix: UV_STREAM_READABLE and UV_STREAM_WRITABLE flags incorrectly set"
The UV_STREAM_READABLE and UV_STREAM_WRITABLE flags are unconditionally set on all pipes and sockets. However, it seems incorrect to consider tcp server sockets to be either readable or writable. Additionally, pipes (e.g. those created by spawn or tty's) are typically not bidirectional.

This leads to an issue where we can call shutdown on these objects (because they are marked writable), but will

[2013-04-09 01:33] bnoordhuis commented on #769
Yes. You never call listen() on datagram sockets.

No. That makes both bind/listen syscalls succeed - but only on the BSDs - and that _would_ break existing uses.

That SO_REUSEPORT in src/unix/udp.c is something of an anomaly. I want to remove it some day but I'm afraid it will break something, somewhere.

[2013-04-09 07:03] saghul commented on #769
On 4/9/13 3:33 AM, Ben Noordhuis wrote:

Thanks for the explanation Ben.

##

Saúl Ibarra Corretgé
http://about.me/saghul | http://saghul.net

[2013-04-12 23:57] tjfontaine opened #776 "test fs_event_close_in_callback doesn't complete on smartos"
This test appears to hang, waiting for events in port_getn

truss output available https://gist.github.com/tjfontaine/5376017

[code]

[2013-04-13 19:01] yocontra opened #777 "ICMP?"
Does libuv support it? I can't find it anywhere in the documentation or previous GH issues. I'm trying to send a ping.

[2013-04-13 20:32] bnoordhuis commented on #777
Not directly and there aren't any short-term plans to support it either. You can however create a raw socket and watch that with the uv_poll_\* functions.

[2013-04-13 20:32] #777 closed, assigned to nobody

[2013-04-13 20:38] yocontra commented on #777
Cool - thanks for the quick response.

[2013-04-17 08:21] lkim opened #782 "Assertion failed: req->work_cb, file src\win\threadpool.c, line 46"
not speak English

 for test
 npm test

Assertion failed: req->work_cb, file src\win\threadpool.c, line 46

How to solve the error

os: win7 (32)
 nodejs:0.8.9
 npm 1.1.61

[2013-04-17 12:44] bnoordhuis commented on #782
This is not the proper place to report that bug. I see you've also opened an issue at sylvinus/node-crawler#48.  I'm reasonably sure that module (indirectly) uses native add-ons and that's likely where the source of the bug originates.

[2013-04-17 12:44] #782 closed, assigned to nobody

[2013-04-19 06:03] EricChan999 opened #787 "File chang monitoring does not work well"
According to the "File change events" section of uvbook(http://nikhilm.github.io/uvbook/filesystem.html), I made a test with following code.

[code]

And this is test steps and result:
1. Run the program, of cource.
2. touch /home/ubuntu/Dev/Cpp/libuv_test1/aaa, the program prints "Change detected in /home/ubuntu/Dev/Cpp/libuv_test1/aaa: changed aaa" successfully.
3. Vim /home/ubuntu/Dev/Cpp/libuv

[2013-04-19 09:55] bnoordhuis commented on #787
On what file system is the directory?

[2013-04-24 05:19] bogushevich opened #790 "Typo in comment in uv.h"
<code>/*Read data from an incoming stream. The callback will be made <b>several
 several</b> times until */</code>
https://github.com/joyent/libuv/blob/master/include/uv.h#L582

[2013-04-24 09:36] #790 closed, assigned to nobody

[2013-04-25 00:20] springmeyer commented on #649
@piscisaureus - excited about these future directions. In terms of node v0.10.x now - does `UV_THREADPOOL_SIZE` need to be set in the shell before node is started or can it be set on nodes `process.env`?

[2013-04-25 08:45] bnoordhuis commented on #649
In theory, setting `process.env.UV_THREADPOOL_SIZE = 42` could work if you do it really early on, before any file or DNS operations. I wouldn't rely on it though.

[2013-04-25 17:25] springmeyer commented on #649
@bnoordhuis - okay, thanks, sounds reasonable. Our app [TileMill](mapbox.com/tilemill) provides a UI for long running export jobs in separate node processes and what I'll be testing is when/where exactly I'll need to set `UV_THREADPOOL_SIZE` to allow the user to control concurrency.

[2013-04-29 16:39] rjemanuele opened #792 "Running Powershell on Windows Server 2008 (possibly Vista) as a child never exits"
We're using Powershell in the Rackspace Virgo Project to gather Windows System Metrics.  When spawning Powershell under Luvit, the Powershell subprocess never exist.  This can be reproduced under node.js as well.  This only occurs under Windows Server 2008 (possibly Vista also).  This does not occur under Windows 8 or Server 2012.

Test Scripts can be found here:
https://gist.github.com/rjemanuele

[2013-05-02 20:38] piscisaureus commented on #312
about time

[2013-05-02 20:38] #312 closed, assigned to nobody

[2013-05-02 20:41] piscisaureus commented on #792
Figured it out, 2k8's powershell won't exit until you close the stdin pipe.

[2013-05-02 20:41] #792 closed, assigned to nobody

[2013-05-02 23:13] sam-github commented on #726
I'll take a poke at this, if nobody else is. @bnoordhuis, I assume your code is OK, but needs msvc variants that use `_InterlockedIncrement` etc, asm for gcc-arm, and porting of a few code locations, such as uv__async_make_pending, to the api. Is that about it?

[2013-05-02 23:28] bnoordhuis commented on #726
It's more of a proof-of-concept right now. It doesn't currently insert memory barriers, for example (which mostly works out okay on x86 but only by accident. ARM has a significantly weaker memory model.)

Yep. Also, it would be nice to have some kind of fallback for unsupported architectures but I haven't made up my mind yet on how to do that. Suggestions welcome.

[2013-05-06 09:42] saghul opened #796 "Inconsistent execution of close callbacks"
I know there were some discussions about this in the past, but somehow this never affected me, until today :-S

Here is an example program written with pyuv:

[code]

On unix this program will print:

[code]

whereas on Windows, it will print:

[code]

The reason seems to be that on Windows endgames are processed _before_ blocking for i/o, but on unix they are processed after. This means that on u

[2013-05-09 01:18] bnoordhuis commented on #796
@piscisaureus?

[2013-05-11 11:34] geertj opened #797 "unix: support abstract AF_UNIX addresses"
The method `uv_pipe_connect()` takes the pipe name as a null-terminated string. This unfortunately prevents you from specifying abstract unix socket addresses. An abstract unix socket addres for `"/tmp/foo"` is specified as `"\x00/tmp/foo"` so exactly the same but starting with a null byte.

The abstract namespace is used by e.g. the D-BUS session bus which is where I need this for.

[2013-05-11 13:08] bnoordhuis commented on #797
Abstract socket addresses are a Linux-ism, I don't think we want to support that. If you need that functionality, you can create a socket manually and pass it to uv_pipe_open().

[2013-05-11 20:49] geertj commented on #797
Arg.. I had hoped I would not have to bother with the details of non-blocking connect()s myself... But thanks for the tip regarding uv_pipe_open().

[2013-05-12 00:37] bnoordhuis commented on #797
No problem. FWIW, on Linux, as long as you turn on the O_NONBLOCK flag on the socket, you don't have to worry about dealing with EINPROGRESS: either the connect() syscall succeeds or it fails with EAGAIN (when the server's backlog is full) but there never is a 'partially done' state like there is with TCP sockets.

[2013-05-12 00:37] #797 closed, assigned to nobody

[2013-05-13 10:24] bnoordhuis commented on #354
Okay, we're doing releases now and I've just landed a patch in 3eb6eb3 that assigns a proper soname to the shared library. I think that wraps up this issue.

[2013-05-13 10:24] #354 closed, assigned to nobody

[2013-05-17 02:14] brson opened #799 "Loop rarely deadlocks during destruction on OS X"
[code]

Run this in a loop like `for i in {1..100000}; do ./a.out; done`. It eventually deadlocks.

Thread 1 backtrace:

[code]

Thread 2 backtrace:

[code]

This is using libuv master. I've seen this on both 10.6.8 and 10.7.4.

[2013-05-17 14:22] bnoordhuis commented on #799
Confirmed.

/cc @indutny

[2013-05-17 16:33] indutny commented on #799
Can you please try applying following patch:

[code]

[2013-05-17 21:21] brson commented on #799
@indutny Thanks for the quick response. Your patch fixes the problem.

[2013-05-17 23:00] indutny commented on #799
@bnoordhuis lgty?

[2013-05-17 23:02] indutny commented on #799
@bnoordhuis landed in d5fa633, thanks.

[2013-05-17 23:02] #799 closed, assigned to nobody

[2013-05-18 17:41] starwing opened #801 "windows: build error with MinGW"
gcc -Ie:/Work/Code/tv_ads/lua/lua-libuv/libuv/include -Ie:/Work/Code/tv_ads/lua/
lua-libuv/libuv/include/uv-private -g --std=gnu89 -D_WIN32_WINNT=0x0600 -Ie:/Wor
k/Code/tv_ads/lua/lua-libuv/libuv/include -Ie:/Work/Code/tv_ads/lua/lua-libuv/li
buv/include/uv-private  -c -o e:/Work/Code/tv_ads/lua/lua-libuv/libuv/src/win/pr
ocess.o e:/Work/Code/tv_ads/lua/lua-libuv/libuv/src/win/process.c
e:/Work/Co

[2013-05-18 18:07] starwing opened #802 "windows: error message mistake when call uv_read_start twice."
if you call uv_read_start twice, below code will reach:

[code]

but, set_sys_error will translate UV_EALREADY with Windows error code, so the error message is "no enough memory".

maybe change it to uv__set_artificial_error is better.

[2013-05-18 18:38] piscisaureus commented on #801
Which version of MinGW is this? And do you happen to know if mingw_w64 also lacks these symbols?

[2013-05-18 18:51] #802 closed, assigned to nobody

[2013-05-19 00:56] starwing commented on #801
this is my MinGW version:

[code]

it's from [MinGW-distro](http://nuwen.net/mingw.html), I don't know whether MinGW64 is work :(

[2013-05-19 20:53] bnoordhuis opened #803 "linux: short-circuit on EPOLLHUP"
Right now, libuv sees the EPOLLHUP but still does the alloc_cb -> read(2) -> read_cb dance, which is rather inefficient.

Short-circuiting is easy to do but it means we'll be calling read_cb with a null buffer that hasn't been allocated with alloc_cb. That's not really a breach of contract (depending on how you look at it; the documentation says "The callee is responsible for freeing the buffer, l

[2013-05-20 07:14] piscisaureus commented on #803
Note that uv-win already requires the user to this about this. When an error is passed to the read_cb it may or may not include an allocated buffer. That said, it never passes a null buffer when the error is UV_EOF, so clearly documenting this would be a good thing.

[2013-05-25 02:50] minco opened #808 "How to free send buf after uv_udp_send called"
My code:

[code]

Is there some way to free send_buf?
Thinks a lot.

[2013-05-25 11:14] bnoordhuis commented on #808
You have to keep track of the memory the buffer points to yourself, libuv doesn't do it for you.

In the future, please use the mailing list or the IRC channel for questions. The issue tracker is for bug reports and feature requests.

[2013-05-25 11:14] #808 closed, assigned to nobody

[2013-05-28 05:40] harlentan opened #810 "uv_run crash"
A : When uv_xxx_init, uv_xxx_listen in thread 1,
B: And run uv_run() in thread 2.

use the uv_default_loop().
The thread 1 will run uv_xxx_listen for sure.

But but the uv_run crash.

[2013-05-28 07:12] achimnol opened #811 "uv__update_time on Unix should return nanosec values."
https://github.com/joyent/libuv/search?q=uv__update_time&type=Code

From the above search results, I could confirm that the Unix version's `uv_now(loop)` returns the current event timestamp in millisecond resolution instead of nanoseconds, as `uv__hrtime()` returns the result of `clock_gettime(CLOCK_MONOTONIC)` but divided by 1000000.
Is there any particular reason for this division? If not, I thi

[2013-05-28 19:12] bnoordhuis commented on #810
libuv doesn't make any guarantees about thread safety. The only function that is guaranteed to be thread-safe is uv_async_send().

[2013-05-28 19:12] #810 closed, assigned to nobody

[2013-05-28 19:18] piscisaureus commented on #810
In addition to that, if you want to run it on windows, be sure to call all APIs affecting a loop/handle from the same thread.

[2013-05-28 19:23] bnoordhuis commented on #811
Not really. It's mostly that we didn't need a higher resolution and that milliseconds are something of the greatest common denominator (every platform has a timer with roughly that kind of granularity.)

I don't really mind changing that (all _supported_ platforms have at least microsecond granularity) but it could have a rather significant impact on projects that use libuv.

[2013-05-28 21:16] danielbprice opened #812 "recent linux kernel changes break ARM cpuinfo parser"
I am running node under a recent (3.9.3) linux kernel on ARM.  I was previously using node 0.8.22, and was seeing crashes creating the "model" string when parsing /proc/cpuinfo.  Node 0.10.8 appears to instead categorize my CPUs as "unknown".  So then the question is: why is the code failing to find my CPU model?

This is because the format of /proc/cpuinfo has apparently changed incompatibly in r

[2013-05-28 21:44] bnoordhuis commented on #811
Now that I've thought about it some more, uv_timer_t timeouts and repeats are in milliseconds. Changing uv_now() to return nanoseconds would make things a bit inconsistent. Let's leave it as it is for now. I'll add a note to uv.h explaining when to use uv_now() and when uv_hrtime().

[2013-05-28 21:44] #811 closed, assigned to nobody

[2013-05-28 22:34] bnoordhuis commented on #812
Thanks for the report. Does bnoordhuis/libuv@4f92b5c fix it?

[2013-05-28 22:59] danielbprice commented on #812
Yes, it does seem to work!  Thank-you.

Also, I did notice that this code is making unchecked calls to strndup()-- opening up the possibility that, if the string was not able to be dup'd for whatever reason, that this would propagate NULL all the way back into nodejs; maybe that's a different problem, or you don't care.  Just thought I would mention it.

I do get this warning when building:

[code

[2013-05-28 23:47] bnoordhuis commented on #812
Thanks, landed in 92c72f5 with a fix-up to suppress that unused variable warning. I've added OOM handling in b93cf8b.

[2013-05-28 23:47] #812 closed, assigned to nobody

[2013-05-29 06:32] achimnol commented on #811
Thanks for the reply. On most Linux systems, timer intervals less than 1msec is very unstable due to jitters occurred by the scheduler. (I've tested it using my manual implementation of a C epoll + timerfd loop.)
However, measuring more precise timing (in micro/nano-seconds) is handful to accurately calculate throughput even though the timer interval is in millisecond unit.
I'm looking forward to

[2013-05-29 13:04] bnoordhuis commented on #811
It is, it's available on all platforms.

[2013-05-29 22:27] bnoordhuis commented on #574
Fixed in 0017c55.

[2013-05-29 22:27] #574 closed, assigned to nobody

[2013-05-29 22:28] piscisaureus commented on #574
ho! stop! not in v0.10!

[2013-05-29 22:30] piscisaureus commented on #574
It won't work in v0.10 because ffe2ef06eba7c65deea57c5c27c085c51b989dd4 is only in master and can't be landed in v0.10.

[2013-05-29 22:34] bnoordhuis commented on #574
Belay that, landed in master only in commit f6d8ba3.

[2013-05-29 22:36] piscisaureus commented on #574
People who really rely on this bug fixed in v0.10 should float  ffe2ef0 and f6d8ba3. We can't do that because it changes the ABI.

[2013-05-30 20:35] #803 closed, assigned to bnoordhuis

[2013-05-31 05:41] AvianFlu commented on #787
Try this again without using vim.  Vim can do strange things with its swap files that make it look like more events are happening than should be.  I've seen this a few times before - I might be wrong, but if you use `nano` or another editor, I bet it will work like you'd expect.

[2013-05-31 10:11] bnoordhuis commented on #787
Yes, that too. Seeing that there has been no follow-up in over a month, I'll close the issue.

[2013-05-31 10:11] #787 closed, assigned to nobody

[2013-06-05 20:21] emilsedgh opened #826 "unix: Assertion `events == 1' failed"
node: ../deps/uv/src/unix/stream.c:494: uv__server_io: Assertion `events == 1' failed.

Im on node 0.10.10 and therefore livuv 0.10.10.
This happens when node-phantom tries to spawn phantom's process.
On Debian 7.0

[2013-06-05 20:33] bnoordhuis commented on #826
Can you post the output of `strace -fe \!mmap,munmap,mprotect,futex,nanosleep,gettimeofday node script.js`? If you add `-ff -o trace.log`, it'll write to per-pid log files.

[2013-06-05 20:58] emilsedgh commented on #826
Unfortunately,I cannot reproduce this anymore. I will report back when the error is back.

[2013-06-05 20:58] #826 closed, assigned to nobody

[2013-06-06 15:50] bnoordhuis opened #827 "stream: enforce that callee closes handle after EOF"
The recent joyent/node#5504 debacle has demonstrated that there is no reason to leave the handle open after EOF. Enforce it in libuv, presumably with a few strategically placed asserts.

/cc @piscisaureus - thoughts?

[2013-06-06 21:00] bnoordhuis opened #829 "unix, windows: always defer reporting runtime errors to callback"
Right now, we're inconsistent. Most functions always defer
while others sometimes return an error code. Examples:
- uv_pipe_connect() - errors are always passed to the callback. (Good.)
- uv_udp_send() - returns an error code when it fails to allocate a file descriptor. (Bad.)

Only return errors for bad arguments (EINVAL) with a compile-time option to turn those into asserts for easier debugging.

[2013-06-09 23:54] bnoordhuis opened #832 "unix, windows: uv_get_free_memory() and uv_get_total_memory() can't return errors"
On some of the Unices, uv_get_free_memory() and uv_get_total_memory() can fail but there is no good way to signal that.

Proposal: change the return type from uint64_t to int64_t.  2^63 ought to be enough for anybody, right?

[2013-06-15 07:36] vtjnash opened #835 "windows 64: QUEUE_DATA causes "truncates pointer" warning in offsetof computation"
[code]

[2013-06-15 12:10] #835 closed, assigned to nobody

[2013-06-17 21:20] cmisare commented on #826
I am occasionally seeing this with node 0.10.11. The strace output should be available here:

https://mega.co.nz/#!VUsC3RCY!XRDjrwj0b-Xm0Ayqz6gJ5hKpW-8ipaow9DFzCOZ4iCQ

Thanks in advance, and let me know if there is anything else I can provide.

[2013-06-18 10:43] bnoordhuis commented on #826
@cmisare Can you gist the log? That website is quite annoying and doesn't work all that great in my browser.

[2013-06-18 17:18] cmisare commented on #826
Apologies for that. I had run the strace with the -ff option and wasn't sure where to upload a bundle of the output files. Here is a gist of the output without the -ff:

https://gist.github.com/cmisare/ea88e84a7d1a932a73cf

[2013-06-18 21:40] bnoordhuis commented on #826
Thanks. Are you on a recent-ish Fedora system, per chance? Your version of strace suffers from a bug that I fixed a while ago where it doesn't process the return value from process_vm_readv() correctly.

Can you clone git://strace.git.sourceforge.net/gitroot/strace/strace and run `./configure && make -j4`? Don't worry, it builds in a few seconds and you don't have to install it to run it.

Failing

[2013-06-18 21:42] bnoordhuis commented on #826
I forget to mention what the effect of the bug is... effectively you get this:

[code]

Rather than this:

[code]

[2013-06-18 21:53] bnoordhuis commented on #771
Thanks for pointing that out. Fixed in 6607e70.

[2013-06-18 21:53] #771 closed, assigned to nobody

[2013-06-19 02:51] cmisare commented on #826
I am indeed on Fedora 18. Good catch.

It looks like configure is gitignore'd in the strace repo, so I tried creating it using "aclocal -I m4 && autoheader && automake --add-missing && autoconf". If that is incorrect please let me know what I should do instead.

I do now see lines with epoll_wait and EPOLLIN, so here is a gist of the output from running with the compiled strace: https://gist.githu

[2013-06-20 20:59] dule commented on #826
I am also seeing this when using `node cluster` on node v0.10.10 running Ubuntu server 12.04 LTS. I would give a strace but it's a private project that would produce a trace with probably a lot of noise. I'm trying to build a small test case to try to isolate it, but have yet to reproduce it in a smaller test project.

The crash doesn't occur if I don't use clustering, and it also doesn't occur if

[2013-06-21 06:29] bodokaiser opened #837 "uv_fs_access"
Hello,

currently **nodejs** uses `uv_fs_stat` to check if a file exists (by looking if stat is throwing an error or not). Wouldn't it be a better approach to create a method like `uv_fs_access` to check for permissions, existence etc.?

If yes I would like to try to do this :)

[2013-06-22 10:16] bnoordhuis commented on #837
What benefit would an access(2) binding have over stat(2)? The system call itself is marginally faster but that's nullified by the fact that it goes through the thread pool first.

[2013-06-22 10:48] bodokaiser commented on #837
I would say you would have an API improvement as you can test against specific constants whereas you have to work with the stat object.

[2013-06-23 09:22] emilsedgh opened #838 "Assertion `loop->watchers[w->fd] == w' failed."
Installed Node 0.10.12 and reinstalled LDAP module.
LDAP module is built fine. However, I get this:

node: ../deps/uv/src/unix/core.c:688: uv__io_stop: Assertion `loop->watchers[w->fd] == w' failed.

When trying to use it.

[2013-06-23 09:26] emilsedgh commented on #838
And here is strace output: https://gist.github.com/emilsedgh/5844406

[2013-06-23 09:29] saghul commented on #838
Does the LDAP module use uv_poll_t handles? IIRC I've seen that assertion blow when more than one poll handle is used for the same fd.

[2013-06-23 09:38] emilsedgh commented on #838
Hi.
Yes it does use uv_poll_t handles.
Is this a node-ldap bug then?

[2013-06-23 13:22] saghul commented on #838
If node-ldap uses more than one poll handle for a given fd at the same
time, then yes.

On Sunday, June 23, 2013, Emil Sedgh wrote:

##

/Saúl
http://saghul.net | http://about.me/saghul

[2013-06-23 14:57] bnoordhuis commented on #838
Tentatively closing. As @saghul points out, this is almost certainly a node-ldap bug. If if turns out the bug is in libuv, holler and I'll reopen the issue.

[2013-06-23 14:57] #838 closed, assigned to nobody

[2013-06-24 15:36] bnoordhuis commented on #837
That's not a very compelling reason (to me anyway) but I'm also not dead set against it.

I'll accept a pull request provided it's of high quality. If it has to go through multiple review rounds, I'll probably be less favorably inclined.

[2013-06-24 15:36] #837 closed, assigned to nobody

[2013-06-24 19:59] Keno opened #839 "Integrate FS operations into uv_write?"
The filesystem operations being so separate in the current implementation is a little unfortunate. It would be nice if writing to files could be integrated with the rest of the libuv I/O types to provide a more uniform interface. There is of course the issue that unlike the other types of I/O, files support positional writes whereas the other types of I/O do not. Discussing this with @bnoordhuis o

[2013-06-25 00:34] vtjnash commented on #839
Is it crazy to think that the exact same uv_write call should be usable for file handles? The harder issue that I see is with synchronizing reads and writes. If I want file-like access then it makes sense to me to use the existing file API.

(edit: deleted text "It seems that you just fixed the julia issue with this anyways" since it only applies to loladiro and doesn't make sense in this context)

[2013-06-26 22:48] dgrelaud commented on #826
I have the same error on Ubuntu 12.04 LTS x64 (it works on OS X). I have isolated the bug in a small test case: https://gist.github.com/dgrelaud/5872380
The bug appears only on Node.js 0.10.x (not on 0.8.x) when we start a server, use cluster and launch a command with exec...

[2013-06-27 18:28] goffrie commented on #826
I discovered the cause of our (= @dule's) problem. When a file descriptor is closed, it is not removed from epoll. As described in epoll(7), there are cases in which a file description will stay registered when the file descriptor is closed. If the same fd number is reused in a future socket (specifically, a server socket), then it will receive epoll events for the old file as well, and libuv will

[2013-06-28 07:57] bitraft commented on #801
http://tdm-gcc.tdragon.net/ also has same error.

[2013-06-28 10:58] bnoordhuis commented on #801
FWIW, as of commit b1d390e I'm able to cross-compile with the mingw32-gcc 4.7.2 from the FC18 repository. Considered fixed, closing.

[2013-06-28 10:58] #801 closed, assigned to nobody

[2013-07-01 03:56] welkineins opened #844 "bandwidth limitation on libuv"
In Linux, an tool call trickle is used to do bandwidth limit by wrapping glibc socket related function calls. (http://archive09.linux.com/feature/61293). However, this tool does not work with Node.js, but other tools like curl, etc, can work perfectly. I am wondering this problem might caused by libuv, since it wrap these functions again.

So, the issue is that "Is there any ways to modify/compile

[2013-07-01 08:16] bnoordhuis commented on #844
I assume it uses LD_PRELOAD to overload the glibc wrappers? That indeed won't work with libuv because it doesn't use glibc for everything.

You either have to disable libuv's accept4() system call wrapper (and maybe a few others) or teach trickle to also overload syscall().

[2013-07-01 08:16] #844 closed, assigned to nobody

[2013-07-01 17:32] muhammadghazali commented on #826
Hi guys, I experiencing the same issue here when I'm using Node v0.10.12. Like @cmisare said, it seem to be the issue happened occasionally. I experiencing this issue when I'm using https://github.com/yeoman/generator-webapp and the bottom line is it seem the issue originating from the libuv based on the log.

[code]

Btw, here is my dev environment details when this issue happening:
- Ubuntu 13.0

[2013-07-04 13:46] #271 closed, assigned to nobody

[2013-07-04 17:22] tejacques opened #845 "build error on Cygwin"
When attempting to build on cygwin I get the following error:

[code]

Additional Information:

[code]

I came across a similar issue (from the Julia github page: https://github.com/JuliaLang/julia/issues/2512) which claims it can be caused by having the OS environment variable set, and is fixed with

`unset OS && make`

Unfortunately this make no difference.

[2013-07-04 17:26] tjfontaine commented on #845
We generally don't support cygwin. It would be ideal if instead you built with Visual Studio (or VC Express), but failing that we try and support where feasible mingw.

That being said, current master recently went under a change which added autotools support, that has unfortunately regressed our ability to support mingw at the moment. However you can checkout the v0.10 branch which should be able

[2013-07-04 19:08] tejacques commented on #845
Thanks for the response. I did a bit more research, and it would appear that the issue is due to a lack of full pthread support on cygwin: http://cygwin.com/cygwin-api/compatibility.html.

[2013-07-04 19:08] #845 closed, assigned to nobody

[2013-07-07 02:36] Matheus28 opened #846 "uv_run doesn't update the time for uv_now if there isn't anything to do in the loop"
Title speaks for itself. In https://github.com/joyent/libuv/blob/master/src/win/core.c#L282 (uv_run), `uv_update_time` should also be called when the loop doesn't run so the time is always updated. So that line should be copied to the line just before the while loop.

[2013-07-07 02:38] Matheus28 commented on #846
Test case (`"Finished\n"` never prints):

[code]

[2013-07-08 17:33] bnoordhuis opened #847 "build: re-add mingw support"
It should be possible to build libuv with autotools + MSYS.

/cc @luislavena

[2013-07-10 08:56] bnoordhuis opened #848 "build: dtrace breaks out-of-tree autotools builds"
[code]

/cc @tjfontaine

[2013-07-11 02:27] ksubox commented on #711
I confirm same issues, especially with async_pummel.
When I test in virtual machine with 2 cores async_pummel_1 works well, but async_pummel_2 takes loooong time, so I added uv_sleep(0) after uv_async_send(handle) and it started work fast, but  async_pummel_[48] work veeery slow. I hope this symptoms will help.

Windows 8, mingw gcc 4.8.1 x64

[2013-07-11 11:45] piscisaureus commented on #711
loop_stop is expected to fail in v0.10 but not master. The threadpool_cancel tests always fail for the moment.

The others are real issues. Unfortunately I'm extremely busy with many different things atm, and I would be very grateful if one of you could dig into the the failing tests and see what's going on.

My ususal strategy is to pick a single failing test and return it outside of the test har

[2013-07-12 10:35] witchu opened #850 "win: uv_hrtime() return non-incremental value"
on windows server (windows with high performance frequency) when call uv_hrtime() many times, return values will decrease sometimes.

to fix please apply:

<pre>

1a39914af186f5db73ba8507d60da5d3bb3e39dc
 src/win/util.c |    4 ++--
 1 files changed, 2 insertions(+), 2 deletions(-)

diff --git a/src/win/util.c b/src/win/util.c
index f19d30a..2deb39d 100644
--- a/src/win/util.c
+++ b/src/win/util.c

[2013-07-14 13:45] saghul opened #851 "Configure error on OSX 10.6"
Latest master gives me the following error on OSX 10.6. Any clues?

[code]

[2013-07-15 08:22] saghul commented on #851
The problem seems to be related to some platform detection. This is the code generated on OSX, which gives the above error:

[code]

And this is what my Linux machine has generated, which works ok:

[code]

In case it helps, OSX 10.6 ships with autoconf 2.61, which is probably ancient, but 10.6 is the Windows XP of the Macs ;-)

[2013-07-15 18:48] viking opened #852 "getnameinfo() function"
Are there any plans to implement getnameinfo in libuv?

[2013-07-15 19:03] bnoordhuis commented on #851
If this is a game of "Spot the 5 differences", I give up - the snippets look identical to me.

[2013-07-15 21:16] saghul commented on #851
They look identical, but after editing the resulting configure file like this it worked:

[code]

Note that the semicolon is on the same line as the 'esac'.

Looks like I pasted the same thing twice in my previous note, sorry, this is the real output from my Linux machine:

[code]

Here the esac statement has the semicolon on the same line.

[2013-07-16 16:53] piscisaureus commented on #852
there aren't. But I guess it makes sense as a feature so a patch is welcome.

[2013-07-16 18:02] bnoordhuis commented on #851
Okay, I see what you mean.  I think you're looking at an autoconf bug, the case/esac code is generated from an AS_CASE macro in configure.ac.  I'd switch to AS_IF macros but then you can't pattern-match on $host_os anymore...  I'll entertain patches. :-)

[2013-07-16 20:50] saghul commented on #851
By looking around, I does indeed seem to be an autoconf bug, FML. My autotools-fu is inexistent, but I'll try to come up with a patch when I find some time.

[2013-07-20 16:58] mscdex opened #856 "build: infinite configure loop with autotools"
At least on NetBSD, using the autotools method of building causes an infinite "./configure" loop when doing `make`.

[2013-07-20 17:06] mscdex opened #857 "build: OpenBSD/NetBSD cannot build with gyp_uv"
Doing `./gyp_uv -f make` works, but then `gmake -C out` results in:

[code]

[2013-07-20 17:41] mscdex commented on #856
Ok, so the workaround for this problem was to:

[code]

[2013-07-20 19:52] bnoordhuis commented on #857
That sounds like a gyp or environmental issue. It shouldn't regenerate the Makefile unless one of the *.gyp or *.gypi files has changed. It's also looking for gyp_uv in the wrong directory.

[2013-07-20 19:57] bnoordhuis commented on #856
What happens when you revert 2f3124a?

[2013-07-20 22:46] mscdex commented on #857
Ok, I updated gyp and it starts compiling now, but it's not picking the right files as it fails with this:

[code]

[2013-07-20 23:44] mscdex commented on #857
Now `build/gyp/pylib/gyp/common.py` has to be [patched](https://gist.github.com/mscdex/a64a3930a5a8db0843ec) for libuv to build properly. I've posted an [issue](https://code.google.com/p/gyp/issues/detail?id=358) over on gyp's tracker.

[2013-07-21 17:05] redchair123 opened #859 "osx run-tests and run-benchmarks dependency issues"
the raw "-lm" is being treated as a framework dependency, which triggers warnings in xcode.

Ideally the gyp uses libm.dylib for osx rather than "-lm"

[2013-07-22 14:05] bnoordhuis commented on #859
Not sure what you mean. Maybe post a patch?

[2013-07-23 02:15] jacklund opened #860 "Need a way to do a connect() in libuv using something other than AF_INET"
I'm trying to write a node.js interface to Bluetooth LE. The interface itself looks exactly like TCP, except the sockaddr family is `AF_BLUETOOTH` rather than `AF_INET` (along with one or two other fairly trivial differences). However, there is a test in `uv_tcp_connect` which checks for `AF_INET`, and if not set that way, aborts. I certainly understand this, as this is the TCP connect interface,

[2013-07-23 07:36] saghul commented on #860
You can create the socket yourself with the family you want and use a uv_poll_t handle, which works on arbitrary fds,  to asynchronously monitor it for read / write operations.

[2013-07-23 10:58] bnoordhuis commented on #860
What @saghul said, the uv_poll_*() family of functions is what you want.

[2013-07-23 10:58] #860 closed, assigned to nobody

[2013-07-23 12:40] jacklund commented on #860
Thanks! I'll give that a try.

[2013-07-23 13:15] ghost opened #861 "getaddrinfo_fail timeout on `make check`"
The test 'getaddrinfo_fail' times out when running `make check` on Lubuntu 13.04

[code]

[2013-07-23 15:21] bnoordhuis commented on #861
It's probably harmless. People have reported that before and it usually turns out their upstream DNS server is slow in returning an NXDOMAIN response.

[2013-07-23 15:21] #861 closed, assigned to nobody

[2013-07-25 10:12] #848 closed, assigned to nobody

[2013-07-25 11:15] #752 closed, assigned to nobody

[2013-07-25 11:15] #847 closed, assigned to bnoordhuis

[2013-07-25 21:02] luislavena commented on #847
Thank you @bnoordhuis for this, but I thought that by having autotools we could use to build with it instead.

In theory the modifications to the Makefile for autotools aren't that big and I believe libtool already provides a way to generate both shared and static library.

I'll look into autotools a bit next month and chime in then.

Thank you for providing a solution.

[2013-07-25 21:05] bnoordhuis commented on #847
Patches to build with autotools are welcome. I added the Makefile so MinGW users have something to build with. I didn't want to spend too much time on it.

[2013-07-28 17:22] oktal3700 opened #865 "unix/windows inconsistency of uv_spawn errors"
On unix, uv_spawn always returns an error code if it failed to spawn the child process.

On windows, whether or not uv_spawn returns an error code on failure depends upon the cause of the failure: some kinds of failures return an error code, other kinds return zero (e.g. file not found). Therefore user code can continue in the belief that there was no error, when in fact there was an error. In the

[2013-07-29 10:51] dmazzella opened #866 "Makefile.am missing 'subdir-objects'"
Hi all,
i have found a problem in Makefile.am

[developer@localhost libuv-master]$ sh autogen.sh
- libtoolize
- aclocal -I m4
- autoconf
- automake --add-missing
  automake: warnings are treated as errors
  Makefile.am:30: warning: source file 'src/fs-poll.c' is in a subdirectory,
  Makefile.am:30: but option 'subdir-objects' is disabled
  automake: warning: possible forward-incompatibility.
  aut

[2013-07-29 11:27] bnoordhuis commented on #866
Out of curiosity, what version of automake is that?

[2013-07-29 11:33] dmazzella commented on #866
automake (GNU automake) 1.14

[2013-07-29 12:30] #866 closed, assigned to nobody

[2013-07-29 12:31] bnoordhuis commented on #866
Right. I usually test with 1.12, that's why I hadn't seen that warning yet. Thanks for the report, fixed in c82cea1.

[2013-07-29 12:35] dmazzella commented on #866
;)

[2013-07-29 14:31] bnoordhuis commented on #865
/cc @piscisaureus

[2013-08-05 21:48] bnoordhuis opened #869 "freebsd: broken autotools + dtrace build"
[code]

[2013-08-07 20:50] adrai commented on #649
Can you approximately say when (version or time) the auto-scaling feature is planned?

[2013-08-07 21:05] bnoordhuis commented on #649
Probably v0.14 (what will probably become v1.0.)  It doesn't look like I'll have time to work on it this release cycle.

[2013-08-08 14:41] cjdelisle opened #870 "Failure to bind UDP sockets on Ubuntu Saucy"
In Ubuntu Saucy, SO_REUSEPORT is defined but the kernel doesn't support it causing setsocketopt() to fail with ENOPROTOOPT and aborting uv_bind(). This is currently breaking cjdns tests on saucy. https://code.launchpad.net/~calebdelisle/+archive/cjdns/

Even after Ubuntu upgrades to kernel 3.9 there are still going to be the realtime kernels and the 2.6.x kernels to contend with.

Here's the offen

[2013-08-08 14:51] cjdelisle commented on #870
Info about SO_REUSEPORT I found useful http://stackoverflow.com/questions/14388706/socket-options-so-reuseaddr-and-so-reuseport-how-do-they-differ-do-they-mean-t

[2013-08-08 15:50] Shnatsel commented on #870
Saucy is using 3.10 where SO_REUSEPORT is already present and should be working properly (it was introduced in 3.9).

[2013-08-08 18:39] bnoordhuis commented on #870
I test on a range of systems that run 3.8 up to 3.11-rc4 and I haven't seen that issue.

What does e.g. the udp_send_and_recv test do on your system? If it fails, can you post the output of `strace path/to/run-tests udp_send_and_recv udp_send_and_recv`?  Maybe add `-e \!mmap,munmap,mprotect,brk,futex,gettimeofday,nanosleep` to strace to filter out irrelevant system calls.

[2013-08-08 18:43] bnoordhuis commented on #457
It doesn't seem like there's anyone actually using x32 so I'm closing this for now.

[2013-08-08 18:43] #457 closed, assigned to bnoordhuis

[2013-08-08 20:55] bnoordhuis opened #871 "sunos: broken autotools + dtrace build"
See e.g. http://jenkins.nodejs.org/job/libuv-master/154/label=smartos/console

[code]

I was able to resolve the missing file errors with the following patch:

[code]

But now `make check` errors with this message:

[code]

Assigning to you, @tjfontaine.

[2013-08-08 23:51] bnoordhuis opened #872 "darwin: lazy init fsevents thread"
The CF thread that drives FSEvents should be started lazily, i.e. when the first FSEvents handle is created.

Limiting its stack size would be good, too.  I'm not sure how much address space XNU reserves for a new thread but if it's more than a few pages, it's more than the thread needs.

/cc @indutny

[2013-08-09 10:09] iskitsas commented on #826
Using cluster module and forking processes, which created http server per process listening to a port, caused this issue.

Specifically when you set .listen(80), you get this error on init of your cluster.

A workaround was to use setTimeout with 5ms delay when using <appserver>.listen(PORT_NUM)

[2013-08-09 11:13] bnoordhuis commented on #826
Does anyone have a reduced test case that triggers the assert and doesn't tamper with libuv/node.js internals?

@goffrie is correct that:

But that cannot happen unless you start messing with libuv or node.js internals or call fork() yourself.  Libuv doesn't dup the file descriptor by itself.

I've never seen this.  The only explanation I can think of is a race between a (probably accidental) clos

[2013-08-09 12:03] goffrie commented on #826
@bnoordhuis did you look at the Gist I linked? I have an all-Node test case that reliably triggers the bug. The only "internal" it uses is the fd number, which it does for expediency; we have triggered this bug in regular production code, but it only happens on one server, which isn't too surprising given that it relies on a very unlikely fd race. And the patch that I posted does fix our problem (

[2013-08-09 12:05] goffrie commented on #826
One more thing - the cluster module does duplicate fds: the same fd being open in another process is duplicate enough for this bug.

[2013-08-09 13:29] goffrie commented on #826
Here's a test case that doesn't use any internal-y stuff for its operation, using the cluster module: http://sprunge.us/FPjU

[2013-08-09 14:19] bnoordhuis commented on #826
Well, the fact that it's called `sock._handle.fd` should be a strong hint that it's not for public consumption.  The only reason I added the fd property is to facilitate logging / debugging, it's definitely not intended to be passed around.

If you mean that the master sends a copy of the file descriptor to worker processes, then that's true.  Libuv and node.js go to some lengths to make sure ever

[2013-08-09 14:27] bnoordhuis commented on #826
Right, I see what you mean.  That's fixed in master actually.  It's probably a bug in the v0.10 cluster module.  I'll look into it.

[2013-08-09 17:57] goffrie commented on #826
https://gist.github.com/goffrie/6195465. I'm not seeing any significant changes.

I think this could be reasonable.

Thanks for looking :) By the way, http://sprunge.us/OZJh is another incarnation of the same bug, that is still failing on the latest version of node (0.11.5). Also, in the original cluster test case, even though the assertion failure doesn't occur, strace output still has thousands

[2013-08-09 20:40] tjfontaine commented on #871
@bnoordhuis it seems sufficient to simply do `find ${top_builddir}/src -name "*.o"` shall I land?

[2013-08-09 21:38] bnoordhuis commented on #871
Yep, sounds good.

[2013-08-09 22:16] bnoordhuis opened #874 "unix: short-circuit uv_queue_work() with NULL after_work_cb"
Minor optimization: don't wake up the main thread when the after_work_cb is NULL, there's nothing to do.

[2013-08-09 23:39] bnoordhuis commented on #874
Shelving this for now.  The work request is part of the event loop's request queue.  If the worker thread doesn't wake up the main thread, the work request is never removed from the queue again.  Updating the queue from the worker thread means we have to synchronize all access to said queue and that's a massive deoptimization.

[2013-08-09 23:39] #874 closed, assigned to nobody

[2013-08-11 08:18] luoqi opened #876 "when i build this on ubuntu 12.04 LTS"
sh autogen.sh
autogen.sh: 17: [: unexpected operator
- libtoolize
- aclocal -I m4
- autoconf
- automake --add-missing
  configure.ac:19: option `serial-tests' not recognized

[2013-08-11 09:19] jbergstroem commented on #876
Out of curiosity, what shell is that? ash?

[2013-08-11 10:02] luoqi commented on #876
bash

[2013-08-11 10:16] #876 closed, assigned to nobody

[2013-08-11 10:19] bnoordhuis commented on #876
Fixed in 0e4fa70, thanks for the bug report.  It's curious, I've known for at least 15 years that = is how you compare strings yet I keep making the same damn mistake...

I fixed the serial-tests a few days ago in e4c1483.  If it's still causing trouble for you, please post the output of `autoconf --version`, `automake --version` and `aclocal --version`.

[2013-08-12 00:41] c4milo commented on #826
I just ran across this same issue in node 0.8.25.

[code]

[2013-08-12 00:55] c4milo commented on #826
Worth saying that the process consumes 100% CPU in this state.

[2013-08-12 06:31] luoqi commented on #876
root@b:~# autoconf --version
autoconf (GNU Autoconf) 2.68
Copyright (C) 2010 Free Software Foundation, Inc.
License GPLv3+/Autoconf: GNU GPL version 3 or later
http://gnu.org/licenses/gpl.html, http://gnu.org/licenses/exceptions.html
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

Written by David J. MacKenzie and Akim Demai

[2013-08-12 07:04] bnoordhuis commented on #876
Does that mean it's still not working for you with the current HEAD of master?

By the way, it's spelled 'aclocal'.

[2013-08-12 09:59] luoqi commented on #876
it worked nice!
1,i change the '==' by '='.
2,remove 'xxx-tests'.#sorry i forgeted it!.

#

aclocal --version
aclocal (GNU automake) 1.11.3
Copyright (C) 2011 Free Software Foundation, Inc.
License GPLv2+: GNU GPL version 2 or later http://gnu.org/licenses/gpl-2.0.html
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

Written

[2013-08-12 10:22] itbrandonsilva commented on #876
I'm actually (just pulled) having the same issue:

libtoolize: putting auxiliary files in `.'.
libtoolize: linking file`./ltmain.sh'
libtoolize: putting macros in AC_CONFIG_MACRO_DIR, `m4'.
libtoolize: linking file`m4/libtool.m4'
libtoolize: linking file `m4/ltoptions.m4'
libtoolize: linking file`m4/ltsugar.m4'
libtoolize: linking file `m4/ltversion.m4'
libtoolize: linking file`m4/lt~obsolete.m4'

[2013-08-12 16:49] #871 closed, assigned to tjfontaine

[2013-08-12 20:13] itbrandonsilva commented on #876
Updated to latest version versions of autoconf and automake and no longer have any problems.

Previous versions:
Autoconf 2.68
Automake 1.11.3

[2013-08-13 09:40] #872 closed, assigned to nobody

[2013-08-13 09:43] bnoordhuis commented on #872
Fixed in 06c4fa6 and c82e703.

/cc @brson

[2013-08-13 10:38] bnoordhuis commented on #328
@piscisaureus I added a regression test in bnoordhuis/libuv@d18fc66 that is consistently failing on Unices (i.e. the unref'd async handle's callback doesn't get invoked) which should mean that uv-unix and uv-win now behave the same.  Let's decide if that's the behavior we actually want.

[2013-08-13 10:46] piscisaureus commented on #328
I don't really know what the right behaviour is. It seems to me that if you call `uv_async_send` from a different thread (which is sort of the point of uv_async_t) on an otherwise "dead" loop you're essentially creating a race condition. What if the other thread is slightly slower and the main thread decides to exit before uv_async_send is called?

When you use `uv_async_send` from the main thread

[2013-08-13 17:33] luoqi opened #878 "uv_timer_start(&timer,timer_cb,0,1000) cause an SIGSEGV"
uv_timer_start(&timer,timer_cb,0,1000);
----------------------------------------------^
i want the timer_cb immediately call when program started.
!!! the SIGSEGV create core file.
gdb the core file,maby point anywhere of my code!!!

when i use:
uv_timer_start(&timer,timer_cb,1,1000);

SIGNAL disapear!

[2013-08-13 19:44] dawnarc opened #879 "assertion failed:req-inl.h line:219 expression: 0"
![error](https://f.cloud.github.com/assets/3351764/957322/c3e9550c-044e-11e3-8faf-37cf42dbeb8c.png)
![error3](https://f.cloud.github.com/assets/3351764/957323/c3ead1fc-044e-11e3-8e44-5ce0d1487085.png)
![error2](https://f.cloud.github.com/assets/3351764/957324/c3eee4cc-044e-11e3-9160-99ce63d318a9.png)
![error4](https://f.cloud.github.com/assets/3351764/957325/c415de24-044e-11e3-8c0d-caed8d45fe81.pn

[2013-08-13 20:18] vongruenigen commented on #609
Got the same error when trying to to link to libuv I got the same error (OSX 10.8, clang 3.3):

[code]

The contents of my gyp file are:

[code]

And I generate the Makefile with the following command:

[code]

Another thing I've noticed is an error after invoking gyp, but I'm not sure if it's a gyp problem or cause by your gyp file:

[code]

Any ideas what the problem could be?

[2013-08-13 20:44] bnoordhuis commented on #879
Libuv is not thread-safe.  I can't give you advice on how to model your program (the issue tracker isn't really the place for that anyway) but the usual approach is to either have a) one event loop per thread, or b) one event loop thread where I/O happens and a bunch of worker threads that do CPU-bound processing.

[2013-08-13 20:44] #879 closed, assigned to nobody

[2013-08-13 20:45] bnoordhuis commented on #878
Sorry, your report is almost incomprehensible.  Please post a complete test case and we'll take it from there.

[2013-08-13 20:45] #878 closed, assigned to nobody

[2013-08-13 20:50] bnoordhuis commented on #609
@vongruenigen There is a long explanation as to why gyp works the way it does but I'll spare you that.  The executive summary is: if you split up your gyp file into a common.gypi and your-project.gyp, then run gyp with `-Icommon.gypi`, there's a pretty good chance it'll work.

[2013-08-13 21:14] bnoordhuis commented on #328
@olsonjeffery Can you chime in?  Is this still an issue for Rust?  I think Bert and I are both of the opinion that we don't care what it does as long as it's consistent.

[2013-08-14 05:11] vongruenigen commented on #609
@bnoordhuis Ok, I'll give it a try, thanks.

[2013-08-14 08:34] dawnarc commented on #879
ok, thx for your suggestion :)

[2013-08-14 14:37] danielchatfield opened #881 "Inconsistencies in powershell on windows"
I can't track down what exactly is the problem but setting the color using an ANSI code to magenta in powershell actually sets it to a dark blue color (which makes it almost impossible to read).

[2013-08-14 14:38] danielchatfield commented on #881
Easiest way to reproduce issue is to `npm install` something - the `GET` or `200` etc. should be magenta.

[2013-08-14 14:58] piscisaureus commented on #881
@danielchatfield Did you remap console colors in the console property page. It should look like this:

http://screencast.com/t/NnYfC7B5Dj

I don't really want to make libuv "compensate" for remapped colors.

[2013-08-14 15:01] danielchatfield commented on #881
@piscisaureus To make sure this wasn't an issue with my setup I started a fresh EC2 instance running Windows Server 2012 and the issue occurred there as well.

[2013-08-14 15:11] piscisaureus commented on #881
I have no clue, then. Libuv just uses `SetConsoleTextAttribute` ([here](https://github.com/joyent/libuv/blob/c82e7033a5d6c604b891c1f722cf23a063c202b0/src/win/tty.c#L1210-L1243)) as it should.

@sblom @jepickett Do you have any idea?

@glennblock @tjanczuk Powershell users, ever ran into this?

[2013-08-14 16:14] danielchatfield commented on #881
I've just confirmed that this isn't a node bug (problem happens with python as well).

[2013-08-14 16:20] #881 closed, assigned to nobody

[2013-08-14 20:47] danielchatfield commented on #881
This is my best guess at what is happening:

Powershell has a deep blue background colour by default and I suppose some Microsoft dev decided that since on windows you can only set the background to 16 different colours using `setConsoleTextAttribute` they would have to redefine one of those colours as the deep blue. Quite why they didn't just implement an API that allows a 256 colour spectrum lik

[2013-08-14 20:49] vongruenigen commented on #609
@bnoordhuis, it worked, thanks! :+1: But I'm still confused on why it requires a `common.gypi` file.. do you know where I can find good resources about how `gyp` works in detail?

[2013-08-14 21:31] bnoordhuis commented on #609
It sounds corny but your best bet is probably the source. Either that or the mailing list because documentation is pretty much non-existing.

As to why you need a common.gypi, without it your sub-projects don't share a common configuration with the main project and instead use a default configuration (which usually doesn't do what you want.)

[2013-08-14 22:30] okuoku commented on #881
You can change console 16 colour palette with SetConsoleScreenBufferInfoEx  :-p

Personally, I do not use blue background; we can change it with some script ( e.g. http://stackingcode.com/blog/2011/11/14/zenburn-powershell )

[2013-08-15 12:41] vongruenigen commented on #609
I was expecting that..but anyway, thanks a lot for your help! :+1:

[2013-08-16 07:57] luoqi opened #882 "after_write recv many(>10000) ECANCELED"
in my write_cb i get status,that is uv_err_name eq ECALCELED,it is UV_ECALCELED?

can i close the (uv_write_t*)req->handle?

[2013-08-16 08:13] luoqi opened #883 "after_write recv many(>10000) ECANCELED"
in my write_cb i get status,that is uv_err_name eq ECALCELED,it is UV_ECALCELED?

can i close the (uv_write_t*)req->handle?

[2013-08-16 08:14] #882 closed, assigned to nobody

[2013-08-16 09:30] bnoordhuis commented on #883
I'm not 100% sure what you mean.  If you have e.g. a uv_tcp_t or uv_pipe_t handle and your uv_write_t callback is called with status=UV_ECANCELED, that means the handle is closing.

[2013-08-16 09:30] #883 closed, assigned to nobody

[2013-08-16 11:55] luoqi opened #884 "assert did not call uv_close()!!???"
shutdown_cb(uv_shutdown_t_req,int status){
uv_close((uv_handle_t_)req->handle,close_cb);
free(req);
}
close_cb(uv_handle_t*handle){
  onclose(handle);//server
}

read_cb(uv_stream_t_stream,ssize_t nread,uv_buf_t buf){
if(nread<0){
uv_shutdown_t_ req=(uv_shutdown_t_)malloc(sizeof(uv_shutdown_t));
uv_shutdown(req,(uv_handle_t_)stream,shutdown_cb);
}
}

sometimes got this:

src/unix/stream.c:1027: uv

[2013-08-16 12:57] bnoordhuis commented on #884
Libuv expects you to call uv_close() on error.  uv_shutdown() just shuts down the write end of the connection.

In what particular scenario would you call shutdown(SHUT_WR) rather than close() on a socket that's in an error state?

[2013-08-16 17:08] luoqi commented on #884
is that you mean,if(nread<0),i do uv_close()?
but i did with uv_close,my server work good long time!

[2013-08-16 17:10] luoqi commented on #883
i used uv_tcp_t.
i make a test for my server.
but i got it yet.
--[[
...............
server onwrite (0x9ef1a20)
2013-01-22 06:53:04 ECANCELED
2013-01-22 06:53:04 server onwrite (0x9ef1a20)
2013-01-22 06:53:04 ECANCELED
2013-01-22 06:53:04 server onwrite (0x9ef1a20)
2013-01-22 06:53:04 ECANCELED
2013-01-22 06:53:04 server onwrite (0x9ef1a20)
2013-01-22 06:53:04 ECANCELED
2013-01-22 06:53:04 server

[2013-08-16 18:01] bnoordhuis commented on #884
Yes (if I understand you correctly, I suspect there's a bit of a language barrier.)  Close the handle on error and you should be good.

[2013-08-16 18:01] #884 closed, assigned to nobody

[2013-08-16 18:03] bnoordhuis commented on #883
Maybe I didn't make myself clear.  When you uv_close() a handle that has in-progress write (or connect or shutdown) requests, they get their callback invoked with UV_ECANCELED as the error.

[2013-08-17 00:59] Schoonology commented on #876
With 0e4fa70, I'm still getting this issue (on the same version of Ubuntu), but I'm running Automake 1.11.3, which is the latest for Ubuntu.

Should I update to 1.12?

[2013-08-17 03:36] luoqi commented on #883
thank you!

[2013-08-17 03:36] luoqi commented on #884
thank you!

[2013-08-17 13:12] bnoordhuis commented on #876
Can you guys try acf1310?  It's going through CI right now but it wouldn't hurt to have some independent confirmation.

No.  I try to maintain compatibility with 1.9 and up.  It's good to get the bug reports.

[2013-08-17 14:46] Schoonology commented on #876
With 1.11.3, acf1310 worked like a charm, Ben. Thanks for the quick turnaround.

[2013-08-17 14:55] bnoordhuis commented on #876
Thanks for testing, Michael. Landed in master.

[2013-08-17 18:42] luoqi opened #886 "process suspend with many connecting!"
i make many uv_connect in my server with a uv_listen in one uv_default_loop.
if connect_cb(status !=0 ) and i set a timer to reconnecting after 10 seconds.
sometimes later the process suspended and the cpu is 100% in command top!

[2013-08-18 01:58] alexcrichton opened #887 "Multiple I/O loops race with waitpid"
For the following program, I would expect that the printfs in `on_exit` would be invoked twice every time I run the program:

[code]

When running this, however, it's only rarely that you see two exit prints. After investigating, I believe that it's because of the following sequence of events:
1. Thread a spawns child 1
2. Thread b spawns child 2
3. Both child 1/2 exit, parent process receives SIG

[2013-08-18 06:25] luoqi opened #888 "Can i user pthread_mutex_lock or unlock?"
Can i user pthread_mutex_lock or unlock,in read_cb and write_cb and timer_cb?
and may i must to use it?
if i has many server and connections?

[2013-08-18 09:24] luoqi opened #889 "uv_write in uv_queue_work Segmentation fault"
log.txt
uv_read
proc
uv_write
uv_write ok
uv_read
proc
uv_write
uv_read
proc
uv_write
uv_write ok
uv_write ok
Segmentation fault(core dumped)

gdb
bt
uv__write
uv_write2
uv_write
......

[2013-08-18 09:52] saghul commented on #889
Do you expect anybody to just guess what is going on based on the log of an application for which you didn't provide the source code? Please try to make meaningful bug reports by attaching some test program that shows the failure, for example. Otherwise there is no way to help you.

[2013-08-18 10:46] luoqi commented on #889
if i not use uv_queue_work.
only call proc function,the server is work good.
but the proc function will process mysql maby use long time.

[2013-08-18 10:52] luoqi commented on #889
typedef struct __WORK{
    void\* srv;
    uv_tcp_t\* pc;
    long len;
    void\* data;
}_WORK;
static void work_cb(uv_work_t_req){
    _WORK_ w=(_WORK*)req->data;

[code]

}
static void after_work_cb(uv_work_t*req,int status){
    MYASSERT(status==0);
    SAFEFREE(req->data);
    SAFEFREE(req);
}

bool dbserver::dosrvmsg(uv_tcp_t\* pc,pack<>& p){

[code]

//if not use above codes, it work good

[2013-08-18 12:42] bnoordhuis commented on #888
Can you stop opening issues for what are basically 'help needed' questions?  The bug tracker is for, well, reporting bugs.  Please use the mailing list: http://groups.google.com/group/libuv

[2013-08-18 12:42] #888 closed, assigned to nobody

[2013-08-18 12:45] bnoordhuis commented on #889
See [my comment](https://github.com/joyent/libuv/issues/888#issuecomment-22829847) on your other issue - please use the mailing list for this.

A note on test cases: they should be succinct and self-contained, i.e. not pull in a million dependencies without which it won't compile.

[2013-08-18 12:45] #889 closed, assigned to nobody

[2013-08-18 12:47] bnoordhuis commented on #886
And again, please see my comment [here](https://github.com/joyent/libuv/issues/888#issuecomment-22829847), the bug tracker is for reporting bugs.  Please only open issues if you think you have found a bug in libuv and have a reproducible test case.

[2013-08-18 12:47] #886 closed, assigned to nobody

[2013-08-18 14:39] bnoordhuis commented on #887
Thanks, I can confirm the issue.  This got overlooked when adding cross-event loop signal handler support.

Is this blocking you somehow?  I can land a quick (if perhaps slightly sub-optimal) fix in master sometime this week.  A better fix would probably take a little longer.

[2013-08-18 17:25] luoqi commented on #888
ok,thank you,and i never know 'help needed',but i now clear!

[2013-08-18 17:35] luoqi commented on #888
ohhhh,i can't open the google groups,chrome return ERR_ADDRESS_INVALID!
any other site or docment for this?

[2013-08-18 18:10] bnoordhuis commented on #888
Maybe a temporary hiccup? It works for me.

[2013-08-18 18:31] bnoordhuis commented on #887
FWIW, I have the aforementioned quick fix sitting in a branch right now: bnoordhuis/libuv@362f2a2.

It does an O(n) scan over the event loop's active process watchers so it's not terribly efficient. On the other hand, you probably won't notice a difference until you have several thousands of watchers.

[2013-08-18 18:43] alexcrichton commented on #887
Wow, thanks for coming up with a fix so quickly!

This is a mild blocker, but nothing major. We're using our own fork of libuv in rust right now, so we could easily just apply your patch. I think we're pretty far behind master anyway, so there shouldn't be too much of a need merge this into master quickly.

That being said, I had thought about making a fix like yours, but it seems even more sub-op

[2013-08-18 22:30] bnoordhuis opened #890 "test: ip6_addr_link_local: jump or move depends on uninitialised value"
[code]

/cc @bajtos

[2013-08-18 23:10] bnoordhuis commented on #887
I pushed a slightly better fix in bnoordhuis/libuv@7eb488d.  The old patch has some issues when you close handles when it's still iterating over the list.

I don't disagree.  This patch is only an interim solution (hey, I wrote it between my morning coffee and taking my kid to the petting zoo) but FWIW, I ran a few node.js benchmarks where the script spawns a few thousand instances of /bin/false i

[2013-08-18 23:55] alexcrichton commented on #887
Oh wow, thanks! I think I trust your patch more than I do mine. Also thanks for taking the time to look into it.

I remembered that printf isn't exactly reentrant, so when I took out my debugging printfs in the signal handler in my patch, turns out it's actually working just fine. Although if what you say is true about the functions not showing up in perf at all, this may be a moot point. (prematu

[2013-08-19 07:53] luoqi opened #892 "a complete test for uv_queue_work (test result Segment fault)"
## testqueuesrv.h

[code]

---

test result:
...
onread
onread
onread
onread
Segmentation fault (core dumped)
root@b:

---

ubuntu 12.04 LTS i686 32bit

[2013-08-19 09:54] bajtos commented on #890
I am not able to reproduce the issue on master (389fc448).

[code]

My machine (Linux VM running in VirtualBox on Mac OSX):

[code]

[2013-08-19 11:40] bnoordhuis commented on #892
You're calling uv_write() from inside the thread pool. Don't do that, libuv is not thread-safe.

[2013-08-19 11:40] #892 closed, assigned to nobody

[2013-08-19 11:48] bnoordhuis commented on #890
I'll look into it, it's probably triggered by my particular network configuration.  One interesting observation is that there isn't an interface with scope ID 0x02 so something is off in the test or libuv at any rate.

[2013-08-19 20:40] #890 closed, assigned to nobody

[2013-08-20 22:22] bnoordhuis commented on #870
No follow-up in almost two weeks. Closing.

[2013-08-20 22:22] #870 closed, assigned to nobody

[2013-08-20 22:27] cjdelisle commented on #870
Sorry about that, the guy who had the problem went on vacation and at this point I don't care about the issue either.

[2013-08-20 22:34] bnoordhuis commented on #617
Okay, I've decided against using getaddrinfo_a().  The problem with that function is that it either spawns a thread or sends a signal.  The former is undesirable because libuv has only limited possibilities for batching lookups and we don't want to spawn a million threads, the latter because signals and libraries create headaches for the user.

[2013-08-20 22:34] #617 closed, assigned to bnoordhuis

[2013-08-21 11:50] bnoordhuis commented on #870
Okay, no problem.  If you or the other guy wants to pick this up again, shout and I'll reopen the issue.

[2013-08-21 14:51] piscisaureus commented on #865
@bnoordhuis Is it actually true that unix always returns the error immediately?
 If I'm reading the code correctly,  `execve` failure will set `process->errno` but `uv_spawn` will still return 0.

[2013-08-21 15:13] bnoordhuis commented on #865
Only sometimes, when the call to fork() fails, for example.

[2013-08-22 00:53] stakach commented on #769
This gives a good overview of platform support: http://stackoverflow.com/questions/14388706/socket-options-so-reuseaddr-and-so-reuseport-how-do-they-differ-do-they-mean-t

Personally I think having:
- SO_REUSEADDR set on all platforms is a good thing
  - On windows this has the same effect as also setting SO_REUSEPORT
- Then also setting SO_REUSEPORT on platforms that support it (BSD, OSX, LINUX >

[2013-08-23 04:52] stakach opened #899 "segfault on windows using tcp"
I'm having issues on Windows doing anything with TCP after linking to a dynamic libuv.dll library

All other libuv features work without issue and I'm struggling to work out the issue.
The same code runs fine on Linux and OSX

The project in question is here: https://github.com/cotag/libuv (ruby bindings to libuv)
The failing test on windows: https://github.com/cotag/libuv/blob/master/spec/tcp_spe

[2013-08-23 10:40] bnoordhuis commented on #899
Sorry, but there is not enough information for me here to act on.  Can you try to create a reduced test case?  Please make sure it's standalone, i.e. requires just libuv and nothing else.

Failing that, run your project in a debugger and capture the stack trace at the point of the segmentation fault, then post that here.

[2013-08-23 10:40] #899 closed, assigned to nobody

[2013-08-23 16:35] #865 closed, assigned to nobody

[2013-08-23 19:51] isaacs opened #901 "ctime is "creation time" on windows, "ctime" on unix"
It'd be better if "ctime" meant the same thing on Windows as it does on Unix.

Yes, of course, most platforms treat "ctime" as "creation time" on Windows, and in fact, even some Unix tutorials and blogs say that "ctime" is "creation time".  But we should not contribute to the confusion!

Libuv and Node aim at cross-platform portability.  The disparate semantics causes problems in some cases, espec

[2013-08-24 04:50] Fusl commented on #870
[code]

[code]

[code]

This was on a Debian Wheezy system with linux-libc-dev upgraded to version 3.10.5-1~bpo70+1

[2013-08-24 04:51] Fusl commented on #870
After i downgrade the package to 3.2.46-1, the tests completes almost successfully:

[code]

(I think these errors are caused by running the tests in an OpenVZ-Container)

And testing works as expected:

[code]

[code]

[2013-08-24 05:10] cjdelisle commented on #870
@Fusl thanks for getting the info, it looks like this test forks and you missed the good stuff :(
try `strace -f -e \!mmap,munmap,mprotect,brk,futex,gettimeofday,nanosleep ./run-tests udp_send_and_recv`

@bnoordhuis You're not going to see this failure in tests until you build with a new version of libc-dev and an older kernel so if you're maytagging your binary to different machines to test it wi

[2013-08-24 10:51] bnoordhuis commented on #901
Windows issue. Assigning to you, Bertje.

[2013-08-24 11:28] jsstorm commented on #901
I agree that those file time stamps should be consistent for a low level cross platform API, or at least well documented with the difference for platforms.

I also confused with the ctime on unix, and treated them as creation time as windows. and later realized unlike windows, there is no creation time for unix systems.

For windows system, call GetFileInformationByHandleEx with FileBasicInfo can

[2013-08-24 11:54] piscisaureus commented on #901
I can do it for windows, for any version of windows. (Although, note that FAT doesn't track change time and I don't know offhand what windows would make of it.

The question is, are we going to expose "creation time" somehow? I know it's not possible on linux but it is on darwin.   I think @bnoordhuis should for once accept that his favorite OS isn't perfect in every area and that we should docume

[2013-08-24 13:43] Fusl commented on #870
It's now building correctly. Thanks. Can be closed now :+1:
/Edit: I'll do the strace asap

[2013-08-24 13:51] bnoordhuis commented on #901
uv_stat_t has a st_birthtim field as of f9e6029b, that would be the logical place to store it.  It's zeroed on Linux and other platforms that don't have a 'creation time' concept.

[2013-08-24 13:56] bnoordhuis commented on #870
Thanks for following up.  Should be fixed as of 17452cd.

[2013-08-24 14:35] piscisaureus commented on #901
@isaacs, @bnoordhuis - It'd be good if you guys could at least read the comments in `fs__stat_handle` as added in  7ba9f4e.

[2013-08-24 14:37] cjdelisle commented on #870
I just changed the patch to a backport of your patch so we should be seeing test results from building on a reasonable variety of machines soon.
https://github.com/cjdelisle/cjdns/commit/dfd2d77bea1a21da1a2c03383494525633cddbaa

[2013-08-24 14:40] bnoordhuis commented on #901
Looks okay to me.

[2013-08-24 14:46] piscisaureus commented on #901
@bnoordhuis Is that a LGTM for all patches, or did you just read the comments?

[2013-08-24 15:10] isaacs commented on #901
I heartily +1 the suggested API changes here.  I don't agree with all the TODO comments, however.  Making chmod simply fail on Windows is probably worse than what we have now.  The read-only bit being a deletion protection (rather than an execution protection) is certainly an oddball discrepancy, but it's an easy enough one to work around.  However, having ctime be a time, but not the _same_ time,

[2013-08-24 15:52] bnoordhuis commented on #901
I mostly looked at 7ba9f4e but the other commits seem okay too.  As to chmod() behavior on Windows, I don't have a strong opinion on how it should work.

[2013-08-24 17:15] piscisaureus commented on #901
@isaacs I am not super certain about `fs_chmod` but I know that what we do now is pretty useless. Let's talk about this on our tuesday call.

[2013-08-24 17:15] piscisaureus commented on #901
Landed in https://github.com/joyent/libuv/compare/7f756955b643...20a8e58adb2a

[2013-08-24 17:15] #901 closed, assigned to piscisaureus

[2013-08-25 19:54] kellabyte opened #904 "Add an API for accessing thread local storage"
It would be great to be able to store data in thread local storage.

@bnoordhuis suggested on unix to wrap the relevant pthread functions. On Windows I'm not sure what the proper API is to use.

[2013-08-25 20:12] bnoordhuis opened #905 "udp: make SO_REUSEADDR / SO_REUSEPORT opt-in"
See commit d3308c2.  Libuv sets SO_REUSEADDR on both UDP and TCP sockets.

For TCP, it makes sense ("let me re-use this port that's in the TIME_WAIT state".)

For UDP, SO_REUSEADDR means something completely different: in effect, it lets you steal the port from another process provided that other process also set the flag.

Libuv's behavior here is kind of confusing and AFAICT there is no reason f

[2013-08-26 01:44] isaacs commented on #901
Maybe a silly question, but is BasicInfo.ChangeTime updated when the mode/times/etc. metadata is updated?

I'm guessing it ought to, otherwise what's the point of having "ModifiedTime" as well.

[2013-08-26 12:33] piscisaureus commented on #905
@bnoordhuis

Seems reasonable. Can we just use that flags field that also bears `UV_UDP_IPV6ONLY` ?

[2013-08-26 22:28] #904 closed, assigned to nobody

[2013-08-27 23:08] saghul opened #908 "Compilation error on OSX 10.6 (master)"
[code]

I'm using the default compiler:

[code]

/cc @bnoordhuis

[2013-08-28 02:33] jsstorm commented on #901
Yes, the ChangeTime will be updated either file data or metadata changed, tested with change file mode (attrib)/times (touch)/ACLs.

[2013-08-28 03:13] alexcrichton opened #909 "windows: PATH=";.;" causes uv_spawn to infinitely loop"
Using this code:

[code]

The code will infinitely loop on windows when run with `PATH=";.;"`. I ran this in mingw, but it may be a problem elsewhere. We found this when working on rust, and @vadimcn fixed the issue with this patch:

[code]

I haven't looked too much into it, but I figured that I should report it here as well to make sure you guys are aware of it!

[2013-08-28 04:00] vadimcn commented on #909
BTW, handling of quoted path components also looks wrong to me - after finding the opening quote, search_path should continue till it hits the closing one.  This path `c:\dir1;"c:\dir2;foo;bar";c:\dir3` contains 3 components, not 5.

[2013-08-28 10:04] #908 closed, assigned to nobody

[2013-08-28 10:18] bnoordhuis commented on #909
/cc @piscisaureus - probably needs fixing in v0.10 too?

[2013-08-28 10:47] piscisaureus commented on #909
Piling up issues - I see we treat a single quote as a quotation char but that's not okay.

[2013-08-28 10:55] piscisaureus commented on #909
I have no time to fix PATH parsing right now. However I did some investigation into how quotes inside PATH are interpreted. Here are the rules that cmd.exe follows:
- A path entry may contain quoted parts. Quoted parts are valid even in the middle of a path, e.g. `c:\win"dows"\system32` would be perfectly legal, and it would search `c:\windows\system32`.
- However a path entry may not contain any

[2013-08-28 17:44] vadimcn commented on #909
BTW2: Does it bother uv folks that path searching is a synchronous operation?  If some path component points to an unavailable network location, GetFileAttributes() may take a looong time.

[2013-08-28 17:47] piscisaureus commented on #909
@vadimcn

It used to bother me to some extent but we've got bigger fish to fry. However if you feel like writing a patch, you're welcome :)

One of the problems would be that some programs might rely on the pid of the spawned process to be available immediately, which is not possible if we make the path search async. We'd probably have to add a callback that gets called when the process has been s

[2013-08-28 17:49] bnoordhuis commented on #909
Sounds fine to me.  On that subject, it kind of bothers me that uv_spawn() sometimes returns errors synchronously and sometimes asynchronously.  IMO, for ease of use and consistency it should always be async.

[2013-08-28 17:53] piscisaureus commented on #909
@bnoordhuis I think currently it reports almost all "handle-able" errors asynchronously. Only out-of-resource conditions and errors due to invalid arguments are reported immediately. I'd be open to fixing that, although the same issue with `uv_write` (on windows) bothers me much more.

[2013-08-29 13:22] notorand-it opened #910 "`spawn_setuid_setgid` failed: exit code 134"
libuv is failing the "make check" on Linux Ubuntu 12.04.4 (32bits).
Source has been downloaded today from https://github.com/joyent/libuv/archive/master.zip

A core has been dumped in the build directory.
This is the last part of the output:
#

`spawn_setuid_setgid` failed: exit code 134
Output from process `spawn_setuid_setgid`:
exit_cb
# Assertion failed in test/test-spawn.c on line 60: exit_sta

[2013-08-30 02:18] isaacs opened #911 "v0.11.11 causes assertion errors in Node"
[code]

Commenting out line 150 of `src/unix/loop.c` makes everything work fine.

This was added in 3f2d4d535867a99170b4964f2e3db1ef70968c23 by @bnoordhuis (indeed, it's all that 3f2d4d535867a99170b4964f2e3db1ef70968c23 does), so perhaps Node is one of those programs calling `uv_loop_delete()` when there are still outstanding work reqs?

[2013-08-30 05:41] isaacs commented on #911
By the way, it may well be that this is a node bug rather than a libuv bug.  Just tracked down an otherwise-seems-to-be-fine Node program to this line in libuv, so figured we could start over here.

[2013-08-30 05:47] piscisaureus commented on #911
Yes, this is a node bug. Probably it's [this](https://github.com/joyent/node/blob/a9eb96d/src/node.cc#L3182) invocation, so it only affects the debug build.

Deleting a loop that has pending requests (or open handles) can lead to memory corruption and other badness. Therefore removing this assertion is not the way forward.

[2013-08-30 05:48] tjfontaine commented on #911
On the contrary, run `python tools/test.py internet` you'll see that test-dns will fail, and there are other scenarios in release mode this happens

[2013-08-30 05:50] #911 closed, assigned to nobody

[2013-08-30 05:50] tjfontaine commented on #911
didn't actually mean to reopen.

[2013-08-30 10:45] bnoordhuis commented on #911
Yeah, NDEBUG is never defined in UNIX builds.

I added that call to uv_loop_delete() in joyent/node@556b890 with the express purpose of catching bugs.  Seems it works. :-)

The tests all pass for me on Linux and OS X, including the internet ones, but I can reproduce it with Isaac's example.  I'll take a look - node probably needs to walk the open handles and close them before exiting.

[2013-09-01 19:04] atuldpatil opened #914 "Windows: uv_write callback not received when it was ECONNRESET"
I happen to not to receive after_write callback if I do uv_write on handle which is not yet closed but had received ECONNRESET. However, I get the callback if it was EOF

These are sample Server logs....

1.When client disconnected itself before it received server response::
Receved request. Waiting for 5 seconds
Echoing back
Response written status: 0
Read error EOF. Closing handle.
Handle closed

[2013-09-02 09:46] harlentan opened #915 "test-embed.c is a bad example."
Hi,

in test-embed.c，

 r = epoll_wait(fd, NULL, 0, timeout);// this will always fail.

because  the third parameter of epoll_wait is 0. it will always return EINVAL.

[2013-09-02 10:31] piscisaureus commented on #914
Can you check the return value of the `uv_write` call ?

[2013-09-02 10:45] chaocc opened #916 "AIX does not work"
game on aix,using uv_tcp_t,but error.
uv__platform_loop_init,uv__platform_loop_delete,uv__io_poll won‘t define inside aix.c.
if the uv_tpc_t can work on aix platform？
 thinks.

[2013-09-02 10:59] #915 closed, assigned to nobody

[2013-09-02 10:59] bnoordhuis commented on #915
Thanks, good catch.  Fixed in 8c9f28b.

[2013-09-02 11:10] bnoordhuis commented on #916
AIX is not a supported platform but I'll entertain patches.  There is a libuv fork somewhere that has AIX support (maintained by IBM people, if I'm not mistaken), maybe bug them about upstreaming their changes.  Good luck. :-)

[2013-09-02 11:10] #916 closed, assigned to nobody

[2013-09-02 22:08] #684 closed, assigned to nobody

[2013-09-02 22:32] orthecreedence commented on #684
Excellent! Time to give wrapping libuv in lisp another shot. Thanks.

[2013-09-04 11:06] atuldpatil commented on #914
Yes, when I terminate client uv_write returns -1.
Thanks for this.

[2013-09-04 11:06] #914 closed, assigned to nobody

[2013-09-04 11:12] atuldpatil commented on #914
uv_write returns -1 when client was terminated. This could have been mentioned in "An Introduction to libuv" book also in uv.h. Thanks again.

[2013-09-06 13:51] #796 closed, assigned to nobody

[2013-09-07 12:37] bnoordhuis opened #923 "unix: don't close fd immediately after dup2() in uv_spawn()"
Test case:

[code]

[code]

[2013-09-07 13:25] bnoordhuis commented on #910
That's probably harmless.  Am I right that the following conditions hold?
- You run the test as root.
- The permissions on the run-tests binary won't allow another user to run it.

The test changes UID and GID to user 'nobody' and then tries to execute the run-tests binary again.  If you have a restrictive umask set up, that won't work.  In that case, exit_code will probably be UV_EACCES.

[2013-09-07 13:57] saghul commented on #148
Closing, uv_fs_poll does this exactly: https://github.com/joyent/libuv/blob/master/include/uv.h#L1749

[2013-09-07 13:57] #148 closed, assigned to nobody

[2013-09-07 14:09] saghul commented on #851
I updated my autoconf / automake, they are ancient on OSX 10.6, and I don't really have the time / patience to fix this. Closing.

[2013-09-07 14:09] #851 closed, assigned to nobody

[2013-09-07 14:19] #769 closed, assigned to nobody

[2013-09-07 14:21] bnoordhuis commented on #769
I've updated the uv_tcp_bind() documentation in 02e8c8e.  A robust application should be prepared to handle errors from either uv_tcp_bind() or uv_listen() anyway so IMO there is not much point in trying to paper over platform details here.

[2013-09-07 14:29] bnoordhuis commented on #857
Closing, I was able to build libuv with gyp on OpenBSD recently.

[2013-09-07 14:29] #857 closed, assigned to nobody

[2013-09-07 14:29] indutny commented on #923
Mind if I'll take a look at it?

[2013-09-07 14:30] bnoordhuis commented on #856
No follow-up, closing.  FWIW, it works for me on OpenBSD and FreeBSD.

[2013-09-07 14:30] #856 closed, assigned to nobody

[2013-09-07 14:30] bnoordhuis commented on #923
Sure, go ahead.

[2013-09-07 14:44] mscdex commented on #857
Perhaps it works with OpenBSD now, but not NetBSD (at least without the previously mentioned patch) :-\

[2013-09-07 18:16] bnoordhuis commented on #923
I'm reasonably sure the patch below fixes it but I'm unsure as to how correct it is.  It passes all node and libuv tests but that doesn't mean it doesn't have bugs, of course.

[code]

[2013-09-07 18:48] piscisaureus commented on #763
@bnoordhuis I think you should take a look :)

[2013-09-07 20:15] bnoordhuis commented on #763
Sorry, must've missed this one.  Thanks for the bug report, continues in #923.

[2013-09-07 20:15] #763 closed, assigned to nobody

[2013-09-08 21:31] bnoordhuis opened #924 "doc: add documentation"
- [ ] write a tutorial or short primer?
- [ ] write manual / reference documentation
- [ ] generate and upload docs with every release

/cc @piscisaureus

[2013-09-10 16:51] indutny commented on #923
@bnoordhuis LGTM

[2013-09-10 20:37] bnoordhuis commented on #923
I found another bug in uv__process_child_init(), let me follow up with a more thorough patch.

[2013-09-11 21:14] curiousleo opened #925 "v0.11.13 getaddrinfo_fail: status < 0"
`make check` fails with

[code]

[2013-09-12 02:23] stakach opened #926 "Passing sockets over pipes fails on windows"
I'm working on implementing an FFI implementation of libuv for ruby compatible with the v0.11.13 release of libuv: https://github.com/cotag/libuv

All of my tests run on unix without issue however I cannot pass sockets over pipes on Windows. I continually receive: `EAGAIN: resource temporarily unavailable` no matter how much I delay or retry the `accept`. Once again this works flawlessly on all un

[2013-09-12 05:05] stakach commented on #926
Also @bnoordhuis you were working on the win write2 implementation recently. Any ideas?
I'm working through the libuv code atm

[2013-09-12 07:01] saghul commented on #926
Does the libuv test suite pass for you? Last time I checked IPC worked fine on Windows.

[2013-09-12 14:48] glycerine opened #927 "osx, make check fails in test-tty on line 99 width > 10"
OSX 10.6.8 / x86_64

$ git branch -v
- master d7115f0 unix, windows: make uv_is_*() always return 0 or 1
  $

libuv compiles and links fine, but make check fails one test

[code]

[2013-09-13 11:49] piscisaureus opened #929 "windows: use multimedia timer instead of GetTickCount"
Instead of using `GetTickCount()`, use a multimedia timer (`timeGetTime()`).

`timeGetTime` has millisecond resolution is is still reasonably fast.

I means we could get rid of that silly timer forward-fudging after calling `GetQueuedCompletionStatus`.

The downside is that libuv and libuv users now have to link with the `winmm` library.

For node it doesn't matter because v8 requires winmm anyway

[2013-09-13 12:36] bnoordhuis commented on #929
Can't you load winmm dynamically?

[2013-09-13 12:37] piscisaureus commented on #929
@bnoordhuis Yes, but what would be the advantage of that?

[2013-09-13 12:41] bnoordhuis commented on #929
That libuv users don't have to link to winmm?  It's basically the same thing we do now for ApplicationServices / CoreServices / CoreFoundation on OS X.

[2013-09-17 14:36] olsonjeffery opened #931 "streaming readdir()"
The current `uv_fs_readdir` API returns all entries in a directory, at once, in a `char*` `ptr` field on `uv_fs_t`. This is problematic in the case of a directory with _lots_ of files allocating a large amount of memory on every request as well as for perf.

We (for rust, but others as well I'm sure) would like some kind of streaming/paging approach to directory listing.

I have no idea what this

[2013-09-17 15:43] piscisaureus commented on #931
I agree.

This is indeed a longstanding issue in node: joyent/node#388

Neither do I, you're free to propose one :)

It might be worthwhile to report a little bit more than just filenames. Windows can do this with `NtQueryDirectoryFile`, and I think on linux we could use `getdents(2)`, but I'd like @bnoordhuis to weigh in on that.

[2013-09-17 16:07] olsonjeffery commented on #931
Correct me if I'm wrong, but the `uv_fs_*` APIs are interesting in that they only use a `uv_fs_t` request and each API call's stateless is contained in that single `uv_fs_t`..

I suppose that, with some kind of multi-call/streaming API, this would imply a `uv_readdir_t` (or `uv_scandir_t`? Heh, I saw the comment in `src/unix/fs.c`...) handle?

[2013-09-17 20:45] bnoordhuis commented on #931
opendir() / readdir() / closedir() is more portable.  Either way, the kernel doesn't report anything besides the filename and the inode number.

[2013-09-20 09:30] donatasm commented on #929
And why not use `QueryPerformanceCounter` and `QueryPerformanceFrequency` instead? `timeGetTime` function can still have a precision of 5 milliseconds or more. Would it be difficult to change `DWORD` to `LARGE_INTEGER` to store ticks? Timers would be more precise and it would last a bit longer than 49.71 days until overflow.

[2013-09-20 15:47] piscisaureus commented on #929
@donatasm A long time ago libuv did that, but it had detrimental effects on performance.

[2013-09-23 13:10] mscdex commented on #908
I just ran into this trying to compile v0.10.18 on OSX 10.6. Can we get a v0.10.x bump sometime soon with this fix in it?

[2013-09-23 16:24] tjfontaine commented on #908
@mscdex node v0.10.19 is scheduled for tomorrow, that will include a libuv update

[2013-09-25 16:46] maksqwe opened #937 "windows: double check in uv_shutdown()"
win/stream.c
208 & 212 lines

[code]

after https://github.com/joyent/libuv/commit/032c04179033b7512187fbcd17230e564c8573f4

[2013-09-25 21:07] #937 closed, assigned to nobody

[2013-09-25 21:07] bnoordhuis commented on #937
Thanks, removed in 7c7717c.

[2013-09-27 06:24] helmus opened #938 "Properly handle file change events"
Is there any reason why the file change api callback only has `UV_RENAME` and `UV_CHANGE` ?

It seems to me like handling rename/add/remove events would not be to difficult as these are being flattened intentionally in the implementation both on unix and windows.

[2013-09-27 07:07] bnoordhuis commented on #938
It's because rename and change are the greatest common denominator.  When you say 'unix', I assume you mean 'linux' but libuv also runs on platforms like the BSDs and Solaris that have distinctly less flexible file system event APIs.

[2013-09-27 07:07] #938 closed, assigned to nobody

[2013-09-27 23:24] konstantin-azarov opened #941 "uv__read() blocks sometimes when reading from a pipe"
uv__read() immediately retries a read when a preceding read fills the entire buffer. This presents a problem when a stream being read is a pipe (for example a redirected standard input). If a process on the write end of the pipe writes exactly 64k of data to the pipe, then uv__read() will issue a second read immediately on an empty pipe, and it will block. Here is a reproduction in Node.JS:

[code

[2013-09-28 00:26] konstantin-azarov commented on #941
It seems that an easy workaround is to stick a uv__nonblock call into uv_open_pipe. I'm not sure whether it is a proper solution or not though.

[2013-09-28 08:44] bnoordhuis commented on #941
Thanks for the bug report, good catch.  Fixed in 8fe4ca6.

[2013-09-28 09:00] saghul commented on #941
@bnoordhuis should the fix also be applied to uv_tcp/udp_open ?

[2013-09-28 10:33] bnoordhuis commented on #941
I'll update those as well.

[2013-09-28 18:53] bnoordhuis commented on #941
Reopening for now.  I've rolled 8fe4ca6 back in 8c9cbee.  It so happens that node.js currently relies on the blocking behavior of pipes...

[2013-10-01 11:23] #941 closed, assigned to nobody

[2013-10-02 04:51] klutzy opened #944 "uv_read_start return value and read_cb"
Hello! When I was debugging Rust, I found `uv_read_start` may not call `read_cb` in some cases. Since Rust's I/O currently utilizes callback for scheduling, it is critical to know whether `read_cb` is called by uv or not.

Initially I guessed that the return value from `uv_read_start` indicates whether `read_cb` is called or not. However, it is not true on win32: it returns [zero for tty](https://

[2013-10-02 08:36] bnoordhuis commented on #944
That's correct.  uv_read_start() merely tells libuv to start listening for incoming data.  If or when your callback is invoked is indeterminate but it will be at least one event loop tick in the future.  Does that answer your question?

[2013-10-02 12:27] klutzy commented on #944
It is now clear to me. Thanks!

[2013-10-02 12:27] #944 closed, assigned to nobody

[2013-10-04 03:48] armgong opened #947 "uv_pipe_bind fail on windows 7 64 bit , compiled use mingw-w64"
# define TEST_PIPENAME "test-pipe"

int main(int argc, char **argv)
{
  uv_pipe_t server1, server2;
  int r;

  r = uv_pipe_init(uv_default_loop(), &server1, 0);
  assert(r == 0);
  r = uv_pipe_bind(&server1, TEST_PIPENAME);
  assert(r == 0); //****************fail on this line,mean uv_pipe_bind fail

  return 0;
}

[2013-10-04 05:10] kvanbere commented on #649
Punting for the ability to alter the number of threads at runtime while inside the threadpool for consideration when someone gets around to this task. It could work like this;
- A number of threads to kill is recorded. When a thread checks for new work and this is >0, it kills itself and reduces the count by 1. This means scaling the pool down doesn't need to stop-the-world.

[2013-10-04 07:43] saghul commented on #947
That's not a valid pipe name on Windows, AFAIK, try this one instead: https://github.com/joyent/libuv/blob/master/test/task.h#L39

[2013-10-04 10:44] armgong commented on #947
it works ,thanks a lot

[2013-10-04 10:44] #947 closed, assigned to nobody

[2013-10-08 02:06] klutzy opened #948 "Read error after EOF on Windows, but not on Unix"
If user tries to read tcp socket after EOF, `uv_read_start()` returns `UV_ENOTCONN` on Windows, but not on Unix. This may make inconsistency on error handling.

On Windows, [src/win/stream.c](https://github.com/joyent/libuv/blob/429bb804ed26e1928818907b1cfcf0161c954ea8/src/win/stream.c#L68) checks `UV_HANDLE_READABLE` flag, which is [turned off at EOF](https://github.com/joyent/libuv/blob/429bb804

[2013-10-08 03:02] andrewrk opened #949 "uv__finish_close: Assertion `handle->flags & UV_CLOSING' failed."
I'm somehow managing to cause this assertion error with [this node add-on](https://github.com/superjoe30/node-groove/blob/master/src/gn_scan.cc).

This very well might be something I'm doing terribly wrong in the add-on, but even so, assertion failures are not supposed to be able to happen, right?

node v0.10.20 - whatever libuv version comes with that.

backtrace with gdb:

[code]

@trevnorris sa

[2013-10-08 03:15] andrewrk commented on #949
Hmm, now I got nodejs: ../deps/uv/src/unix/core.c:199: uv__finish_close: Assertion `0' failed.

stranger and stranger. I'm going to keep messing with it.

[2013-10-08 08:01] saghul commented on #949
The first assert blows because you seem to be calling uv_close on an already closed handle.

The second one probably means you are calling uv_close on an already freed handle, or a partially overwritten one.

[2013-10-08 08:04] saghul commented on #948
This comment in the code mentions that case exactly: https://github.com/joyent/libuv/blob/master/src/unix/stream.c#L1328

[2013-10-08 08:59] klutzy commented on #948
Oh sorry! I was only reading codes not comments. My bad...
I found this behavior while fixing Rust; it has "read EOF twice" test which gets error on windows therefore fails, but it seems that it should fail if tcp state tracking is implemented in future.

[2013-10-08 09:01] saghul commented on #948
No worries! I just added the comment "for the record" :-)

[2013-10-08 09:13] bnoordhuis commented on #949
For node.js that's only true when you're using only JS code that doesn't monkey around with node.js internals.  For native add-ons, the GIGO principle applies - the asserts are just there to make it easier to catch mistakes.  I'm closing this as it's unlikely to be an issue with libuv itself.

[2013-10-08 09:13] #949 closed, assigned to nobody

[2013-10-08 13:35] andrewrk commented on #949
Thank you - this is immensely helpful. I suppose I should have figured this out by noticing where the assert statements were in core.c.

Sorry for the bogus issue. Is there a better way to ask for help in this regard? Should I be using the libuv group for these kinds of questions?

[2013-10-08 13:39] saghul commented on #949
No worries :-) yes, the google group would be a better place, unless you are sure you found a bug in libuv which you can reliably reproduce with a synthetic test case.

[2013-10-09 00:48] andrewrk commented on #949
For the benefit of anyone who arrives via search engine: This is how the issue in my code was fixed: https://github.com/superjoe30/node-groove/commit/ea80b579956c799877a47d65e389b643d6a16e6d

[2013-10-09 09:25] #887 closed, assigned to nobody

[2013-10-09 09:26] bnoordhuis commented on #887
Landed the interim patch in master in 5c00a0e.  If people find performance regressions, please open a new issue with numbers and reference this issue.

[2013-10-09 17:06] rurban opened #951 "windows (w64-mingw32) s,-lphlpapi2,-liphlpapi,"
I needed to replace `-lphlpapi2` by the older `-liphlpapi` on my w64-mingw32 environment.
stackoverflow also suggests that GetAdaptersAddresses is provided by `-liphlpapi`

http://stackoverflow.com/questions/10972794/undefined-reference-to-getadaptersaddresses20-but-i-included-liphlpapi

I'm not sure how to check for this in a m4 on mingw.

[code]

[2013-10-09 18:24] bnoordhuis commented on #951
/cc @piscisaureus

[2013-10-15 19:40] mistaecko commented on #355
Should this be closed? `fs.lstatSync(junction).isSymbolicLink()` returns `true` on node v0.10 on Win8!

[2013-10-15 20:06] #355 closed, assigned to nobody

[2013-10-16 19:56] schlamar opened #953 "Allow build with "Command Line Tools for Xcode" (again)"
I have a setup on OSX according to the homebrew installation manual: https://github.com/mxcl/homebrew/wiki/Installation and using the "Command Line Tools for Xcode" instead of the complete Xcode app.

I would like to build libuv with the Command Line Tools but it looks like there is no way to build the current master of libuv without having Xcode installed. Both instructions fail:

[code]

This wo

[2013-10-16 20:29] bnoordhuis opened #954 "unix: make uv_tty_reset_mode() async signal-safe"
Make uv_tty_reset_mode() async signal-safe so it's possible to call from a signal handler.

More to the point, make it possible to restore the tty to cooked mode from a SIGINT or SIGTERM signal handler.

[2013-10-16 21:13] schlamar commented on #953
Ok, this is an upstream bug:
- https://code.google.com/p/gyp/issues/detail?id=292
- https://github.com/joyent/node/issues/3681#issuecomment-23140289

[2013-10-16 21:13] #953 closed, assigned to nobody

[2013-10-17 09:52] bnoordhuis commented on #953
@schlamar You can install glibtoolize with `brew install libtool`

[2013-10-17 10:26] bnoordhuis commented on #927
Thanks for the bug report.  It's relatively harmless; the kernel is reporting that the tty's dimensions are 0 x 0, basically saying "I don't know."

It seems to be some kind of OS X quirk (at least, I've never seen it happen on other platforms).  Apparently, the XNU kernel sometimes doesn't set the dimensions when you create a new tty.

It's a bit elusive though, I've never been able to reproduce

[2013-10-17 10:29] bnoordhuis commented on #925
Sorry for the delayed reply.  Do you get that test failure consistently?

[2013-10-17 10:31] bnoordhuis commented on #910
No follow-up.  I'll assume the write-up from my previous comment is correct.  :-)  Cheers.

[2013-10-17 10:31] #910 closed, assigned to nobody

[2013-10-17 10:34] bnoordhuis commented on #850
/cc @piscisaureus - this has been open for a while now.

[2013-10-17 21:14] curiousleo commented on #925
Hi, no worries! I just pulled the latest changes from master, and `make check` passes now.

[2013-10-17 21:14] #925 closed, assigned to nobody

[2013-10-18 03:23] stakach commented on #926
I'm trying to pass sockets from one uv loop to another in the same process.

I looked at the test suite however was a little confused as to if it was passing sockets across different processes. Then if so, does this mean Windows doesn't support same process IPC only inter-process. As this would explain the issue.

[2013-10-18 03:29] piscisaureus commented on #926
@stakach I don't think I actually ever tested passing sockets within the same process. However there is no theoretical reason it shouldn't work. However it could be that the socket isn't getting duplicated properly.

Just, guessing here, it's a long time ago: uv_spawn() sets some magic property on the uv_pipe_t handle so uv_write2 knows which process to duplicate the handle to. If you aren't spawn

[2013-10-18 03:40] stakach commented on #926
Thanks for the pointer. I'll fiddle around with the libuv code and see if I can make it work then post any finding here / a pull request.

TCP connections are the only handles my tests are passing over IPC.

[2013-10-18 06:18] stakach commented on #926
Ok, it seems: "Sockets can be shared among threads in a given process without using the WSADuplicateSocket function because a socket descriptor is valid in all threads of a process."

Source http://msdn.microsoft.com/en-us/library/windows/desktop/ms741565(v=vs.85).aspx
So a special case may need to be made when process ids match? Although not entirely sure how to go about this.. If it is possible.

[2013-10-18 08:54] bnoordhuis commented on #925
That's great to hear, thanks for following up.

[2013-10-18 09:01] bnoordhuis commented on #926
@stakach What the MSDN documentation is saying is that you don't _need_ to call WSADuplicateSocket(), not that you _can't_.

Can you test if test/benchmark-multi-accept.c works for you?

[2013-10-18 19:44] piscisaureus commented on #926
@stakach

You need to duplicate in order not to mess up libuv's internal bookkeeping.

[2013-10-19 01:32] huahang opened #957 "test failures on v0.10.18"
I get the following errors running the tests (tag v0.10.18). I'm using Ubuntu Linux 12.04 LTS 64-bit.

[code]

[2013-10-20 21:12] mscdex commented on #851
I just wanted to say I ran into this error too on 10.6. :-\

EDIT: Installing autoconf/automake 2.69 fixed things....

[2013-10-21 05:38] Keno opened #959 "E2BIG not included in uv_errno.h"
uv-errno.h leaves out `E2BIG`. See https://github.com/JuliaLang/julia/issues/4568#issuecomment-26693696

[2013-10-21 05:41] Keno commented on #850
Can we get this applied?

[2013-10-21 07:42] saghul commented on #851
@mscdex yeah, I installed them with homebrew and linked them because they are "keg only" or something and that did the trick for me.

[2013-10-21 11:53] saghul commented on #187
I guess this no longer applies after the errno refactor. Closing.

[2013-10-21 11:53] #187 closed, assigned to nobody

[2013-10-21 11:58] saghul commented on #319
Closing, it can be achieved as @piscisaureus said (refcount now works different though).

[2013-10-21 11:58] #319 closed, assigned to nobody

[2013-10-21 11:59] saghul commented on #309
https://github.com/joyent/libuv/pull/932

[2013-10-21 12:00] saghul commented on #340
Does this still apply, @piscisaureus ?

[2013-10-21 12:10] saghul commented on #366
No follow up, closing.

[2013-10-21 12:10] #366 closed, assigned to nobody

[2013-10-21 12:11] saghul commented on #364
No follow up, closing.

[2013-10-21 12:11] #364 closed, assigned to nobody

[2013-10-21 12:12] saghul commented on #465
We have had this for a while now: https://github.com/joyent/libuv/blob/master/include/uv.h#L755 :-)

[2013-10-21 12:12] #465 closed, assigned to nobody

[2013-10-21 12:17] saghul commented on #394
This no longer really applies since we use errnos directly now. Closing.

[2013-10-21 12:17] #394 closed, assigned to nobody

[2013-10-21 12:20] saghul commented on #475
We do proper released now :-)

[2013-10-21 12:20] #475 closed, assigned to piscisaureus

[2013-10-21 12:37] saghul commented on #518
This has been open for a while, I guess it's time to let it go :-) Closing.

[2013-10-21 12:37] #518 closed, assigned to nobody

[2013-10-21 12:39] saghul commented on #391
This looks like what you want: https://github.com/joyent/libuv/pull/813

[2013-10-21 12:50] saghul commented on #538
Behavior looks aligned now: https://github.com/joyent/libuv/blob/master/src/unix/core.c#L263-L278 https://github.com/joyent/libuv/blob/master/src/win/core.c#L279-L296 can this be closed now @piscisaureus ?

[2013-10-21 13:03] saghul commented on #696
Does this (error handling) still apply after the errno refactor? Looks to me like error vs asserts could be a different discussion.

[2013-10-21 15:33] #954 closed, assigned to bnoordhuis

[2013-10-21 15:33] #959 closed, assigned to nobody

[2013-10-21 15:37] Keno commented on #959
Thank you!

[2013-10-21 16:30] bnoordhuis commented on #391
I'm not sure if this is still relevant.  The issue dates from before we had UV_RUN_ONCE and UV_RUN_NOWAIT.  joyent/node#6316 uses a combination of both to implement a 'beforeExit' global event, no further changes to libuv required.

[2013-10-22 14:08] bnoordhuis opened #962 "unix: set close-on-exec flag on received file descriptors"
Set the close-on-exec flag on file descriptors that are received with recvmsg().

For reference: https://groups.google.com/forum/#!topic/nodejs/8HbK7MAGAGg (Message-ID `<CAPJ5V2bmXQHKzXbu2fN_4zBinjyrbGQ_s7QPEpazDush4SuZbQ@mail.gmail.com>`)

Example patch:

[code]

[2013-10-22 22:15] rurban opened #963 "build: Upgrade to OS X Mavericks broke --disable-dtrace"
Without `--disable-dtrace` it compiles and tests okay.
Since my upgrade to teh latest OSX, with `--disable-dtrace` the command DTRACE is empty and executing -h -xnolibs ... is causing an error.

[2013-10-23 19:08] TooTallNate opened #966 "Setting `process.title` causes the process to show up as "Not Responding" in OS X's Activity Monitor, in Mavericks"
It takes a few minutes to trigger, but eventually the process shows up red and is marked as "Not Responding", even though the process itself is running normal.

[![](https://cloudup.com/cIKf2lX9DNQ+)](https://cloudup.com/cIKf2lX9DNQ)

My initial guess is that the trick we do in order to set the process title ends up making Activity Monitor think that the process is a GUI app, rather than a command

[2013-10-25 02:45] TooTallNate commented on #966
/cc @indutny (I can't assign tickets on this repo apparently)

[2013-10-27 17:43] #582 closed, assigned to nobody

[2013-10-27 17:43] #635 closed, assigned to nobody

[2013-10-27 17:43] #696 closed, assigned to nobody

[2013-10-28 10:30] indutny commented on #966
Hm... @TooTallNate, I've seen this happening with other applications since update to 10.9. Perhaps, its not related to node/libuv at all? Also, I wasn't able to reproduce it locally.

[2013-10-28 10:31] indutny commented on #966
Oh, wait... confirming it.

[2013-10-28 13:35] indutny commented on #966
Should be fixed by https://github.com/joyent/libuv/pull/973, needs backporting to v0.10.

[2013-10-28 16:59] #966 closed, assigned to indutny

[2013-10-28 17:01] indutny commented on #966
Fixed!

[2013-10-28 22:42] jvburnes opened #974 "github master 'make check' fails"
I cloned 'master' (version 11.14) onto my ubuntu 13.04 machine, did the usual 'sh autogen.sh' make sequence.  The build worked, but the 'make check' failed in the following way:
#

`getaddrinfo_fail` failed: exit code 134
Output from process `getaddrinfo_fail`:
# Assertion failed in test/test-getaddrinfo.c on line 43: status < 0
# FAIL: test/run-tests

1 of 1 test failed
# Please report to https:/

[2013-10-28 22:47] indutny commented on #974
Don't tell me you have "xyzzy.xyzzy.xyzzy" domain in network. What does `dig xyzzy.xyzzy.xyzzy` return on your machine?

[2013-10-28 22:49] jvburnes commented on #974
Strangely it does resolve.   I suppose the test was supposed to fail.   The inside corporate dns probably resolves to some generic web server.

[2013-10-28 22:51] jvburnes commented on #974
Would the lookup failure test be valid if you performed a lookup on an invalid name?

[2013-10-28 22:53] indutny commented on #974
Heh, I think you can just ignore failure then. Generally, this test is working for everyone.

[2013-10-28 22:54] #974 closed, assigned to nobody

[2013-10-31 00:11] alexcrichton opened #978 "unix: Could posix_spawn be used to improve uv_spawn?"
I've been using `uv_spawn` recently, and one of the weird things which I've found from using it is that both `fork` can fail, and then the child's `exec` can also fail, but one is reported as the return of `uv_spawn` and the other is reported via the `exit_cb`. This seems a little odd, as in theory both are a "spawn failure" and would both be reported as a return value of `uv_spawn`.

I'm curious

[2013-10-31 11:58] bnoordhuis commented on #978
That's something we can change.  My gut reaction is to change it to reporting all errors to the callback because that's more in line with other API functions.  On the other hand, returning the error might be more convenient and is faster (relevant if you're walking directories in search of the binary to execute.)

I've toyed with the idea in the past but that would leave out users of older openbsd

[2013-10-31 15:15] alexcrichton commented on #978
Oh interesting! I see I didn't read the code closely enough. How would you feel about changing the api to report the exec error synchronously then? I think it would still be nice if the error to `exec` is reported as returned by `uv_spawn` instead of the callback, though, because it seems like more of a spawn error then a reason to invoke `exit_cb`. It also seems like all the information is availa

[2013-10-31 20:37] bnoordhuis commented on #978
That's because glibc's posix_spawn implementation calls vfork() instead of fork() when possible.

vfork() is indeed a bit faster (though not earth-shattering so unless, for example, your process has really big page tables that need copying) but unsafe with almost all operations except execve().

It wouldn't really help in libuv anyway because we normally have to set up file descriptors and such af

[2013-11-03 04:45] alexcrichton opened #982 "Calling uv_read_stop on stdin tty causes EOF to never be read"
[code]

When I compile that program, and then run it via `echo a | ./foo`, the program will never exit (it never sees EOF for stdin). If the call to `uv_read_stop` is omitted, however, then the program will successfully exit.

I also found out that running `./foo` and then hitting ctrl+D does indeed see the EOF (and the program exits). This program was initially tested on linux (where it didn't wo

[2013-11-03 05:28] alexcrichton commented on #982
Hm it appears that I haven't investigated this enough. I seem to have prematurely opened this (I think the code is right). Closing for now until I figure out what's going on. Sorry for the noise!

[2013-11-03 06:21] alexcrichton commented on #982
Investigated a bit more, updated the program, and it looks like this may actually be a bug.

[2013-11-03 09:53] flupzor opened #983 "strlcpy and strlcat don't follow the standard"
The uv_strl{cpy,cat} functions do not follow the standard (http://www.courtesan.com/todd/papers/strlcpy.html) which can lead to misuse of this function. As far as I can tell it currently isn't misused.

According to the standard:

"The strlcpy() and strlcat() functions return the total length of the string they tried to create"

But currently the function return the length of the string which was

[2013-11-03 10:05] flupzor commented on #983
You can compile the git example using:

[code]

Or if you're using a decent libc delete the linux/string.h header and compile without the bsd library.

[2013-11-03 13:54] #983 closed, assigned to nobody

[2013-11-04 08:20] geertj opened #984 "Windows build broken on SMP"
I'm trying to compile the current master on Windows. I'm using the following configuration:
- Windows 7, 64-bit.
- Python 2.7.6rc1 32-bit is installed, but not in the PATH. I use `set PYTHON=C:\Python27\python.exe` to allow the build to find it.
- Microsoft Visual C++ Express 2010.

When running "vcbuild.bat" from the source directory, I get the following error:

https://gist.github.com/anonymous/

[2013-11-04 09:49] saghul commented on #984
Hum, this looks really weird. Nothing special changed in gyp_uv which would make it not work anymore. Also, I don't get why something from multiprocessing is used.

Unfortunately I won't have access to my Windows test machine for a few weeks in order to debug this.

[2013-11-04 10:08] bnoordhuis commented on #984
That looks like a python issue more than anything else.  Like @saghul said, nothing really changed in gyp_uv.

[2013-11-04 10:09] bnoordhuis commented on #984
Forgot to mention the obvious: if rolling back to 2.7.5 fixes it, then you know for sure it's an issue with python and not libuv.

[2013-11-04 10:10] saghul commented on #984
Apparently rolling back the Python version doesn't fix it. I know I tested this (using the Python env variable), it was added because pyuv needed it, so I'm not sure what's going on.

[2013-11-04 10:57] geertj commented on #984
OK, I found the problem. My build VM has 2 virtual CPUs, and it appears that gyp is trying to do a parallel build. This requires the multiprocessing module. Because Windows doesn't have fork(), multiprocessing needs to start up a new Python and re-import "gyp_uv" as a module, which fails because it is not a python module.

One solution is to add the option "--no-parallel" when calling "gyp_uv". Th

[2013-11-04 11:15] saghul commented on #984
I'm undecided here, should we go for the --no-parallel just to play safe?

[2013-11-04 11:50] bnoordhuis commented on #984
That's probably the path of least resistance unless someone feels like patching up gyp_uv to work with multiprocessing on Windows.

[2013-11-04 18:33] tjfontaine commented on #984
We could also pin the checkout to `beca12a56c0772fc8263ad7ca12ca022b8671c1c` commit, which is what the chromium builds do

[2013-11-04 19:09] saghul commented on #984
We could do that indeed. I just don't like the idea of depending on "libfoo X.Y" and not remembering why later :-) Yeah, git archeology helps, but still.

[2013-11-05 03:38] PeterReid opened #985 "Writing an empty buffer to stdout can close the pipe"
Writing an empty buffer to stdout from node caused a ReadFile call on the other end of the pipe to return FALSE and then triggered [an assert](https://github.com/joyent/libuv/blob/master/src/win/pipe.c#L830) in node. This only seems to happen if the pipe is being read from synchronously -- overlapped IO worked fine. The most likely suspect looks like [WriteFile being called](https://github.com/joy

[2013-11-05 06:36] geertj commented on #984
I have done some more reading on the Windows requirements of multiprocessing, and I don't think they are so bad. The most important requirement is that the main program is importable as a module. This means that any action taken needs to be guarded with `if __name__ == '__main__'`. This is already the case for gyp_uv.

My recommendation would be just to support the parallel build feature. The chan

[2013-11-05 06:47] tjfontaine commented on #984
I'm basically fine with that idea, @bnoordhuis would we want a wrapper/transitional gyp_uv that invokes gyp_uv.py in that case or are you fine with a straight rename?

[2013-11-05 06:52] bnoordhuis commented on #984
Just renaming it is fine IMO.

[2013-11-05 06:53] saghul commented on #984
If that's all it's needed then I'd go for the rename. Thanks for looking
into it @geertj!

On Tuesday, November 5, 2013, Timothy J Fontaine wrote:

##

/Saúl
http://saghul.net | http://about.me/saghul

[2013-11-05 06:54] tjfontaine commented on #984
fwiw I have tested, and it is indeed working, the change would also need to happen for v0.10

[2013-11-05 07:36] bnoordhuis opened #986 "darwin: fsevents reports events from before watcher start"
Run in node:

[code]

The above works as expected on linux (it just sits there) but throws the following exception on darwin:

[code]

/cc @indutny

[2013-11-05 09:30] indutny commented on #986
Not something I could affect, perhaps FSEvents is sending previously received event.

[2013-11-05 13:20] bnoordhuis commented on #986
That's what happens, yes.  Can't we filter out such events with e.g. FSEventsGetLastEventIdForDeviceBeforeTime()?

[2013-11-05 13:29] indutny commented on #986
The event will most likely have EventId bigger than this time, but I can recheck it if you want me to.

[2013-11-05 13:34] bnoordhuis commented on #984
Fixed in 2445467 and 991409e (master and v0.10.)

[2013-11-05 13:34] #984 closed, assigned to nobody

[2013-11-05 17:56] indutny commented on #986
@bnoordhuis I'm afraid it won't work with mounted directories... I mean, you may watch `/a`, which has `/a/b` which is a mount of another device. Perhaps, I'm stressing it too much and it will work just fine?

[2013-11-05 18:00] indutny commented on #986
Also, I've just measured event ids. And they seem to be bigger than `FSEventsGetCurrentEventId()` that I took right before starting FSEventStream.

So I guess it is just an OSX bug, and not something that we could fix there.

[2013-11-05 18:00] #986 closed, assigned to nobody

[2013-11-07 21:08] alexcrichton opened #988 "Using tty with stdin may trigger an internal abort"
[code]

On linux, if this program is compiled and run like `./foo < any_file` at the command line, it will cause an abort in uv's event loop. This works fine if you run `echo foo | /foo` or have stdin attached to a terminal.

I'm not sure if you're supposed to be able to even do this? I get the same abort if a `uv_pipe_t` is used to read stdin, but it works to call `uv_fs_read` on stdin in this ca

[2013-11-07 21:10] #978 closed, assigned to nobody

[2013-11-07 22:38] bnoordhuis commented on #988
It's not a libuv bug but maybe libuv could report the error a little nicer.

What happens is that epoll_ctl() returns EPERM when libuv tries to add the file descriptor and it's not equipped to deal with that.

Standard operating procedure is to check the file type with uv_guess_handle() first, then branch accordingly.

[2013-11-07 22:49] alexcrichton commented on #988
Ah ok, the logic I was using was "fall back to using fs operations only if tty creation fails". Thanks for the clarification!

[2013-11-08 10:24] bnoordhuis commented on #982
Confirmed, thanks.  Possibly related to #971.

[2013-11-08 16:29] #982 closed, assigned to nobody

[2013-11-08 16:31] alexcrichton commented on #982
Thanks for looking into this!

[2013-11-09 07:35] klutzy opened #990 "windows: `uv_fs_readdir` segfaults on mingw"
Test code is [here](https://gist.github.com/klutzy/7351873).

`uv_fs_readdir` uses [`swprintf`](http://msdn.microsoft.com/en-us/library/ybk95axf%28v=vs.90%29.aspx), but there exist two different swprintf due to legacy issues: one with `count` argument (iso-conforming) and without `count` (non-conforming). msvc and mingw-w64 (!= mingw) provide iso-conforming functions as default.
libuv uses iso-con

[2013-11-09 10:40] klutzy commented on #990
mingw 4.1 will provide iso-conforming swprintf: http://sourceforge.net/p/mingw/bugs/2018/
However 4.1 doesn't provide non-conforming version, so `CFLAGS="-D_CRT_NON_CONFORMING_SWPRINTFS"` trick will make _broken_ libuv on mingw 4.1.
I think we should check mingw version instead of `_CRT_NON_CONFORMING_SWPRINTFS`, since the awkward thing occurs only on mingw < 4.1, not on msvc/mingw-w64.

[2013-11-09 16:25] #990 closed, assigned to nobody

[2013-11-10 20:46] alexcrichton opened #991 "windows: Stdio handles are still closed even though unix doesn't"
It appears that in 359d6678 it was changed such that libuv doesn't ever close the stdio file descriptors on unix. The behavior on windows, however, was unchanged, as the file descriptors are still closed. An example program would be:

[code]

On unix, this program currently prints `here`, but on windows it prints nothing (because `uv_close` closes stdout).

I'm curious if this is intentional behav

[2013-11-11 14:06] bnoordhuis commented on #991
I say that's a uv-win bug.  Nothing good comes from closing stdio.

/cc @piscisaureus - agree/disagree?

[2013-11-11 14:34] piscisaureus commented on #991
I would argue that, on windows, no libuv handles that are created from pre-existing FDs should ever be closed the way we currently do.

The reason is that windows (or rather, msvcrt) implements the file descriptor table in user land. If libuv closes the windows handle the crt doesn't know so it effectively leaves a file descriptor 'dangling' in a broken state. Or, windows might reuse the handle an

[2013-11-18 06:43] dawnarc opened #995 "uv_shutdown callback would not trigger when client network card disable."
when a client connect to server success, then disable network card, server was keeping the connection, now if server invoke the uv_shutdown function to close the unavailable socket, uv_shutdown callback function would not trigger, thus the uv_shutdown_t *req can't be free memory.

[2013-11-18 06:45] dawnarc commented on #995
the version of libuv I used is 0.10.13

[2013-11-18 08:45] bnoordhuis commented on #995
That sounds highly implausible.  On what operating system is that?  Can you maybe post your code or a test case?

[2013-11-18 12:07] dawnarc commented on #995
this case can be reappear both on windows server 2003 and windows server 2008, I think it isn't related to platform. in my project, each client side would send a heart package to server side in every 10 seconds, if server didn't receive heart package from a client after 30 seconds, then server would close this client initiative.

[code]

if I close client side program normal, my program would prin

[2013-11-18 12:20] dawnarc commented on #995
the github coment editor remove point sign(asterisk) in my code, I repost my code:
Client *cli = (Client *) req->data;

[2013-11-18 15:23] piscisaureus commented on #995
Can you check the return value of uv_shutdown?

I think it's returning UV_ECONNRESET or UV_ECONNABORTED.

Not you will argue that this error should not be returned, but passed to the callback instead.
I agree.
But I have no time for fixing this atm so you'll have to deal with this for now, or send a patch.

[2013-11-19 03:03] juanper opened #996 "Support VS2013"
Add support to VS2013 in vsbuild.bat

[2013-11-19 23:26] timbertson opened #997 "libuv breaks GNU Make jobserver file descriptors"
libuv unconditionally sets FD_CLOEXEC on the first 16 file descriptors when trying to disable stdio inheritance:

https://github.com/joyent/libuv/blob/master/src/unix/core.c#L605

When you invoke a nodejs process via the makefile rule:

[code]

make sets `$MAKEFLAGS` to include --jobserver-fds=3,4 (these are the two ends of the jobserver pipe make created) and passes these open FDs to the node pro

[2013-11-19 23:33] timbertson commented on #997
ping @bnoordhuis and @piscisaureus (4d7f1e1864983c9ffc76a52af3346777806767ee).

Let me know if this is a nodejs bug (perhaps it shouldn't be calling `uv_disable_stdio_inheritance`), but that fact that the function name says "stdio" makes me think it's being overly aggressive.

[2013-11-20 05:33] sam-github commented on #997
http://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options

You are using the option `stdio: "inherit"`, described as "inherit - [process.stdin, process.stdout, process.stderr] or [0,1,2]". Looks like you should be using `stdio: [0,1,2,3,4]` if you want to pass fds 3 and 4 to your child.

[2013-11-20 06:22] timbertson commented on #997
I don't necessarily know what FDs I want to pass through to the child - in fact the given node script is completely unaware of the presence of a make jobserver (this is known by the parent and child, but not necessarily the .js script).

Also, the fact that make happens to use FDs 3 and 4 is an implementation detail (it presumably just uses the lowest two FDs available when it runs). If I wanted t

[2013-11-20 18:14] bnoordhuis commented on #997
The name is not great.  It's a hack that work around a node.js quirk and arguably shouldn't have been in libuv in the first place.  If it's causing trouble, please don't use it.

This issue makes me think that it's a good idea to remove it.  @piscisaureus Thoughts?

[2013-11-21 01:31] sam-github commented on #997
Parse MAKEFLAGS so you know what fds to pass. Setting a hundred-length array is not hard:

[code]

[2013-11-21 02:13] timbertson commented on #997
@sam-github I know that I could workaround this specific problem, but I'm claiming the behaviour in general is broken. Requiring every nodejs script that spawns child processes to "parse $MAKEFLAGS just in case it's being run by make" is not a reasonable solution by any stretch of the imagination. It also doesn't fix any _other_ system that passes open FDs to children and expects them to remain op

[2013-11-21 10:22] schlamar opened #998 "windows: build broken on 0.10"
I tried to build libuv 0.10 on 983fa68 (from pyuv release 0.10.7).

But the gyp build step is completely broken. It spins up an infinitely loop, constantly printing the error "no module named gyp_uv" in multiprocessing/forking.py.

A workaround (or possible solution?) is to add `--no-parallel` to the execution of gyp_uv in vcbuild.bat.

Gyp revision is `d0176c0`.

[2013-11-21 10:40] saghul commented on #998
A fix for this was committed recently: https://github.com/joyent/libuv/commit/991409e461e3973f006bf951b3e7513578a41be2 can you check if latest libuv v0.10 branch builds ok with pyuv? If so I'll make a new release bumping the libuv revision.

[2013-11-21 11:13] schlamar commented on #998
Yes, libuv v0.10.19 builds fine with pyuv 0.10 branch.

[2013-11-21 11:13] #998 closed, assigned to nobody

[2013-11-21 20:40] ci42 opened #1000 "osx: erroneous polyfill for kFSEventStreamCreateFlagNoDefer for OS X < 10.7"
Commit 0f5c28b6844dbe8c037aadfa291c9e6277b2d0e9 introduced a `kFSEventStreamCreateFlagNoDefer` polyfill in `src/unix/internal.h` for OS X < 10.7. But `kFSEventStreamCreateFlagNoDefer` is already defined in

[code]

since 10.5, which causes the following build failure on 10.6 (probably on 10.5 too):

[code]

[2013-11-23 05:17] kimo opened #1004 "Build fails on 7.0-RELEASE FreeBSD 7.0-RELEASE #167: Sat Jul 3 13:48:19 PDT 2010 amd64"
.....
....
  CC(target) /root/kguda/node-v0.10.22/deps/uv/out/Debug/obj.target/run-benchmarks/test/run-benchmarks.o
  CC(target) /root/kguda/node-v0.10.22/deps/uv/out/Debug/obj.target/run-benchmarks/test/runner.o
  CC(target) /root/kguda/node-v0.10.22/deps/uv/out/Debug/obj.target/run-benchmarks/test/runner-unix.o
  LINK(target) /root/kguda/node-v0.10.22/deps/uv/out/Debug/run-benchmarks
/root/kguda

[2013-11-23 08:01] indutny commented on #1004
Thanks, its fixed in v0.10 branch: https://github.com/joyent/libuv/commit/026241ca67717679a7f79d92c4fe1d77f223318c. Should go into next v0.10 release of node.js.

[2013-11-23 08:01] #1004 closed, assigned to nobody

[2013-11-23 08:20] #1000 closed, assigned to nobody

[2013-11-23 20:12] kimo commented on #1004
Thank you.

[2013-11-25 02:56] wqvbjhc opened #1009 "uv_interface_addresses"
uv_interface_addresses get wrong interfaces name(unreadable code) on last interface.
My platform is winXP, using VS2010.
the last interface is ms tcp loopback interface that i get it with GetAdaptersAddresses.

[2013-11-25 11:10] bnoordhuis commented on #1009
As far as bug reports go, it's somewhat lacking in detail.  Can you post the output or a screenshot and a test case that I can try?

[2013-11-25 16:23] jjqq2013 commented on #929
I think it's better use NtGetSystemTime. It is more actuate than GetTickCount. (In fact GetTickCount is based on result of NtGetSystemTime)
Regards.

[2013-11-26 08:50] ccoossdddffdd opened #1013 "file change event just call once?"
uv_fs_event_init(loop, (uv_fs_event_t*) malloc(sizeof(uv_fs_event_t)), _path.c_str(), run_command, 0);

i use this code to monitor my files change event, but when that file change, it just call run_command once,

please help me, i used libuv version: 0.11.9

[2013-11-26 08:56] saghul commented on #1013
Cn you detail a bit more what operations you are doing to the file? A example test script might also help.

[2013-11-26 08:59] ccoossdddffdd commented on #1013
void readdir(const char \* path)
{
    uv_fs_t readdir_req;

[code]

}

readdir('test_dir');

this is my code

[2013-11-26 09:00] ccoossdddffdd commented on #1013
void run_command(uv_fs_event_t *handle, const char *filename, int events, int status) {
    if (events == UV_CHANGE) {
        change_count++;
        cout << "change file: " << handle->filename << " count: " << change_count << endl;
    }

[code]

}

and this is callback code

it just the example code form joyent test, and i copy to my program.

[2013-11-26 09:11] indutny commented on #1013
On what OS are you testing it?

[2013-11-26 09:27] ccoossdddffdd commented on #1013
macosx  10.9

[2013-11-26 09:32] indutny commented on #1013
May I ask you to try latest libuv master? I've just pushed a commit that is fixing at least one problem with `uv_fs_event_t`.

[2013-11-26 09:34] ccoossdddffdd commented on #1013
ok, i try first

[2013-11-26 09:38] ccoossdddffdd commented on #1013
can u give me the lastest uv_fs_event_init test code?

i don't know how to use  uv_fs_event_\* functions.

[2013-11-26 09:39] indutny commented on #1013
Sure, https://github.com/joyent/libuv/blob/master/test/test-fs-event.c#L260

[2013-11-26 09:40] ccoossdddffdd commented on #1013
thank u

[2013-11-26 09:52] ccoossdddffdd commented on #1013
i use the test code, but it just call fs_event_cb_dir_multi_file when create anything...

it's great, but i want to call it when change ....

[2013-11-26 09:53] ccoossdddffdd commented on #1013
oh~  monitor file is need to uv_fs_event_start every files?

[2013-11-26 09:58] ccoossdddffdd commented on #1013
and now, i just use

uv_fs_event_start(&fs_event, fs_event_cb_dir_multi_file, "src/main.cpp", 0);

to monitor the src/main.cpp..

but. when my program start, it call fs_event_cb_dir_multi_file once,

and change the src/main.cpp, called fs_event_cb_dir_multi_file.

but still only once call fs_event_cb_dir_multi_file.

i just add some space or some char to file and save it..

[2013-11-26 09:58] saghul commented on #1013
Yes, the API changed, you need to _init the fsevent handle and then start it.

[2013-11-26 09:59] ccoossdddffdd commented on #1013
@saghul yes, i get the test code from indutny~

[2013-11-26 10:15] ccoossdddffdd commented on #1013
i use libuv version: 0.11.16-pre

@indutny are u still here? i'm wait online....

[2013-11-26 10:40] indutny commented on #1013
Sorry, just trying to understand what exactly is happening on your side? May I ask you to explain it a bit?

From what I read above:
1. You call uv_fs_event_inti() and uv_fs_event_start() for a file main.cpp
2. Callback happens?! Without changes to file?
3. You edit file and save it
4. No callback happens?!

Is it correct?

[2013-11-26 10:52] ccoossdddffdd commented on #1013
https://gist.github.com/cosnis/7656611

sorry, please goto this page to see the code, it easy to watch

https://gist.github.com/cosnis/7656628   this is the makefile

[2013-11-26 10:53] ccoossdddffdd commented on #1013
this is all my code..

[2013-11-26 10:58] ccoossdddffdd commented on #1013
You call uv_fs_event_inti() and uv_fs_event_start() for a file main.cpp
     yes

Callback happens?! Without changes to file?
     callback happens, without change to file, but i think it maybe the sublime's bug..

You edit file and save it, No callback happens?!
     the callback just happens once,

[2013-11-26 10:59] indutny commented on #1013
How many times it should happen?

[2013-11-26 10:59] ccoossdddffdd commented on #1013
just happen once

[2013-11-26 11:04] indutny commented on #1013
Ok, isn't that how it should be? You save file once - it happens once!

[2013-11-26 11:05] ccoossdddffdd commented on #1013
yes, i want it is;

[2013-11-26 11:06] indutny commented on #1013
So it is _not_ happening?

[2013-11-26 11:10] ccoossdddffdd commented on #1013
yes.... T_T....

[2013-11-26 11:12] indutny commented on #1013
ok, may I ask you try doing the same process with a notepad, instead of a sublime? I mean:
1. uv_fs_event_init() + uv_fs_event_start()
2. open file in notepad
3. change file and save it

[2013-11-26 11:21] ccoossdddffdd commented on #1013
0.0      ok, i know it's a bug of sublime....

so thanks very much...

[2013-11-26 11:21] #1013 closed, assigned to nobody

[2013-11-26 11:41] indutny commented on #1013
Np, it took awhile to figure it out :) Thank you.

[2013-11-26 11:45] ccoossdddffdd commented on #1013
https://gist.github.com/cosnis/7657065

this is my new code to do this work.

i need to add a timer to close the change_lock when file & dir change

beacuse i use UV_FS_EVENT_RECURSIVE mode, and when file change, the dir change event is called too.

so if you can separate the two event, or stop call dir change event when file change,  it be better.

[2013-11-26 14:41] dawnarc commented on #995
unfortunately, uv_shutdown didn't return errno, it return 0. if I invoke uv_shutdown again, it return -1;

[2013-11-27 06:49] ccoossdddffdd opened #1014 "./configure error"
...
checking for special C compiler options needed for large files... no
checking for _FILE_OFFSET_BITS value needed for large files... no
./configure: line 12274: syntax error near unexpected token `;'
./configure: line 12274:`; then'

i have this report when ./configure command, i tried lastest version from git, and v0.11.9.

this is the system info, is a virtual machine

[root@localhost libuv-v

[2013-11-27 07:33] saghul commented on #1014
What autoconf version are you using? That error sounds familiar, it was caused by tan old versión of autoconf.

[2013-11-27 07:47] JacksonTian commented on #1014
What python version are you using? 2.7 please.

[2013-11-27 07:49] saghul commented on #1014
The Python version is not relevant when running ./configure

[2013-11-27 09:18] ccoossdddffdd commented on #1014
[root@localhost libuv]# autoconf -V
autoconf (GNU Autoconf) 2.63
Copyright (C) 2008 Free Software Foundation, Inc.

this is the autoconf version

and i use  Python 2.7.6 (default, Nov 27 2013, 17:13:51)

[2013-11-27 09:31] saghul commented on #1014
I got a similar problem with Autoconf 2.61, which also dates from 2008. Updating to 2.69 fixed the problem.

[2013-11-27 09:35] ccoossdddffdd commented on #1014
oh my god.....

does libuv have some yum repo to install?

[2013-11-27 09:36] saghul commented on #1014
Not that I know of. You can use gyp to build it instead of autoconf though, instructions on the README.

[2013-11-27 09:36] ccoossdddffdd commented on #1014
ok......

[2013-11-27 09:36] #1014 closed, assigned to nobody

[2013-11-30 05:42] #850 closed, assigned to nobody

[2013-11-30 05:59] piscisaureus commented on #997
This is on purpose.

If you want to pass an open FD to a child process in node do this:

[code]

[2013-11-30 05:59] #997 closed, assigned to nobody

[2013-11-30 06:09] piscisaureus commented on #997
Ok, I see that the 'inherit' solution has been suggested earlier. However I disagree that the assumption that open FDs are passed to grand-children is acceptable. Node tries to make sure that a child process inherits _only_ whatever has been explicitly requested. We added this to make 'test-child-process-detached' pass.

[2013-11-30 10:45] timbertson commented on #997
@piscisaureus I'm not sure if you noticed this part, but the nodejs code in question potentially has _no idea_ it is being invoked by make. So the suggested solution of "explicitly pass any FDs you want to not get closed" is not feasible. e.g I might use some module which runs child processes internally - clearly it's unacceptable to require all code and libraries that spawn child processes to alw

[2013-12-02 09:44] saghul commented on #309
#932 was closed as it's not necessary for Node anymore. Closing this one as well.

[2013-12-02 09:44] #309 closed, assigned to nobody

[2013-12-03 08:48] saghul commented on #340
Closing due to inactivity, if there is  a real issue feel free to open a new issue or comment on this one so that we can reopen it.

[2013-12-03 08:48] #340 closed, assigned to nobody

[2013-12-04 11:43] ccoossdddffdd opened #1020 "question about uv_spawn"
i have made a child process by uv_spawn

and now when i kill the father process, the child process still live..

i want kill the child process when i kill the father process.

i use uv_process_kill to kill child process.

and i doesn't use UV_PROCESS_DETACHED flag.

[2013-12-04 11:59] saghul commented on #1020
Please use the mailing list (https://groups.google.com/forum/#!forum/libuv) for questions. If you find an issue, feel free to open it here though.

[2013-12-04 11:59] #1020 closed, assigned to nobody

[2013-12-04 22:54] keesvp opened #1023 "IOCP pipe problem with Duplicate handles (Windows)"
I am working with a process including libuv that is started with piped stdio. stderr and stdout are created as duplicate handles. In uv_set_pipe_handle the second time CreateIoCompletionPort is called on these, it fails with ERROR_INVALID_PARAMETER. Windows documentation says:
"It is best not to share a file handle associated with an I/O completion port by using either handle inheritance or a call

[2013-12-05 00:15] keesvp commented on #1023
Never mind. I'll find a way to work with separate channels.
Please take note that, although I am Dutch, I didn't mention anything gender specific.

[2013-12-05 00:15] #1023 closed, assigned to nobody

[2013-12-05 11:07] mmalecki commented on #446
The problem with `getcwd` used by `uv_cwd` is that it returns `ERANGE` when buffer is too small, so buffer can't be smaller than `MAXPATHLEN`. We'd have to truncate it ourselves to limit string length to size supplied by user.

[2013-12-05 15:42] indutny opened #1025 "stream: create API for immediate writes"
`uv_write()`/`uv_write2()` may write data immediately on unixes, but it'll still queue up `uv_write_t` request and execute callback later. Its good for the most of the uses, but I'd like to propose API for handling immediate writes in user code and canceling queuing of the callback.

The few reasons for it:
- https://github.com/indutny/bud/commit/71ce128ac2a463c5e3334b27ce43dad3b05d4da8
- https://

[2013-12-05 15:42] indutny commented on #1025
@saghul @piscisaureus thoughts?

[2013-12-05 15:43] indutny commented on #1025
I know that it is most likely not case for windows, so we can make `uv_write_finish` return error on it unconditionally.

[2013-12-05 18:50] saghul commented on #1025
Hum, I tried to understand why you would need this, but it's still not very clear to me :-) Even if the write happens immediately you already allocated a uv_write_t struct which was passed to uv_write, right? On Unixes, if the request wasn't sent on the spot, no more malloc-ing is necessary if less than 4 buffers were used (https://github.com/joyent/libuv/blob/master/src/unix/stream.c#L1251-L1253)

[2013-12-05 19:01] indutny commented on #1025
Well, I'm mallocing it now. But it could be embedded in other struct if I'd be able to ask libuv to not call write_cb and dequeue `uv_write_t`.

[2013-12-06 08:29] saghul commented on #1025
Ah, I get you now. What about

[code]

or

[code]

The idea being that a write is attempted and if it fails the request is dequeued. In the second form no callback would be called, it would be up to you. Internally, a stack allocated request could be used.

[2013-12-06 08:35] indutny commented on #1025
Hm... sounds like it would duplicate a lot of logic. I'm not totally against allocation, just want the `uv_write_t` to be reused. Any objections about API mentioned above?

Perhaps, we could just change naming here to make it reflect the process. What about `uv_write_dequeue()` instead of `uv_write_finish()`?

[2013-12-06 08:39] saghul commented on #1025
The idea would be not to duplicate logic. The functions you propose would exist, but they wouldn't be part of the public API, they'd be internal, only used on this uv_try_write thing.

[2013-12-06 09:38] indutny commented on #1025
So `uv_try_write(req)` would return 0 if write has happened immediately, right? And, let's say, UV_EINPROGRESS otherwise. Does it LGTY?

[2013-12-06 09:41] saghul commented on #1025
Not sure about what the return value in case of error should be, given that the request will be queued. EINPROGRESS could be a bit misleading, because it's not really in progress, you need to call uv_write yourself for that... maybe EAGAIN?

[2013-12-06 09:49] indutny commented on #1025
Yeah, looks good. So, just to make sure, the sequence is following:
1. `uv_write(req, stream ....)`
2. `uv_try_write(req)`
3. reuse `req` if (2) was successful

[2013-12-06 09:58] saghul commented on #1025
Hum, not really :) The sequence would be:
1. `uv_try_write(req)` with embedded struct request
2. If it returns 0, we are done!
3. else, malloc, uv_write(req) as usual

[2013-12-06 10:14] indutny commented on #1025
Hm... that'll mean that user will need to initialize request twice... perhaps, it is ok. So how do you imagine using `uv_try_write(req)` without `stream` and other arguments.

[2013-12-06 10:41] saghul commented on #1025
Oh, sorry, I forgot half of it :-(

[code]

So, uv_try_write is essentially uv_write, but doesn't queue the request if it fails to write it. If it fails you can either reuse the request, malloc a new one or whatever.

In pseudocode, using the api you proposed, uv_try_write would be:

[code]

I'm a bit uncertain about the callback argument, I left it out because the function is "blocking" if it suc

[2013-12-06 10:44] indutny commented on #1025
Yeah, LGTM

[2013-12-06 18:53] piscisaureus commented on #1025
I'm not sure about this... This was suggested by a user to do a micro optimization in node, but it won't be possible to do in windows.

[2013-12-06 20:49] indutny commented on #1025
@piscisaureus have you seen my pull request? Also it isn't a micro-optimization, it saves a lot of time and memory in bud, since I can just not buffer stuff, because I know that it was already written out.

Anyway, it'd be cool to hear your thoughts on that PR?

[2013-12-06 21:03] indutny commented on #1025
See PR for the comment.

[2013-12-06 21:03] #1025 closed, assigned to nobody

[2013-12-07 05:30] piscisaureus commented on #598
Unfortunately, no response. Feel free to reopen if you can provide more info.

[2013-12-07 05:30] #598 closed, assigned to nobody

[2013-12-07 05:30] piscisaureus commented on #613
Fixed in 20a8e58adb2a3fc2e92ceb6e1ceb6f05d7e0d439

[2013-12-07 05:30] #613 closed, assigned to nobody

[2013-12-08 13:14] skaller opened #1030 "build fail OS 10.6.8 in ./configure"
checking for pthread_mutex_init in -lpthread... yes
checking for clock_gettime in -lrt... no
checking for sendfile in -lsendfile... no
checking for socket in -lsocket... no
checking for special C compiler options needed for large files... no
checking for _FILE_OFFSET_BITS value needed for large files... no
./configure: line 11346: syntax error near unexpected token `0.20'
./configure: line 11346:`

[2013-12-08 13:32] skaller opened #1031 "Wrong compiler options by configure"
OSX 10.6.8 with gcc (it should be using clang .. but anyhow) xcodebuild:

/Users/johnskaller/felix/libuv/test/echo-server.c:222: warning: dereferencing type-punned pointer will break strict-aliasing rules

I have a lot of these. You need -fno-strict-aliasing. This is mandatory if you're really doing any typepunning, otherwise you can definitely get a crash from bad code generation. In fact the xco

[2013-12-08 13:41] skaller opened #1032 "Test failure OSX 10.6.8"
#

`getaddrinfo_fail` failed: timeout
# Output from process `getaddrinfo_fail`: (no output)

[%  76|+ 151|-   1|T   0|S   0]: osx_selectgot some input
with a couple of lines
feel pretty happy

`fs_event_watch_dir` failed: timeout
# Output from process `fs_event_watch_dir`: (no output)

`fs_event_watch_file_current_dir` failed: timeout
# Output from process `fs_event_watch_file_current_dir`: (no ou

[2013-12-08 13:42] skaller commented on #1032
Oops sorry about the formatting.

[2013-12-08 17:34] indutny commented on #1030
What version of autoconf are you using?

[2013-12-08 18:13] indutny commented on #1032
Thanks for reporting this. First failure looks like a result of networking configuration on your computer, perhaps it has no internet at the moment of running the test?

Other ones are just laggy sometimes, may I ask you to try `rm -rf watch_dir watch_file` in a libuv folder and to run tests again after that?

[2013-12-08 18:48] tarruda opened #1033 "Best approach for parsing a simple RPC protocol"
Hi

I'm writing a small program that reads messages from a stream, where each message is started by a 32bit integer, which specifies the size of the following message.

I understand libuv will call my own function to allocate buffers with a suggested size, but since I know the size of the incoming message, I'd like to use that as the buffer size.

What would be the 'pretty' way to handle this in l

[2013-12-08 18:58] indutny commented on #1033
Sorry, but this isn't a place for such questions. Better try asking on a mailing list: https://www.google.ru/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0CCcQFjAA&url=https%3A%2F%2Fgroups.google.com%2Fd%2Fforum%2Flibuv&ei=UsGkUsD6A4bV4gSrr4DwBg&usg=AFQjCNGiLHBurHfvcNoz0rVf4jm9ftFn4w&sig2=yU556kPDv-osafMAOhtttg&bvm=bv.57752919,d.bGE&cad=rja

[2013-12-08 18:58] #1033 closed, assigned to nobody

[2013-12-08 20:55] saghul commented on #1030
Works for me on OSX 10.6.8, but using autoconf 2.69, since the system one is too old: https://github.com/joyent/libuv/issues/851

[2013-12-08 20:56] tjfontaine commented on #1030
fwiw it's broken for all unix build slaves as well

http://jenkins.nodejs.org/job/libuv-master/374/

[2013-12-08 21:09] indutny commented on #1030
@tjfontaine I'm quite sure it is autoconf dependent thing, @saghul perhaps we should revert that change?

[2013-12-08 21:09] saghul commented on #1030
@tjfontaine I just tested it on my Linux machine and works here as well. Do the build slaves have the `pkg-config` package installed?

[2013-12-08 21:10] tjfontaine commented on #1030
it's possible they don't, but that's a fairly obtuse error if so, we should do a feature test for pkg-config first

[2013-12-08 21:50] saghul commented on #1030
Lets see if https://github.com/joyent/libuv/pull/1034 fixes it

[2013-12-09 00:38] skaller opened #1035 "Wrong option -DPIC passed to compiler (autoconf)"
Passing -DPIC does nothing. The correct option is -fpic or -fPIC.

[2013-12-09 00:41] skaller commented on #1035
Data:

checking for clang option to produce PIC... -fno-common -DPIC
checking if clang PIC flag -fno-common -DPIC works... yes

[2013-12-09 00:43] skaller opened #1036 "const error"
[code]

Detected by clang.

[2013-12-09 01:02] jneu commented on #963
I was able to reproduce this on OS X Mavericks with the following steps:
1. ./configure
2. make
3. make clean
4. ./configure --disable-dtrace
5. make
I don't think this issue is specific to any particular version of OS X, though.

Essentially the issue is this:
1. The initial make creates dependency files in the src/unix/.deps directory. These are not cleaned up by the make clean.
2. The second co

[2013-12-09 07:26] #963 closed, assigned to nobody

[2013-12-09 07:28] indutny commented on #1035
Hm... I can't see it anywhere in our files, perhaps it is an autoconf's thing?

[2013-12-09 08:12] saghul commented on #1035
Yes, it's an autoconf thing, it probes and apparently decided that -DPIC is the right thing to do. What autoconf version are you using @skaller?

[2013-12-09 08:26] indutny commented on #1036
Hello!

Thanks for opening an issue, what OSX version are you using? `scandir()` has a filter function with `const` argument on all platforms available to me: OSX 10.9, ubuntu, smartos.

[2013-12-09 20:35] soumith opened #1038 "get_free_memory does not include cached memory"
When trying to determine the amount of usable memory on the system, just using
get_free_memory does not suffice, as get_free_memory does not include the amount of cached memory.

get_total_memory - get_free_memory != total malloc-able memory

[2013-12-10 12:39] #846 closed, assigned to nobody

[2013-12-10 18:39] indutny commented on #1031
I don't think we're in danger with it, since we usually don't have alias and pointer in the same scope. Having this in test is most likely ok, and I don't want to disable hard compiler optimizations because of this.

Please feel free to reopen this if you feel that this really breaks anything.

[2013-12-10 18:39] #1031 closed, assigned to nobody

[2013-12-10 18:39] indutny commented on #1031
Thank you for reporting!

[2013-12-10 18:40] indutny commented on #1038
Which platform are we talking about? Linux, osx, windows?

[2013-12-10 18:42] soumith commented on #1038
I've tested this on Linux, more specifically Ubuntu 13.10 64-bit, but I believe it generally applies to linux.

[2013-12-10 18:44] soumith commented on #1038
Relevant outputs for cat /proc/meminfo
MemTotal:       16401056 kB
**MemFree:          291932 kB**
Buffers:         1513496 kB
**Cached:          8338624 kB**
SwapCached:        94980 kB
Active:          7457824 kB
Inactive:        5767792 kB
Active(anon):    3173292 kB
Inactive(anon):   276640 kB
Active(file):    4284532 kB
Inactive(file):  5491152 kB

If you see, free memory reported is only 290

[2013-12-10 18:52] indutny commented on #1038
I think the behavior of `uv_get_free_memory` is totally correct there, since it returns amount of free physical pages, reported by system.

I think it'd be incorrect to assume that in _every_ situation Page Cache could be reduced to free memory. @saghul do you have any thoughts about it?

[2013-12-10 18:53] tjfontaine commented on #1038
if people want more platform specific information they're free to open `/proc` and inspect it themselves, imo

[2013-12-10 18:55] indutny commented on #1038
@tjfontaine ok, glad to see anyone on my side :) Because I wasn't totally sure about it. Sorry, that is won't fix!

[2013-12-10 18:55] #1038 closed, assigned to nobody

[2013-12-10 18:59] soumith commented on #1038
no problem, thanks for responding.
I've implemented my own /proc workaround, it was more of an "if someone finds this annoying and comes to report it" kind of an issue.

[2013-12-12 20:04] kkoopa opened #1041 "Reoccurring segfaults in uv__req_unregister"
Running an application with Node.js 0.11.9 and several addons produces hard-to-reproduce but frequent segfaults in the same location.

[code]

[code]

My interpretation is that `req->active_queue[0]` is `next` and `req->active_queue[1]` is `prev`. `QUEUE_REMOVE()` tries to access `next` of `prev`, resulting in an invalid memory access due to `prev` being 0x100000001. How can this happen? The stack

[2013-12-12 21:59] indutny commented on #1041
@kkoopa Thanks for opening, I'll look into it soon. (or @saghul if you'll have time).

[2013-12-12 23:27] pixelglow opened #1042 "Worker thread/queue health check?"
In libuv, you can end up tying up the worker threads with too much work or buggy code. Is there a simple function that can check the health of the worker threads or thread queue? It doesn't have to be 100% deterministic, after all it would be impossible to determine whether the worker thread is hanging on slow code or an infinite loop.

So any of the following heuristics would be good:
- Number of

[2013-12-13 08:12] saghul commented on #1042
Are you referring the to the threadpool and `uv_queue_work` here? Not sure what you mean by "worker thread/queue".

In case you are referring to `uv_queue_work`, there is currently no way to kill any thread. There is also no way for checking the queued requests, other than digging into the loop struct and looking for requests of type `UV_WORK`: https://github.com/joyent/libuv/blob/master/include/u

[2013-12-16 01:13] ghost commented on #1032
I can confirm the same issue on OSX 10.9 (with net connectivity, yes)

[code]

[2013-12-16 01:54] pixelglow commented on #1042
Thanks for that. Otherwise than performing the work itself and checking with a timer to see if it completed, it looks like there's no public way to determine if the worker threads are too busy.

[2013-12-16 01:54] #1042 closed, assigned to nobody

[2013-12-16 02:10] jneu opened #1045 "spawn_fails test fails for some PATHs"
On Mac OS X 10.9 (and likely most other unixes using glibc), `make check` fails for certain PATH values with the following error:

[code]

Inside uv_spawn, the child process uses execvp which will often return EACCES instead of ENOENT. One way to reproduce this is as follows:

[code]

While this example is contrived, this happened for me initially when a system directory was added to my PATH which

[2013-12-16 03:06] jneu commented on #978
@alexcrichton and @bnoordhuis -
I'm interested in the opposite use case: I'm trying to spawn a large number of processes at one time. Think a `make` clone that needs to spawn worker processes, most of which will succeed.

Any thoughts about having two APIs? Use `uv_spawn()` for find-as-many-errors-as-possible-synchronously for fast-fail sequential needs, and a new `void uv_async_spawn()` for repor

[2013-12-16 05:46] alexcrichton commented on #978
When I submitted a patch to close this issue, there wasn't much asynchronous-ness to reporting the error. On both windows and linux the process would block waiting to receive the error, and then it would just simply report the error in the callback instead of as the return value to `uv_spawn`. Basically, from an implementation perspective, all of the machinery was there to `return error` instead o

[2013-12-16 08:05] saghul commented on #1042
As a final note: currently the threadpool is limited to 4 threads, which are also used for running the fs operations and getaddrinfo, so running too much work on it may impact performance of the aforementioned oeprations.

[2013-12-16 08:09] saghul commented on #978
I find the behavior after https://github.com/joyent/libuv/commit/f764bff699e9897c3ed795a838acd9c1c8ec8133 to be correct. If either fork or exec failed we consider uv_spawn as failed, if the process was started you'll get the termination status in the callback.

[2013-12-16 08:43] pixelglow commented on #1042
hmmm… do you not scale the thread pool to the number of cores?

[2013-12-16 09:07] saghul commented on #1042
Not at the moment.
On Dec 16, 2013 9:44 AM, "Glen Low" notifications@github.com wrote:

[2013-12-16 09:09] pixelglow commented on #1042
Can you tell me roughly where the code is, so I can hack a version which scales the thread pool?

[2013-12-16 19:14] sam-github commented on #1042
Set UV_THREADPOOL_SIZE in env (on unix) to set thread pool size to a specific number, grep src for that env variable to see where libuv would scale to number of cores.

[2013-12-16 19:31] saghul commented on #1042
Doh, my (email) reply to this was lost somewhere :-/ You can check the Unix implementation in src/unix/threadpool.c, and use the env variable as mentioned by @sam-github. Note that regardless of the value you set through the env variable, it's capped at 128.

[2013-12-17 02:28] jneu commented on #978
This is exactly what I'd like to performance test. It seems like making this non-blocking would be a performance gain when spawning lots of children, but I may just be imagining it. :-)

[2013-12-18 10:03] #1045 closed, assigned to nobody

[2013-12-20 13:11] txdv opened #1049 "Remove unused tags."
It would help browing if some tags could get removed.

multiplicity2/multiplicity3 is no longer relevant as it was used to add multiple loop support for libuv, which is already a core feature.

[2013-12-20 15:16] indutny commented on #1049
Thanks, done.

[2013-12-21 02:13] IngwiePhoenix opened #1051 "Building with Ninja fails"
When I try to build using ninja, it fails quite hard. See this one for more: http://puu.sh/5To4m.txt

[2013-12-21 08:44] indutny commented on #1051
Do you have the latest version of `ninja` installed, or the one provided by brew? I'm using ninja on OSX for all builds I do and it works perfectly.

[2013-12-21 12:19] txdv commented on #1049
I mean like going through all the branches and removing the once who are obsolete/older than 5 months

[2013-12-21 13:27] indutny commented on #1049
@txdv do you want to help us with this? ;)

[2013-12-21 16:50] IngwiePhoenix commented on #1051
I compiled it straight from Github - i dont like Brew. :I
Am 21.12.2013 um 09:44 schrieb Fedor Indutny notifications@github.com:

[2013-12-21 16:51] indutny commented on #1051
Do you have xcode command line tools installed?

[2013-12-21 16:54] IngwiePhoenix commented on #1051
I have actualyl three toolchains: Xcode, GNUstep(gcc 4.8.2 with objc support) and drag0n (a toolchain i built myself). All three have build various, if not all, packages I ever needed to compile.
Am 21.12.2013 um 17:52 schrieb Fedor Indutny notifications@github.com:

[2013-12-21 17:31] txdv commented on #1049
I don't have repo access and if I say something you still have to check it up yourself: blocking-pipes, c-ares, cleanup-gyp-build, dlopen, emfile_trick, file_watcher, fs, fs_link, ipc, ipc2, ipc-listen can get removed. They are really old.

Do wee need cpp-ify? I don't see the benefits of the one change in that branch.

What does funnel do?

[2013-12-22 09:54] indutny commented on #1051
It looks like it tries to use `drag0n` toolchain and fails, honestly saying only xcode toolchain is supported on osx, since it is using a FSEvents and CoreServices.

Sorry, I may only suggest you figuring it yourself using options.gypi, something like this may make it work for you https://gist.github.com/indutny/c46ba8f770c1e553538f , where sdk_path could be obtained from: `xcodebuild -version -sd

[2013-12-22 09:54] #1051 closed, assigned to nobody

[2013-12-23 10:17] saghul opened #1054 "Fail to start fsevent handle if inotify doesn't support the filesystem?"
How about doing something similar to what libev does?

On uv_fsevent_start we check if the filesystem is supported by inotify, else return ENOTSUP.

[code]

Thoughts?

/cc @indutny

[2013-12-23 10:21] indutny commented on #1054
Won't `uv__inotify_add_watch` fail in such cases?

[2013-12-23 10:22] saghul commented on #1054
Not sure, AFAIK it doesn't, it just won't get notified ever. @bnoordhuis maybe you can confirm?

[2013-12-23 10:26] indutny commented on #1054
Well, if this is the case... Ok.

[2013-12-23 20:48] bnoordhuis commented on #1054
I consider that check in libev an anti-feature: it excludes a lot of less common file systems that nevertheless perfectly support file notifications.  If you want to go down that route, you should blacklist known-broken file systems, like NFS (0x6969, see statfs(2) or linux/magic.h.)

[2013-12-23 23:14] saghul commented on #1054
Thanks Ben, xlosing then.

[2013-12-23 23:14] #1054 closed, assigned to nobody

[2013-12-25 03:12] jneu commented on #1036
Hi @skaller - would you mind compiling jneu/libuv@3fb800b131ab6ff23e16110e88f3d494ef8bf0c6 to see if this fixes the issue? I don't have access to OS X 10.7 to verify :-)

[2013-12-26 23:37] unixwitch opened #1059 "Preserve uv_write_t->bufs in uv_write()"
When the uv_write() callback is called, req->bufs has been set to NULL by uv__write_req_finish.  To avoid the user having to track the buffers separately, it would be useful if this value could be preserved.

I understand this might be complicated or impossible to do efficiently with the need to free(req->bufs) when nbufs > 4 (so bufs != bufsml).

[2013-12-26 23:46] txdv commented on #1059
https://github.com/joyent/libuv/blob/master/src/unix/stream.c#L677

[2013-12-27 09:17] saghul commented on #1059
libuv will just copy the pointers, it's the responsibility of the caller to free the memory and keep track of them. You can attach whatever you want to `req->data` and use it in the write callback.

[2013-12-27 12:40] txdv commented on #1049
@indutny please create topic branches in your own repository instead of creating branches in joyent/libuv. saghul does it like that and it is a good way to do it. people tend to forget to delete the branches and it is just clutter which is not really useful when a user is inspecting the repository. Look at how many branches we already have which are older then half a year because Igor forgot to de

[2013-12-27 15:51] indutny commented on #1049
I did it only for one thing recently. But yes, I agree with you.

[2013-12-27 21:50] unixwitch commented on #1059
Yep, but then this requires an additional malloc(): https://github.com/rtarnell/nts/commit/deefb9391afe95ecfe6655509f34651ef8057052

It's not a serious problem, just seems like something that would be useful to users.

[2013-12-28 09:52] #602 closed, assigned to nobody

[2013-12-28 11:52] bnoordhuis commented on #1059
You can embed the uv_write_t in another struct and use a container_of-like macro to look up the embedder.  Grep the libuv source tree for container_of examples and its definition.

[2013-12-28 12:49] indutny commented on #1059
Ok, I guess it is not a big concern, consider that you have `req->data` and can do any of mentioned things above.

[2013-12-28 12:49] #1059 closed, assigned to nobody

[2013-12-28 13:23] erehw opened #1061 "win/tcp.c ,unsigned type value is never <0 ?"
since uv_active_tcp_streams_threshold is 0
and    active_tcp_streams is unsigned type

const unsigned int uv_active_tcp_streams_threshold = 0;
unsigned int active_tcp_streams ;

so function "uv_tcp_queue_read"
line of 422
if (loop->active_tcp_streams < uv_active_tcp_streams_threshold) {
how to explain?

[2013-12-29 20:01] jneu commented on #869
I was able to reproduce this issue on FreeBSD 9.2:

[code]

Looks like the FreeBSD version of make only sets `$<` on suffix-transformation rules - although this is not well documented anywhere I can find.

FWIW, building with dtrace support on FreeBSD is still not for the faint of heart. First, you need to add libelf manually (I did this as `./configure LDFLAGS="-lelf"`). This could be automated t

[2013-12-30 02:14] sindresorhus commented on #468
For anyone else needing this in the meantime, I've created a [binding](https://github.com/sindresorhus/pwuid) for getpwuid().

[2013-12-30 08:13] saghul commented on #1061
Please check the comments here: https://github.com/joyent/libuv/blob/master/src/win/tcp.c#L32-L37 The threshold used to be set to 50 but was disabled by https://github.com/joyent/libuv/commit/4e9edceb980401d92d45710a07b00872b430fd12

[2013-12-30 08:13] #1061 closed, assigned to nobody

[2013-12-30 09:36] saghul commented on #1041
Looks like that req has been partially overwritten or something, by looking at the addresses of its members, and the type.

It's hard to tell where the problem might be, but I'd bet it's not on libuv or it would have bitten us by now :-) Node itself or an addon using libuv directly could be the culprits, but you'll need to isolate the problem by removing addons until you find the source of the pro

[2013-12-31 09:54] indutny commented on #1041
@kkoopa sorry for a big delay, are you using any C++ addon with node? Do you have a test case that is most likely reproducing this issue?

[2013-12-31 14:35] nathanjsweet opened #1065 "Instructions on compiling for OSX should include being careful about architecture selection for xcodebuild"
The current, free, version of xcode automatically builds for an i386 architecture. By simply adding ARCHS="x86_64" right after the "xcodebuild" command the headache of linking an invalid static library will be avoided. This took me a few hours to figure out how to do, because xcodebuild's documentation is scattered.

https://developer.apple.com/library/mac/documentation/Darwin/Conceptual/64bitPort

[2014-01-02 09:40] geertj opened #1066 "SO_PEERCRED on Pipes"
Any advice on how I can get access to getsockopt(SO_PEERCRED) on Pipes (I know it's Unix specific)? There seems to be no way to get the file descriptor from a stream type.

[2014-01-02 10:16] saghul commented on #1066
Hi @geertj, you'd be dealing with the internals here, so this could change and break your code, but if you are willing to take the risk, you can get it as follows:

[code]

[2014-01-02 13:23] geertj commented on #1066
Thanks @saghul. Let me mull on that for a bit. I need this from Python so it's going to be harder still. I won't have access to the libuv headers that were used to compile pyuv.

Would this be an API that could be added to libuv? I'm not sure if Windows has a similar concept.

[2014-01-03 07:33] saghul commented on #1066
Windows has `HANDLE` things, but libuv won't expose the underlying fd or handle on streams, IIRC this was decided from the beginning and an API exposing those won't be accepted.

What you can do, is create a `socket.socket` yourself and use `Pipe.open` on it (on `sock.fileno() really). You can attach it to the pipe to have access to it a la`pipe._sock`and then get the fd with`pipe._sock.fileno()`

[2014-01-03 07:33] #1066 closed, assigned to nobody

[2014-01-05 13:33] #869 closed, assigned to nobody

[2014-01-07 09:00] chainone commented on #1032
I have the same issue above on rmbp (10.9.1)

[2014-01-07 10:17] saghul commented on #1032
I cannot reproduce this with 10.8.4. I think that `fs_event_watch_dir` is a bit timing sensitive...

[2014-01-07 15:22] adrai commented on #649
@bnoordhuis still v0.14 (v1.0)?

[2014-01-07 16:09] bnoordhuis commented on #649
I'm not working on libuv anymore, you'll have to ask @indutny or @saghul.

[2014-01-08 09:57] migounette opened #1070 "API - Need an advise"
Three quick questions for libuv developers (I will format and add answers to the wiki :))

What it is the more efficient for timers...
1. Suppose that you have 500 sessions in // for STUN operations.
   A timer is needed for sending stun operation.

What is the best, create a global timer (a session list) or one timer handle per session and queue them
1. Re transmission in UDP
   I want to re tran

[2014-01-08 10:01] indutny commented on #1070
Sorry, please use mailing list. This is an issue tracker

[2014-01-08 10:01] #1070 closed, assigned to nobody

[2014-01-08 19:53] indutny commented on #1065
Thank you! I'd merge pull request if you wish to open one, but don't have time to work on it myself.

[2014-01-08 19:54] #1065 closed, assigned to nobody

[2014-01-09 03:06] stakach opened #1072 "Building on Windows x64"
Having trouble building libuv for Windows x64

Running command `vcbuild.bat release x64` leads to:

[code]

Tried running on CMD and VS CMD
tested with VS 2010 and 2013

[2014-01-09 08:28] saghul commented on #1072
/cc @piscisaureus

[2014-01-09 14:26] srijs opened #1073 "Grand Central Dispatch vs. Queuing + Thread Pooling on OS X / iOS"
On modern OS X and iOS platforms there exists a high-performance queuing and thread pooling mechanism called [Grand Central Dispatch](https://developer.apple.com/library/mac/documentation/performance/reference/gcd_libdispatch_ref/Reference/reference.html).

This mechanism is integrated deeply into the OS and therefore provides an advantage over a user-land thread pooling by having more information

[2014-01-09 21:14] sam-github opened #1074 "uv_spawn won't duplicate the same original fd to two fds in the child"
Instead, it results in the child not having a valid fd at that position.

Reproduceable in node with https://gist.github.com/sam-github/8341916

strace shows what's happening in child: https://gist.github.com/sam-github/8341573

This results in fd 2 in child not being valid (an unusual condition, which libuv tries to avoid). The invalidity causes and write to fd 2 (console.error in node), to cause

[2014-01-10 02:03] skaller commented on #1032
Sorry for long delay responding, seems I'm associated with my gmail account which I don't actually use .. I have slow (wireless only) internet connectivity at all time.

[2014-01-14 09:41] stakach opened #1075 "uv_tcp_getpeername with Windows IPv6 Client"
When calling uv_tcp_getpeername for an IPv6 TCP client on Windows I'm getting the following error response: `bad address in system call argument`

Works fine with IPv4 clients on Windows and IPv6 works on unix platforms

[2014-01-14 19:06] adrai commented on #649
@indutny or @saghul any news on this?

[2014-01-14 22:34] indutny commented on #649
No work has been done on it yet, and our priorities are on other things right now.

[2014-01-15 00:17] indutny commented on #1073
+1 from me. And @saghul is on a vacation, but I don't think that it should stop you from working on it, if you wish.

[2014-01-15 01:33] txdv commented on #649
What other things?

[2014-01-15 11:51] indutny commented on #649
Stabilizing stuff before 0.12 release.

[2014-01-16 23:26] joshwilsdon opened #1078 "uv__fs_event_rearm return codes are ignored"
I ran into a problem where fs.watch would pretend to be watching a file when the port_associate call was actually returning ENOENT. The reason appears to be:

https://github.com/joyent/libuv/blob/6149b66ccb9998f561a207162195bf5cba647280/src/unix/sunos.c#L415

is not checking the return value from uv__fs_event_rearm() even though that should have returned the errno from the failed port_associate().

[2014-01-19 15:57] migounette opened #1079 "req corruption - Windows x64 8.1"
## Context : Windows 8.1 x64

I am tracking an issue in my code, I have a native nodejs code running.

What I have done:

I have create another thread with it's own queue in order to create a TCP connect to a process.
When I use GetQueuedCompletionStatusEx (via &uv_poll_ex), I have a memory corruption.

The req is corrupted during UV_CONNECT (From overlap to req does not work, the structure is inv

[2014-01-19 18:57] migounette commented on #1079
I can confirm that the setsockopt is the source of my memory corruption: I put a breakpoint on a memory write of my structure in order to capture the source of my corruption.

I am stuck, I don't understand what's going wrong !

0:009> k
Child-SP          RetAddr           Call Site
000000d9`ac77f308 00007ffa`2b98289f ntdll!RtlMoveMemory+0x1cf <=== ???? Why it does this ?
000000d9`ac77f310 00007ff

[2014-01-19 19:43] indutny commented on #1079
Are you accessing any uv structs from different threads? Just to make sure, libuv is not a thread-safe there's only one function that you can call from another thread `uv_async_send` all other interactions with loop should happen from the thread, where it was created.

[2014-01-19 22:01] migounette commented on #1079
Thanks for your ligths, I use uv_loop_new in a thread created by uv_thread_create.

So I have my main thread (nodejs) and an another thread (native node) with its own loop (uv_loop_new)
The loop works fine if not connection can be established, my callback is correctly invoked. But if the remote port is open, I have this error.

Can you confirm that uv_loop_new is attached to the current thread ? I

[2014-01-19 22:31] indutny commented on #1079
Hm... May I ask you paste a reduced test case that is reproducing this problem?

[2014-01-19 23:11] migounette commented on #1079
This code works fine if I put the code in the node.js thread (node extension)

--> A simple redis connection (I use the uv_default_loop())
ConnectCB(uv_connect_t\* req, int status) is correctly invoked with status 0

[code]

--> Now if I use a dedicated thread it also works... I mean if I call the connect directly in the Thread main function.

[code]

BUT  if I want to delay the create by having a

[2014-01-19 23:14] migounette commented on #1079
Maybe I don't use the right paradigm !

My goal is to open a TCP connection to a remote peer, and try to reconnect if the connection fails or if the connection is broken.

[2014-01-19 23:19] indutny commented on #1079
Are you allocating `uv_tcp_t` on-stack in `uv_timer_t` callback? If so - no surprise that it gets corrupted once you leave it.

[2014-01-20 00:26] indutny commented on #1079
I guess you are, please feel free to reopen this if you are not.

[2014-01-20 00:26] #1079 closed, assigned to nobody

[2014-01-20 08:22] lucab opened #1080 "linux-core: too strict assumption on /proc/stat parsing"
In the Debian build machine park we have an [UltraSparc II box (U60)](https://db.debian.org/machines.cgi?host=spontini) with the following `/proc/stat`:

[code]

This is tripping the assert at https://github.com/joyent/libuv/blob/v0.10/src/unix/linux-core.c#L606 which is expecting the `cpuX` in linear progression, and barking due to the missing `cpu1`. An example of it is the [libuv-0.10.22 testsu

[2014-01-20 13:05] lucab commented on #1080
With proposed patch, libuv is now building fine on the same machine and all tests are passing:
https://buildd.debian.org/status/fetch.php?pkg=libuv&arch=sparc&ver=0.10.22-2&stamp=1390218210

[2014-01-20 15:07] migounette commented on #1079
Thanks for your help... here is the reason of this lovely side effect:

The code is correct, I allocate a loop in my thread, but the problem was the following...

In a local function instead of getting the pointer of my struct I got a copy a pointer like this:

redisContext redisCtx = _asyncContext->c;
instead of
redisContext \* pRedisCtx = &_asyncContext->c;

With this I got a copy of asynContext

[2014-01-20 15:13] indutny commented on #1078
May I ask you to give a try to https://github.com/joyent/libuv/pull/1082 ?

[2014-01-20 15:14] indutny commented on #1079
Ok, I see ;)

[2014-01-20 15:31] indutny commented on #1074
Should be fixed by https://github.com/joyent/libuv/pull/1083 , please verify.

[2014-01-22 18:42] indutny opened #1084 "uv_spawn(): do parallel move"
It should support stdio remap: [ 0 => 0, 2 => 1, 1 => 2]

[2014-01-22 18:50] #1074 closed, assigned to nobody

[2014-01-24 17:14] qrpnxz opened #1088 "getaddrinfo_fail"
When running `make check` I got this:

[code]

[2014-01-24 18:03] indutny commented on #1088
Try running `dig xyzzy.xyzzy.xyzzy` in a console. If it resolves to something - this is not an issue ;)

[2014-01-24 18:03] #1088 closed, assigned to nobody

[2014-01-26 12:28] sasmaster opened #1089 "Linker errors on Windows VS2012 VC11.0"
Hi.I have downloaded the lib and compiled it wti VC++ 11.0 on Windows.When linking to my project I am getting multiple link errors.The same happens if I set compiler to VC10.0

[2014-01-26 12:31] indutny commented on #1089
Hi! What link errors do you get?

[2014-01-26 12:53] sasmaster commented on #1089
1>libuv.lib(util.obj) : error LNK2019: unresolved external symbol __imp__htonl@4 referenced in function _uv_interface_addresses
1>libuv.lib(udp.obj) : error LNK2001: unresolved external symbol __imp__htonl@4
1>libuv.lib(util.obj) : error LNK2019: unresolved external symbol _GetAdaptersAddresses@20 referenced in function _uv_interface_addresses
1>libuv.lib(util.obj) : error LNK2019: unresolved exte

[2014-01-26 12:53] sasmaster commented on #1089
Should I open some specific macros before compiling ?

[2014-01-26 12:57] indutny commented on #1089
No, I think that you should just link with `ws2_32.lib` in your project. (from msdn forum: `Add in Project Properties>Linker>Input>Additional Dependences Ws2_32.lib`).

[2014-01-26 12:57] #1089 closed, assigned to nobody

[2014-01-26 12:59] sasmaster commented on #1089
Not so soon :)  Added the
Now getting these:

Error   17  error LNK2019: unresolved external symbol _GetAdaptersAddresses@20 referenced in function _uv_interface_addresses   E:\Documents\visual studio 2012\Projects\XXXX\XXXX\libuv.lib(util.obj)

Error   18  error LNK2019: unresolved external symbol _GetProcessMemoryInfo@12 referenced in function _uv_resident_set_memory   E:\Documents\visual studio

[2014-01-26 13:02] indutny commented on #1089
Hm... interesting question, how are you compiling it? :) Using `vcbuild.bat` ?

I would strongly suggest you to use it, but if you can't or do not want to, here is the list of all libraries:

[code]

[2014-01-26 13:04] sasmaster commented on #1089
Yeah,compiled with vcbuild.bat. Now added

#pragma comment(lib, "IPHLPAPI.lib")  #pragma comment(lib, "Psapi.lib")

And it compiles.

On Sun, Jan 26, 2014 at 3:03 PM, Fedor Indutny notifications@github.comwrote:

##

Michael Ivanov
Independent Pixel Commander
onlygraphix.com
Tel:+972 54 4962254

[2014-01-26 13:31] indutny commented on #1089
That's very odd, but since I am not a windows guy - I don't care :) /cc @piscisaureus

[2014-01-26 14:04] sasmaster commented on #1089
Yeah,that's what Linux guys usually say (or maybe OSX? :P

On Sun, Jan 26, 2014 at 3:31 PM, Fedor Indutny notifications@github.comwrote:

##

Michael Ivanov
Independent Pixel Commander
onlygraphix.com
Tel:+972 54 4962254

[2014-01-26 14:14] sasmaster commented on #1089
Btw,is there libuv independent implementation of uv_hrtime() ?

On Sun, Jan 26, 2014 at 4:04 PM, Michael IV explomaster@gmail.com wrote:

##

Michael Ivanov
Independent Pixel Commander
onlygraphix.com
Tel:+972 54 4962254

[2014-01-27 08:30] electricface opened #1090 "`getaddrinfo_fail` failed: exit code 6 Output from process `getaddrinfo_fail`:"
#

`getaddrinfo_fail` failed: exit code 6
Output from process `getaddrinfo_fail`:
# Assertion failed in test/test-getaddrinfo.c on line 43: status < 0
# FAIL: test/run-tests

1 of 1 test failed
# Please report to https://github.com/joyent/libuv/issues

make[2]: **\* [check-TESTS] 错误 1
make[2]:正在离开目录 `/home/time/libuv-0.11.18'
make[1]: *** [check-am] 错误 2
make[1]:正在离开目录`/home/time/libuv-0.11.18'
ma

[2014-01-27 08:34] indutny commented on #1090
Does `dig xyzzy.xyzzy.xyzzy` success on your machine? Thanks for opening an issue anyway. I'm starting to think about removing this test /cc @saghul

[2014-01-27 08:34] #1090 closed, assigned to nobody

[2014-01-28 13:42] #1080 closed, assigned to nobody

[2014-01-28 17:35] bnoordhuis commented on #1080
For posterity: this issue was fixed in commit 993151bc, authored by @lucab and committed by that illusive maintainer called 'root'...

[2014-01-28 17:38] indutny commented on #1080
Hahahaha :)

[2014-01-28 18:31] lucab commented on #1080
Sorry, I closed it as I saw the linked PR merged and this issue still open...

[2014-01-28 22:40] grittygrease commented on #926
I'm having the same problems on Windows.  Also, the tests named tcp_multi_accept\* all fail in test/benchmark-multi-accept.c   Is there any progress on a fix?

[2014-01-29 04:50] jgrahamc commented on #926
I am working with @grittygrease above on this and we are seeing the following.

We have a TCP server written using libuv with threads that works perfectly on Linux and Mac OS X but fails on Windows. The TCP server binds to a port in the main program, spawns a number of threads and passes the bound socket to them using pipes. Our code is similar in operation to test/benchmark-multi-accept.c.

In th

[2014-01-29 05:13] jgrahamc commented on #926
I have a suspicion that the duplication of the socket is failing when in the same process because `pipe->ipc_pid` is not set.

The code `win/tcp.c` does the following:

[code]

`ipc_pid` only gets set in `uv_pipe_open` or `uv_spawn`. Neither will happen if sending a `uv_tcp_t` via a pipe within the same process (but to a different thread). Thus `handle->ipc_pid` will be 0 and an error will occur.

[2014-01-29 05:24] stakach commented on #926
I did some basic multiprocess socket passing on windows, to see if it would make a difference, and had no luck there either. The same code worked on OSX - however haven't had the time to dig into the internals of libuv

[2014-01-29 17:35] indutny commented on #926
Will work on it

[2014-01-29 17:35] indutny commented on #926
Basically, the idea is to send pids in both ways at the pipe initialization and to use them as `ipc_pid` value

[2014-01-29 17:35] indutny commented on #926
That was note for myself ^

[2014-01-29 18:05] jgrahamc commented on #926
Thanks. The other question I had about the source code is that when the `uv_write2` happens the socket handle is duplicated (done in `uv_pipe_write_impl` via a call to `uv_tcp_duplicate_socket`). `uv_duplicate_socket` will do a `listen()` on the 'parent' socket.

Then `uv_pipe_accept` (in the subprocess/other thread) will call `uv_tcp_import` which does `tcp->flags |= UV_HANDLE_SHARED_TCP_SOCKET;`

[2014-01-31 13:34] daxim opened #1093 "rpmlint warning: missing-call-to-setgroups-before-setuid"
When packaging libuv-0.11.19 on openSUSE 13.1, rpmlint reports the warning:

[code]

Is this warning legimitate or bogus? If the former, that should be fixed in the libuv source code. If the latter, I can suppress the warning in the specfile.

[2014-01-31 20:39] indutny commented on #926
After considering this, I found that sending pid over the IPC pipe is quite racey as users may start sending handles on that pipe before the PID message will arrive. I'll need to think about it for a bit...

[2014-02-01 01:04] ngryman opened #1096 "gyp: define a default value for `library`"
Hey,

It would be nice to define a default value for the `library` variable:

[code]

This would avoid to have to type `gyp --depth=. uv.gyp -Dlibrary=static_library` for example.

The reason I'm asking this, is because I'm currently developing a project using `libuv` as a `gyp` dependency.
So my `gyp` file is something like this:

[code]

Unfortunately, I don't know if there is a method to tell `

[2014-02-01 08:54] indutny commented on #1096
Generally I do it in the following way:
- Create `common.gypi`: https://github.com/indutny/bud/blob/master/common.gypi (which contains `library` definition).
- Create `project.gypi`:https://github.com/indutny/bud/blob/master/bud.gyp
- Add `-I common.gypi` to your build line: https://github.com/indutny/bud/blob/master/gyp_bud#L71

I'm not exactly aware of the reasons for this, but if you wish to di

[2014-02-01 08:54] #1096 closed, assigned to nobody

[2014-02-01 17:48] Sannis commented on #1093
@daxim are you plan to deploy that rpm to devel:languages:nodejs or some other channel on openSUSE build services?

[2014-02-02 16:27] daxim commented on #1093
libuv is one of the indirect dependencies of rakudo; I plan to submit it to devel:languages:parrot.

[2014-02-05 09:26] pmor13 opened #1098 "unresolved external symbol _run_test_spawn_fs_open"
Hi libuv team!
I am trying to use libuv for the first time and trying to build it with VS using vcbuild.bat.
During compilation process I have next warnings:

[code]

But after compilation is done I have the following error:

[code]

How we can solve it?

[2014-02-05 09:36] indutny commented on #1098
My mistake, fixed in 280469f . Thank you for reporting it!

[2014-02-05 09:36] #1098 closed, assigned to nobody

[2014-02-05 19:25] goffrie opened #1099 "closing a shared socket can lead to 100% CPU usage"
Another manifestation of #826. When a socket is closed in one process, if it is open in another process, it may stay registered in epoll and thus continously generate junk events that can't be silenced. Reproducible by the following node.js program:

[code]

This patch corrects this behaviour, although as I understand it, it is not acceptable as-is because of the performance of the extra system ca

[2014-02-05 19:37] jwalton commented on #1099
+1

[2014-02-05 21:49] indutny commented on #1099
Are you sure that the supplied javascript code sample is reproducing the problem? Seems to be working just fine for me.

Also, I don't understand how this patch is fixing a problem, could you please explain what it does in a little bit more detail?

[2014-02-05 21:59] goffrie commented on #1099
Sorry, I should have specified that this only happens on Linux (not sure what system you're on). The testcase works for me (causes 100% cpu usage) on node 0.10.25, on every machine I tried.  The problem occurs because the fd stays regstered with epoll despite being closed; the patch deregisters it from the epoll instance entirely.

[2014-02-05 22:30] trevnorris commented on #1099
I don't believe this is any longer the case [1][2]. Or is it only that fd's won't be shared from master to child?

  [1] https://github.com/joyent/libuv/commit/6abe1e4b953bda1e9bd5dab33826bfead591551d
  [2] https://github.com/joyent/node/issues/6905

[2014-02-05 22:33] indutny commented on #1099
@trevnorris this is what actually happening, because `.bind()` is called internally in `.send()`. I am able to reproduce the issue, btw.

And I think that this is a kernel bug, will try on a newer linux just to verify it.

[2014-02-05 22:34] indutny commented on #1099
Linux 7527bd77-ab3e-474b-ace7-eed6053931e7 3.1.10joyent-ubuntu-10-opt #1 SMP Fri Jan 20 09:55:31 PST 2012 x86_64 GNU/Linux

[2014-02-05 22:55] bnoordhuis commented on #1099
It's not a bug but it's definitely a quirk.

epoll polls on file descriptions, not file descriptors.  If the file description is alive because of a file descriptor in another process, then any activity on the file description wakes up epoll_wait() in your process.

The fun thing is, epoll_ctl(EPOLL_CTL_DEL) won't work if _your_ file descriptor is already closed.

You can mitigate it somewhat by sw

[2014-02-05 23:00] goffrie commented on #1099
It happens for me on node `master`, kernel `Linux asplode 3.12.5-1-ARCH #1 SMP PREEMPT Thu Dec 12 12:57:31 CET 2013 x86_64 GNU/Linux`.

[2014-02-05 23:01] indutny commented on #1099
So this is an expected behavior?! The epoll is totally screwed then :) Especially considering that I could open a socket/file with the same fd as of the closed one and receive events for stale closed fd.

Anyway, I think that the only thing we could do is to call `EPOLL_CTL_DEL` in invalidate. However removing the existing code does seem to be wrong, because it is there for a completely different

[2014-02-05 23:04] bnoordhuis commented on #1099
That will catch most of it.  There are some edge cases like dup'ed stdio file descriptors that probably need to be addressed separately.  I remember looking into that some months ago but the details are a little fuzzy by now.

[2014-02-05 23:10] indutny commented on #1099
Hm... what's up with `stdio`? Could you please provide additional info? ;)

[2014-02-05 23:40] goffrie commented on #1099
I created #1100.

[2014-02-06 10:50] indutny commented on #1099
@bnoordhuis yeah, confirming https://gist.github.com/indutny/8842007 . Seems like it is an intended behavior.

[2014-02-06 10:50] indutny commented on #1099
And a quote from man page:

[code]

[2014-02-07 13:08] benfleis opened #1101 "Assertion failed: (w->events == UV__POLLIN), function uv__io_poll, file ../deps/uv/src/unix/kqueue.c, line 190."
using v0.10.25, build from github on mac os 10.9 mavericks box / clang 5.0

was running coffee 1.7.1 in continuous compile mode (have been the last couple days), suddenly died with this error:

[code]

Unfortunately, loading the core w/ lldb gives errors, but I am attaching the backtrace nonetheless.  Also included is the config.gypi from local build.  Looking into sharing the core.

---

[code]

[2014-02-08 16:21] bnoordhuis commented on #1093
I came here to report this as a bug.  Yes, this is a potential security issue that needs to be addressed.

(EDIT: Another thing that libuv should do on Linux is drop some or all capabilities.)

/cc @indutny

[2014-02-09 05:03] neoxic opened #1102 "unix/tcp.c: uv__tcp_nodelay() returns error code incorrectly"
`uv__tcp_nodelay()` returns `setsockopt()`'s status rather than an error code

https://github.com/joyent/libuv/blob/master/src/unix/tcp.c#L235

which is a problem here:

https://github.com/joyent/libuv/blob/master/src/unix/tcp.c#L265

It should be probably somewhat closer to `uv__tcp_keepalive()`'s semantics instead.

[2014-02-09 10:32] saghul commented on #1102
Hi! I think you're right! Does this LGTY? https://gist.github.com/saghul/8897297 /cc @indutny

[2014-02-09 10:38] indutny commented on #1102
LGTM

[2014-02-09 10:40] saghul commented on #1102
Ok, I'll check to which branches the fix applies and commit it a bit later.

[2014-02-10 08:02] #1102 closed, assigned to nobody

[2014-02-10 14:33] jgrahamc commented on #926
Is there any news on this?

[2014-02-10 17:12] indutny commented on #926
Not really, I don't think that this is going to work on windows (i.e. sending handles inside the same process), I'll consider working on another problem somewhere later, but I'm not really a windows guy here :) cc @piscisaureus

[2014-02-10 17:12] indutny commented on #926
Though, I'll review and land a PR if you'll send one ;)

[2014-02-10 21:41] saghul opened #1106 "uv_spawn: expose ability to drop capabilities on Linux"
Continuation of https://github.com/joyent/libuv/issues/1093

Similar issue in Rust: https://github.com/mozilla/rust/issues/12137

Also:

[2014-02-10 21:45] saghul commented on #1093
Landed a fix for this warning in https://github.com/joyent/libuv/commit/66ab38918c911bcff025562cf06237d7fedaba0c. We should also drop some (or all) capabilities on Linux, I created https://github.com/joyent/libuv/issues/1106 for that.

[2014-02-10 21:45] #1093 closed, assigned to saghul

[2014-02-11 13:54] saghul commented on #1072
@stakach can you try https://github.com/joyent/libuv/pull/1108 ?

[2014-02-11 20:06] ghost opened #1109 "uv_close_cb marked as public in UV_HANDLE_FIELDS"
Hope I am following procedures, this relates to my query:
https://groups.google.com/d/msg/libuv/ful2GaPyUsM/rnYPKGpXKKsJ
to which Fedor Indutny replied:

uv.h has:
# define UV_HANDLE_FIELDS \

/\* public _/\
uv_close_cb close_cb; \
void_ data;

I am new to using libuv and had incorrectly assumed one could set a uv_close_cb by setting this property, instead of passing the function pointer to uv_clo

[2014-02-11 22:59] saghul commented on #1109
I moved the field to the "private" area here: https://github.com/saghul/libuv/commit/c8e4db6e00186c7feb100027f518efb070431d80. @indutny: fields where not laid out in any particular order, right? LGTY?

[2014-02-12 04:27] stakach commented on #1072
I'm getting this with a fresh install of VS2013 Express on a clean windows box

[code]

[2014-02-12 07:10] saghul commented on #1072
I was under the impression that you cannot create an x64 build with VS Express, can you?

[2014-02-12 08:09] indutny commented on #1109
@saghul I don't think so, LGTM

[2014-02-12 08:34] saghul commented on #1109
Thanks, Fedor, landed in https://github.com/joyent/libuv/commit/c8e4db6e00186c7feb100027f518efb070431d80

[2014-02-12 08:34] #1109 closed, assigned to nobody

[2014-02-12 08:53] saghul commented on #1090
I do get spurious failures every now and then, but so far it's not too anoying, lets keep the test around :-)

[2014-02-12 08:53] schlamar commented on #1072
Looks like gyp didn't built the project for VS 2013. Maybe there is an issue with #1043. @rioki any idea?

Interestingly, there is a 64bit compiler on VS Express 2010. Only the batch file setting the correct evironment variables is missing (`C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\bin\amd64\vcvars64.bat`). This means vcbuild.bat will fail but compiling directly in the IDE works.

An

[2014-02-12 09:07] saghul commented on #1072
AFAIK it works just fine for x86 :-O

@stakach any chance you can test with with VS Express 2013? If the 2010 version is lacking that file, well, too bad, there is not much we can do, is there?

[2014-02-12 13:19] stakach commented on #1072
@schlamar I've definitely been using VS 2013 since #1043 without issue. I hadn't tested x64 as my windows development machine had 32bit binaries and all other tests were run on OSX / Travis.

Only when I had to do a Windows deploy and installed x64 binaries did I run into issue. I'll play around some more tomorrow on the staging environment I setup today.

[2014-02-12 13:20] stakach commented on #1072
@saghul that was VS 2013 output.

[2014-02-12 13:44] retep998 commented on #1072
For the record, I am building libuv with my own custom project files using VS 2013 for x64 and it works just fine.

[2014-02-12 13:50] stakach commented on #1072
@retep998 no doubt! Just the auto-build that is broken - unless that works for you?

[2014-02-12 13:51] retep998 commented on #1072
I haven't tried libuv's build system.

[2014-02-12 14:07] schlamar commented on #1072
@stakach What do you get when you open the generated uv.sln with VS2013. Does it open without error? Can you compile?

[2014-02-12 15:43] jgrahamc commented on #926
How far did you get? I'm interested in picking this up and seeing if we can patch it ourselves.

[2014-02-13 12:48] skaller commented on #1035
Sorry it so long to realise there was a message here to answer (I had GitHub pointing at my gmail account which I never use)

~/felix>autoconf --version
autoconf (GNU Autoconf) 2.69

[2014-02-13 13:15] saghul commented on #1035
Does it create any problem for you? Since autoconf seems to add it, I don't see what we can do here...

[2014-02-14 02:36] stakach commented on #1072
It appears it is building the project for VS2010
The project opens without issue however requires an upgrade before it will compile
![image](https://f.cloud.github.com/assets/368013/2167665/1d97520e-9520-11e3-9f4f-71349097632f.png)

If I request to upgrade the project to VS2013 then everything compiles. Build successful with a few more warnings than the x86 version.
![image](https://f.cloud.github

[2014-02-14 07:02] schlamar commented on #1072
I guess the VS 2013 detection does somehow not properly work on your new environment or does the x86 compilation work on this setup? Output of `SET` might be helpful to debug this.

[2014-02-14 08:17] saghul commented on #1072
Can you try to source the prober vcvarsall file and then start the build process? With a change I merged recently it shouldn't override it so it should use what's already defined.

[2014-02-14 08:17] saghul commented on #1072
Also, unfortunately, I don't have a 64bit Windows to test this myself, sorry.

[2014-02-14 11:41] skaller opened #1110 "Test failure OSX 10.6.8, recent build"
make  check-TESTS

Output from process `platform_output`:
uv_get_process_title: /Users/johnskaller/libuv/test/.libs/run-tests
uv_resident_set_memory: 417792
uv_uptime: 98840.000000
uv_cpu_info:
  model: Intel(R) Core(TM)2 Duo CPU     T7700  @ 2.40GHz
  speed: 2400
  times.sys: 2822170
  times.user: 13116980
  times.idle: 82900480
  times.irq: 0
  times.nice: 0
  model: Intel(R) Core(TM)2 Duo CPU

[2014-02-14 12:01] indutny commented on #1110
Thank you, I am aware of this.

[2014-02-14 12:01] #1110 closed, assigned to nobody

[2014-02-14 12:27] sukinull opened #1111 "export UV_VERSION macro"
If API changes so dramatically version by version, is it possible to move
- UV_VERSION_MAJOR
- UV_VERSION_MINOR
- UV_VERSION_PATCH
- UV_VERSION_IS_RELEASE
- UV_VERSION

to uv.h?

[2014-02-14 13:09] saghul commented on #1111
Nope, you should be using these: https://github.com/joyent/libuv/blob/master/include/uv.h#L231-L242

[2014-02-14 13:11] retep998 commented on #1111
Knowing the version at runtime doesn't help with compiling the program in the first place, where a macro would be much more helpful to conditionally compile the correct calls.

[2014-02-14 13:13] indutny commented on #1111
@saghul indeed, we need to consider exporting them. Do you have any objections?

[2014-02-14 13:21] saghul commented on #1111
Hum, I hadn't considered that. I would definitely not export UV_VERSION_IS_RELEASE.

[2014-02-14 13:41] bnoordhuis opened #1112 "EFBIG mapping"
ftruncate(), pwrite() and maybe others can return EFBIG but there is no libuv mapping for that.

[2014-02-14 15:33] saghul commented on #1112
Forgive me if I'm too naive, is this all that's needed, Ben? https://github.com/saghul/libuv/commit/728998de5f6e6208b11941f76f5c007d84aaafb9

[2014-02-14 16:01] bnoordhuis commented on #1112
You also need to add it to the list in uv.h but that's pretty much it, yes.

[2014-02-14 16:04] saghul commented on #1112
Force pushed: https://github.com/saghul/libuv/commit/107be2bed38afa6279aa53b13b946eb60c204969

[2014-02-14 16:11] bnoordhuis commented on #1112
That should do it.  Cheers, Saúl.

[2014-02-14 16:15] saghul commented on #1112
Landed in https://github.com/joyent/libuv/commit/107be2bed38afa6279aa53b13b946eb60c204969, thanks for the review Ben!

[2014-02-14 16:15] #1112 closed, assigned to nobody

[2014-02-14 18:47] indutny commented on #1111
@saghul actually, it seems that this was intentionally removed from v0.11, because all patch versions have ABI compatibility.

[2014-02-14 18:47] indutny commented on #1032
Assigning it to me, will look into it sometime later as it is not urgent.

[2014-02-14 18:53] tjfontaine commented on #1111
Patch versions may have ABI compatibility, but minor have significant API/ABI differences, and thus it's difficult to know against whom you're building, so you can't write code that targets two stables easily.

In Node it's not a problem because we do keep the same minor, but we also export useful macros.

A well behaved C library should definitely include version macros.

[2014-02-14 19:01] indutny commented on #1111
@saghul mind if I'll ask you help me with this? ;)

[2014-02-14 19:12] saghul commented on #1111
No problem, I'll make a patch.
On Feb 14, 2014 8:01 PM, "Fedor Indutny" notifications@github.com wrote:

[2014-02-15 08:31] anujmaurice opened #1116 "getaddrinfo_fail failed while doing a make check"
I was using  **libuv-0.11.19**

[code]