[2012-04-27 01:53] piscisaureus commented on #390
@bnoordhuis We have to add a mapping for ERROR_BAD_PATHNAME. Mapping it to ENOENT in the stat case is probably fine. However I don't know what to report when open() is attempted with an invalid filename. Apparently POSIX does not specify an error for this case (which makes sense because invalid path names do not exist on unix).

[2012-04-27 02:02] bnoordhuis commented on #390
Maybe translate `ERROR_BAD_PATHNAME` to `ERROR_FILE_NOT_FOUND` or `ERROR_PATH_NOT_FOUND`? Like you say, there is no concept of an invalid path on Unices so uv-win is allowed to cheat here.

[2012-04-27 02:03] piscisaureus commented on #390
@bnoordhuis Well I could just translate it to UV_ENOENT.

But the alternative would be to add UV_EBADNAME or UV_ELNAME or something.

[2012-04-27 10:29] bnoordhuis commented on #390
Right, that's more or less what I mean. UV_EBADNAME would be meaningless on other platforms, let's not add that.

[2012-04-27 18:57] olsonjeffery opened #391 "some kind of API, post refcount-refactor, to know if an exit from the loop is imminent"
so, having a discussion w/ @piscisaureus , @bnoordhuis et al on #libuv, and I spelled out a use case we have in Rust:
- We run our libuv loop in a special task/thread that sits apart from the rest of the tasks that affect the process lifetime.
- Without getting too deep into things, we are able to know when all of the "normal" (the main task and tasks/schedulers that it spawns) have ended, and rec

[2012-04-27 20:08] piscisaureus commented on #390
Fixed in aea5db5da1483d1ab0a1d3e4f622df312202d027.

[2012-04-27 20:08] #390 closed, assigned to nobody

[2012-04-28 02:28] Keno commented on #382
Ok, I had the same issue and this is how I tried to fix it (the second one). Can somebody have a look at it? If it looks good, I'll open a pull request.

[2012-04-28 06:23] ylfroy opened #393 "iocp handle not released in uv_loop_delete()"
an iocp handle is created in uv_loop_new() -> uv_loop_init(), but not closed in uv_loop_delete(), that causes hande lead on windows platform.

[2012-04-28 10:32] japj opened #394 "uv_strerror should tell err.code in case of unknown error"
There is some generic error to string mapping at:

https://github.com/joyent/libuv/blob/master/src/uv-common.c#L117

However this code does NOT tell the err.code number in case of an unknown code, making it impossible to analyse issues.
(and yes, I'm going to digg deeper why exactly I ran into this)

[2012-04-28 10:37] japj opened #395 "ERROR_PROC_NOT_FOUND missing in uv error mapping (windows)"
GetProcAddress (used by uv_dlsym) on windows can return ERROR_PROC_NOT_FOUND in case the function is not found.

ERROR_PROC_NOT_FOUND is missing in the errorcode mapping resulting in an "unknown error" in case this occurs.

[2012-04-28 14:49] bnoordhuis commented on #395
@piscisaureus: uv-unix returns UV_EINVAL when the symbol cannot be resolved. You'd be throwing some potentially useful information away (the actual error code) but I suppose uv-win could do the same.

[2012-04-28 15:05] bnoordhuis commented on #394
That requires an API change: either the caller somehow frees the memory or the contract for `uv_strerror()` gets changed to _"the return value is only valid until the next call to uv_strerror()"_ so we can store the string in a loop-local buffer (with the caveat that functions like `uv_dlopen()` are not attached to a loop).

The second option seems like it's most convenient for libuv users. Both c

[2012-04-28 22:32] piscisaureus commented on #393
Yeah. There's probably more stuff that we don't clean up at the moment.

[2012-04-28 22:33] piscisaureus commented on #394
@japj err.code does not contain any interesting information. We probably want to print the value of err._sys_errno somehow.

[2012-04-28 22:34] piscisaureus commented on #394
@bnoordhuis Why not make it a thread local?

[2012-04-28 23:33] piscisaureus commented on #382
Looks like you're almost there. This works but if it doesn't the error is not correctly reported.

You probably want to do something like:

[code]

[2012-04-28 23:46] bnoordhuis commented on #394
@piscisaureus: That would cause spurious memory leaks when tracing with valgrind. I suppose it's not entirely out of the question.

[2012-04-29 00:04] Keno commented on #382
Fixed and opened a pull request

[2012-04-29 00:33] #382 closed, assigned to nobody

[2012-04-29 01:28] piscisaureus commented on #395
@bnoordhuis
- Returning UV_EINVAL != UV_EUNKNOWN. Apparently GetProcAddress() returns something that maps to UV_EINVAL.
- You're supposed to call uv_dlerror for more info, right?

[2012-04-29 06:33] japj commented on #395
node.cc apparently "expects" UV_ENOENT as a failure code at https://github.com/joyent/node/blob/master/src/node.cc#L1764

[2012-04-29 14:48] piscisaureus commented on #395
@bnoordhuis Yeah what about we change unix to return UV_ENOENT?

[2012-04-29 15:15] japj commented on #395
hmm.. there is a mapping at https://github.com/joyent/libuv/blob/master/include/uv.h#L108 that says:

XX( 34, ENOENT, "no such file or directory")

Which then also should read, "no such file, directory or function" ;)

[2012-04-29 22:14] bnoordhuis commented on #395
Sure, that works. As discussed on IRC, I've reworked the API. Here is the work so far: https://github.com/bnoordhuis/libuv/compare/dlopen

[2012-05-01 14:11] indutny commented on #356
Proposed patch for unix version:

[code]

[2012-05-01 15:42] indutny commented on #356
Should this be closed now?

[2012-05-01 17:26] bnoordhuis commented on #356
This is fixed in 0efa3cf, right?

[2012-05-01 17:26] #356 closed, assigned to bnoordhuis

[2012-05-01 17:27] indutny commented on #356
indeed, yes

[2012-05-01 19:22] kmsquire opened #400 "Building on Centos 5 fails (O_CLOEXEC not defined) (* with PATCH *)"
Hi,

Building on Centos 5 fails because O_CLOEXEC is not defined (it was introduced in linux kernel 2.6.23, but Centos 5 is still on 2.6.18 -- at least the version I have available).

Here's a possible (simple) patch, although O_CLOEXEC functionality will (obviously) be missing.

[code]

Kevin

[2012-05-02 00:26] bnoordhuis commented on #400
Thanks for pointing that out. Does this patch resolve the issue?

[code]

[2012-05-02 00:44] luislavena commented on #369
@bnoordhuis @igorzi isn't this fixed already on master due the usage of `int64_t` for offset functions?

[2012-05-02 00:54] bnoordhuis commented on #369
It is, thanks for pointing that out. Closing.

[2012-05-02 00:54] #369 closed, assigned to igorzi

[2012-05-02 00:56] luislavena commented on #383
@bnoordhuis I think this is safe to be closed as #384 has already been merged :wink:

[2012-05-02 00:58] luislavena commented on #381
Hello @bnoordhuis and @piscisaureus I think this can be closed as the issue mentioned in #382 has been addressed.

[2012-05-02 01:50] bnoordhuis commented on #383
Right, thanks. Closing.

[2012-05-02 01:50] #383 closed, assigned to nobody

[2012-05-02 01:51] bnoordhuis commented on #381
The issue with _chsize_s has been fixed but I'm still seeing the same link-time errors with mingw32 on ubuntu 10.04. It's not a terribly high-priority issue but I would like to get it fixed eventually, if only so I don't have to come out of my comfort zone (the UNIX shell).

[2012-05-02 02:10] luislavena commented on #381
Hmm, will double check tomorrow.
Can tell me which version of gcc it reports is using?

Sorry for top posting. Sent from mobile.
On May 1, 2012 10:51 PM, "Ben Noordhuis" <
reply@reply.github.com>
wrote:

[2012-05-02 02:18] bnoordhuis commented on #381
It's gcc 4.4.2.

[code]

[2012-05-02 03:58] kmsquire commented on #400
Yes, that patch resolves it. Thanks!

Kevin

[2012-05-02 03:59] kmsquire commented on #400
I suppose I shouldn't close the issue until you apply the patch... :-)

Kevin

[2012-05-02 15:43] #400 closed, assigned to nobody

[2012-05-02 15:43] bnoordhuis commented on #400
Thanks for testing, Kevin. The fix is committed in 1ebe14e.

[2012-05-03 03:13] luislavena commented on #381
Hmm, getting a different result:

[code]

[code]

Maybe because I'm using a 64bits host? but the error seems to be different.

Anyhow, after removing the `NTSTATUS` definition from `winapi.h` got this when tried to compile the tests:

[code]

`FreeAddrInfoW` is supposed to be in ws2_32:
http://msdn.microsoft.com/en-us/library/windows/desktop/ms737912(v=vs.85).aspx

But in the export library is mis

[2012-05-03 14:19] piscisaureus commented on #388
This was fixed with another patch in 99a995a6b8d9ae0ab17938ae63714996ddccbb30.

[2012-05-03 14:19] #388 closed, assigned to nobody

[2012-05-03 16:34] txdv commented on #289
At least provide some information how to build with gyp :(

[2012-05-03 16:48] bnoordhuis commented on #289
@txdv Look at how gyp_uv or vcbuild.bat calls gyp. `make -C out BUILDTYPE=Debug` (or Release) is how you build with the Makefile target.

[2012-05-03 17:51] #395 closed, assigned to nobody

[2012-05-03 20:51] piscisaureus opened #402 "Crashes and test failures on XP"
See http://paste.ubuntu.com/965027/

[2012-05-03 20:52] piscisaureus commented on #402
CC @txdv

[2012-05-04 17:28] txdv commented on #402
I didn't execute it from the root directory, still it has 17 errors.

http://paste.ubuntu.com/967378/

[2012-05-04 23:48] bnoordhuis commented on #381
I agree. They're not in any of the libs in /usr/i586-mingw32msvc/lib. I'll close the issue, thanks for trying.

[2012-05-04 23:48] #381 closed, assigned to piscisaureus

[2012-05-05 02:19] luislavena commented on #381
@bnoordhuis mingw-w64 project provides builds for both 32 and 64bits cross-compilers.

I'll collect the latest release, build some instructions and send it over, so perhaps others can use it to cross-compile.

[2012-05-06 19:18] piscisaureus opened #406 "SetFileAttributes (attrib) binding"
I am considering adding a binding for [http://msdn.microsoft.com/en-us/library/windows/desktop/aa365535%28v=vs.85%29.aspx].

That would allow users to specify file attributes, such as, making .node_history actually invisible.

On unix the it could just ignore the attributes that are not supported. (I think setting the "readonly" bit could chmod the file, taking away all the write bits).

(On a sid

[2012-05-07 10:46] mattn opened #409 "Assertion failed: handle->write_queue_size >= req->queued_bytes, file src/win/tcp.c, line 1021"
This is not an issue. I have a question. Please teach me how to fix this error.

Currently, I'm writing https://github.com/mattn/mruby-uv that this is worked on https://github.com/mruby/mruby .
And example/server.rb is working fine with single request  like following

[code]

But , when send multiple request, program is stoped forcely with following assertion.

[code]

[code]

Please teach me how

[2012-05-07 11:18] mattn commented on #409
Ah, sorry I forgot to link another staff.

https://github.com/mruby/mruby
https://github.com/mattn/mruby-uv
https://github.com/mattn/mruby-http

mruby-http have example/server.rb

[2012-05-07 19:12] piscisaureus commented on #409
I don't think that can ever happen if you use libuv properly.
- You should allocate a new uv_write_t for every write to a handle. Do no reuse, free, move, or clobber it's memory until the write callback is made.
- Ditto for the uv_tcp_t handle; do not reuse, free, move, or clobber it's memory until the close callback is made.

[2012-05-07 19:17] bnoordhuis commented on #406
FILE_ATTRIBUTE_READONLY is the only one that's applicable to Unices (except that it won't fail on directories unless checks are put in place - tricky to do atomically). How important is this to you?

[2012-05-07 20:53] ibc opened #410 "How good is to free a handle without using uv_close()?"
Hi, I wonder if the following code could leak memory, file descriptors or whatever:

<pre>
uv_udp_t *my_uv_handle = (uv_udp_t *)malloc(sizeof((uv_udp_t ));

// This bind address will fail since my host does not have the 1.2.3.4 IP.
struct sockaddr_in bind_addr = uv_ip4_addr("1.2.3.4", 1234);

uv_udp_init(uv_default_loop(), my_uv_handle);

// So this returns -1:
if (uv_udp_bind(my_uv_handle, bind_a

[2012-05-07 21:05] bnoordhuis commented on #410
It's not safe and it might leak. Always call `uv_close()` on handles you're done with.

Be sure to call `uv_run()` at least once, it gives the close callbacks a chance to run. It won't block if there are no active handles or requests.

Alternatively, you can just call `exit()`, of course. :-)

[2012-05-07 21:05] #410 closed, assigned to nobody

[2012-05-07 21:29] ibc commented on #410
Thanks for the explanation. However that's the problem, I don't know if the user has created a periodic timer, so if I run uv_run just to ensure that all the close callbacks are executed, I could be blocked there.

Well, hope a new method uv_stop_loop() will be available soon ;)

[2012-05-07 21:36] bnoordhuis commented on #410
We'll probably add a `uv_run_nowait()` sometime soon.

[2012-05-07 21:37] ibc commented on #410
That would be very interesting indeed.

[2012-05-07 23:50] ibc opened #411 "uv_send_udp() does not fail if datagram size is too large"
Linux. Sending a very long data with uv_send_udp() does not fail, neither the callback funtion is called with status -1.

I've made network traces and, of course, the data leaves the machine truncated to a minor size, but UV reports no error at all.

Is this the expected behavior?

[2012-05-08 01:18] mattn commented on #409
Thanks.

[2012-05-08 01:18] #409 closed, assigned to nobody

[2012-05-08 07:07] saghul commented on #411
Hi @ibc,

I just tested that and I do see an error. When I call uv_udp_send with a string containing 65536 "X"s I get status -1 in the send callback and the last_error is set to UV_EMSGSIZE. I tried bigger values with same result (both on OSX and Linux).

There is already a test for this in libuv itself: https://github.com/joyent/libuv/blob/master/test/test-udp-dgram-too-big.c, does it fail for yo

[2012-05-08 10:58] ibc commented on #411
I've done further testing:
- If a set a buffer longer than 65536 bytes (the max size of an UDP datagram) then indeed the send callback is called with status 21 (EMSGSIZE).
- But if I set a buffer of, i.e, 50000 bytes and send it to internet, then I clearly see doing a ngrep capture that just the first 1472 bytes are sent, the rest are discarded. And the send callback is called with status 0 (OK).

[2012-05-09 13:12] ibc opened #412 "uv_bind_udp() can be called several times with same bind ip:port !"
(Linux)

I've tested that I can call uv_bind_udp() more than once by passing different uv_udp_t handles but the very same bind IP:port.

I expected EADDRINUSE error but it just works, and I can send datagrams from both handles (a network trace shows me that, indeed, datagrams come from the same source IP:port, those given as bind_addr parameter to uv_bind_udp() function).

So, is this the expected

[2012-05-09 13:50] bnoordhuis commented on #412
It's a feature, libuv sets the SO_REUSEADDR flag on both sockets. Both are able to send but only the second socket can receive datagrams.

[2012-05-09 13:50] #412 closed, assigned to nobody

[2012-05-09 14:36] bnoordhuis commented on #411
Unices almost never report EMSGSIZE errors unless:

a) you try to send a datagram > 64K, or
b) a downstream hop sends a ICMP fragmentation needed reply (which you won't see until the next socket operation)

You can verify it with `strace -e sendmsg` - it almost never reports errors.

[2012-05-09 14:36] #411 closed, assigned to nobody

[2012-05-09 14:38] ibc commented on #411
It's clear, thanks a lot.

[2012-05-09 14:38] bnoordhuis commented on #411
My pleasure. :-)

[2012-05-11 20:16] ibc opened #414 "uv_udp_recv_cb() invoked twice (second time with nread=0)"
Hi, I've realized that when a UDP datagram arrives uv_udp_recv_cb() is executed twice, and the second time with nread=0. From the doc:

<pre>
 *  nread   Number of bytes that have been received.
 *          0 if there is no more data to read. You may
 *          discard or repurpose the read buffer.
 *          -1 if a transmission error was detected.
</pre>

So, what's the purpose of UV calling t

[2012-05-15 01:04] piscisaureus opened #415 "Fix potential race condition in uv_process_close"
uv_process_endgame could be called twice (in theory) when the process handle is closed before the process exits.

[2012-05-15 12:51] bnoordhuis commented on #415
Isn't that a bug in the application? You're not supposed to close the process handle until the process exits.

[2012-05-15 22:19] bnoordhuis commented on #414
Yes, it's unnecessary. I'll remove it.

[2012-05-18 00:22] ibc opened #417 "uv_timer_set_repeat() is ignored if timer is stopped"
(Linux)

I've realized that calling uv_timer_set_repeat() for a timer which has previously stopped with uv_timer_stop()  has no effect at all. Is this the expected behavior?

IMHO this avoids a cool feature: changing the interval in the timer callback by using:

[code]

[2012-05-18 05:46] saghul commented on #417
What about doing this? (assume the timer is repeating already)

[code]

[2012-05-18 08:53] ibc commented on #417
Interesting, yeah, it allows changing the interval in the callback without having to wait the previous interval. However it's still a bit ugly. Imagine the high user (using a UV wrapper) wants to pause the timer, set a new interval later, and then run it again:

[code]

This will take no effect.

[2012-05-18 09:06] saghul commented on #417
If you 'pause' a timer and want to run it again later you need to call `uv_timer_start`, which takes the repeat argument, so you'd do:

[code]

Doesnt look ugly to me at all :-)

[2012-05-18 09:29] ibc commented on #417
Ok, finally playing with all the available API funtions I've built a easy high-level API. Thanks :)

[2012-05-18 09:29] #417 closed, assigned to nobody

[2012-05-20 14:07] ibc opened #418 "Does UV iterates when a signal is received?"
Hi, using UV (Linux) master branch, I've realized that when the process is blocked in uv_run (i.e. a single timer to expire in 200 seconds), if a system signal arrives (INT/QUIT/TERM/USR1...) uv_run iterates so callbacks prepare and check handles are executed.

I don't remember this behavior in previous versions. Is this the expected behavior?

[2012-05-20 14:23] #418 closed, assigned to nobody

[2012-05-20 19:16] ibc opened #419 "uv_async_send() could return error if UV is not running"
(Linux)

If I'm not wrong, uv_async_send() returns 0 even if UV is not running. In this case it becomes obviously useless since UV is not listening for uv_async notifications.

Maybe uv_async_send() should return error if the loop is not running?

[2012-05-20 20:29] bnoordhuis opened #420 "linux: having multiple watchers for the same path doesn't work"
When you register two watchers for the same path, only the last one receives fs events.

It's because of the change from d3efefb (_"share inotify fd across event loop"_). The second call to `inotify_add_watch()` doesn't actually add a watch, it modifies the first one.

[2012-05-20 21:38] bnoordhuis commented on #418
Yes. Though I might change that if it turns out to be troublesome.

[2012-05-20 22:26] ibc commented on #418
And, would it better if upon receipt of a signal UV calls a specific callback?:

[code]

[2012-05-20 22:41] bnoordhuis commented on #418
No, for two reasons:
1. Signals are platform-specific (they're a very UNIX-y thing), hence libuv will never expose them directly.
2. libuv doesn't actually catch signals (except SIGCHILD and only if you create child processes) so there's nothing to pass on. What happens is that the signal interrupts the `epoll_wait()` / `kevent()` / etc. syscall, that's why the prepare and check handlers run.

[2012-05-20 22:43] ibc commented on #418
Clear. Thanks a lot.

[2012-05-21 10:46] piscisaureus commented on #414
That said, when libuv calls the read/recv callback with nread==0 it wants to give you back a buffer it requested through the alloc callback. The buffer returned by the alloc callback is "owned" by libuv.

[2012-05-21 12:22] bnoordhuis commented on #414
That's true but it's an artifact of how we read datagrams on UNIX right now:
1. alloc buffer
2. try to read a datagram
3. call recv_cb with nread==0 if no datagram available

There's usually only a single datagram to read but uv-unix executes the steps above twice anyway to ensure that the queue is drained. That second round should be relatively easy to optimize away.

[2012-05-21 12:24] piscisaureus commented on #414
Yep, it should be fixed. I was just explaining why nread==0 happens, and how users should deal with it.

[2012-05-21 13:03] ibc commented on #414
Yes, I understand that recv_cb must be used regardless the datagram is empty (which is valid in UDP protocol). The issue I reported is not that but:
1. I receive an UDP (with size>0).
2. alloc_cb is called, I allocate a buffer.
3. recv_cb is called, I read nread byte and dissallocate the buffer (I'm done).
4. alloc_cb is called again !! (so I must allocate again a buffer).
5. recv_cb is called, I

[2012-05-21 22:58] ibc opened #423 "Is it safe to run uv_run(uv_default_loop()) from a different thread?"
Hi, sorry for asking a question here (any maillist or similar for UV related questions?).

If I call uv_run(uv_default_loop()) and it correctly terminates (no more active handles), is it safe to call uv_run(uv_default_loop()) from a different OS thread?

[2012-05-21 23:03] bnoordhuis commented on #423
We're in #libuv on freenode.org

Yes, that's safe.

[2012-05-21 23:03] #423 closed, assigned to nobody

[2012-05-22 01:03] piscisaureus commented on #423
I'd say you can consider it safe for the time moment. However I can think of extreme edge cases where this may not be true.

[2012-05-22 11:35] bnoordhuis commented on #423
Are you thinking of memory reordering and such? That can't be helped, it's up to the caller to insert a memory barrier. gcc has a built-in `__sync_synchronize()` intrinsic, MSVC undoubtedly has something similar.

[2012-05-22 11:58] piscisaureus commented on #423
No I am thinking about edge cases where we use CancelIo, which cancels all IO _initiated by a particular thread_ on windows. Also, we might use APCs in the future to speed up shared sockets, and APC callbacks are also thread-bound.

[2012-05-23 06:42] saghul opened #424 "[unix] uv_poll_start may call uv__io_set on an active handle"
According to the documentation, if one wants to change the events being monitored by a uv_poll_t handle he should call uv_poll_start again, with the new events (https://github.com/joyent/libuv/blob/master/include/uv.h#L999).

The libev documentation, however, says that ev_X_set should not be called if the handle is active (http://pod.tst.eu/http://cvs.schmorp.de/libev/ev.pod#GENERIC_WATCHER_FUNCTI

[2012-05-23 07:03] saghul opened #425 "Inconsistent behavior of uv_timer_start"
The behavior of uv_timer_start looks a bit inconsistent:
- On Unix if the timer is already active it returns -1 but doesn't set the errno, what about setting UV_EALREADY?
- On Windows (if my reading is correct) it doesn't seem to care about the timer already being active

IMHO the correct behavior would be giving an error if one tries to start an already active timer and setting a proper errno in

[2012-05-23 07:56] japj opened #426 "`pipe_bind_error_addrinuse` failed: exit code 6 on Travis CI"
Apparently, Travis CI is setup for libuv but the make test has not passed since a very long time?
(see http://travis-ci.org/#!/joyent/libuv/builds )

http://travis-ci.org/#!/joyent/libuv/builds/1406925/L133

131=============================================================
132[%   0|+  41|-   0]: pipe_bind_error_addrinuse
133`pipe_bind_error_addrinuse` failed: exit code 6
134Output from process `pi

[2012-05-23 08:21] Sannis commented on #426
This looks like Travis denied to create test pipe socket `/tmp/uv-test-sock`.

[2012-05-23 10:45] saghul commented on #424
After testing with latest master CPU doesn't spike to 100% but changes to event mask have no apparent effect unless the poll handle is stopped first.

[2012-05-23 10:55] #424 closed, assigned to nobody

[2012-05-23 10:55] bnoordhuis commented on #424
Fixed in 2e3e658.

[2012-05-23 11:04] bnoordhuis commented on #425
I kind of hate EALREADY but the UNIX convention of returning EINVAL for everything is even worse. :-)

@piscisaureus What do you think? I like what uv-win does (rearm the timer with the new settings, +1 ease of use) but it's inconsistent with the other uv_*_start() functions.

[2012-05-23 12:10] bnoordhuis commented on #426
Fixed in 3604b8d.

[2012-05-23 12:10] #426 closed, assigned to nobody

[2012-05-23 12:11] bnoordhuis commented on #426
It wasn't related to Travis, by the way - that test has been failing since forever.

[2012-05-23 13:57] japj commented on #426
nice, now atleast you will know when someone actually breaks the build again ;)

[2012-05-23 14:10] Sannis commented on #426
FYI, Travis also beta support pull requests tests.

[2012-05-23 16:04] ibc opened #427 "Remove "return 0" in uv_run_once()"
(Linux)

Current `uv_run_once()` looks like:

<pre>
int uv_run_once(uv_loop_t* loop) {
  uv__run(loop);
  return 0;
}
</pre>

The problem is that it always returns 0 so I cannot make my own loop. For example I would like to to this:

<pre>
while ( !do_stop && uv_run_once(loop) );
</pre>

So if my code sets `do_stop=1` the loop will exit (later I will clean it, no problem). For this to work, I just

[2012-05-23 18:35] bnoordhuis commented on #427
@piscisaureus Can you review c9b590f?

[2012-05-23 18:49] #427 closed, assigned to nobody

[2012-05-23 18:53] bnoordhuis commented on #427
Fixed in 7c8313b.

[2012-05-23 19:13] ibc commented on #427
Thanks a lot.

[2012-05-24 15:14] avalanche123 commented on #289
Addressed in #428

[2012-05-25 17:57] piscisaureus commented on #425
Maybe we should just allow it. If the timer was already active, stop it first.

[2012-05-26 00:24] #425 closed, assigned to nobody

[2012-05-26 00:24] bnoordhuis commented on #425
Okay, done in 028fef8.

[2012-05-26 00:26] saghul commented on #425
Great, thanks!

[2012-05-26 22:27] ibc opened #430 "Use sockaddr_storage instead of sockaddr (for IPv6)"
`int uv_udp_getsockname(uv_udp_t* handle, struct sockaddr* name, int* namelen);`

`struct sockaddr` cannot store a IPv6 unless you do some annoying cast to `sockaddr_in6` or `sockaddr_storage`. So, why not to change uv_udp_getsockname() and make it to use `sockaddr_storage`?

[2012-05-27 14:56] bnoordhuis commented on #430
How does that help? In the end you still need to cast it to sockaddr_in or sockaddr_in6. Just to be clear, you're not supposed to pass in a pointer to a literal struct sockaddr.

[2012-05-27 14:56] #430 closed, assigned to nobody

[2012-05-27 18:39] ibc opened #431 "uv_udp_recv_stop() does not discard received datagrams"
(Linux)

Pseudo code:

<pre>
# Create a UDP socket and bind:
uv_udp_init(loop, handle);
uv_udp_bind(handle, uv_ip4_addr(IP,PORT), 0);

# Start receiving:
uv_udp_recv_start(handle, allow_cb, recv_cb);

# Stop receiving:
uv_udp_recv_stop(handle);

# Datagram "HELLO" is received now but recv_cb() is not called, ok.

# After 4 seconds (uv timer) enable receiving again:
timer(4000) {
  uv_udp_recv_star

[2012-05-27 18:43] ibc commented on #430
Right, but making it `sockaddr_storage` instead of `sockaddr` could avoid some coding errors. For example, in the UDP recv_cb I do a memcpy of the `addr` (struct sockaddr) for later usage. I would like to do such a memcpy without having to deal with ipv4 or ipv6 at this moment. If I do:

<pre>
memcpy(last_peer_addr, addr, sizeof(struct sockaddr));
</pre>

it will fail for IPv6 addresses (truncated

[2012-05-27 21:21] bnoordhuis commented on #431
That's a feature of your kernel, not a bug in libuv. `uv_udp_recv_stop()` stops watching for pending data, it doesn't close the socket. Incoming data is still queued by the kernel.

[2012-05-27 21:21] #431 closed, assigned to nobody

[2012-05-27 21:51] ibc commented on #431
Ok, I was thinking that could be the reason. Then I will implement a different approach for my high-leven "udp.stop_receiving()" function: Instead of using `uv_udp_recv_stop()` I will set a boolean `do_receive` and, when it's set to 0, I will ignore UD recv callbacks.

Thanks.

[2012-05-28 19:18] ibc opened #432 "UV loop exits while there is a connected uv_tcp_t"
I'm starting with UV TCP and have realized that, in case of starting a UV loop with a single TCP handler, after the handler is connected to a remote server (`uv_tcp_connect()`) the loop exits. Note that I don't set `uv_read_start()`.

Is it the expected behavior? Should I consider that a `uv_tcp_t` handler in connected state is not considered an "active" handler by UV? Reading `uv_is_active()` doc

[2012-05-28 19:43] ibc commented on #432
In the other side it makes really sense that, if there are no more handles, UV to exit in the above scenario since there is no way to send data in the connected handle.

[2012-05-28 21:36] bnoordhuis commented on #432
A stream (pipe, tcp, etc.) doesn't ref the event loop if it's not reading or writing, that's why `uv_run()` returns. So yes, this is the expected behavior. :-)

[2012-05-28 21:36] #432 closed, assigned to nobody

[2012-05-28 21:52] ibc commented on #432
Thanks for the explanation. It's clear (and yes, makes sense) :)

[2012-05-29 13:36] ibc opened #433 "Can tcp_connect_cb() be called after uv_tcp_t has been uv_closed and freed?"
(Linux)

I'm experimenting some errors in my code. They occur when I close a `uv_tcp_t` handle while it was in "connecting" status (to a remote server). What I see is:
1. I close the handle: `uv_close(handle, close_cb)`.
2. I "think" (not sure yet) that `close_cb` (which frees the handle) is executed now or in next iteration, you know.
3. I get my `tcp_connect_cb()`called in which I get the `uv_co

[2012-05-29 13:40] bnoordhuis commented on #433
libuv guarantees that all request callbacks (connect, write, shutdown, etc.) run before the handle is closed. Between the call to `uv_close()` and the call to `close_cb`, your connect callback gets called.

`connect_req->handle` is still valid at that point because you're not supposed to free the handle's memory until `close_cb` is called.

[2012-05-29 13:40] #433 closed, assigned to nobody

[2012-05-29 13:47] ibc commented on #433
Thanks a lot. It's clear.

[2012-05-29 18:20] ibc opened #434 "Restarting UV loop after uv__finish_close() was interrupted"
Hi, I've an issue in my Ruby binding of libuv (https://github.com/ibc/AsyncEngine). The problem is very specific:
- UV is running with some TCP connections writing data all the time to remote servers. For every write operation there is a `uv_write_cb()` that will invoke Ruby code.
- At some point (i.e. via UV timer) I perform a `uv_close` over all the TCP handles and thus, UV runs `uv__finish_clos

[2012-05-29 22:14] piscisaureus commented on #434
That's madness. We can't fix libuv in a generic way to allow this.

Can't you wrap ruby callbacks in a try...catch block and deal with exceptions before returning to libuv?

[2012-05-29 22:14] bnoordhuis commented on #434
Sounds like Russian roulette. I'm sorry but libuv can't help you here, what you're describing is essentially non-deterministic behavior. I suggest you try to find out _why_ Ruby longjmps, then find a way to make it stop doing that.

[2012-05-29 22:14] #434 closed, assigned to nobody

[2012-05-29 22:19] DrPizza commented on #434
So essentially, you want libuv to tolerate abnormal termination of _any_ function at _any_ point? I do not think this is a reasonable request.

Ruby should not be doing a damn thing with the C stack until the C stack is back within Ruby's own code. Change your signal handler to make it defer handling of the signal until outside of libuv.

[2012-05-29 22:23] ibc commented on #434
Hi, I agree with you, and thanks a lot for the explanation. Finally I've found the way to achieve it in Ruby language by using the C function `rb_protect()` for executing Ruby callbacks. Such a function catches any exception occured while in Ruby land and leaves me know about it, so I can store such an exception (i.e. SystemExit, any Ruby exception, SingalException...), properly terminate UV (by c

[2012-05-30 00:39] bnoordhuis opened #435 "windows: mark internal handles as internal"
So `uv_walk()` filters them out. Here is an example: 71a66c1

[2012-05-31 10:45] nori0428 opened #436 "fail to uv_write big data"
fail below.

<pre>
uv_buf_t a = uv_buf_init("very long string...", SIZE_T_MAX);
uv_write(uv_write_t* req, uv_stream_t* handle, a, 1, uv_write_cb cb)
</pre>

---

cause

uv_buf_t at line 46 - 49 in include/uv-private/uv-unix.h

<pre>
typedef struct {
  char* base;
  size_t len;
} uv_buf_t;
</pre>

uv_buf_init at line 90 in src/uv-common.c

<pre>
uv_buf_t uv_buf_init(char* base, size_t len) {
  uv_b

[2012-05-31 12:12] saghul commented on #436
It's the responsibility of the caller to keep the buffer alive until the uv_write callback is called, IIRC.

[2012-05-31 12:21] nori0428 commented on #436
Ah OK.thanks.

[2012-05-31 12:21] #436 closed, assigned to nobody

[2012-05-31 16:12] huawuya opened #438 "windows:uv_tcp_init crash"
For tcp example,
    loop = uv_default_loop();
    r = uv_tcp_init(loop, &tcp_handle);

when running into uv_tcp_init, crash happens on uv_handle_init()
  ngx_queue_insert_tail(&loop->handle_queue, &handle->handle_queue);
becuase prev and next of loop->handle_queue and handle->handle_queue are all NULL.

After I added  " ngx_queue_init(&loop->handle_queue);" in uv_loop_init(), it is OK.

[2012-05-31 16:46] saghul commented on #438
Apparently it was just fixed: https://github.com/joyent/libuv/commit/0c727fd7747d1532352bb622e689f2efe576e532

[2012-05-31 23:28] bnoordhuis commented on #438
Yes, @piscisaureus unfortunately let that bug slip through. (Okay, okay - I admit I forgot to initialize the handle queue.)

[2012-05-31 23:28] #438 closed, assigned to nobody

[2012-06-01 07:06] saghul opened #439 "windows: uv_is_readable returns true right after handle init"
On Windows, just after initializing say a TCP handle uv_is_readable returns true because it just checks to see if UV_HANDLE_EOF flag was set, which wasn't, of course.

On Unix, OTOH the test is more explicit, it has UV_STREAM_READABLE / WRITABLE flags which are set and later used for checking them in uv_is_readable / writable.

I like the Unix approach here, and if we mimic it on Windows uv_is_rea

[2012-06-01 18:55] bnoordhuis commented on #439
Sounds good to me. @piscisaureus?

[2012-06-01 19:54] piscisaureus commented on #439
Yes, sounds good to me. I would prefer windows to use UV_HANDLE_READABLE and UV_HANDLE_WRITABLE as well (as opposed to what it does now, using UV_HANDLE_EOF and UV_HANDLE_SHUT)

[2012-06-02 20:02] piscisaureus commented on #296
This has been fixed by @igorzi in 60af28a.

[2012-06-02 20:02] #296 closed, assigned to nobody

[2012-06-02 20:03] piscisaureus commented on #107
No longer relevant. Closing.

[2012-06-02 20:03] #107 closed, assigned to nobody

[2012-06-03 21:24] ibc opened #443 "uv_connect_cb() is called with status=0 if data is writen"
(Linux)

Hi, let me explain this strange case with pseudo-code:

<pre>
addr = 127.0.0.1:9999
# Nothing is listening in 127.0.0.1:9999 so ECONNREFUSED should occur.
uv_tcp_connect(connect_req, handle, addr, connect_cb);

# Right now attempt to write:
uv_write(write_req, handle, "HELLO", write_cb);
</pre>

So the result of this code is that `connect_cb()` is called with status=0 (so _connected_), th

[2012-06-03 21:28] ibc commented on #443
If I replace the destination IP of the above pseudo-code to "1.2.3.4" (so ETIMEDOUT happens) it works "as expected":
- `connect_cb()`is called with error ETIMEDOUT, so I call to `uv_close()`.
- `write_cb()` is then called with EINTR error.

[2012-06-03 22:40] bnoordhuis commented on #443
I can look into it. Can you post a complete test case?

[2012-06-04 00:24] ibc commented on #443
Hi, I've tryed to add a test unit showing this but I get some ugly error during the test execution. Anyhow I've added some `printf` which demostrate the issue.

The code is here:  https://gist.github.com/2865591

After inserting it within UV test units I get this result:

<pre>
tcp_dont_call_connect_status_0_after_write_when_connection_fails
`tcp_dont_call_connect_status_0_after_write_when_connect

[2012-06-04 14:06] bnoordhuis opened #444 "unix, windows: queue write reqs when connect req is in progress"
See `test/test-tcp-dont-connect-after-write.c`. Make sure that write reqs are queued when the connection hasn't been established yet.

[2012-06-04 14:40] ibc opened #445 "uv_shutdown() after uv_write() makes the loop never exit if the TCP connection succeeded"
(Linux)

Below a gist demonstrating the issue.

**Scenario:**
- Some TCP listener in 127.0.0.1:9999 (i.e. `nc -l 127.0.0.1 9999`).
- Create a uv_tcp_t handle, init it, connect to the server and start reading (to avoid the handle becoming inactive).
- Run a timer (0.5 second to ensure that the TCP connection took place).
- In the timer callback close the timer handle and run `uv_write()` followed b

[2012-06-04 15:14] bnoordhuis commented on #443
Fixed (on Unices) in cb9ca14.

[2012-06-04 15:14] #443 closed, assigned to nobody

[2012-06-04 15:14] bnoordhuis commented on #444
Fixed (on Unices) in cb9ca14.

[2012-06-04 21:40] bnoordhuis commented on #445
Thanks, fixed in 7d2ea31.

[2012-06-04 21:40] #445 closed, assigned to nobody

[2012-06-04 22:18] ibc commented on #445
Thanks a lot :)

[2012-06-04 23:04] piscisaureus opened #446 "uv_cwd and uv_exepath should have similar interface"
Right now it's a mess.

[2012-06-05 08:55] ibc opened #447 "uv_idle_start() and uv_timer_start() ignored when called on a stream write req callback"
(Linux)

A simple loop with a TCP handle already connected to a server and a simple TCP write request, and also an inactive `uv_idle`.

Within the write request callback `uv_idle_start()` is called but the callback of the UV idle is never executed. The loop gets frozen, it does not iterate. If then some event occurs (i.e. data received in the TCP stream, some periodic timer fires, whatever) then o

[2012-06-05 11:16] ibc commented on #447
Calling my script with strace I see:

<pre>
write(1, "AE_DEBUG: ae_next_tick.c:79:Asyn"..., 109AE_DEBUG: ae_next_tick.c:79:AsyncEngine_c_next_tick::  ae_next_tick_uv_idle is NOT active => uv_idle_start()
) = 109
epoll_ctl(5, EPOLL_CTL_MOD, 7, {EPOLLIN, {u32=7, u64=8589934599}}) = 0
epoll_wait(5,
</pre>

...and it gets blocked there....

As said before, I don't know whether this is the "correct" be

[2012-06-05 12:20] ibc commented on #447
NEWS! it's not a `uv_idle` related issue, the very same occurs if I use a `uv_timer_start` in the TCP write req callback! the loop gets stalled and `ev_run()` is called with waittime = -1 (some printf there...).

[2012-06-05 17:02] ibc opened #448 "uv_close(TCP handle) does not immediately invoke uv_connect_cb(EINTR)"
(Linux libuv master branch). Pseudo-code:

<pre>
# A TCP socket that will be in connecting state for long...
uv_tcp_init(loop, tcp_handle);
uv_tcp_connect(tcp_handle, "1.2.3.4", 9999);
uv_read_start(tcp_handle);

# Run a timer that invokes uv_close(tcp_handle) after two seconds.
[...]

# We expect that uv_connect_cb(EINTR) should happen right now, but that
# does not happen.

# It will happen in n

[2012-06-05 17:12] ibc commented on #448
**NOTE:**  It's a regression, it worked fine in a copy of libuv from 2012-05-29 I had somewhere...

[2012-06-05 17:14] ibc commented on #447
Some more news: In libuv from 2012-05-29 the behavior is different:
- Using `uv_idle` it also fails with TCP write req.
- Using `uv_timer` it works.

[2012-06-06 00:50] bnoordhuis commented on #448
Cannot reproduce, same for #447. Can you post a test case? I just wasted the better part of an hour trying to come up with one based on your description...

[2012-06-06 03:22] bnoordhuis commented on #448
That said, I'm pretty sure I fixed the issues you mention in 649ad50.

[2012-06-06 08:06] ibc commented on #447
Hi, this is fixed in 649ad50. Now it works fine with `uv_idle` and `uv_timer`.
Thanks a lot.

[2012-06-06 08:06] #447 closed, assigned to nobody

[2012-06-06 08:16] ibc commented on #448
Hi, I still reproduce this issue after the commit. Let me post a test case.

[2012-06-06 09:20] ibc commented on #448
Hi, working code that demonstrates the bug:  https://gist.github.com/2880865

[2012-06-07 23:38] bnoordhuis commented on #448
Fixed in dea4594.

[2012-06-07 23:38] #448 closed, assigned to nobody

[2012-06-07 23:47] ibc commented on #448
Just two lines of code???? XD

Thanks a lot, tested in my code and works.

[2012-06-08 18:08] gyohng opened #453 "uv_interface_addresses on Windows returns disconnected interfaces as well"
It seems that on Linux/Unix the interface state is actually checked against IFF_UP / IFF_RUNNING, while on Windows the function returns all (including disconnected) interfaces.

The simplest solution would be to check OperStatus field of the winows structure. Please check the provided patch.

More advanced idea is to extend uv_interface_address_t type with a field to denote interface state.

Thank

[2012-06-08 18:11] gyohng commented on #453
Sorry, I have no idea how to use github commenting. Here is a link to the patch file:

http://www.yohng.com/pvt/src_win_util.patch

[2012-06-08 18:31] gyohng opened #454 "Loop/multithreading enter/exit feature request"
Here is an idea which allows simpler handling of many async scenarios:

Inside a non-loop thread:

[code]
- uv_lock_enter calls async_send and blocks until actually async callback is started
- async callback waits until the other thread executes uv_lock_exit
- uv_lock_enter and uv_lock_exit are working like critical sections - if they are called from within multiple threads - uv_lock_enter will bl

[2012-06-09 00:23] bnoordhuis commented on #454
Correct me if I'm wrong but don't you get the same semantics with a simple mutex?

[code]

[2012-06-09 00:36] gyohng commented on #454
Maybe I'm not well informed about libuv functionality, but I understand that the above example with a mutex does not wake up the libuv loop if it was dormant (no events) and certainly doesn't lock things against the internal libuv logic happening at the same time.

My proposal is similar to sending an async event, while providing the async code in-place rather than separating it into a callback wi

[2012-06-09 00:49] bnoordhuis commented on #454
Right, I see what you mean but there's a flaw in your code example. You need to call `uv_async_init()` from the libuv thread, only `uv_async_send()` is thread-safe. (Same goes for `uv_close()`, only call it from the libuv thread.)

As to your proposal, I guess it could be implemented with an internal async handle but I'm not sure how I feel about that. We try to keep libuv lean in the sense that p

[2012-06-09 00:57] gyohng commented on #454
uv_close is called from the libuv thread. Thank you very much for pointing about the uv_async_init - I will need to change that.

As for the suggested feature - I would expect that people would use it 90% of the time instead of issuing an async event due to a much leaner syntax, for such purposes as for example asynchronously stopping the timer, closing the handle or (as in my case) - shutting dow

[2012-06-09 01:05] piscisaureus commented on #454
@bnoordhuis Actually I've been thinking about similar solutions but there are two significant concerns here: -
- If this is proposed as an alternative to uv_async then I can see it's use. However it might be mistaken for a simple way to make libuv thread-safe - which in fact it does. The only downside is that it would be very slow, since the only moment that this "async" code can run is when libuv

[2012-06-09 01:07] bnoordhuis commented on #454
It's not. Free the memory from inside your close_cb, not before.

[2012-06-09 01:09] bnoordhuis commented on #454
@piscisaureus I guess that's a roundabout way of saying "no, it's not possible"? :-)

[2012-06-09 01:10] piscisaureus commented on #454
@bnoordhuis @gyohng It was a roundabout way of saying "it is possible, but it would be illegal to call libuv functions from the 'other' thread, so it's kinda pointless"

[2012-06-09 01:11] piscisaureus commented on #454
Obviously if we could find a trick to switch to a different TEB / thread context it could work :-)

[2012-06-09 01:31] gyohng commented on #454
As for making things very slow - well, the global libuv state mutex (with the overhead, as you note) does not save from breaking the order of operations - and the amount of additional locking required on the user side makes that solution not very beneficial either - in the fact that in the end it's better to use an async call rather than to lock everything around to ensure the proper order of exec

[2012-06-09 01:35] piscisaureus commented on #454
Okay, that's not going to work. I am already at the uttermost depth of processor-specific NT kernel internals, beyond anything that we would want to hack.

[2012-06-09 01:44] gyohng commented on #454
If it is desired, I can create a setjmp/longjmp sample (which should be quite portable for any platform, that supports setjmp/longjmp), which actually switches the context and does it in the syntax as I described above.

However should anyone forget to call uv_context_exit in the end of if (...) { } body - the program probably will crash in a very hard way.

[2012-06-09 01:44] piscisaureus commented on #454
@gyohng

Well, my comfort is pretty important, but it's not the reason that I'm saying no. As I explained, we can't guarantee it to work without messing up libuv's state; that's the real problem here.

[code]

I never really though of combining setjmp with threads... I have to admit, the idea is intriguing.

[2012-06-09 02:03] piscisaureus commented on #454
@gyohng

There's nothing that's stopping you from implementing a wrapper that does this for this and using it. It doesn't have to be in the libuv tree to work.

_shrug_, that's okay.

BTW, why are you not just running qt and libuv on the same thread. It seems that that would save you from all this hassle.

[2012-06-09 02:12] gyohng commented on #454
Ok, so that's it then. We can close the issue then. Multiplatform semaphores would be the most appreciated addition to libuv however.

libuv loop has to be a separate thread (maybe several independent libuv loops in fact). The integration would be very much technically difficult, as we don't have access to the OS event loop, and QtGui is not used either (just the core classes).

Sorry - I'm new to

[2012-06-09 02:22] piscisaureus commented on #454
https://github.com/joyent/libuv/blob/0dff0e7d47453fafb72a287c0acdddd6e3f2d9de/include/uv.h#L1627-1634

If you say so - I was just curious.

No problem. I will close the issue now.

[2012-06-09 02:22] #454 closed, assigned to nobody

[2012-06-09 17:54] bnoordhuis opened #457 "linux: support x32 abi"
There's at least [one distro](http://lwn.net/Articles/500482/) out there that supports the new x32 ABI so it's time we start adding support for it.

Should be relatively straightforward. Probably the only file that needs to updating is `src/unix/linux/syscalls.c` and only for x32 host systems that don't have proper kernel headers installed, everything else should Just Work(TM).

[2012-06-09 18:51] ibc opened #458 "uv_is_active(async_t) returns always true"
(Linux)

I expected that `uv_is_active(async_t)` would return true just between the call to `uv_async_send()` and its callback. But if I create an async handle, call to `uv_async_init()` and run the loop, then `uv_is_active(async_t)` always returns true (without previously calling to `uv_async_send()`).

[2012-06-09 19:02] piscisaureus commented on #458
That's the correct behavior. As long as as an uv_async handle exists it sits there, waiting for uv_async_send calls. That's what constitutes 'active'. It also keeps the loop alive (unless unref'ed).

There is no uv_async_start / uv_async_stop, something that other watcher types do. This could be regarded as an api inconsistency.

[2012-06-09 19:16] ibc commented on #458
This is not what I see. I create a async handle, call to `uv_async_init()`, run the loop (with no other handles) and `uv_run()` immediately exits. Perhaps you mean that `uv_async_send()` keeps the loop alive?

About the API inconsistency, the fact is that I do see a use case for having `uv_is_active()` returning true _just_ between `uv_async_send()` and its callback:

I want to provide a mechanism

[2012-06-09 19:25] piscisaureus commented on #458
If true, that's a bug. @bnoordhuis, can you confirm?

Nope.

That sounds like a good design to me, except for the "just if it's not active" part.

Well, first of all, you can't use uv_is_active (reliably) from a thread other than the main thread.

Second, uv_async_send already coalesces multiple uv_async_send invocations into a single callback. See https://github.com/joyent/libuv/blob/0dff0e7d4745

[2012-06-09 20:04] piscisaureus commented on #453
@gyohng Can you sign the node.js CLA? (http://nodejs.org/cla.html) Then I can land this patch.

[2012-06-09 20:04] bnoordhuis commented on #458
Well... it's intentional, that's been the behavior since libuv's inception (see e.g. ce8ff30).

[2012-06-09 20:05] ibc commented on #458
Opss, good point.

Yes, I didn't know it! so "problem" solved: )

Sure, I meant "calling the async callback" for every invocation of "uv_async_send()" (at least in the "call_from_other_thread()" design above).

Well, IMHO a initialized async handle should NOT keep alive the loop (except when there is a pending uv_async_send()). This is at least what I expected.

[2012-06-09 20:24] gyohng commented on #453
Done.

[2012-06-09 20:41] piscisaureus commented on #453
@gyohng Thanks, landed in fbe99743d5889a72112e1ce33af9e490bd39a677

Btw, if you ever do a patch again, we prefer using github pull requests, or git-style patch emails (created by `git --format-patch`).

[2012-06-09 20:41] #453 closed, assigned to piscisaureus

[2012-06-09 20:43] piscisaureus commented on #458
@bnoordhuis Can you review fab7b7bbf7f72ff3e1034276246026c995b15898 ?

[2012-06-10 00:27] bnoordhuis commented on #458
LGTM. Merged in 5c30443.

[2012-06-10 00:27] #458 closed, assigned to nobody

[2012-06-11 13:18] piscisaureus opened #461 "read_start and read2_start should be mutually exclusive"

[2012-06-11 16:15] joeferner opened #462 "uv_dlopen fails even though it has a valid handle"
When using node v0.7.9 on OSX built from source when I load my module it fails. When using node v0.7.8 on OSX built from source with the same javascript source it succeeds.

[code]

[code]

After running git bisect I tracked it down to a commit made to node that upgraded libuv 039fac633eaf081a96bb1ed8bc7307d03dcbe9d9.

I then played with the code a bit and found that dlopen is returning a valid ha

[2012-06-11 19:04] philips opened #464 "rename unix/linux/core.c"
Gyp now throws an error if two files have the same basename. You can see the context here:

 https://groups.google.com/forum/?fromgroups#!topic/gyp-developer/QN-nYWTMUkM

This is the only file in the tree with this problem so rename it to linux-core.c or something.

IRC context:

[code]

After fixing this we can use gyp as a submodule: `http://git.chromium.org/external/gyp.git`

[2012-06-11 23:09] bnoordhuis commented on #462
Good catch, seems like it's a genuine error after all. Does this patch fix it for you?

[code]

[2012-06-12 00:14] joeferner commented on #462
At first that's what I thought it was, doesn't seem like resetting the error using dlerror is enough for me. I guess it couldn't hurt though. It could be that the library being loaded (java in my case) is calling dlopen itself and is doing something else with it internally, not really sure.

[2012-06-12 16:45] isaacs opened #465 "Implement/expose uv_tcp_open"
Required for joyent/node#3388

[2012-06-12 22:33] bnoordhuis commented on #462
Are you _sure_ it doesn't fix the problem? I was able to reproduce an issue very similar to the one you reported in joyent/node#3392 and 84f0d96 fixed it for me.

[2012-06-13 14:41] joeferner commented on #462
Unfortunately I still get the error on OSX when I include that line. On linux it works fine. Checking the result of dlopen seems to be the only reliable way that I can find so far.

[2012-06-13 23:15] bnoordhuis commented on #462
I think I know what happens. Am I right when I say that you always get an error when you change RTLD_LAZY to RTLD_NOW?

EDIT: With and without your patch, I mean.

[2012-06-14 18:34] opoplawski commented on #354
Looks like more distributions will want to package this up with more users of it.  Releases are very helpful.

[2012-06-17 20:57] isaacs opened #468 "Cross platform passwd functions"
Regarding: joyent/node#2857

It'd be lovely if there was a way to call a `uv_*` version of the pwnam family of functions.  See `man 3 pwnam`.

[2012-06-19 11:59] veeru-as commented on #206
I am getting this often on my node.js v0.6.17

[2012-06-19 12:12] bnoordhuis commented on #206
@veeru-as On what platform? If you're on a UNIX, can you try this:

[code]

Please post the output.

[2012-06-20 01:52] piscisaureus opened #473 "don't drop connections when closing a shared tcp server"
`uv_tcp_close` indiscriminately closes the listening tcp socket. This is not okay in a shared server situation. Some accept reqs may already have accepted in incoming connection, which is subsequently dropped by `uv_tcp_process_accept_req` because SIO_UPDATE_ACCEPT_CONTEXT fails.

Change `uv_tcp_close` to keep the socket open, and close it in `uv_tcp_endgame`.

When that lands, node needs to be up

[2012-06-21 21:16] #350 closed, assigned to nobody

[2012-06-22 11:34] ibc opened #474 "Clarify that uv_getaddrinfo_t is a request (instead of a handle)"
The doc (uv.h) is confusing when it describes `uv_getaddrinfo_t`. It's a request rather than a handle, in fact, calling to `uv_close(uv_getaddrinfo_t)` would crash in debug mode.

So I suggest:
- Remove `uv_getaddrinfo_t getaddrinfo` from `union uv_any_handle`.
- Rename the second param in `uv_getaddrinfo()` method (replace `uv_getaddrinfo_t* handle` with `uv_getaddrinfo_t* req`).
- Move line 198

[2012-06-22 14:39] isaacs opened #475 "3-digit version, ChangeLog, tagged release tarballs"
It'd be great if libuv had a more polished release cycle.
1. The version should be 3 digits, like `0.8.2`.  That doesn't need to be tied to node's, necessarily, but there would be an understanding that node `0.8.x` will always use libuv `0.8.x`, so it should have the same even/odd semantics.  It should also have an `IS_RELEASE` flag like node does, which puts a `-pre` on the version if it's not a

[2012-06-22 14:41] bnoordhuis commented on #474
Agreed. Fixed in f01e9d7.

[2012-06-22 14:41] #474 closed, assigned to nobody

[2012-06-22 14:50] bnoordhuis commented on #475
@piscisaureus That means you need to set up GPG. If you have more than one key, `-u` will let you pick the right one.

[2012-06-22 16:36] #464 closed, assigned to nobody

[2012-06-22 16:36] bnoordhuis commented on #464
Fixed in e54cda5.

[2012-06-22 16:41] bnoordhuis commented on #464
Make that e132075.

[2012-06-24 11:50] japj commented on #394
@bnoordhuis @piscisaureus I was just testing node symlink support and I get:

<pre>

Error: UNKNOWN, unknown error 'C:\github\node\symDir'
    at Object.fs.symlinkSync (fs.js:561:18)
    at repl:1:4
    at REPLServer.self.eval (repl.js:111:21)
    at rli.on.e (repl.js:260:20)
    at REPLServer.self.eval (repl.js:118:5)
    at Interface.<anonymous> (repl.js:250:12)
    at Interface.EventEmitter.emi

[2012-06-24 23:22] ibc commented on #474
Hi, I forgot to point that line 307 in uv.h still talks about "handle" instead of "request":

[code]

I suggest replacing "handle" with "req".

[2012-06-24 23:26] bnoordhuis commented on #474
Added in 0005b52.

[2012-06-25 07:10] saghul commented on #394
Hi @japj in Windows (>= Vista IIRC) you need to run with elevated privileges. This patch will map the "privilege not held" error to EPERM: https://github.com/joyent/libuv/pull/459 you may want to check it out.

[2012-06-25 14:21] chobie opened #477 "uv_setup_args: SEGV accessing envrion[0]."
Hi, I'm playing libuv binding for php personally. (see https://github.com/chobie/php-uv).

I've met SIGSEGV when I call `uv_setup_args` on ubuntu box.
maybe PHP changed environ variable so this issue was occurred.

I'm not sure this usage is good. is this expected?

[code]

[code]

libuv version: node-v0.8.0
linux: Linux ubuntu 3.2.0-24-generic #37-Ubuntu SMP Wed Apr 25 08:43:22 UTC 2012 x86_64 x8

[2012-06-25 15:03] bnoordhuis commented on #477
`uv_setup_args()` should be called very early on, e.g. as the first line in main(). By the time PHP code runs, it's almost certainly too late.

I'm going to close this as it's not a bug in libuv.

[2012-06-25 15:03] #477 closed, assigned to nobody

[2012-06-25 15:09] chobie commented on #477
thank you. I'll put it on early phase.

[2012-06-25 15:35] saghul commented on #477
In case it helps, I had the same problem on Python and solved it by using a private API to which I gained access with uv_dlsym: https://github.com/saghul/pyuv/blob/master/src/util.c#L187

[2012-06-25 16:41] chobie commented on #477
@saghul wow, thank you. I'll try to use that function to solve this problem.

[2012-06-26 19:02] joeferner commented on #462
If I change RTLD_LAZY to RTLD_NOW I get the same behavior. It requires adding the check for a non-NULL return to get the native module to load.

I also tried the various permutation with node v0.8 and see the same behavior.

[2012-06-26 22:32] bnoordhuis commented on #462
The only plausible explanation I can come with up is that `dlopen()` on OS X sometimes clobbers the dlerror errno, even on success. I haven't been able to reproduce that but maybe it happens when a constructor in lib A (fails to) dlopen another library. Pure speculation, though.

Does this patch address the issue?

[code]

[2012-06-27 15:38] piscisaureus opened #479 "windows: junctions to volume-based paths should not report S_IFLNK"
Node issue: joyent/node#3560

[2012-06-27 15:59] joeferner commented on #462
Yes that is correct that patch fixes the issue. That's essentially what my pull request does but also cleans up and resets any possible errors in the lib object, similar to what dlerror does.

[2012-06-27 23:54] #462 closed, assigned to nobody

[2012-06-27 23:55] bnoordhuis commented on #462
@joeferner Thanks for testing, Joe. Fixed in 1b68434.

[2012-06-28 01:34] bnoordhuis commented on #468
Didn't we discuss that on IRC a while ago? The main issue I see is that password entries on Windows and Unices have few common fields.

[2012-06-28 08:19] isaacs commented on #468
We did discuss it on IRC, but IRC has a short memory.

What common fields are those?

We can probably just null out whatever Windows doesn't have, like we do with stat structs.

[2012-06-28 13:45] piscisaureus opened #480 "windows: make it possible to send pipe handles over ipc pipes"
Needs a refactor of the ipc protocol.

[2012-06-28 14:18] piscisaureus commented on #479
fixed in 4a88b3b

[2012-06-28 14:18] #479 closed, assigned to nobody

[2012-06-29 13:25] tim-smart opened #481 "http.request doesn't honour HTTP/1.0"
I was trying to make an api call to http://www.last.fm/api/show/user.getRecentTracks and it kept on responding:

[code]

If you want code examples etc. let me know.

[2012-06-29 13:27] piscisaureus commented on #481
Did you find a bug in libuv? FYI, libuv has no http stuff built in - it only does the networking part.

If not, could you post this in the node issue tracker?

[2012-06-29 13:35] tim-smart commented on #481
Sorry half asleep and posted in wrong project. Ignore this.
On Jun 30, 2012 1:27 AM, "Bert Belder" <
reply@reply.github.com>
wrote:

[2012-06-29 13:36] piscisaureus commented on #481
np :-)

[2012-06-29 13:36] #481 closed, assigned to nobody

[2012-06-29 17:44] japj opened #482 "callback for fs event should have same path info as passed to init?"
Hi, I am using nodejs 0.8.0 on windows.

Currently if I pass a path to a specific file to uv_fs_event_init_handle, the 'change' callback will only contain the filename.
i.e. I specify (in nodejs fs.watch('somedir/somefile', cb) and the callback only receives 'somefile'.

Since the exact path specified is stored in handle->filename it would make sense if the callback just gets passed that same path

[2012-06-29 17:51] japj commented on #482
note, that I want to do something with the filename passed to the callback (parse the file), so I need the actual full path to it.

But I agree that the (nodejs) documentation on this isn't entirely clear (and ofcourse it is an 'unstable' api)

[2012-06-30 21:50] bnoordhuis opened #484 "unix: getaddrinfo req makes event loop spin"
Somewhat related to the busy loop that got fixed by 0971598. Possibly also applies to other request types that are not associated with an active handle.

Test case:

[code]

Prints:

[code]

[2012-06-30 22:33] piscisaureus commented on #484
getaddrinfo req implies that there is an active (internal) async handle, so the loop shouldn't spin.

[2012-07-01 22:06] #484 closed, assigned to bnoordhuis

[2012-07-02 19:04] bnoordhuis opened #485 "unix: remove libev"
This issue tracks the removal of libev in v0.9 / master.

[2012-07-02 19:15] bnoordhuis commented on #485
In case any project watchers are wondering, libev served us well but:
1. It only supports level-triggered I/O. On Linux, we want to use edge-triggered mode - it cuts down the number of syscalls by a substantial margin.
2. libev's inner loop does a lot of things we don't really need. Gutting the inner loop like we did in 649ad50 gave a 40% performance increase on some benchmarks.

[2012-07-03 00:22] bnoordhuis commented on #482
Let's not do that. It'd require libuv to malloc() + memcpy() + free() memory on every event. Which is rather wasteful if the callee is only interested in the filename part of the path.

[2012-07-03 00:22] #482 closed, assigned to nobody

[2012-07-03 00:39] bnoordhuis commented on #468
pw_name, pw_uid, pw_dir and maybe pw_shell.  @piscisaureus Agree?

Yes, that's reasonable.

[2012-07-03 21:25] bnoordhuis opened #486 "unix: build with autotools"
The gyp build works okay but won't see uptake by distros anytime soon.

The plain Makefile is rather limited - it only knows how to compile static debug builds, for example. Hacking on new features is both a thankless job and a barrier to entry, it's not easily discoverable or comprehensible by new libuv hackers.

Therefore, ditch the Makefile in favor of autotools generated configure and Makefile

[2012-07-03 22:01] ibc opened #487 "Will c-ares be removed?"
Sorry for using the tracker for making questions, but I get no "reliable" replies in the IRC channel :)

Will c-ares be dropped from libuv at some time? I do know that current c-ares integration is made using `uv_poll` so it should be already possible to implement it separately. Anyhow I would like to know whether I can still rely on the existing c-ares integration or not.

Thanks a lot.

[2012-07-03 22:09] ibc commented on #487
Response from @bnoordhuis in the IRC:

[2012-07-03 22:09] #487 closed, assigned to nobody

[2012-07-03 22:26] ibc commented on #475
Hi, about step 3 above:

The following code will create a tag which would also become a .zip / .tar.gz file in the Github project (within "Tags" section):

[code]

See for example: https://github.com/ibc/EventMachine-LE/tags

[2012-07-03 23:13] isaacs commented on #475
Yeah, uploading a tgz is less relevant if there are consistently named
tags. Signed tags are nice though.

On Tuesday, July 3, 2012, Iñaki Baz Castillo wrote:

[2012-07-04 18:16] luislavena commented on #486
@bnoordhuis why not CMake instead? autotools is just a plain pain.

It states is cross platform but the proper support for anything other than POSIX is bad (ala Windows, not talking about Visual Studio but MinGW or clang)

[2012-07-04 21:57] bnoordhuis commented on #486
To please distro packagers. Anything that's not autotools is frowned upon.

[2012-07-05 00:11] okuoku commented on #486
@luislavena , although I have CMake fork, I agree with @bnoordhuis .
Autotools is widely adopted and almost all of (POSIX-based) hackers know how to use it.

[2012-07-06 16:40] luislavena commented on #486
@okuoku @bnoordhuis I'm cool with it, it will allow me to release a binary package for Windows for both x86 and x64.

But I'm dumb in relation to autotools except some stuff I did for Ruby own configure script. I could probably help getting the MinGW support for both static and dynamic library, but autotools is like a foreign language to me (and my foreign I mean another planet-kinda language)

[2012-07-09 08:04] piscisaureus opened #489 "More aggressive accept backoff for windows"
See joyent/node#3631

[2012-07-09 14:15] VanCoding opened #490 "make pipes gotten from IPC pipe servers also IPC"
Currently, when I create an IPC pipe and bind it to a pipename, all pipes that I get from that pipe server are non-IPC. Is there a possibility to make IPC pipe server connections also IPC?

[2012-07-11 23:02] isaacs opened #493 "Expose FILE_FLAG_OPEN_REPARSE_POINT as O_SYMLINK constant"
Discussed in IRC.

[2012-07-11 23:28] isaacs commented on #493
@piscisaureus convinced me of a better way.

[2012-07-11 23:28] #493 closed, assigned to piscisaureus

[2012-07-11 23:32] isaacs opened #494 "uv_lchown uv_lchmod"
Right now in Node, we look for the presence of `constants.O_SYMLINK`, and then do fs.open() with that flag, and then a `fchown` or `fchmod` to set the owner and mode of a symbolic link on OS X (without following the link).  The function is simply missing on other operating systems, making for an unpleasant wart of feature detection.

Also, on Windows, there is no way to set the mode on reparse poi

[2012-07-15 05:56] ry opened #495 "remove uv_read_start / _stop. just have uv_read"
discussed at nodeconf

[2012-07-15 09:40] ry opened #496 "" getting 1/3 sys usage and 5x throughput with custom batching""
https://twitter.com/tjholowaychuk/status/224399224060657664

what's this about?

cc @visionmedia

[2012-07-15 18:40] tj commented on #496
my benchmarks is pretty contrived but im doing 1000 messages per tick in this case. I initially figured node would wrap things up in iovecs but even doing some crappy custom batching really speeds things up, for larger messages it's slower since I have to copy though, definitely not idea. I might have time to look at it more today but here's the benchmark scripts:

https://github.com/visionmedia/s

[2012-07-15 23:37] bnoordhuis commented on #496
Only if you pass multiple uv_buf_t structs to uv_write(). Node never does that, though.

[2012-07-15 23:39] tj commented on #496
ah ok thanks. I should have specified the node part in the tweet

[2012-07-15 23:56] bnoordhuis commented on #496
Continues in joyent/node#3714.

[2012-07-15 23:56] #496 closed, assigned to nobody

[2012-07-17 02:16] h73899 opened #497 "Where is the IOCP Worker_Thread?New guy for help"
Here is the stuff:
         1、I want to write a simple tcp server,and I know how to make it directly by using IOCP on windows.
         2、But I don't know how to make it through libuv, I've seen the sample(blackhole-server、dns-server、echo-server).It seems that only one thread to handle the received data.
         3、"Its purpose is to abstract IOCP on Windows and libev on Unix systems."; MSDN menti

[2012-07-17 06:59] saghul commented on #497
I don't know how many worker threads are used in the IOCP backend, but you probably shouldn't be attempting to use it directly.

If you want to create a TCP server have a look at the examples and the API for uv_tcp_t in uv.h.

[2012-07-17 09:04] h73899 commented on #497
Thanks for the reply

I know how to create a TCP server(just copy from blackhole-server.c and do some small things)

Now the problem is only one thread to handle the requests(can get threads number through task manager or other tools), no matter how many clients or requests the server got; I can't find the way to use multi-threads to do the work concurrency.

On windows when using IOCP, the worker

[2012-07-17 12:32] bnoordhuis commented on #497
Have multiple threads, each with its own event loop, and share the server handle by means of uv_write2(). We'll probably add an API someday to make handle sharing easier - the main use case now is to share handles across processes, not threads, that's why it's somewhat convoluted.

[2012-07-17 12:32] #497 closed, assigned to nobody

[2012-07-18 21:20] JustinVenus commented on #486
I am ok with autotools.  I may be able to find some time to get this started for at least Linux.  I'll send a pull request when I can get it to build and test with Fedora17 and Centos6.

[2012-07-20 00:35] piscisaureus commented on #486
I do not want to get rid of the gyp based build btw. The autotools stuff should just be for distros.

[2012-07-20 00:42] JustinVenus commented on #486
@piscisaureus 10-4.  It will probably be a day or too before I merge my branch into my fork.

[2012-07-22 08:33] JustinVenus commented on #486
I have made some progress.  https://github.com/JustinVenus/libuv/compare/issue486

What works:
Linux.  builds shared and static library "sh autogen.sh; ./configure; make".  Creates a targz archive 'make dist'.  Installs in a fake root 'make DESTDIR=/var/tmp/libuv install'.

What doesn't work:
Other Platforms.  It should be easy to support them, I just haven't finished the support.
Tests and Benchm

[2012-07-23 05:47] JustinVenus commented on #486
Following up from yesterday.  I have a working solution in my branch[1], but I do have a few questions before I send a pull request.  Should I name the Makefile generated by autotools to something like "makefile" or should I displace the original Makefile and let autotools assume control?  I noticed that c89 is set in the original Makefile, but I was able to successfully build and test with c99 (c

[2012-07-23 13:00] mitsuhiko commented on #347
With this change it's incredible hard to resurrect a loop on shutdown. By itself on_close callbacks are not called at the end of `uv_run` so I need to add a second, dummy `uv_run` afterwards to make my on_close callbacks being called. To add complexity to that, one of the callbacks that is executed when a client disconnects is to send a request through another socket.

I found no way to keep this

[2012-07-24 14:57] bnoordhuis commented on #347
@mitsuhiko An on_close callback not getting called is a bug, please file a bug report (with a test case) for that.

Not being able to ref a handle twice is a feature, not a bug. Reference counting is too easy to mess up and too bloody hard to debug, hence the idempotent approach.

[2012-07-25 09:42] trx011 opened #503 "memory leak in win/fs.c"
UV_FS_FREE_PATH  is used in uv_fs_req_cleanup, but never set.

if (req->flags & UV_FS_FREE_PATH && req->pathw) {
    free(req->pathw);
    req->pathw = NULL;
  }

[2012-07-25 14:58] piscisaureus commented on #503
Did you actually find a leak? As far as I can tell we never allocate req->pathw so I don't think there's a leak, you just found some rudimentary code.

[2012-07-26 12:50] trx011 commented on #503
in  uv_fs_open()
 => UTF8_TO_UTF16(path, pathw)
 => uv_fs_req_init_async(loop, req, UV_FS_OPEN, path, pathw, cb)
 => req->pathw = (wchar_t*)pathw

[2012-07-26 13:13] gigi81 commented on #25
Fixed on #504

[2012-07-26 14:13] #347 closed, assigned to bnoordhuis

[2012-07-27 18:35] isaacs opened #505 "Make it easy to do read(n, cb)"
Part of the "make readable streams not terrible" project in Node.

[code]

@piscisaureus @bnoordhuis

[2012-07-27 18:44] piscisaureus commented on #495
#505

[2012-07-27 18:44] #495 closed, assigned to piscisaureus

[2012-07-27 19:41] ry commented on #505
`uv_err_t uv_read(uv_handle_t*, uv_req_t*, size_t n, uv_alloc_cb on_alloc, uv_read_cb on_read);`

LGTM. Obviously this is not going to guarantee a read of n -- just at most n.

[2012-07-27 19:49] bnoordhuis commented on #505
Why the uv_err_t return type?

[2012-07-28 18:57] ry commented on #505
dead socket, etc

[2012-07-28 20:41] Sannis opened #506 "libuv documentation"
`uv.h` include basic description for API functions, but it may be hard do read it and search. I propose to add Node-like documentation in markdown with formalized descriptions and examples. It must be possible to generate HTML from them and, maybe, read them online, when #475 was done.

[2012-07-28 20:42] Sannis commented on #506
https://github.com/nikhilm/uvbook may be a good start for it.

[2012-07-28 20:47] saghul commented on #505
Isn't the usual to return -1 and use uv_last_error to get the error?

[2012-07-29 05:51] jbergstroem commented on #486
@JustinVenus: How about creating a subdirectory for the auto\* stuff? That would at least maintain backwards compatibility and naming conflicts. I recall LLVM having a similar approach (they do cmake and auto\* in parallel).

[2012-07-29 06:16] JustinVenus commented on #486
Brilliant, that is so simple I can't believe it didn't occur to me.

Justin
On Jul 29, 2012 12:51 AM, "Johan Bergström" <
reply@reply.github.com>
wrote:

[2012-07-29 21:52] JustinVenus commented on #486
@jbergstroem I pulled llvm's source to see what they do, unfortunately I can't get their autotool setup to do anything but explode in error on Fedora.  I will continue to investigate how to move things around.  So far autotools isn't playing very nice with me atm.

[2012-07-30 10:13] piscisaureus opened #509 "Fix sendfile"

[2012-07-30 13:44] piscisaureus opened #510 "Windows: uv_fs_mkdir should not ignore mode flag"

[2012-07-30 16:20] piscisaureus opened #511 "fs: the `length` field for uv_fs_sendfile should be int64_t"

[2012-07-30 21:54] piscisaureus commented on #503
Should be fixed in 73096da21b5c5d619e866f7aefa8b896cb2eeb69.

[2012-07-30 21:54] #503 closed, assigned to nobody

[2012-07-30 22:15] gigi81 opened #513 "SharpUV"
If anyone interested, I created a new C# binding for libuv.
https://github.com/gigi81/sharpuv
You can read the readme for the details.

I was wondering if the changes I had to the build scripts could be merged or adopted in some way.

Now I'm able to build libuv (on windows) with two new switches passed to the vcbuild script:
- shared/static
- x86/x64

The changes are backward compatible and they

[2012-07-30 23:34] bnoordhuis commented on #513
Luigi, can you submit your changes as a pull request?

[2012-07-30 23:34] #513 closed, assigned to nobody

[2012-07-31 08:12] gigi81 commented on #513
see #514

[2012-08-02 19:54] nathansobo commented on #485
@bnoordhuis: Will this result in a single event loop shared between Unix and Windows versions of the library? Will the interface to it be sufficiently abstract that it might be possible to replace it with a different event loop? The Chromium Embedded Framework maintainer and I are interested in getting libuv working on top of Chromium's render process event loop as a means of making the Node.js AP

[2012-08-02 23:37] bnoordhuis commented on #485
If you mean 'will it be possible to embed libuv in another event loop?' then the answer is yes. We'll give you a timeout and something (file descriptor, handle) to poll on in your own event loop.

[2012-08-03 23:22] nathansobo commented on #485
That sounds much easier than what I had in mind. So presumably you'll expose a function as part of the public interface that we can call when the file descriptor changes to invoke the appropriate callbacks? Very excited about this. Godspeed.

[2012-08-06 03:33] mscdex opened #517 "uv_poll causing early loop exit?"
I haven't yet been able to track down the exact cause, but in a [binding I'm writing for node](https://github.com/mscdex/ssh2), my poller seems to cause the event loop to exit early (at least with the version of libuv shipped with node 0.8.5).

This only seems to happen when I set the event mask to something that is non-zero (since zero immediately causes the poller to unreference) but still cause

[2012-08-06 03:34] mscdex commented on #517
I should also add that the pause between when no more events come in and when the loop exits is consistently 10 seconds from my observations.

[2012-08-06 05:32] milani commented on #485
@nathansobo We could bring nodejs APIs to CEF using proxies in AppJS. But it's better to merge the event loops. Someone did it and published under the name node-webkit you maybe heard of.

[2012-08-06 11:29] bnoordhuis commented on #517
On what platform is this?

Does your test case work if you test it against the v0.8 branch or commit 6209fe5? (That's the version of libuv that ships with node 0.8.5.)

[2012-08-06 13:33] mscdex commented on #517
This is on Windows. I'll have to try again later today on a different branch.

[2012-08-06 23:12] #190 closed, assigned to nobody

[2012-08-07 00:49] piscisaureus opened #518 "[ANN] c-ares removed"
It's a bit odd to put an announcement in the issue tracker, but in absence of a mailing list it'll do.
### C-ares was removed (in master). It's not coming back.

If you need want / c-ares anyway: it's not hard to integrate it using uv_poll.

To get the idea, look at how it was integrated into libuv just before the removal: https://github.com/joyent/libuv/blob/32f93e14cbeea53ac8e2fc1dc77207dc6b2510

[2012-08-07 00:50] piscisaureus commented on #518
@ry probably cares as well

[2012-08-07 14:59] saghul commented on #518
Hi @piscisaureus, thanks for the heads up, I appreciate that. FWIW pyuv master no longer uses the bundled c-ares, I created pycares for that inspired by the good old cares.c in libuv :-)

[2012-08-07 15:18] txdv commented on #518
Maybe we could create a list for all the libuv bindings with links?
I would like to investigate some of them.

[2012-08-07 22:32] nathansobo commented on #485
@milani Yes, but Marshall Greenblatt (the author of CEF) has concerns about the way it was done. He says that the event loops are highly optimized to maximize performance on the OS, so he's concerned that moving to an event loop based on libuv directly could negatively impact performance. He prefers an approach where the default Chromium event loop remains intact, driving libuv with the Chromium e

[2012-08-07 22:52] mscdex commented on #517
I've decided to scrap the binding altogether and just do it all in js-land.

[2012-08-07 22:52] #517 closed, assigned to nobody

[2012-08-08 20:23] rphillips commented on #518
subscribing myself to this thread.

[2012-08-08 20:25] piscisaureus commented on #518
Maybe we should have an actual mailing list.

[2012-08-08 20:26] saghul commented on #518
+1 to that.

[2012-08-08 20:30] rphillips commented on #518
+1

[2012-08-08 20:52] bnoordhuis commented on #518
Didn't you create one a long time ago?

[2012-08-08 20:55] piscisaureus commented on #518
Yeah but nobody subscribed :-). And I never posted anything. But okay, let's (re)surrect it:

## http://groups.google.com/group/libuv

[2012-08-09 02:02] jbergstroem commented on #485
Close?

[2012-08-09 15:15] bnoordhuis commented on #485
Close but not quite there yet, if that is what you mean. :-)

[2012-08-09 16:09] piscisaureus opened #521 "Server accept_start/accept_stop"

[2012-08-09 22:46] jbergstroem commented on #485
@bnoordhuis indeed ^_^

[2012-08-10 08:01] saghul opened #522 "unix: assertion on uv__read_int"
On latest master on OSX:

[code]

[2012-08-10 08:03] saghul commented on #522
I forgot to mention that more tests fail with the same assert, I just copied a few.

[2012-08-11 18:52] indutny commented on #522
Related https://github.com/joyent/libuv/pull/524

[2012-08-11 23:04] #522 closed, assigned to nobody

[2012-08-11 23:05] bnoordhuis commented on #522
Fixed in ac0d468. Thanks for the bug report, Saúl.

[2012-08-12 10:35] saghul commented on #522
Does not assert anymore, thanks Ben!

[2012-08-13 22:28] bnoordhuis opened #526 "linux: beef up /proc/cpuinfo parser"
See joyent/node#3749. Ensure that the following parses correctly:

[code]

[2012-08-13 22:39] docfaraday commented on #526
Yuck. The format of cpuinfo is pretty inconsistent. It _looks_ like you can count "processor" lines (case-sensitive), but who knows.

[2012-08-14 08:40] stolsma commented on #526
Same problem on my Rasp PI. Added the output of  '/proc/cpuinfo', maybe you can use it...

[code]

[2012-08-14 16:08] #526 closed, assigned to bnoordhuis

[2012-08-14 16:09] bnoordhuis commented on #526
Fixed in 54bfb66. At least, it's fixed for me - if you guys want to double check it, I'd appreciate that.

[2012-08-15 02:48] piscisaureus opened #527 "Run tests with Dr. Memory"

[2012-08-15 04:12] joelakhani commented on #391
I also have a similar requirement / request for a mechanism to watch for when the loop is about to finish. We have a similar situation where our extension is loading an externally written function, usually provided with a filename and a module.export function to be called with parameters. Because of this we can't add in our own callback to know when the functions are complete, upon their completio

[2012-08-15 09:54] stolsma commented on #526
Yep, it works!!

Tested on Raspberry Pi (see above) with a patched version of libuv in Node0.8.6...

Thanks!!!!

[2012-08-15 10:12] bnoordhuis commented on #526
Sweet, thanks for testing!

[2012-08-17 06:40] saghul commented on #339
Now that 0.8 is out can we reconsider this? /cc @bnoordhuis @piscisaureus

[2012-08-17 10:11] bnoordhuis commented on #339
Yes. I'll add it.

[2012-08-20 23:07] gyohng opened #530 "(Possibly) uninitialized access to loop time"
Hello,

I found that the diagnostic tool that I'm using reports uninitialized access at this location (timer.c, windows branch ):

[code]

time seems to be derived from loop->time, and this part actually doesn't seem to be initialized in loop_init.

There are no side effects to this missing initialization that I discovered so far.

Thanks,
George.

[2012-08-20 23:21] piscisaureus commented on #530
Thanks for reporting. Fixed in a7b83e0 and 2db0093.

[2012-08-20 23:21] #530 closed, assigned to nobody

[2012-08-20 23:24] piscisaureus commented on #530
BTW, I would be very surprised if this:

[code]

would actually be reported as uninitialized memory access...

[2012-08-21 00:25] idunham opened #531 "Build with musl libc"
I'm using musl libc[1], which is a new MIT-licensed libc for linux targetting ISO C99, POSIX 2008, and LSB ABI conformance, correctness, small size, low resource use, and so on.  Someone else mentioned wanting to use musl + libuv for an embedded project, so I started trying to get libuv building on musl.
At present, it's not ready for pull yet, but my WIP is at [2].
I had to adjust the config-unix

[2012-08-21 00:54] idunham commented on #531
OK, it builds...
I still need to figure out what symbols are missing.

[2012-08-21 02:55] idunham commented on #531
https://github.com/joyent/libuv/pull/532 works for me.

[2012-08-21 19:54] beriberikix commented on #526
@stolsma n00b question - how did you patch libuv? I haven't found solid instructions to get v0.8.6/v0.8.7 on my RPI.

[2012-08-21 20:21] stolsma commented on #526
@beriberikix See https://gist.github.com/3301813 and follow 'Instructions for compiling node0.8.7 with hardfloat'

[2012-08-22 15:49] apaprocki opened #534 "uv__async_make_pending() broken in fallback case"
While testing on Solaris/AIX using Studio 12 / XL C 11 compilers (yes, they work just fine), I noticed `uv_async_send()` was broken and failed to ever wake up the `uv_async_t` callback. After some quick poking around I noticed that the `uv__async_make_pending()` code has optimizations for x86/64 and GCC, but a broken fallback case that went unnoticed:

[code]

Essentially, `uv__async_always_make_p

[2012-08-22 18:52] piscisaureus commented on #534
@apaprocki Thanks for reporting. Fixed in a787a16.

[2012-08-22 18:52] #534 closed, assigned to nobody

[2012-08-23 08:05] saghul commented on #291
FYI: https://github.com/joyent/libuv/pull/535

[2012-08-23 18:17] matt2003 opened #536 "uv_init() for linux where is it?"
Hi All,
I am fairly new with libuv and I was wondering where is uv_init() from the unix version. I was trying to maybe upgrade to a newer version of libuv from an older version is it possible? But of course there is no uv_init to begin with it appears this must be a fairly old version

Any help is appreciated

[2012-08-23 20:16] saghul commented on #536
uv_init is gone, you don't need to call it anymore :-)

[2012-08-23 21:42] piscisaureus commented on #536
What @saghul said.

[2012-08-23 21:42] #536 closed, assigned to nobody

[2012-08-24 06:50] matt2003 commented on #536
Thats great may I ask what method should be called on linux to kick everything off? uv_run?

[2012-08-24 07:03] saghul commented on #536
There is nothing special to be called on Linux. Just setup all the handles you want and start the loop with uv_run. You may want to have a look at uvbook: http://nikhilm.github.com/uvbook/index.html

[2012-08-27 17:20] piscisaureus opened #538 "unix: callback ordering"
This doesn't look right to me. `uv_prepare` callback should be made right before polling, and `uv_check` should be processes immediately after it.

https://github.com/joyent/libuv/blob/c77d08eb9229f738aa9d6433a1d3e1d711abfa3d/src/unix/core.c#L256-273

@bnoordhuis

[2012-08-28 22:16] piscisaureus opened #539 "windows: allow ftruncate on O_APPEND files"
long term

[2012-08-31 15:38] JayBeavers opened #542 "Question on fifo uv_work_t handling"
Over in node-serialport we need a FIFO guaranteed background task for writing bytes to a serial port.  I've searched through libuv for a way to do this and don't see an existing pattern.  I've written up a [gist of my proposed change](https://gist.github.com/3553827) using uv_thread, uv_mutex, and a stl queue.  Since I'm new to libuv, I would appreciate feedback on this approach.

[2012-08-31 19:16] bnoordhuis commented on #542
The issue tracker is not really the right place for questions, we have a newsgroup: http://groups.google.com/group/libuv

The basic idea seems solid to me: queue a work req, wait for it to come back, queue the next one.

[2012-08-31 19:16] #542 closed, assigned to nobody

[2012-08-31 19:17] bnoordhuis commented on #542
Oh, I forgot to mention that we have an IRC channel as well: #libuv on freenode.org. There's usually someone around.

[2012-08-31 19:17] JayBeavers commented on #542
Thanks, answered on irc.  You gents are awesome to work with.

[2012-09-03 09:26] rayfill opened #543 "make test assertion failed mingw on windows7(32bit)"
I make and make test libuv on windows7(32bit) with mingw.
unit-test output some errors.

https://gist.github.com/3608082

[2012-09-04 07:21] bobrik opened #544 "Corrupted files on linux with many concurrent write calls"
https://gist.github.com/3617558 - this gist is test case + sample strace output. WTF may not appear after every run. Changing `reader()` to `setTimeout(reader, 1000)` does not change anything.

All `pread` syscalls come after last `pwrite` syscall. This only happens if many writes fired at once. Writing from time to time is ok.

OS X is not affected (i have ssd so this may be just too fast), Linux

[2012-09-04 07:51] indutny commented on #544
Info: http://mail-index.netbsd.org/netbsd-users/2010/05/26/msg006265.html

[2012-09-04 07:51] indutny commented on #544
And also, not sure why, but if you'll initialize those buffers - error will disappear.

[2012-09-04 08:28] bobrik commented on #544
From irc with @indutny: https://gist.github.com/3618478 100 writes < 4096 bytes, all `pread` after last `pwrite` — same results.

[2012-09-04 09:32] piscisaureus commented on #544
So this is all on BSDs?

[2012-09-04 09:55] bobrik commented on #544
I see this on Linux. I may ask for FreeBSD machine to check if it matters.

[2012-09-04 10:32] bnoordhuis commented on #544
Maybe I'm missing something. You're doing lots of concurrent overlapping writes, of course you're going to get corrupted results.

[2012-09-04 10:33] indutny commented on #544
Writes are not overlapping.

[2012-09-04 10:33] bobrik commented on #544
@bnoordhuis they do not overlap

[2012-09-04 10:43] bnoordhuis commented on #544
You're doing concurrent writes at the end of the file, right? Let's say thread A writes 100 bytes at position 100, thread B writes 100 bytes at position 200 and they're doing it concurrently. On most operating systems it's undetermined what actually happens. If A comes before B or vice versa, you'll probably get the right results. If A and B overlap in time, non-determinate things happen.

[2012-09-04 10:48] bnoordhuis commented on #544
By the way, the reason that you're not seeing this on OS X is that all writes get serialized through a big mutex. It was considered necessary because pwrite() comes with even less guarantees on that platform.

[2012-09-04 10:49] bobrik commented on #544
Yep, platforms without `pwrite` will work because of libeio emulation with mutex :)

[2012-09-04 11:47] bnoordhuis commented on #544
That's not quite what I mean. We use pwrite() on OS X but all calls are guarded by a single Big Lock.

[2012-09-04 12:06] bobrik commented on #544
https://gist.github.com/3620592 here we go again. sequential writes (no overlapping), but file is corrupted from time to time.

[2012-09-04 13:22] piscisaureus commented on #544
@bnoordhuis looks valid, I can reproduce this on ubuntu.

[2012-09-04 14:27] bobrik commented on #544
@piscisaureus there's a bug in this code, closing.

[2012-09-04 15:01] bobrik commented on #544
Final update: this was "a+" behaviour on linux. Gist to prove that: https://gist.github.com/3621892

Maybe it should be documented somehow, because it's kind of unexpected thing to see.

Waiting for final @bnoordhuis words to close this mess.

[2012-09-04 15:06] kononencheg opened #545 "uv_queue_work() leaks on high load"
There is memory leak in here:
https://github.com/LiveTex/Node-Pg/blob/master/src/connection.cc#L99

When make request synchronously:

[code]

to

[code]

There is no such problem.

For repeating leak, you should call

[code]

from your shell. Where 127.0.0.1 - db (postgres) address, and 100 - request count.
Then use `top` to see how memory leaks.
Leak will happen when request count is more than 20

[2012-09-04 15:18] piscisaureus commented on #545
@kononencheg
- Which OS are you using?
- How did you determine there was a leak?
- Is it possible to create a test that doesn't require me to install postgres?

[2012-09-04 17:38] kononencheg commented on #545
- Fedora 17 x64
- After benchmark stopping memory don't freeing.
- I create special branch leak-test (https://github.com/LiveTex/Node-Pg/tree/leak-test). You not need to install postgres or libpq to test leak in it. Just make and run:

  $ node benchmarks/pg.js 1000000

Thanks you for your attention!

[2012-09-04 18:46] bnoordhuis commented on #545
How are you verifying that? With a tool like valgrind or by looking at the output of ps?

I managed to build the module with some effort and run the benchmark. I don't see anything untoward, the benchmark runs for a bit, then sits idle. RSS tops out at 139 MB.

[2012-09-04 19:26] kononencheg commented on #545
I'm using only output of ps.

The problem is that benchmark memory don't freeing after stopping (only V8 part reduces to 7 MB).
But when using sync execution all memory freeing to 10 MB.

[2012-09-04 19:42] kononencheg commented on #545
Valgrind said:

[code]

And i'm really don't know why it's happen.
But it's a problem because we've got to reload our node.js application once a day because of it.

[2012-09-04 20:15] bnoordhuis commented on #545
Try it with --leak-check=full. The numbers you're seeing aren't unexpected, node/v8/libuv allocate a couple of things at start-up that are never released.

[2012-09-05 12:02] bnoordhuis commented on #544
Hmm... go in peace, my son?

I welcome documentation patches, by the way. :-)

[2012-09-05 12:02] #544 closed, assigned to nobody

[2012-09-05 12:41] kononencheg commented on #545
Previous result is with `--leak-check=full` flag.

And where is top limit?

[2012-09-05 12:51] bnoordhuis commented on #545
Sorry, I meant `--leak-check=full --show-reachable=yes`.

I don't understand what you mean.

[2012-09-05 16:25] kononencheg commented on #545
I mean, what is top limit of memory that node/v8/libuv allocating for its couple of things?

[2012-09-05 16:28] bnoordhuis commented on #545
It depends. It's usually a couple of 100 kB.

[2012-09-08 04:32] kazupon opened #548 "refactoring proposal for unix"
In the commit 10fef50bf3, I support `uv_set_process_title` for darwin.

However, When I looked at the code to fix this commit, saw the following code, I have found that there are some duplicate code. (example: `uv_hrtime`)
- darwin.c
- freebsd.c
- netbsd.c
- openbsd.c
- linux-core.c
- sunos.c

I think we should eliminate duplicate code as much as possible. Duplicate code is the bad code.

I made ​

[2012-09-08 20:57] bnoordhuis commented on #548
Does it actually work? I tried the sysctl() approach a while ago and it turned out that it didn't quite work (but I forgot exactly how - only on some versions of OS X or only with ps. Something like that.)

It breaks the linux build and what's more, it breaks the get/set process title functionality on linux. Have a look at `src/unix/linux/linux-core.c` to find out why.

I'm not adverse against mer

[2012-09-09 11:31] kazupon commented on #548
@bnoordhuis
Thanks for the comments.

Once again, I tried to check the commit 10fef50 is working again on OS X 10.8.
I checked this commit is successful in libuv test.
However, I could not check this commit with output of ps.
(integrated this commit into the node)
I need to fix this commit on my OS X and some versions of OS X.

I'm sorry.
I could not understand why the linux build is broken.

I ca

[2012-09-10 00:05] bnoordhuis commented on #548
Ah sorry, I missed that 1197192 is a follow-up to 745040d.

Not quite. It's true for the BSDs - they all use `clock_gettime(CLOCK_MONOTONIC)` - but on Linux it's more complex, we only use CLOCK_MONOTONIC if CLOCK_BOOTTIME is not available and that's determined at run-time.

I can see the case for merging some of the BSD code but the other platforms are too different to be worth the effort.

[2012-09-10 14:30] #315 closed, assigned to bnoordhuis

[2012-09-10 21:53] bnoordhuis commented on #315
Fixed in 4f5c8da.

[2012-09-11 23:01] meh opened #551 "Compilation error because of rwlock."
[code]

I'm getting this error, with glibc 2.16.0, Arch Linux and `Linux 3.5.3-zen-00489-g2332dad #2 ZEN SMP PREEMPT`.

Apparently rwlocks are enabled only if:

[code]

Defining one of the two before including `pthread.h` solves the issue, dunno which path you want to take.

EDIT: I found the real culprit, compiling with `-std=c99` disables one of those two, using `-std=gnu99` solves the issue too

[2012-09-12 00:16] bnoordhuis commented on #551
Does that happen when you compile libuv itself or when you're compiling something that uses libuv headers?

[2012-09-12 00:18] meh commented on #551
When compiling something that uses the header.

I realize now the issue was misleading, sorry about that.

[2012-09-12 00:22] meh commented on #551
Now that I think of it, it's probably `_GNU_SOURCE` missing from `uv.h`, it's defined when compiling libuv but missing in the header.

[2012-09-12 22:47] bnoordhuis commented on #551
Okay, that's not really a libuv bug, you'll just have to make sure that you compile with the right flags. If you use gyp, that is all taken care of. If you compile with autotools, add a AC_GNU_SOURCE to your configure.ac.

I don't want to add a `#define _GNU_SOURCE` in uv.h because it a) won't work if uv.h is not the first include, and b) changes the compilation environment, i.e. it "leaks".

[2012-09-12 22:47] #551 closed, assigned to nobody

[2012-09-13 02:28] meh commented on #551
Agree, it was just unexpected, it could maybe be added to the documentation.

[2012-09-13 12:16] bnoordhuis commented on #551
I've added a note in 2b04bc7.

[2012-09-19 16:14] hnakamur opened #558 "Could you create node-v0.9.2 tag?"
http://blog.nodejs.org/2012/09/17/node-v0-9-2-unstable/

[2012-09-19 22:15] Leont commented on #354
A debian/ directory with in it all the information necessary to build a debian package would be most welcome though.

[2012-09-19 22:24] bnoordhuis commented on #558
Done. https://github.com/joyent/libuv/tarball/node-v0.9.2

[2012-09-19 22:24] #558 closed, assigned to nobody

[2012-09-19 22:25] hnakamur commented on #558
Thanks for tagging.

[2012-09-19 22:54] tjfontaine commented on #354
I wouldn't expect to see released binary libuv packages soon as the bundling the library is preferred to the shared library approach. That being said the debian structure isn't that difficult and you could adapt what @bnoordhuis did for node https://github.com/bnoordhuis/node/compare/debian

[2012-09-20 23:00] piscisaureus commented on #543
@rayfill Can you gist the output of `netsh winsock show catalog` for me?

[2012-09-20 23:15] piscisaureus commented on #543
FWIW, all tests pass here with mingw32. This is a windows 7 enterprise (64 bit) system.

[2012-09-21 14:59] saghul commented on #439
Closing, since it was fixed by @piscisaureus here: https://github.com/joyent/libuv/commit/032c04179033b7512187fbcd17230e564c8573f4

[2012-09-21 14:59] #439 closed, assigned to nobody

[2012-09-24 03:03] rayfill commented on #543
1. fs_file_loop
   Create loop symbolic link in test. It is failed.
   My environment is UAC on. run-test.exe permit administrator, test is succeed!.
2. dlerror
   LoadLibraryEx API load to test/fixtures/load_error.node is failed.
   because I checkout using cygwin's git. load_error.node file is not executable.
   cygwin is this permission projected to windows 'フォルダのスキャン/ファイルの実行'(scan folder/execu

[2012-09-24 03:05] rayfill commented on #543
netsh winsock show catalog's result.
https://gist.github.com/3773964

[2012-09-24 08:34] piscisaureus commented on #543
@rayfill I think the poll_close failure happens due to the fact that you have X-FORT LSP installed. A poll_close failure is expected on windows xp but not on windows 7, so I'll have to look into this.

Do you have any idea where this X-FORT LSP comes from? [LSPs](http://msdn.microsoft.com/en-us/library/aa925739.aspx) are typically associated with parental control software, firewalls, and malware.

[2012-09-28 23:18] hnakamur opened #565 "Could you tag node-v0.8.10 and node-v0.8.11?"
Thanks.

[2012-09-28 23:50] txdv opened #566 "uv_pipe_open and uv_pipe_init question"
Does the argument ipc (in uv_pipe_open)e has any meaning when I am using uv_pipe_open afterwards?

[2012-09-29 01:27] txdv commented on #509
someone told me that sendfile is useless anyway in the current state it is

[2012-09-29 01:38] bnoordhuis commented on #509
In node, not in libuv.

[2012-09-29 17:24] saghul commented on #566
Yes, it does: https://github.com/joyent/libuv/blob/master/src/win/pipe.c#L1650 If you want to use the pipe for ipc later on, you'll need to set it on uv_pipe_init.

[2012-09-29 22:16] bnoordhuis commented on #566
What @saghul said. Also, we have a mailing list now: http://groups.google.com/group/libuv :-)

[2012-09-29 22:16] #566 closed, assigned to nobody

[2012-09-29 23:57] bnoordhuis commented on #565
Done. They point to the same commit, by the way.

[2012-09-29 23:57] #565 closed, assigned to nobody

[2012-09-30 03:48] hnakamur commented on #565
Thanks!

[2012-10-02 05:26] rayfill commented on #543
I test another environment.(windows 7 32bit enterprise english and windows 7 64bit ultimate japanese)
error is not occured.
poll_close problem is probably cause from X-FORT.
(X-FORT is system management tool. It install from company. http://www.fineart-tech.com/en/index.php?option=com_content&view=article&id=2&Itemid=19 )

Thank you for your advice.

[2012-10-02 07:57] saghul opened #568 "Compilation error on OSX (sendfile related)"
[code]

Signature according to man page:

[code]

Fix doesn't seem too complicated, but I couldn't get rid of a compilation warning when casting size_t to off_t :-S

[2012-10-02 12:30] bnoordhuis commented on #568
@saghul Can you try 75fd6de?

[2012-10-02 12:40] saghul commented on #568
@bnoordhuis That fixes compilation :-) A related test fails though:

[code]

[2012-10-02 21:34] bnoordhuis commented on #568
Fixed in 3977d1b.

[2012-10-02 21:34] #568 closed, assigned to nobody

[2012-10-02 21:37] saghul commented on #568
Works like a charm :-)

[2012-10-02 22:20] bnoordhuis opened #569 "test: pipe_ref4: helper asserts"
[code]

Probably harmless but should be investigated.

[2012-10-03 23:15] piscisaureus opened #572 "Initialize libuv in uv_rwlock_init and uv_condvar_init"
Right now the fallback implementation of these functions don't work if no loop has been created yet.

[2012-10-04 14:43] piscisaureus opened #573 "uv_spawn: PTY support"
Add an option to uv_spawn to open a PTY.

Example code of how to create a pty can be found in [node 0.4](https://github.com/joyent/node/blob/7fd1c08b1615b57529c1bb7ae6f9a7b16e643162/src/node_stdio.cc#L239-274) and [pty.js](https://github.com/chjj/pty.js/blob/master/src/pty.cc).

Open questions/problems:
- Do we define a separate uv_pty_t, or can we piggyback this onto uv_pipe_t?
- Typically you wo

[2012-10-04 14:46] rogerwang opened #574 "uv_run_once() should return immediately on a timer with zero timeout"
the following code should return immediately but it doesn't:

  r = uv_timer_init(uv_default_loop(), &once);
  r = uv_timer_init(uv_default_loop(), &never);
  r = uv_timer_start(&never, never_cb, 86400 \* 1000, 0);
  r = uv_timer_start(&once, once_null_cb, 0, 0);
  r = uv_run_once(uv_default_loop());

the loop calls once_null_cb() immediately but then waits for the next timer.

[2012-10-04 14:47] rogerwang commented on #574
the same thing happens if the timer is small enough. e.g. <5ms

[2012-10-04 16:12] txdv commented on #574
use async_t if you want to emulate NO_WAIT.

[2012-10-04 23:05] piscisaureus commented on #543
@rayfill Reopening, I believe we can do better here. The X-Fort LSP is of a "nice" type for which there should be no need to fail poll_close.

[2012-10-04 23:38] rogerwang commented on #574
How? I'd like to implement something like uv_run_once(loop, max_wait_time).

[2012-10-04 23:48] saghul commented on #574
You may want to check this out: https://github.com/joyent/libuv/pull/561

[2012-10-04 23:53] rogerwang commented on #574
Thanks. I'll wait for that API to be implemented on all the platforms.

Currently I'm sending a async event in the timer callback to make sure the loop will be wake up, but that is a side effect.

[2012-10-04 23:54] piscisaureus commented on #574
@rogerwang We will have this, some day :-)

You cal also prevent the loop from blocking by starting an uv_idle handle with a dummy callback. That should be more efficient than using an uv_async handle.

[2012-10-05 03:06] bnoordhuis commented on #574
I can confirm the bug. It works when you close the zero timeout handle in its callback but if you leave it open (open but inactive), the event loop stalls.

[2012-10-05 11:23] alex opened #576 "uv_tcp_keepalive's descriptive comment makes no sense"
At https://github.com/joyent/libuv/blob/master/include/uv.h#L611 this comment makes no sense `ms` refers to a parameter which doesn't exist and if it didn't I certainly wouldn't expect it to be measured in seconds.

[2012-10-05 13:06] bnoordhuis commented on #576
Thanks, addressed in 7aa1261.

[2012-10-05 13:06] #576 closed, assigned to nobody

[2012-10-05 19:51] sgallagher commented on #354
I'd like to also request that libuv consider producing ABI-stable releases simultaneously with Node.JS releases. It makes it much easier for distributions to package the code.

Also, I wonder why you would claim that "bundling the library is preferred to the shared library approach". It has been shown time and again throughout history that bundling is BAD. When libraries are bundled, it becomes di

[2012-10-05 20:33] bnoordhuis commented on #354
We're (unofficially) already doing that: the snapshot that ships with a node.js releases gets tagged (node-v0.8.11, node-v0.9.2, etc.).

The stable branch - that's v0.8 - is ABI frozen.

[2012-10-05 21:04] sgallagher commented on #354
Sure, but I guess what I'm trying to say is that it would be better if libuv did separate shared-library releases (timed alongside node.js releases). This would be a public statement of ABI stability, as well as making it easier to fix libuv-specific issues without doing a full node.js re-release (which I'm sure is quite expensive time-wise).

[2012-10-06 08:23] denik commented on #485
Once edge-triggered epoll is used, will Poll watchers become edge-triggered too? or will you implement level-triggered Poll on top of edge-triggered epoll?

[2012-10-06 13:56] bnoordhuis commented on #485
@denik Poll watchers will default to level-triggered mode. I may add a flag for edge-triggered mode.

FWIW, I'm reconsidering edge-triggered mode. It reduces the number of system calls substantially but it slows down some benchmarks because a lot more time is spent inside kernel-side spinlocks. :-(

It's probably because everyone and his dog uses level-triggered mode and as a result that code path

[2012-10-06 18:47] saghul opened #580 "Occasional crash on threadpool"
Since the new threadpool landed I occasionally get the following crash:

https://gist.github.com/3845761

Doen't happen always, but travis seems to consistently hit it with pyuv's test suite :-S

[2012-10-08 11:54] txdv opened #582 "Add control flow functions to uv_listen (pause)."
Hello, I would like to suggest to add uv_listen_pause/uv_listen_resume to the api.
The current api doesn't allow much freedom, you have to listen and if the callback gets hit either you accept or you have lost your cards (the request gets into idle, and you can't reuse use the listener again).

The immediate downside of this that I can see is that someone can bombard the listener with requests and

[2012-10-08 12:39] bnoordhuis commented on #582
`uv_listen_stop()` is straightforward to implement in uv-unix, it just needs to stop the listen socket's read watcher.

An edge case is when there is a live connection in `stream->accepted_fd` but that only happens when the libuv user didn't call `uv_accept()` in its `uv_connection_cb` callback. Not really something to worry about, I think.

tl;dr It's easy for me. Things may be more involved for

[2012-10-08 12:45] txdv commented on #582
/cc @piscisaureus we need you!

[2012-10-08 14:50] #572 closed, assigned to nobody

[2012-10-09 13:32] hnakamur opened #583 "test/runner-win.c compile error on MinGW"
with error message.
test/runner-win.c:27:20: fatal error: crtdbg.h: No such file or directory

https://github.com/joyent/libuv/commit/8f1ec328656c8fb792fce4a346c11141ab2cd9f9

[2012-10-09 13:54] bnoordhuis commented on #583
Does this patch fix it?

[code]

[2012-10-09 14:00] hnakamur commented on #583
No. I sent a pull request. Please see https://github.com/joyent/libuv/pull/585

[2012-10-09 16:10] piscisaureus commented on #583
Fixed in 2684f876a.

[2012-10-09 16:10] #583 closed, assigned to nobody

[2012-10-10 01:56] zcbenz commented on #485
@bnoordhuis When will libev be completely removed? I've waited this for a long time :)

And will libuv provide an API like uv_backend_fd() to help integrating libuv to other event loops after libev is removed?

[2012-10-10 15:02] bnoordhuis commented on #485
It's mostly done, I just need to clean it up a little. Time permitting, I'll land it this or next week.

Yes. And mea culpa, that's long overdue.

[2012-10-10 17:02] TooTallNate commented on #485
I believe this thread on the libuv mailing list is related: https://groups.google.com/d/topic/libuv/qSSaBRBwFoY/discussion

[2012-10-11 12:12] dvv opened #586 "why uv.a and not libuv.a"
have i missed any reason why resulting library is named in non-standard way?

[2012-10-11 12:21] bnoordhuis commented on #586
No particular reason. Is it bothering you in any way?

[2012-10-11 12:26] dvv commented on #586
yes, i can't get luarocks link against it, as it simply obey convenience and inserts `-luv` into `LDFLAGS`.
can we have libuv.a, or a symlink libuv.a -> uv.a? tia

[2012-10-11 12:32] saghul commented on #586
In pyuv I rename uv.a to libuv.a so that -luv works, I would welcome the change :-)

[2012-10-11 12:34] bnoordhuis commented on #586
Sure. Changed in 47b2cd3.

[2012-10-11 12:34] #586 closed, assigned to nobody

[2012-10-11 12:35] saghul commented on #586
Thanks Ben!

[2012-10-11 12:39] dvv commented on #586
Thank you!

[2012-10-11 13:04] chobie commented on #586
Thank you!

[2012-10-11 18:13] ry opened #587 "uv_fs_open doesn't set req.result correctly on linux"
it used to be that `req.result` would be set to the opened fd, it isn't anymore...

cc @bnoordhuis

[2012-10-11 18:37] ry commented on #587
nevermind - had a linking error

[2012-10-11 18:37] #587 closed, assigned to nobody

[2012-10-11 23:30] pH200 commented on #583
Oops, sorry for breaking the build :p

Although libuv is only supported build with either MSVC or MinGW for Windows. Given the fact that `crtdbg.h` is an MSVC specific header,  maybe it would be more appropriate to write:
`#if defined(_MSC_VER)`

[2012-10-15 16:48] txdv opened #588 "0 mhz speed."
Ubuntu 12.04, CPU info in the picture.

![0mhz](http://is.gd/B8KMC0)

[2012-10-15 22:36] bnoordhuis commented on #588
That's libuv telling you you need to upgrade your system.

I kid, I kid. What does `cat /proc/cpuinfo` print?

[2012-10-16 13:07] txdv commented on #588
I looked at the code, the virtual file which libuv opens simply does not exist on my system.

Content of proc/cpuinfo

[code]

[2012-10-16 15:41] bnoordhuis commented on #588
You mean you don't have scaling_cur_freq? What does `uname -a` print?

[2012-10-16 16:24] txdv commented on #588
Linux precision 3.2.0-24-generic-pae #39-Ubuntu SMP Mon May 21 18:54:21 UTC 2012 i686 i686 i386 GNU/Linux

[2012-10-16 16:33] benoitc opened #592 "add resource limits support in process"
It would be interesting to be able to configure resource limits with the process watcher

[2012-10-16 19:04] shigeki commented on #588
I have the same issue on my VPS linux server.  `scaling_cur_freq` file is only available when a cpufreq driver was already installed. If you have installed cpufrequtils, `cpufreq-info` shows that no driver is active as below.

[code]

I made a patch, 3df469360edfa85777bc7f5fa2ec7e9b333ca4fa, to look for cpu speed at /proc/cpuinfo instead in that case.

[2012-10-16 23:45] piscisaureus opened #593 "Should closing handles keep the loop alive even when unref'ed?"
I would say no, but some tests (e.g. tcp_ref2) mandate otherwise. This makes tests fail on windows.

[2012-10-16 23:46] piscisaureus commented on #593
Note that if the answer is "yes' the common implementation for `uv__handle_ref` and `uv__handle_unref` is incorrect.

[2012-10-17 14:22] piscisaureus opened #594 "linux: tcp_pump benchmark times out"
This happens for me on linux in a vm.

Apparently the writer (`tcp_pump100_client`) has a very fast reader, and `write()` never returns EAGAIN. The effect is that the queue that hold uv__io events never drains so `ev_invoke_pending` never returns, and the timers never run.

This used to be a problem on windows as well; it was fixed by splitting the queue before processing it.

@bnoordhuis

[2012-10-17 21:36] saghul opened #595 "Visual Studio 2008 support"
Yes, I know, it's old. But the python.org installer was compiled with it, so in order to properly compile pyuv I need to use this version.

I managed to compile ti already \o/ the only problem I ran into was the lack of stdint.h. We can use this one instead:

http://msinttypes.googlecode.com/svn/trunk/stdint.h

My quick and dirty was to do the following:

[code]

wherever a file was included in th

[2012-10-20 04:45] sequoiar opened #598 "Windows7 : pGetQueuedCompletionStatusEx(...) stuck issue"
a tricky issue.

when libuv uses pGetQueuedCompletionStatusEx(...) as loop's poll mechanism in windows, it shows the intermittent stuck issue. if use GetQueuedCompletionStatus(...), the issue gone.

[2012-10-20 15:37] piscisaureus commented on #598
I never experienced this. Do you have a test case to replicate this?

[2012-10-20 21:40] piscisaureus commented on #595
@saghul The general approach seems fine with me.

I would suggest you use this file only on VS 2008 and older; name the file to reflect this.

`#if defined(_MSC_VER) && _MSC_VER < 1600`

[2012-10-20 21:41] piscisaureus commented on #595
Also, update the LICENSE file.

[2012-10-20 22:06] bnoordhuis commented on #588
@txdv Can you test 775064a?

[2012-10-21 01:06] shigeki commented on #588
@bnoordhuis 775064a3a540689db1d5a8f95f5a17e90dc8d347 works fine on both my i686 and x86_64. Thanks.

[2012-10-21 19:49] saghul commented on #595
Thanks for your comments, Bert. Will do!

[2012-10-21 20:54] #588 closed, assigned to nobody

[2012-10-21 20:54] bnoordhuis commented on #588
@shigeki Thanks for testing, landed.

[2012-10-22 19:47] txdv commented on #588
You asked me to check if it works.
Yes it does.
Great job shigeki!

[2012-10-23 06:06] richmonkey opened #599 "why " assert failed handle->reqs_pending > 0 win/tcp.c line 1025 ""
i have an network application that uses pyuv, i build it on windows xp(32bit) with py2exe
then run it on windows 7(64bit)

[2012-10-23 07:05] saghul commented on #599
For the record, what version are you running?

[2012-10-23 10:22] bnoordhuis commented on #599
Please report this at pyuv. If it turns out to be a libuv bug, @saghul will forward it to us.

[2012-10-23 10:22] #599 closed, assigned to nobody

[2012-10-23 10:24] saghul commented on #599
LoL, I didn't even realize this was reported in the libuv project :-) @richmonkey please report it to pyuv, with a test case to reproduce it and if it turns out it's a libuv issue I'll deal with it, as @bnoordhuis  said.

[2012-10-23 14:45] bnoordhuis commented on #593
Yes.

[2012-10-23 18:54] nathansobo commented on #485
@bnoordhuis is the code for removing libev visible publicly on a branch somewhere? I'd love to get a look at progress.

[2012-10-23 20:56] piscisaureus commented on #595
Fixed in 61ecb34.

[2012-10-23 20:56] #595 closed, assigned to nobody

[2012-10-23 23:05] bnoordhuis commented on #485
@nathansobo Sure, it's in [my rm-ev branch](https://github.com/bnoordhuis/libuv/compare/rm-ev).

[2012-10-24 00:17] bnoordhuis opened #601 "unix: re-open tty stdio fds as /dev/tty?"
The basic logic is as follows, error handling elided for brevity:

[code]

That lets libuv / node switch its tty to non-blocking mode without affecting other programs that expect it to be in blocking mode. That would, for example, fix the following issue:

[code]

See joyent/node#3027 and [this comment](https://github.com/joyent/node/issues/3027#issuecomment-9722974) in particular.

It remains to

[2012-10-24 05:53] sunnyboy00 opened #602 "assertion failed in benchmark-muti-accept.c on line 123"
assertion failed in benchmark-muti-accept.c  on line 123,

assertion failed in benchmark-udp-pummel.c  on line 98

assertion failed in asynl.c  on line 77

windows 7, visual studio 2008.

[2012-10-24 06:57] richmonkey commented on #599
ok  i'm debuging my application  thanks

[2012-10-24 09:25] saghul opened #603 "Segfault in uv__async_io"
I'm getting some weird crash with latests master. Seems race-y because I can't reproduce all the time :-S

Here is the gdb backtrace:

[code]

If I inspect the actual handle in the 1st frame:

[code]

By looking at this, I can't figure out what is going on. However, the fact that close_cb is set sugests me that uv_close was called, but somehow the flag test in ASYC_CB passed?!

Any idea?

[2012-10-24 10:29] indutny commented on #603
Idea - yes, solution - no so far

[2012-10-24 11:06] indutny commented on #580
@bnoordhuis looks like it's related to recent uv_async_t improvements... lets discuss it on irc later today

[2012-10-24 11:08] saghul commented on #580
@indutny I don't think so, this used to happen after libeio was removed, but before the async change. I haven't seen it anymore in a while, howevere. @bnoordhuis did you fix anything in the threadpool which could explain this?

[2012-10-24 11:40] piscisaureus commented on #580
@indutny

Is it because a pointer to a closed async handle is read from the pipe? Take a look at signal.c again to see how this is dealt with:-)

Maybe we should revert in the meantime?

[2012-10-24 12:59] #603 closed, assigned to nobody

[2012-10-24 13:00] bnoordhuis commented on #603
"Fixed" in b7f38b1 by reverting 209abba.

[2012-10-24 13:01] bnoordhuis commented on #580
@saghul I've reverted 209abba. Can you retest with the current master?

[2012-10-24 13:37] saghul commented on #580
Thanks @bnoordhuis. As I mentioned earlier these crashes happened before the async change, but they have disappeared already. I'll close this for the moment, we can reopen it if crashes come back.

[2012-10-24 13:37] #580 closed, assigned to nobody

[2012-10-24 13:42] #601 closed, assigned to bnoordhuis

[2012-10-24 13:42] bnoordhuis commented on #601
Landed in 31f9fbc.

[2012-10-24 19:32] piscisaureus opened #604 "Benchmarks are in a sorry state"
- Benchmarks take way too long to run. There really is no need to run 16 variants of udp_packet_storm, 100 variants of fs_stat etc.
- Many benchmarks time out on windows.

[2012-10-24 21:06] saghul opened #605 "Prepare callback called on closed handles"
After almost going crazy trying to debug this, here is a test case showing the issue: https://github.com/saghul/libuv/blob/prepare/test/test-prepare.c

Basically, if X prepare handles are started and in the first callback they are all closed in reverse order, the callbacks will be called regardless. In the test: prepare_close is OK, but prepare_close_reverse shows the problem:

[code]

I havent te

[2012-10-25 00:46] bnoordhuis commented on #604
Strongly disagree. We're talking benchmarks here, not test cases.

The reason that there are many variations is to a) torture-test libuv, and b) catch regressions and/or non-linear behavior. If anything, most benchmarks should run a lot longer than they do now because I'm not convinced they're as rigorous as they could be.

[2012-10-25 00:47] bnoordhuis commented on #604
That's a strong indication you have some catching up to do, Bert Belder. :-)

[2012-10-25 00:53] piscisaureus commented on #604
You can say that, but I almost never run benchmarks any more because it takes ages to run all of them. Maybe we can have 2 flavors, one "quick" and one "full" suite?

Maybe you need to write better benchmarks. See 0dbab845292c742085797dbbb4b5696d7bd5b20e and a54b9e292164473f4553881acc66f20a4f3fbd61 for example.

[2012-10-25 00:54] piscisaureus commented on #604
Also, the fs_stat benchmark times out and this is not fixable. It's just windows.

[2012-10-25 02:45] #605 closed, assigned to nobody

[2012-10-25 02:45] bnoordhuis commented on #605
Thanks for the bug report. It's fixed in f43ad85.

[2012-10-25 13:11] piscisaureus commented on #593
Solved in 149b16f

[2012-10-25 13:11] #593 closed, assigned to nobody

[2012-10-25 14:19] whitesheep opened #607 "uv_fs_event_init : Symbol not found: __ZN4Tail7OnEventEP13uv_fs_event_sPKcii"
using node-gyp to build.
Build successful but, when I start node.js script "Symbol not found" appears

[2012-10-25 14:24] bnoordhuis commented on #607
Not a libuv bug. The linker isn't complaining that it can't find `struct uv_fs_event_s`, it's complaining that it can't find `Tail::OnEvent::uv_fs_event_s`.

[2012-10-25 14:24] #607 closed, assigned to nobody

[2012-10-25 14:53] whitesheep commented on #607
ops, my fault. Thanks.

[2012-10-26 16:25] peters opened #609 "Linking with libuv"
Hi,

It would be great if you guys could add an example of how one could link with libuv using gyp. Because when you add libuv to 'dependencies'  I get the following error message:

[code]

So how could one get this to work? I've been googling and reading your irc logs, but I just can't get it to work. Even tried defining 'library%' : 'static_library' in my common.gypi (Same way node does it). But

[2012-10-26 20:20] bnoordhuis commented on #609
`gyp -Dlibrary=static_library --depth=$PWD digterm.gyp` should do it. If you keep running into issues, can you post your gyp file and the exact steps you took, including the output of `make V=1`?

[2012-10-28 02:38] InstantWebP2P opened #610 "porting UDT(udp-based transport) to libuv"
UDT is a UDP-based transport. By integrate it to libuv, we can bring P2P service easily.

All api is similar to tcp. it's simple to use it:
1. replace tcp litera with udt, like uv_tcp_t to uv_udt_t.
2. the rest of things is same with TCP.

opensouce it on github:

https://github.com/InstantWebP2P/libuvpp

[2012-10-28 03:53] InstantWebP2P commented on #610
no a libuv issue. just an idea. so closing it.

[2012-10-28 03:53] #610 closed, assigned to nobody

[2012-10-30 15:35] ghost opened #611 "Global error not set when uv_fs_sendfile() fails with EAGAIN"
The following sendfile() loop, when run on a non-blocking uv_tcp_t global_tcp, fails with the message "Sendfile error: no more processes".

[code]

The actual error, according to strace, is EAGAIN:

[code]

freq.errorno is correctly set to UV_EAGAIN, but this error is not returned by uv_last_error(uv_default_loop()).

This is on Linux and libuv commit 97c527a.

[2012-10-30 18:42] Sharpie commented on #573
One interesting workaround on the Windows side:

  https://github.com/rprichard/winpty

A bit clunky as it spawns a new process that tries to generate a PTY stream by scraping a hidden console window. More discussion and alternative approaches can be found on the [Cygwin mailing list](http://cygwin.com/ml/cygwin/2012-09/msg00209.html).

Maybe not a solution that is solid enough to build into libuv

[2012-11-01 09:16] ghost commented on #611
Ah, I found my source of confusion. The error _is_ propagated correctly, as in, the following is true:

[code]

My confusion came from the error string associated with EAGAIN, which is defined as "no more processes" in uv.h:79. Why was that error string chosen, instead of the more common "Operation would block" or similar?

[2012-11-01 13:09] bnoordhuis commented on #611
Right, good catch. Fixed the error message in 0d5d650.

[2012-11-01 13:09] #611 closed, assigned to nobody

[2012-11-02 16:18] isaacs opened #613 "Use fileID from FILE_ID_BOTH_DIR_INFO for the stat ino field on Win32"
https://github.com/joyent/node/issues/2670

http://msdn.microsoft.com/en-us/library/windows/desktop/aa364226%28v=vs.85%29.aspx

[2012-11-02 21:22] piscisaureus commented on #613
Agreed, with the following notes:
- FILE_ID_BOTH_DIR_INFO can only be read when enumerating a directory. We can also query this information with NtQueryInformationFile using the IndexNumber field (see http://msdn.microsoft.com/en-us/library/windows/hardware/ff540318(v=vs.85).aspx)
- A problem is that the file id is a 64-bit integer. `struct stat` on windows does not accommodate a 64-bit integer in

[2012-11-02 22:34] isaacs commented on #613
So, it's a bit hacky... but... is the `st_dev` set to zero as well?  Maybe the high 32 bits can be used for the st_dev, and the low 32 can be the inode?  Of course, this will break programs that use the dev number to actually determine the device, but I wonder how many of those there are, actually.  In reality, you can't rely on just st.st_ino anyway, you have to also consider the st_dev, since th

[2012-11-02 22:35] piscisaureus commented on #613
st_dev is currently zero for the same reason.

[2012-11-03 02:16] bnoordhuis opened #614 "darwin: select() thread spins"
[code]

The file descriptor is added to both the read and the write set without regard for the event mask.

If the fd refers to a tty and we're only interested in read events, select() is effectively a no-op: it returns immediately because the tty is (almost always) writable.

/cc @indutny

[2012-11-03 02:20] bnoordhuis commented on #614
For fun, run dtruss on the program below - it logs ~20MB worth of events in < 10 seconds.

[code]

[2012-11-06 19:50] bnoordhuis opened #615 "bsd: work around missing pthread_condattr_setclock()"
976c8a4 adds a call to pthread_condattr_setclock(CLOCK_MONOTONIC) as suggested by yours truly.

The problem is that NetBSD, OpenBSD <= 5.1 and FreeBSD <= 6 don't have that function. Detect that and work around it.

A similar issue may apply to the barrier support that was added in acea302 but probably not - all recent BSDs support the subset of barriers that libuv offers.

[2012-11-08 03:20] bnoordhuis opened #617 "linux: use getaddrinfo_a() if available"
getaddrinfo_a() has been in glibc since forever but other libcs (uclibc, dietlibc) don't have it. Use something like this to look it up:

[code]

[2012-11-08 07:40] ghost commented on #617
What will happen with the dlopen check when the binary has a libc statically linked into it (e.g. musl). I suspect that loading libanl.so will also load (and use) glibc. Having two different libc's linked into a single program sounds like trouble to me. And, preferably, statically linked binaries shouldn't have dlsym() included in the first place.

I'd prefer a compile-time check, similar to autoc

[2012-11-09 18:46] ry opened #618 "fix up gyp"
direct_dependet_settings should be link_settings in a few places
https://gist.github.com/55f402136e3f6067707e

also removes "ldlags" ...

cc @tootallnate @bnoordhuis

[2012-11-09 19:43] #618 closed, assigned to nobody

[2012-11-09 19:44] bnoordhuis commented on #618
I couldn't get the patch to merge but I landed a more or less verbatim copy with attribution in deeec42.

[2012-11-09 20:21] ry commented on #618
thanks ben! sorry for the shitty patch

[2012-11-12 03:41] bnoordhuis opened #620 "unix: report useful error if poll() in sendfile emulation fails"
See [here](https://github.com/joyent/libuv/commit/3977d1b#L0R348).

The sendfile emulation in src/unix/fs.c polls the file descriptor for write readiness. If POLLERR or POLLHUP is set, it bails out but doesn't set errno (hence it doesn't report a useful error code).

TBD: The error code to set. EPIPE, EIO, something else?

[2012-11-12 06:12] bogushevich opened #621 "How debug 'libuv' itself on Windows?"
Hi
I want to learn how libuv work from the inside. I builded it on Windows by vcbuild.bat, then got 'libuv.lib' and 'include' folder to other VC++ project.
Then I tried to build this simple code:
<code>#pragma comment (lib, "libuv.lib")
# include "include\uv.h"

int main() {
    uv_loop_t *loop = uv_loop_new();
    uv_run(loop);
    return 0;
}</code>
On linking stage I got many errors like this:

[2012-11-12 06:18] #621 closed, assigned to nobody

[2012-11-12 15:17] bnoordhuis commented on #617
You're probably right. We don't do configure-time checks though so that's not an option.

I'll see if I can get it to work with simple `#ifdef __GLIBC__` guards.

[2012-11-12 15:57] bnoordhuis opened #623 "unix, windows: report socket hangup to uv_poll_t callback"
Report AFD_POLL_DISCONNECT / EPOLLRDHUP / EV_EOF / (whatever event ports reports, if anything) as UV_DISCONNECT to the uv_poll_t callback.

Make it clear in the API documentation that it's an optional event in that it a) may not be reported, and b) the user is free to ignore it (but that it helps optimize the shutdown path because you avoid an extra read or write).

The event name is TBD but UV_DI

[2012-11-14 01:10] bnoordhuis opened #624 "unix: accept back-off patch causes regression in tcp_multi_accept2"
[code]

When accept back-off is disabled, the test maxes out two or three cores. When it's enabled, CPU usage hovers at 7% max - and usually much less.

Happens with both the master and the rm-ev branch.  (Not applicable to v0.8, it doesn't contain the patch.)

[2012-11-14 01:21] bnoordhuis commented on #624
Okay, it happens because of [this code in src/unix/stream.c](https://github.com/joyent/libuv/blob/09b0222/src/unix/stream.c#L299-303):

[code]

That nanosleep() works great when there are three or more processes but it's actively harmful when there are only two...

/cc @piscisaureus - ideas?

[2012-11-15 00:11] luislavena opened #625 "Addition of shared libraries broke MinGW build"
Hello,

After cc36fd036606a3dec452b6e40ded41db6e5bf322 it is no longer possible to compile tests or benchmarks under Windows with GCC:

[code]

Even if we add the necessary changes, all the C files needs to be compiled with `BUILDING_UV_SHARED` and then tests with `USING_UV_SHARED`

I wonder when gyp will support MinGW so we can stop worrying about the makefiles?

[2012-11-15 00:23] bnoordhuis commented on #625
I wouldn't put your hopes up. By and large, the gyp people only care about the platforms they use themselves. MinGW isn't one of them.

I'll take patches for the build issue (or maybe @piscisaureus can fix it). It should be pretty straightforward:
1. Add a libuv.so target to config-mingw.mk that compiles with`CPPFLAGS+=-DBUILDING_UV_SHARED`
2. Add `-DUSING_UV_SHARED` to RUNNER_CFLAGS.

You can loo

[2012-11-16 16:54] bnoordhuis commented on #485
Fixed in 1282d64 and 665a316.

[2012-11-16 16:54] #485 closed, assigned to nobody

[2012-11-22 06:09] richmonkey opened #628 "linux:threadpool thread race"
When run to
uv_async_send(&w->loop->wq_async);   in function thread_pool.c:work
variable w may be destroyed by other thread that run the fs callback
Because the main thread is running in uv__work_done and not be waked by uv_async_send
Is it true?

[2012-11-22 11:03] txdv commented on #628
example or it didn't happen

[2012-11-22 11:05] indutny commented on #628
Is it a question or a bug?

[2012-11-22 12:33] richmonkey commented on #628
A bug
Thread race condition can't be reproduced when  low throughput.
Before uv_mutex_unlock,  i save w->loop in a local variable, no segment fault happen

[2012-11-22 12:35] indutny commented on #628
Can you please provide a test case, or just show code that reproduces this problem.

[2012-11-22 14:06] richmonkey commented on #628
Sorry
The issue reproduce depend on the system's process dispatch and the main thread load.
I can't provide a simple test case.

But adding some time sleep in worker and uv__work_done will makes reproduce easy

[2012-11-22 14:07] richmonkey commented on #628
function:worker
uv_mutex_lock(&w->loop->wq_mutex);
ngx_queue_insert_tail(&w->loop->wq, &w->wq);
uv_mutex_unlock(&w->loop->wq_mutex);
sleep(10)/_second_/
uv_async_send(&w->loop->wq_async);

main thread:
callback() {
free(uv_fs_t);
}
malloc(uv_fs_t)
fs_read(callback)

sleep(5)
malloc(uv_fs_t)
fs_read(callback)

run_loop()

Wating 5s uv__work_done will be called
At this point loop's wq has two items

[2012-11-22 14:10] indutny commented on #628
Well, I can't see where you're allocating/opening and closing `wq_async`. It seems to be the most important thing to check.

[2012-11-22 14:12] bnoordhuis commented on #628
I agree it's a bug. Does bnoordhuis/libuv@dcd3b55 fix it?

[2012-11-22 14:41] richmonkey commented on #628
Yes.
Save w->loop in a local variable before uv_mutex_unlock can  fix it  too

[2012-11-22 14:42] #628 closed, assigned to nobody

[2012-11-22 15:24] bnoordhuis commented on #628
Fixed in dcd3b55.  Saving the pointer isn't necessarily safe, the loop may have been destroyed if that work_req was the last one.

[2012-11-24 15:20] denik opened #630 "Ability to stop asynchronous requests"
For example, having `int uv_getaddrinfo_stop(uv_getaddrinfo_t* req);` would be nice.

Ideally, the stop would be synchronous, like `uv_timer_stop()` with a guarantee that req is not going to be accessed by libuv after this call.

If that's hard to implement, uv_close-like asynchronous stop that causes a callback to be called with `ECANCELED` on the next loop iteration would be the next best thing.

[2012-11-26 03:18] bnoordhuis commented on #630
Ongoing work can be found here: https://github.com/joyent/libuv/compare/uv_work_cancel

The uv_work_cancel() that I've implemented does a best-effort attempt to cancel the work req but if it's executing or has already been executed, it fails and returns an error.

If it's executing, you can't interrupt it and you can't wait for it to complete either because you don't know how long it'll take.

If

[2012-11-27 21:59] denik commented on #630
@bnoordhuis thanks :)

I realize that if, say, getaddrinfo() started executing, there's not much we can do other than wait for it.

However, we could make sure that uv_getaddrinfo_t\* is not touched again and could be freed now. This is what I'm after because I'm reusing the memory that uv_getaddrinfo_t occupied for other requests but as far as I understand now I have to wait for the request to co

[2012-11-27 22:10] bnoordhuis commented on #630
I don't see how that could work. If the getaddrinfo code is executing, it will want to mutate the uv_getaddrinfo_t struct later on.

There's no way to signal the getaddrinfo thread that it can no longer touch the struct unless you start using, say, per-loop hash tables. That way madness and excessive complexity lies.

[2012-11-27 22:23] denik commented on #630
Perhaps, a thread pool can copy the uv_work_t struct by value, while keeping the reference to the original (user-provided) uv_work_t structure. When the request is cancelled, that reference is set to NULL, so upon finishing the job, the workers checks that and figures out that there's nobody to deliver the result to and just continues without touching any user's data structures.

Basically, it see

[2012-11-27 22:27] piscisaureus commented on #630
@denik Yes, there are ways to make this work. It would even be possible to not use a uv_work_t struct at all. The current approach represents a tradeoff between performance and usablility.

If you really need it to work like this you could write your own wrapper for uv_queue_work that does exactly this. Libuv will not.

[2012-11-27 22:29] bnoordhuis commented on #630
Your suggestion is not without merit but I think it would require a fairly major overhaul of the request processing pipeline and it goes against one of libuv's core values, which is to allocate as little dynamic memory as possible.

[2012-11-28 14:40] denik commented on #630
I agree with this and in fact, need this to avoid using dynamic memory in my libuv-based library. In the current API where I have to wait until libuv is done with request structure I have to allocate it dynamically.

If I could just tell libuv "stop using this", like I can with libev watchers, then in some cases I could use static storage for request structure.

Anyway, talk is cheap, so I plan to

[2012-11-28 15:53] txdv commented on #582
One important addition: the sockets can be accepted at a later point, you don't need to accept them in the callback.

[2012-11-28 15:55] #291 closed, assigned to nobody

[2012-11-28 16:04] txdv opened #634 "uv_write_start/uv_write_stop"
These methods would allow the write queue of streams to be paused and resumed.
Once a stream is created, the stream is writing automatically and has to be stopped with uv_write_stop after creation in order to utilize this effect.
This would ensure API compatibility.

This would put libuv functionality on par with libev functionalywise.

[2012-11-28 16:07] txdv opened #635 "dualstack for tcp"
Dualstack binding for udp is already supported.
Tcp would be nice too!

[2012-11-28 16:25] dhruvbird opened #636 ".gitignore includes *.mk"
This prevents the .mk files from getting added if I copy everything into a new git repo. Is this intentional?

[2012-11-28 20:23] bnoordhuis commented on #634
It was discussed recently in #libuv (I don't remember if it was with you or @creationix).

I personally don't see the need for such functions. uv_read_stop() is necessary because you don't control incoming data. That argument doesn't hold for uv_write_stop() because your application controls when it calls uv_write().

We'd also need to devise a mechanism to convey how many bytes have already been

[2012-11-28 20:28] bnoordhuis commented on #636
Yes. The gyp build generates a bunch of *.mk files that shouldn't be versioned.

[2012-11-28 20:28] #636 closed, assigned to nobody

[2012-11-28 20:34] bnoordhuis commented on #636
Then again, those files are stored in out/ now. I've updated the ignore list in df1399f.

[2012-11-28 20:52] dhruvbird commented on #636
Thanks - makes things easier for me!

[2012-11-28 22:05] txdv commented on #634
It was me.
On unix it is also true that it immediately tries to hand the data of to the OS(I took a look at the implementation).
But there is still a queue, you can turn of the IO watchers, buffer all the data in the queue and wait for a write_start.
Well, I will wait for @piscisaureus answer as well.

[2012-11-28 22:37] bnoordhuis commented on #634
That's not quite the same thing. On Unices, we try to do the write immediately. If it works, happy joy. If it fails, we wait for the socket to become writeable and try again.

The IOCP approach is different. You hand off the data to to the kernel and it starts sending it at its leisure. You won't hear from the kernel again until all data has been sent or an error occurs.

When you call uv_write_st

[2012-11-28 22:45] piscisaureus commented on #634
I see absolutely no point in uv_write_stop. Can you come up with an actual use case where you'd need this?

[2012-11-29 00:15] txdv commented on #634
There is a lib for C#/mono written which supports the write_read/stop which is based on libev that supports this behaviour. libuv was supposed to be a backend for this lib.
@piscisaureus the sufficient argument for me to drop this entire idea is if it is really that hard to implement on windows(as bnoordhuis described it).

[2012-11-29 00:18] piscisaureus commented on #634
@txdv well it _is_ hard to implement on windows :-)

But, what is the name of that c# lib? I'd be quite curious, because I honestly cannot think of a single use case, so I would like to look at the API this lib offers.

[2012-11-29 00:51] txdv commented on #634
https://github.com/jacksonh/manos

[2012-11-29 08:13] saghul opened #637 "Threadpool related crashes on OSX"
Every test relying on the thread pool seems to fail on OSX now, 24 of them:

[code]

Here is the backtrace of a crash I caught on pyuv: https://gist.github.com/4167503

[2012-11-29 14:36] #637 closed, assigned to nobody

[2012-11-29 14:37] bnoordhuis commented on #637
Thanks, silly bug fixed in 2be240d.

[2012-12-02 22:10] fillest opened #641 "Getaddrinfo linker error on Windows (MinGW)"
I use code from master (44f0fcd033), Windows 7 64bit, MinGW.
I link my application with libuv.
Gyp didn't work (`mingw32-make: Nothing to be done for 'all'`) so i just `mingw32-make` and got following errors:

[code]

Yes, i linked with ws2_32, psapi and iphlpapi. Yes i am sure, because when i don't link with ws2_32, i get lots of Wsa-functions linker errors

[2012-12-02 22:57] piscisaureus commented on #641
@fillest I don't get an error.

Please read http://quaid.fedorapeople.org/TOS/Practical_Open_Source_Software_Exploration/html/sn-Debugging_the_Code-The_Anatomy_of_a_Good_Bug_Report.html

[2012-12-02 22:57] #641 closed, assigned to nobody

[2012-12-02 23:55] fillest commented on #641
Oops, sorry, it works. I localized the problem - it was -IC:/Windows/System32

[2012-12-03 22:46] #634 closed, assigned to nobody

[2012-12-05 01:02] mattn opened #645 "Crash on windows"
I built following code on mingw32.
I used windows xp.

[code]

build & run

[code]

crash log

[code]

gdb log

[code]

[2012-12-05 01:19] piscisaureus commented on #645
It seems that the uv_connect_req and uv_write_req are stack-allocated. I have no experience with using lambdas - but are you sure the write req is still valid when the write callback is called?

[2012-12-05 01:21] piscisaureus commented on #645
At the very least the "handle" argument for uv_write_t should not be set to 0xffffffff - that can only be wrong.

[2012-12-05 01:24] mattn commented on #645
This problem occur on https://github.com/mattn/mruby-uv also.

[2012-12-05 01:25] mattn commented on #645
This example code above was worked correctly on windows at least in few month ago.

[2012-12-05 01:44] piscisaureus commented on #645
@mattn Are you sure uv.a is up-to-date and matches the uv.h header that you are including? I tried your test code and it works:

[code]

[2012-12-05 02:21] bnoordhuis commented on #645
As another data point, your test case works for me as well.

That suggests your build is out of date.

[2012-12-05 03:09] bnoordhuis commented on #582
@piscisaureus Call for comments.

[2012-12-05 10:26] bnoordhuis opened #646 "unix: fix ngx_queue_foreach use-after-remove"
To reproduce:

[code]

The problem is that we sometimes iterate over a queue that gets modified by callbacks. Example from src/unix/async.c:

[code]

async_cb sometimes removes the handle from the queue but ngx_queue_foreach still reads the prev/next fields.

Simply pre-caching q->next won't solve it because what if async_cb removes the _next_ handle in the queue?

The reason it doesn't actually c

[2012-12-06 01:24] mattn commented on #645
mingw32 build output libuv.a not uv.a ?

[2012-12-06 01:29] piscisaureus commented on #645
@mattn You're right. That was the line I used when I tried it with the v0.8 branch. However I also built it with master (replace uv.a by libuv.a) and everything works fine here still.

[2012-12-06 01:42] mattn commented on #645
Ah, I figured out now. mingw's gcc place libuv.dll.a ahead of libuv.a ...
I was created libuv.dll.a for https://github.com/mattn/go-uv in few weeks ago. Sorry That! :-(

[2012-12-06 01:42] #645 closed, assigned to nobody

[2012-12-06 10:48] denik commented on #630
So I've thought more about it and although it can be possible to do so for uv_getaddrinfo_t, it seems hard to do it in a generic way. Once a thread started executed work_cb it's impossible to assume how it's going to use uv_work_t*.

For now I think uv_work_cancel is the best you can do.

In my case, I just have to allocate uv_getaddrinfo_r dynamically (and dealocate it in close_cb), but it won't

[2012-12-07 23:56] nathansobo commented on #485
@bnoordhuis Any updates on `uv_backend_fd()`?

[2012-12-07 23:58] indutny commented on #485
@nathansobo I think it has already landed https://github.com/joyent/libuv/blob/master/src/unix/core.c#L251

[2012-12-08 16:23] bnoordhuis commented on #624
Turns out that setting SO_LINGER to 1 second fixes the issue. Why it's only an issue with tcp_multi_accept2 and not the other tests remains to be investigated...

[code]

[2012-12-09 14:16] bnoordhuis commented on #548
No reply in 3 months, closing.

[2012-12-09 14:16] #548 closed, assigned to nobody

[2012-12-12 05:58] praveend opened #649 "ThreadPool size?"
Hi,

I was going through the documentation on threadpool using uv_queue_work. Wanted to know what is the size of the thread pool provided by libuv. Is it a fixed number of threads? or Do you increase the size of the pool based on incoming requests and accordingly cut down the number of threads when incoming requests reduce?

Thanks

Praveen

[2012-12-12 09:11] bnoordhuis commented on #649
Yes, with the current HEAD of master but that's due to be addressed.

The scheme we're going with is that you have roughly as many threads as cores for CPU intensive tasks plus many (tens, maybe hundreds) threadlets for fs operations.

Those fs threadlets should almost always be blocked in system calls and will run on a reduced stack (4-16 kB instead of the default 2 MB) to save address space on 3

[2012-12-14 14:30] kristrev opened #655 "Inconsistent behavior between handle_inits"
Hi,

I am not sure if this is intentional or not, but here goes. When working on an application today, I noticed that uv_poll_init and uv_udp_init behave differently. Udp_init does a memset(0), while uv_poll_init does not do this. It is not a major thing, but I guess it has potential to cause some confusion.

-Kristian

[2012-12-15 20:15] #655 closed, assigned to nobody

[2012-12-15 20:15] bnoordhuis commented on #655
Fixed in 273cecc. Thanks for pointing it out.

[2012-12-17 14:21] kristrev opened #657 "Combine timers and streams/UDP sockets"
Hello,

I am working on an application were I want to combine a timer event and a UDP socket in the same event loop. I rely on the timer triggering more or less on time, in order to do some cleanup of client connections.

What I discovered is that the UDP socket "blocks" the timer from executing when it is supposed to, because of the loop in udp.c:208. My solution was to do a return after each pac

[2012-12-17 14:27] piscisaureus commented on #657
@kristrev

Yeah, the number of "spins" of that loop should have some upper limit. This has actually been fixed for streams already, we'd take a patch for UDP handles as well.

[2012-12-17 14:40] bnoordhuis commented on #657
Wasn't that fixed in 738b31e?

[2012-12-17 15:21] kristrev commented on #657
Yes, you are correct, there is an upper limit.

It turns out the mistake was all my fault. I created the socket manually and had forgotten to set it to nonblocking :( Thanks for the help and sorry about this!

[2012-12-17 15:21] #657 closed, assigned to nobody

[2012-12-17 15:36] kanongil opened #658 "getaddrinfo_concurrent test fail"
I have an issue in node.js where a dns.lookup erroneously returns ENOENT. Trying to trace this issue I looked at libuv, where I found that I could get a test to fail simply by changing the lookup address from 'localhost'  to something else, eg. 'nodejs.org':

[code]

It makes sense that it is the concurrent test that fails since I observed that my original issue was failing on the second lookup of

[2012-12-17 15:48] bnoordhuis commented on #658
Sorry, I'm not sure what the issue is. You mean node returns ENOENT for a hostname that in reality is resolvable?

[2012-12-17 15:54] kanongil commented on #658
That was my original issue, yes. And further, it had actually already successfully resolved it, but on the second try it fails with ENOENT (after a short timeout).

Since it was not immediately possible to replicate in isolation, I dug deeper and found that I could force libuv to fail a test case.

[2012-12-17 23:16] txdv commented on #635
I'll just use this issue to propose different API's for udp and for tcp regarding dual stack.

On all Unices which support dual stack, dual stack is on by default. If it doesn't support dual stack, well, it is off. At least it is the assumption of the [libuv code](https://github.com/joyent/libuv/blob/273cecc56ff54d1c6f2537d61838052719db0cb9/src/unix/udp.c#L342-L353). Now I found this [Article](htt

[2012-12-18 06:50] bnoordhuis opened #659 "build: build libuv.a and libuv.so in different directories"
See e.g. #632.

Running `make all && make test` fails to build the test suite.

`make all` first builds libuv.a, `make test` then tries to build libuv.so but dies with relocation errors.

Possible solutions:
1. Always build with -fPIC. Bad but easy.
2. Build libuv.a and libuv.so in different directories. Good but hard(er).

[2012-12-18 15:19] piscisaureus commented on #339
Fixed in 0820be7

[2012-12-18 15:19] #339 closed, assigned to bnoordhuis

[2012-12-19 14:35] #659 closed, assigned to bnoordhuis

[2012-12-19 14:36] bnoordhuis commented on #659
Fixed in 4b115f8.

[2012-12-21 07:51] dvv opened #661 "build for android"
Hi!

[Here](http://busybox.net/~dvv/uv-android.patch) is the patch to make libuv build under android-ndk (ver 14).
Please, consider applying.

TIA,
--Vladimir

[2012-12-21 09:01] txdv commented on #661
I see no patch

[2012-12-21 09:10] dvv commented on #661
"Here" is a link.

http://busybox.net/~dvv/uv-android.patch

The most irritating is that ares rely on arpa/nameser[_compat].h which are pruned from android-ndk.
An option would be to hold these somewhere under the uv tree

[2012-12-21 09:56] kanongil commented on #658
Further debugging revealed that it was caused by a local DNS configuration issue. Please ignore.

[2012-12-21 09:56] #658 closed, assigned to nobody

[2012-12-21 13:14] saghul commented on #661
But ares is no longer part of libuv, so I guess that belongs to some new project, or a contribution to c-ares? IIRC ares master is supposed to build on Android.

[2012-12-21 13:23] dvv commented on #661
what's ares master? this one? https://github.com/bagder/c-ares

[2012-12-21 13:24] saghul commented on #661
Yes, that one. Go through the changelog and commits, I recall seeing some
Android related stuff there.

On Friday, December 21, 2012, Vladimir Dronnikov wrote:

##

/Saúl
http://saghul.net | http://sipdoc.net

[2012-12-21 14:48] dvv commented on #661
oh, right.
but libuv now depends on advanced pthread stuff like `pthread_condattr_setclock` and it's certainly missing in android-ndk.
seems full stop here...

[2012-12-21 15:44] deanm commented on #574
Just want to comment that runloop integration is something I've tackled a few times for Plask.  I've just recently rewritten it for libuv and taken a new approach (that is kqueue specific).  There are at least some helpful comments that explain the approach and might be helpful:

https://github.com/deanm/plask/commit/3db9c663adb1d24bc07e523614fef8e4167cdbc3

[2012-12-22 02:38] txdv commented on #661
#ifdef PTHREAD ?
Just define all the thread stuff out

[2012-12-22 07:06] dvv commented on #661
How so?

[2012-12-22 17:08] bnoordhuis commented on #661
I can't take the patch, it needs to be against the current master. I think I'm open to patches that conditionally compile out the threading stuff but in the case of Android, I suggest you complain to upstream - there is no reason for GOOG to not add e.g. pthread_condattr_setclock(), the kernel supports it just fine.

[2012-12-22 17:08] #661 closed, assigned to nobody

[2012-12-22 18:49] vtudose commented on #625
Sorry for the mess, I accidentally referenced  the commits twice.

[2012-12-23 08:53] ttilley commented on #354
the tag for node-v0.9.4 is missing.

should I assume that the correct commit is 4b115f89bf54275ea695df2b872f34567b993ff3 ?

[2012-12-23 12:42] bnoordhuis commented on #354
I've added it. It points to commit dc559a5.

[2012-12-23 14:45] ttilley commented on #354
thanks :)

[2012-12-24 16:14] vtudose commented on #602
The benchmark benchmark-muti-accept.c fails because the **pending_ipc_info.socket_info** field is unitialized. This is the responsable code in file **pipe.c** function **uv_pipe_accept:725**

[code]

The **pending_ipc_info.socket_info** field gets initialized in function **uv_process_pipe_read_req** (file **pipe.c:1277**)  but that function never gets called.

[2012-12-25 02:00] bnoordhuis opened #667 "unix: improve async throughput"
Preliminary work here: https://github.com/bnoordhuis/libuv/compare/495ac83...d7f273a

Quoting the commit log:

[code]

Needs further investigation.

[2012-12-25 02:06] bnoordhuis commented on #667
Forgot to mention that HEAD~1 and HEAD show clear improvement on the million_async benchmark. Before:

[code]

After:

[code]

[2012-12-25 04:59] indutny commented on #667
I think we should try reworking my write-ptr patch instead, shared structure under lock has a big price to pay in case of big concurrency (i.e. 24 threads or more).

[2012-12-25 06:35] txdv commented on #667
I use async to communicate between multiple loops on different threads.

[2012-12-25 06:37] indutny commented on #667
Indeed that's what everyone is using it for.

[2012-12-25 10:43] indutny commented on #667
@bnoordhuis I've runned million-async benchmark on my branch today, looks it's 2x slower than current master. Go ahead with your thing, then :)

[2012-12-25 11:34] saghul commented on #667
Why not use a pipe instead? There used to be a way to do it automatically in libuv long time ago IIRC.

[2012-12-25 11:46] indutny commented on #667
@saghul because when you have millions of async handles, walking through them every time is starting to take a lot of time... Actually, you don't need millions of handles for this - 300-400 is already enough to feel the performance regression.

[2012-12-25 11:48] saghul commented on #667
Sorry, my reply was to @txdv, the performance regression can indeed be a
problem.

On Tuesday, December 25, 2012, Fedor Indutny wrote:

##

/Saúl
http://saghul.net | http://sipdoc.net

[2012-12-25 14:57] txdv commented on #667
I have one async for every Loop. Once the async is called, it goes through a lockless queue, tries to deque all callbacks until there no one left and executes them in the same thread that the loop exists. 24 loops = 24 asyncs.
I also used this async to implement uv_run_nowait (async_send before running run_once) and Ref and Unref on the Loop (they simply count the refs and unrefs and call Unref or

[2012-12-25 16:29] saghul commented on #667
@txdv I see. We do have a nowait run now ;-) I also thought the problem was with the number of asyncs per loop, not the total number of them.

[2012-12-25 20:02] nikhilm opened #668 "signals: uv.h comments out of date?"
It seems signals support has progressed, but the comments in uv.h haven't been updated. Possible problem spots:
- Comment before struct uv_signal_s - TODO about only default event loop supporting signals
- Comment before uv_signal_init - Windows no-ops, but the windows functions seem to do something since commit c4dbb60cffbaba, and the comments in uv_signal_s have been updated about it.

[2012-12-25 20:51] #668 closed, assigned to nobody

[2012-12-25 20:52] bnoordhuis commented on #668
Fixed in 3164f1e, thanks.

[2012-12-28 14:04] bnoordhuis commented on #630
I forgot to close this issue but for the record: a generic but UNIX-only uv_cancel() landed in 52c8a86 and - for future Windows compatibility - got its API reworked in 92fb84b.

[2012-12-28 14:04] #630 closed, assigned to nobody

[2012-12-28 15:14] bnoordhuis commented on #486
Closing. It turns out we don't need autotools support after all. Fedora was happy using the Makefile provided it knows how to build a shared object (which it now does).

[2012-12-28 15:14] #486 closed, assigned to bnoordhuis

[2012-12-28 15:17] #531 closed, assigned to nobody

[2012-12-29 07:14] indutny commented on #614
Fixed

[2012-12-29 07:14] #614 closed, assigned to nobody

[2012-12-29 16:28] bnoordhuis commented on #614
In 731adac.

[2012-12-30 00:19] saghul opened #671 "unix: Loop doesn't iterate when a signal is received"
Before libev was removed, if a signal was received when the loop was blocked for io, the signal would "wakeup" the loop (the poll would be interrupted with EINTR as far as I see) and another loop iteration would begin.

This is no longer the case and I kind of relied on it for interfacing with Python signal handlers in the following way:
- Have a internal prepare handle
- Call a specific Python AP

[2012-12-30 01:05] saghul commented on #671
Hmm, after some more testing things look worse than I expected :-S In Python, when Ctrl-C is pressed KeyboardIterrupt is raised unless a handler for SIGINT is registered with the builtin signal module. I'm unable to get this behavior working with uv_signal_t handles, becuase libuv is handling the signal. If possible it would be nice to have the old behavior, where the loop would iterate after bein

[2012-12-30 01:55] bnoordhuis commented on #671
The current behavior (retry on EINTR) is intentional; I've always considered the libev behavior borderline buggy.

The reason is that prepare and idle handles are only supposed to run when the event loop is making some kind of forward progress (timeout, I/O pending, etc.). Not retrying on EINTR means they also run when nothing actually happened.

What solutions are possible that don't involve reve

[2012-12-30 08:49] saghul commented on #671
I see. I supposed there was some reason behind it since the code didn't look arbitrary.

I'm not sure what can be done to achieve the same behavior (in pyuv) that doesn't involve reverting to the old behavior. If timeout is 0 then the poll will return on EINTR, but there are many cases where timeout will be -1 or some other value, so it's very easy to run into the problem. Basically I'd need to be

[2012-12-30 09:01] saghul commented on #671
I'm not sure if anybody would use it (other than me), but maybe it could be made configurable? By using a loop flag:

[code]

[2012-12-30 10:46] denik commented on #671
In gevent, I also rely on this feature in libev to work with Python signals properly and I also use a prepare watcher for that. It is crucial that the event loop does not silently swallows EINTRs to be able to make Python bindings that do not break normal Python behaviour.

@saghul, I'd use this flag, if there are no other options. However, this means prepare and idle and check watchers have diffe

[2012-12-30 13:32] saghul commented on #671
Thanks for commenting, @denik! I actually relied on this heavily for my uvent experiment ;-)

My intention with that flag is to try to please everyone, but (maybe due to my lack of deep knowledge) I find the old behavior reasonable. I also thought of a eintr_cb of some sort, but it looked a bit to specific.

Btw, how does Windows react to Ctrl-C if the loop is busy polling @piscisaureus ?

[2012-12-30 23:48] denik commented on #671
BTW, @saghul, Recent Python also has [signal.set_wakup_fd](http://docs.python.org/2/library/signal.html#signal.set_wakeup_fd) function. Perhaps it could be helpful.

[2012-12-30 23:55] saghul commented on #671
That would indeed be an option. Use a pipe and use a Poll handle for readability and do the check on its callback. I'd go for using PySignal_SetWakeupFd, however it should only be called from the main thread :-S Performing another loop iteration still looks like the most appealing solution to me. I wonder if others implementing libuv bindings have run into this.

[2012-12-31 01:02] bnoordhuis commented on #671
Yes. I have had at least two node.js add-on authors complain to me about the old behavior.

Another issue is performance: when your application receives lots of signals, it keeps doing the prepare/enter/check dance.

[2012-12-31 01:03] bnoordhuis commented on #671
Not from the perspective of the event loop.  _If_ you were interested, you would have registered a uv_signal_t watcher.

[2012-12-31 01:04] saghul commented on #671
Does the flags approach (or something similar) look reasonable to you?

[2012-12-31 01:08] bnoordhuis commented on #671
It won't win beauty pageants but I guess I could learn to live with it.

There's something I don't quite get though: python is embeddable, right? That suggests it must have means to deal with an embedder that handles signals itself, i.e. there must be some mechanism to integrate the two.

I guess @denik already pointed out the solution for 2.6 and up.

[2012-12-31 01:14] saghul commented on #671
Well, yes and no. I would need to creare a pipe, use a poll handle with the read end on each loop and register the writable end with the Python internal API as the signal handling fd, which could also break other things (only one can be registered at a time, and the user can change it). The prepare handle solution which used to work is much simpler and probably also works on Windows (I don't have

[2012-12-31 08:23] txdv commented on #671
I use libuv 36b1e1a57c59ff835177e26f37742f5fb49cb353.
Somehow mono manages to catch ctrl+c immediately and terminate. I also use a watcher to catch terminal resizes.

[2012-12-31 08:43] saghul commented on #671
Is that before or after libev removal?

On Monday, December 31, 2012, Andrius Bentkus wrote:

##

/Saúl
http://saghul.net | http://sipdoc.net

[2012-12-31 09:46] saghul commented on #671
Ok, after sleeping over it, here is a way to get it working using the wakeup fd thing and a pair of connected sockets (so that it works on Windows): https://gist.github.com/4418548

There is one caveat, though: the wakeup fd thing works by writing a null byte to the given fd, which needs to be consumed, but Python will run the signal handlers _before_ consuming the data, because it will check for

[2013-01-06 13:37] zenkj opened #678 "timer started in handle's callback does not work properly"
in uv_timer_start, the timeout value relies on loop->time. but in the callback of a handler(such as uv_tcp_t), the loop->time is not correct(in uv_run2, it's updated in uv_update_time, but the callback is called in uv__io_poll, after waiting for some timeout time). Is it proper to call uv_update_time in uv__io_poll?

[2013-01-06 18:21] #678 closed, assigned to nobody

[2013-01-06 18:23] bnoordhuis commented on #678
Thanks for the bug report and the clear analysis, it's fixed in 2f55353.

@piscisaureus Does it affect uv-win too? I looked at src/win/core.c but I couldn't tell.

[2013-01-06 18:55] saghul commented on #671
So, here is how I finally got it working on pyuv, FWIW: https://github.com/saghul/pyuv/commit/3b43285bc66883c4466cb4413de80842dce98621 it's a pseudo-handle which uses a uv_poll_t handle to call the Python signal processing function. Here is an example: https://github.com/saghul/pyuv/commit/6e71bf7da350c6ced6bdc4375ed6ba8cd2a9d2f2

Thanks for all the comments, I hope this can also help others.

[2013-01-06 18:55] #671 closed, assigned to nobody

[2013-01-07 00:45] piscisaureus commented on #678
@bnoordhuis No, uv-win updates the current time both before and after the poll function. (Although it only updates before if there are any timers.)

[2013-01-07 05:51] messense opened #679 "unix: build failed on OS X 10.8.2"
This version of libuv broken when compile it on OS X 10.8.2 using clang 4.1 or gcc 4.2.1.

The cause is that the commit [edd10071eb86cdc741c6652a38eff0b4d6be561e](https://github.com/joyent/libuv/commit/edd10071eb86cdc741c6652a38eff0b4d6be561e) added a include of header file `features.h` in `libuv/src/unix/async.c`, but it seems that the `features.h` does not exist on OS X 10.8.2.

[2013-01-07 11:42] richardhundt commented on #679
same problem with OS X 10.7.5

[2013-01-07 14:39] bnoordhuis commented on #679
Ah, seems I introduced a GNU-ism. I'll fix it.

[2013-01-07 14:44] bnoordhuis commented on #679
Thanks for the bug report. It's fixed in cb3c448.

[2013-01-07 14:44] #679 closed, assigned to nobody

[2013-01-08 15:19] saghul opened #680 "Prevent uv_poll_t from being used more than once for the same fd?"
According to the description in uv.h it's not safe to use more than one uv_poll_t handle for a given fd. IIRC this limitation comes from the Windows side of things.

I can live with this, but right now the unix version asserts (https://github.com/saghul/pyuv/issues/54). A quick inspection shows that only one uv__io_t will be stored per fd here: https://github.com/joyent/libuv/blob/master/src/unix/

[2013-01-08 16:42] bnoordhuis commented on #680
I don't know. That means maintaining an (expensive) on-heap hash table of file descriptors.

[2013-01-08 17:01] saghul commented on #680
Not sure about Windows, but how about making uv__io_start return an int and return -1 if loop->watchers[w->fd] != NULL && loop->watchers[w->fd] != w ?

[2013-01-09 02:10] bnoordhuis commented on #680
That works but only for uv_poll_start, not uv_poll_init. Which is okay, I guess?

[2013-01-09 02:19] saghul commented on #680
Well, I'd rather fail early :-) I just ran into this situation: I'm monkeypatching a Python library which uses libev and uses 2 io handles for a given fd, one for the read event and another one for the write event. I can/need to hack around it, but ideally it would be nice to have it fixed (in libuv), which can mean 2 things:
- Try to bring back the old behavior, that is, allow multiple poll handl

[2013-01-09 11:03] kavu opened #681 "Fix `all` target dependency on Darwin (OSX)"
Hi!

During the creation of libuv Homrbrew formula (mxcl/homebrew#16867) I faced a problem that `make all` building `libuv.a` on Darwin (OSX), despite that in `conig-unix.mk` we explicitly define $(SOEXT) https://github.com/joyent/libuv/blob/master/config-unix.mk#L74.

So, I purpose to change `all: libuv.a` in Makefile (https://github.com/joyent/libuv/blob/master/Makefile#L44) to `all: libuv.$(SOE

[2013-01-09 15:33] bnoordhuis commented on #681
No can do, the default target needs to remain an archive file. Maybe I'm misunderstanding you, but why don't you build `make libuv.so` (or libuv.dylib) instead of `make all`?

[2013-01-09 16:19] kavu commented on #681
Oh! Damn, yeah, I can, you understood correctly. Thank you!

It's my mistake. I am really sorry for bothering you with this "bug".

BTW, `make clean` doesn't `rm` *.dylib. It's surely not a bug, just an observation.

##

Max Riveiro

On Wednesday, 9 January 2013 г. at 19:33, Ben Noordhuis wrote:

[2013-01-09 16:27] bnoordhuis commented on #681
Ah, right you are. Fixed in 9eedd32, thanks.

[2013-01-09 16:27] #681 closed, assigned to nobody

[2013-01-10 23:14] saghul commented on #680
After the discussion on IRC looks to me that fixing it to fail early can be tricky or come at a high cost (for libuv). I'll probably handle this in pyuv by keeping a hash table with the fds. There will probably be a performance impact, but I'll see how to cross the river once I get there ;-)

Before I close this, @piscisaureus is it ok to have 2 poll handles for the same fd (well, SOCKET thingy) o

[2013-01-11 01:12] piscisaureus commented on #680
@saghul I don't think it works in different loops but I have not tested exhaustively.

[2013-01-11 08:24] saghul commented on #680
Thanks, @piscisaureus!

[2013-01-11 08:24] #680 closed, assigned to nobody

[2013-01-14 15:20] bnoordhuis opened #683 "unix, windows: rename uv_run2 to uv_run, deprecate/remove others"
Remove `uv_run(uv_loop_t*)` and `uv_run_once(uv_loop_t*)`, then rename uv_run2 to uv_run and make that the sole entry point. Less is more.

/cc @piscisaureus

[2013-01-14 15:31] saghul commented on #683
FWIW, uv_run_once is already gone.

[2013-01-14 15:32] piscisaureus commented on #683
@bnoordhuis @saghul +1

[2013-01-14 20:57] rikarends commented on #573
+1 Need this to use vanilla node for serving terminals. No binary extensions!

[2013-01-15 08:52] bnoordhuis opened #684 "unix, windows: pass structs by address, not value"
Functions like uv_tcp_bind() and uv_tcp_connect() take a struct sockaddr_in as a value, make them use pointers instead.

Why?
1. Dealing with struct values is a pain for bindings authors.
2. Lets us slim down the API. Example: `uv_tcp_bind(struct sockaddr_in)` and `uv_tcp_bind(struct sockaddr_in6)` become `uv_tcp_bind(struct sockaddr*)` (that's what happens internally anyway).

Target v0.12.

/cc

[2013-01-15 17:06] fillest commented on #684
Does it apply to callbacks like `uv_read_cb`? For example with LuaJIT FFI structs that are passed by value to callback are disallowed so one has to make complicated wrappers.

[2013-01-15 20:35] bnoordhuis commented on #684
You mean functions/callbacks that take uv_buf_t structs? I'm undecided, depends on how hard it makes life for people.

From an ABI perspective, there's no difference between `void f(uv_buf_t buf)` and `void f(void* base, size_t size)`, both push two arguments on the stack or pass them in registers, depending on the calling convention. (On x86/x86_64. I'm reasonably sure other architectures do the

[2013-01-15 21:05] fillest commented on #684
Yes, for example:
`typedef void (*uv_read_cb)(uv_stream_t* stream, ssize_t nread, uv_buf_t buf)`

Well, at the moment i have to deal with it this way:
I declare `typedef void (*net_read_cb_t) (uv_stream_t* tcp_handle, ssize_t nread, uv_buf_t *buf);`
Make a global empty `net_read_cb_t net_read_cb;` (global because i will need it in C funcion later)
In FFI'ed script i assign actual callback to this

[2013-01-15 21:36] bnoordhuis commented on #684
Right. What you can do as a workaround is to declare your function like this:

[code]

And call uv_start_read() like this:

[code]

Kind of hacky but it works because of the aforementioned calling convention rules. Admittedly, I don't know how complicated that is with Lua/LuaJIT's FFI (if it's possible at all.)

[2013-01-15 21:38] bnoordhuis commented on #684
I guess the above is a good argument for replacing uv_buf_t with explicit ptr/len parameters...

[2013-01-16 00:51] piscisaureus commented on #684
@bnoordhuis I agree in general but not for uv_buf_t.

[2013-01-16 22:36] #683 closed, assigned to nobody

[2013-01-16 23:23] kmsquire opened #685 "Build/test failure on 32-bit Centos5"
I get the following quick build failure on Centos5:

[code]

Removing `--std=c89` fixes the build problem, although I do get a (possibly unrelated?) single test failure:

[code]

[2013-01-17 00:32] bnoordhuis commented on #685
Can you try bnoordhuis/libuv@629a59b?

Regarding the test failure, can you post the output of `strace -f test/run-tests fs_futime fs_futime`? That should hopefully show what goes wrong.

[2013-01-17 00:54] kmsquire commented on #685
That fixed the build issue, thanks!

Here's the output of the `strace` command.

[code]

[2013-01-17 00:57] kmsquire commented on #685
The Centos5 system I'm on doesn't seem to implement `utimensat`. (Kernel version 2.6.18)

[2013-01-17 11:35] #685 closed, assigned to nobody

[2013-01-17 12:04] bnoordhuis opened #686 "darwin: optimize uv_fs_write?"
The core of uv_fs_write() currently looks like this:

[code]

libuv uses a global write lock because the XNU versions of write() and pwrite() are not thread-safe.

Global locks are bad for throughput, obviously. Suggested alternative approach:
1. Have a hash table of locks.
2. Look up the inode with fstat().
3. Use the inode as a key in the aforementioned hash table (i.e. granular locking).

The l

[2013-01-17 12:16] indutny commented on #686
I believe you're right, hash table in libuv... meh.

Though, if you think it's really needed - I can implement one.

[2013-01-17 12:19] bnoordhuis commented on #685
Right, that syscall wasn't added until 2.6.22. I'll add a fallback that calls `utimes("/proc/self/fd/<fd>")` instead.

[2013-01-17 12:27] bnoordhuis opened #687 "linux: emulate utimensat() on pre-2.6.22 kernels"
utimensat() was added in 2.6.22. Emulate it with `utimes("/proc/self/fd/<fd>")` instead.

Needs some special error handling:
- EACCES and ENOTDIR become ENOSYS.
- ENOENT becomes EBADF iff `fcntl(fd, F_GETFL)` sets EBADF, else ENOSYS

Ref #685.

[2013-01-17 12:30] bnoordhuis commented on #686
The hash table could be a simple `pthread_mutex_t locks[32]`, with key lookup done with `key = locks[inode % ARRAY_SIZE(locks)]`.

But don't waste time on it, it's a nice-to-have. Node.js has had the Big Lock since forever and no one's complained about it (much).

[2013-01-17 15:26] #687 closed, assigned to bnoordhuis

[2013-01-17 16:52] kmsquire commented on #685
Perfect, thanks.

[2013-01-17 17:44] bnoordhuis commented on #687
Error conversion added in 372ac34.

[2013-01-18 00:37] txdv opened #688 "Inconsistent error codes."
The error codes are inconsistent when checking for bad addresses:

https://github.com/joyent/libuv/blob/master/test/test-tcp-connect-error.c#L60
https://github.com/joyent/libuv/blob/master/test/test-tcp-bind-error.c#L131

The first returns EINVAL, the other EFAULT. I discussed with bnoordhuis this on the channel, it shoulds return EINVAL, because EFAULT means bad memory.

Furthermore, uv_tcp/udp_b

[2013-01-18 00:40] txdv commented on #688
duplication of https://github.com/joyent/libuv/issues/688

[2013-01-18 00:40] #688 closed, assigned to nobody

[2013-01-18 00:53] txdv commented on #684
While doing what this issue describes (https://github.com/txdv/libuv/commit/165d729899e9e0695652f2da9cea94662c727706) I found some inconsistent error code behavior which I want to get rid of in a separate commit (https://github.com/joyent/libuv/pull/689)

[2013-01-18 13:22] fillest commented on #684
@piscisaureus

Why?

[2013-01-19 17:39] bobrik opened #690 "Endless loop in EMFILE"
I have node.js program that is spinning in the next state (strace output):

[code]

gdb says:

[code]

uname:

[code]

node.js version 0.9.2

It seems to be wrong behaviour to spin in kernel space instead of bubbling error to node.js.

Is it known bug that is fixed in newer versions?

[2013-01-19 18:09] bnoordhuis commented on #690
Can you try this patch? It seems accept4() checks for EMFILE before EAGAIN.

[code]

Maybe. There's not much that you can do in EMFILE situations: either you exit or you do what libuv attempts to do. See 4f5c8da for the rationale.

[2013-01-20 09:50] bobrik commented on #690
I've patched deps/uv in node.js sources, compiled and deployed it to one of problem servers. Let's see if it helps.

[2013-01-21 14:43] creationix commented on #684
@fillest FYI, I talked to the luajit author about this exact issue many months ago.  His recommendation was to not use ffi with anything callback based at all.  The callbacks make the ffi considerably slower, even if you work around the by-val struct references.  My plan which I never found time to do, was to wrap the libuv API in a more poll style API where I repeadly call into libuv asking for t

[2013-01-21 16:19] fillest commented on #684
@creationix Yeah I'm aware of it, I've read it many times. The funny thing is: there are no public benchmarks or profiling results which clearly shows it (correct me if I'm wrong), and it seems everybody just repeat this mantra :) It can be slow in absolute numbers but negligible in relative to other operations (so it may be critical for one application and irrelevant for another).
For example I'v

[2013-01-24 14:02] Sh4rK commented on #684
@creationix and @fillest I also wanted to do a poll style wrapper for libuv for some time, and already started it, so if you can wait a little, maybe you don't have to write your own, if you find mine good enough. And of course, once I publish it (or even before that), suggestions are welcome :)

[2013-01-25 20:16] clemensg opened #695 "windows: fix libcurl example"
Hi, I'd like to fix the example for how to use libuv with libcurl:
This was in a tutorial: `curl_multi_socket_action(curl_handle, req->io_watcher.fd, flags, &running_handles);` but did not compile, because of the changed `uv_poll_s`.
I tried to exchange the `io_watcher.fd` part with just `socket` but after that, it crashed in `uv_poll_init_socket` during `uv__handle_init`. So I guess my modificati

[2013-01-25 20:36] bnoordhuis commented on #695
Can you file this at https://github.com/nikhilm/uvbook/issues ? This is the tracker for library issues, not the book.

[2013-01-25 20:36] #695 closed, assigned to nobody

[2013-01-26 01:37] txdv opened #696 "Inconsistent error codes."
This is one big issue.
I have seen error code being different all over the place.
The error codes returned in windows code are different from the once returned in the unix code.

I will use this issue to address the issues with the error codes of multiple functions.
### setting the error

There are two ways to set the error
1. uv__set_sys_error
2. uv__set_artificial_error

sys_error uses the syste

[2013-01-26 01:43] txdv commented on #696
uv_timer_start:

unix: https://github.com/joyent/libuv/blob/master/src/unix/timer.c#L53-L54
win: https://github.com/joyent/libuv/blob/master/src/win/timer.c#L88-L89

the unix code does some assertions on timeout and repeat to be > 0, windows does nothing.
I think the code should check if repeat is < 0 and return an EINVAL as an error code, what do you think?

[2013-01-26 01:46] txdv commented on #696
uv_udp_recv_start:

unix: https://github.com/joyent/libuv/blob/master/src/unix/udp.c#L668-L671
win: https://github.com/joyent/libuv/blob/master/src/win/udp.c#L344

unix checks if the alloc_cb and read_cb are not null, otherwise it will return EINVAL.

In this commit https://github.com/txdv/libuv/commit/2877d513fb0541c1af9873b479cdf5f3781a637c I have rewritten all the uv_udp_\* functions to have a

[2013-01-26 23:57] piscisaureus commented on #696
So generally we've been on the position that if people pass in wrong parameters (e.g. passing NULL for a callback when that is not allowed) libuv should fail early and assert. Why do you think this is better?

[2013-01-27 00:08] txdv commented on #696
Because libuv on unix does something else compared to libuv on win, I think this is just inconsistent behavior.

The uv_tcp_\* functions check for the correct handle or arguments in general, all the other functions do not check the handles and/or arguments, or do it only partially, depending on the platform. IMO if you want to iron out the API on all platforms, this should be an issue. libuv shoul

[2013-01-27 00:23] bnoordhuis commented on #696
I agree that argument checking could be more consistent between uv-win and uv-unix. My thinking was to have all library entry points in shared code that first checks the arguments and then dispatches to the platform-specific implementation (e.g. uv_tcp_connect -> uv__tcp_connect).

We could have a CHECK() macro that expands to assert() in debug builds and an `if (cond) return err` in release build

[2013-02-03 12:35] Sh4rK commented on #684
What's the status of this feature? Is it getting in libuv in the near future?

[2013-02-03 13:49] bnoordhuis commented on #684
Depends on your definition of 'near future'. After node.js v0.10 at the earliest.

[2013-02-05 15:33] bnoordhuis opened #699 "unix, windows: close callbacks are run at separate stages"
Compare:

  https://github.com/joyent/libuv/blob/8311390/src/unix/core.c#L288-298

With:

  https://github.com/joyent/libuv/blob/8311390/src/win/core.c#L265-291

uv-win runs close callbacks before the poll, uv-unix runs them afterwards. Which one is correct?

/cc @piscisaureus

[2013-02-07 19:28] jdduncan opened #702 "Win 32: SSIZE_T redefined"
I have a node module that builds successfully on 64-bit Windows but fails to build on 32-bit Windows.

C:\Program Files\Microsoft SDKs\Windows\v7.0A\include\basetsd.h line 422 says:
typedef LONG_PTR SSIZE_T, *PSSIZE_T;

But $HOME/.node-gyp/0.8.19/deps/uv/include/uv-private/uv-win.h line 27 says:
 typedef intptr_t ssize_t;

So the compiler gives error C2371, redefinition of SSIZE_T with different b

[2013-02-07 20:48] piscisaureus commented on #702
Which msvc version are you using? We had to add that typedef because msvc (at least up to vs2010) didn't define `ssize_t`. The `SSIZE_T` and `_SSIZE_T_DEFINED` are just heuristics, it's common to define one of these macros when `ssize_t` is supported or shimmed but not a guarantee.

By the way, I don't really see what the definition of `SSIZE_T` in the windows SDK has to do with it. Apparently the

[2013-02-07 21:52] jdduncan commented on #702
A C identifier should be case-sensitive ... and yet the compiler is clearly telling me that typedef ssize_t on line 27 of uv-win.h is a redefinition of typedef SSIZE_T on line 422 of basetsd.h.
This is VS 2010.

[2013-02-07 21:53] piscisaureus commented on #702
So probably you will want to find the line `#define ssize_t SSIZE_T` :-)

[2013-02-08 22:57] Sh4rK opened #704 "Document how to use uv_fs_stat/uv_fs_fstat"
It should be documented that in the callback of an `uv_fs_stat`/`uv_fs_fstat` call `req->ptr` points to an `uv_statbuf_t` struct, which should be used instead of `req.stat` or `req.statbuf`.

[2013-02-09 23:04] bnoordhuis commented on #704
@piscisaureus We might as well promote req.statbuf to public status. Thoughts?

[2013-02-09 23:24] Sh4rK commented on #704
Currently `req.statbuf` doesn't exist on Windows, so simply "promoting" it wouldn't work.

[2013-02-09 23:33] bnoordhuis commented on #704
It's called req.stat but that's trivial to change.

[2013-02-10 15:08] piscisaureus commented on #704
I agree about promoting statbuf.

[2013-02-10 16:33] bnoordhuis commented on #704
@piscisaureus Can you check bnoordhuis/libuv@1519114? I think I caught all references to req.stat but I don't have a cross-compiler installed on this machine to verify it with.

[2013-02-10 16:38] piscisaureus commented on #704
lgtm & wfm.

Also +much for making uv_statbuf_t official!

[2013-02-10 16:50] #704 closed, assigned to nobody

[2013-02-10 16:51] bnoordhuis commented on #704
Thanks, landed in da71649.

[2013-02-12 14:52] csaoh opened #707 "Unix: Writing permissions for GRP and OTH do not seem to work in uv_fs_mkdir and uv_fs_open"
[code]

results in

[code]

and

[code]

results in

[code]

uv_fs_chmod works fine though. Same for the other permissions (e.g, 755 results in -rwxr-xr-x and such)

[2013-02-12 15:28] bnoordhuis commented on #707
That's because of your umask. Libuv doesn't zero it before applying the operation because there is no way to do that in a thread-safe manner on most platforms, it's a per-process setting.

[2013-02-12 15:28] #707 closed, assigned to nobody

[2013-02-15 07:37] txdv opened #711 "Failing tests on Windows8."
I have some tests failing on windows:

[code]

I have left the stats out.

[2013-02-15 22:36] jdduncan commented on #702
Yes, we found this errant #define in some older library code and were able to remove it.  This resolves the issue for me.

[2013-02-16 09:52] bnoordhuis commented on #702
Great, closing.

[2013-02-16 09:52] #702 closed, assigned to nobody

[2013-02-22 08:43] saghul opened #718 "Inconsistent behavior of uv_spawn in Unix and Windows"
Hoi!

Here is a simple test written with pyuv:

[code]

This test hangs forever on Unix but works just fine on Windows. Apparently the cause for this is that Windows will stop the handle after the child is done, while in Unix we need to call uv_close or it will remain active. I personally find the Windows approach to be the good one. Is this a known bug?

If it isn't, I can try to fix it, by stopp

[2013-02-22 13:40] #718 closed, assigned to nobody

[2013-02-25 02:13] bnoordhuis commented on #699
Discussed with @piscisaureus and decided it's not an issue. Close callbacks on Windows can take several ticks to complete anyway while they almost always complete on the next tick on Unices.

[2013-02-25 02:13] #699 closed, assigned to nobody

[2013-02-25 02:19] bnoordhuis commented on #667
FWIW, b04fc33 speeds up the async handle benchmarks by 10-330% (not a typo) on Linux so it's a less pressing issue now - for Linux, anyway.

[2013-02-25 02:20] bnoordhuis commented on #624
Closing. Accept back-off a.k.a. relaxed accept has been disabled in dc559a5.

[2013-02-25 02:20] #624 closed, assigned to bnoordhuis

[2013-02-25 02:24] #620 closed, assigned to bnoordhuis

[2013-02-25 02:29] bnoordhuis commented on #569
This was fixed in b8aa5b9.

[2013-02-25 02:29] #569 closed, assigned to bnoordhuis

[2013-02-25 02:32] bnoordhuis commented on #420
This was fixed in 4fe1916.

[2013-02-25 02:32] #420 closed, assigned to bnoordhuis

[2013-02-25 02:34] bnoordhuis commented on #385
This was fixed in 39d574dc.

[2013-02-25 02:34] #385 closed, assigned to bnoordhuis

[2013-02-25 02:38] bnoordhuis commented on #353
This was fixed a long, long time ago. Can't find the exact commit but it was aeons ago.

[2013-02-25 02:38] #353 closed, assigned to bnoordhuis

[2013-02-25 02:44] bnoordhuis commented on #351
Fixed in several commits. -fstrict-aliasing and -Wstrict-aliasing has been enabled in 6ba6f4b.

[2013-02-25 02:44] #351 closed, assigned to nobody

[2013-02-25 02:45] bnoordhuis commented on #104
Closing. uv.h is reasonably tidy now.

[2013-02-25 02:45] #104 closed, assigned to nobody

[2013-02-25 02:53] bnoordhuis commented on #414
I'm closing this as WONTFIX. I've experimented with a number of approaches on eliminating the extra alloc/read cycle - recvmmsg(), ioctl(SIOCINQ), doing one read per tick - and they're all slower by a considerable margin.

recvmmsg() performance was particularly disappointing - it's supposed to be faster but instead it was ~30% slower than a regular recvmsg().

[2013-02-25 02:53] #414 closed, assigned to nobody

[2013-02-25 03:00] bnoordhuis commented on #124
Closing. Locking can't be implemented in a cross-platform way.

[2013-02-25 03:00] #124 closed, assigned to bnoordhuis

[2013-02-26 15:10] schlamar opened #723 "Don't use Python unconditionally from PATH on Windows build"
There are two problematic cases if Python is directly executed in the `vcbuild.bat` without any additionally check.
- Python is not in PATH at all (default setup)
- Python 3 is in PATH

As solution for these issues I would suggest the following workflow
1. Allow the user to set the executable directly by command line argument / environment variable. If not set:
2. Look for `%SYSTEMDRIVE%\Python27\

[2013-02-26 15:27] saghul commented on #723
As for 1, what about looking for the PYTHON env variable? Moreover, how about folding all cases into: use whatever the PYTHON env variable points to, else try with 'python'.

[2013-02-26 15:41] schlamar commented on #723
The `PYTHON` variable is not set per default, so this won't cover the standard setup.

[2013-02-26 15:46] saghul commented on #723
That's the point, PYTHON is the override, you can set it to whatever you want. Else 'python' would be attempted. If there is no Python in the path whatsoever, well, we can start guessing, but nobody guarantees that we'll find it in SYSTEMDRIVE\PythonXY, so I'd rather fail and let the user fix it by specifying a valid Python interpreter.

For pyuv I will try to find an appropriate Python executable

[2013-02-26 15:48] bnoordhuis commented on #723
It's documented in the README that python 2.6 or 2.7 is a prerequisite so I won't bend over backwards to accommodate people that put python3 on their PATH.

An override through a PYTHON environment variable is acceptable though. Pull requests welcome. Please sign the CLA. :-)

[2013-02-26 15:48] #723 closed, assigned to nobody

[2013-02-26 15:50] saghul commented on #723
I knew you were going to say that @bnoordhuis, that's why I suggested the override :-) Just adding that allows me to solve all problems on pyuv side, so it should be fine for everyone.

[2013-02-28 08:57] ghost opened #726 "Portable atomics?"
It's nice that libuv gives us portable threading support, but often a lock is more than you need, a simple atomic operation will suffice. The three my own code need most are inc/dec and cmpxchg. I've already noticed in the codebase itself the desire to use atomic ops (see refcounting, uv__async_make_pending and the other uses of the ACCESS_ONCE macro).

Any chance we could get these as uv_atomic_i

[2013-02-28 17:04] bnoordhuis commented on #726
Yes, it's on the TODO list but I haven't gotten around to it yet.

The idea is have a uv-atomic.h header file with static inline functions that follow C++11 in that you explicitly specify the memory model.

As an example, you'd have something like this:

[code]

If you have some spare cycles, pull requests are welcome. :-)

[2013-03-03 13:39] alexei18h opened #731 "uv_queue_work() - uv__req_register bug"
It seems I've found a bug in uv_queue_work().

As I understand, it is OK to queue work items to run loop thread
from another thread - we need this to "post quit message" asynchronously
and stop run loop properly. So this is about uv_queue_work(). Look at its code. It can produce an assertion fail in
uv__req_unregister called by uv_process_work_req:

  assert(uv__has_active_reqs(loop));

The proble

[2013-03-03 13:45] alexei18h commented on #731
A little mistake in first post. Of course ,'my version of right code' is not good, I forgot to add
uv__req_unregister() line in QueueUserWorkItem fail case.

[2013-03-03 13:50] piscisaureus commented on #731
How did you come to this understanding? It's not okay.

You should use uv_async for this. uv_async_send() is pretty much the only thread-safe function in libuv (save synchronization primitives and functions that don't affect the loop at all.)

[2013-03-03 14:08] alexei18h commented on #731
Oh, ok. It seems I didnt read some part of documentation. Sorry for disturbing you.

[2013-03-04 01:04] bnoordhuis commented on #731
No problem. Closing the issue.

[2013-03-04 01:04] #731 closed, assigned to nobody

[2013-03-04 15:20] schlamar opened #732 "Build errors on Windows"
Any ideas for these errors:

[code]

[2013-03-04 15:28] bnoordhuis commented on #732
Duplicate of #728.

[2013-03-04 15:28] #732 closed, assigned to nobody

[2013-03-08 10:18] schlamar commented on #711
I'm seeing the following errors, too:
- fs_file_loop
- threadpool_cancel_getaddrinfo
- threadpool_cancel_work
- threadpool_cancel_fs
- threadpool_cancel_single
- dlerror

[2013-03-08 10:26] bnoordhuis commented on #711
The threadpool_cancel_\* tests are expected to fail, they're testing functionality that hasn't been implemented yet in uv-win. The other two should pass, I think.

[2013-03-08 10:40] schlamar commented on #711
And loop_stop is failing occasionally:

[code]

See the issue on pyuv for more details: https://github.com/saghul/pyuv/issues/85

[2013-03-08 17:43] GlenHertz opened #737 "Use `=` instead of `?=` for setting OS env var in Makefile"
Hi,

I had a compile error on commit `01fe4e73a695587d7aacbb1a6b998807b7917f64` because it conditionally defines OS in the Makefile.  According to:

https://www.redhat.com/mirrors/LDP/LDP/intro-linux/html/sect_07_02.html

`OS` is a reserved env var and it seems like libuv is using it as a variable for the user to override the setting. Please use a different variable name in place of `OS` like `lib

[2013-03-09 10:14] vtjnash opened #738 "DWORD_PTR cast on Windows 64"
https://github.com/joyent/libuv/blob/master/src/win/pipe.c#L918

[code]

causes this warning on 64 bit windows:

[code]

I think `DWORD` can be safely replaced with `DWORD_PTR`?

[2013-03-09 17:25] #738 closed, assigned to nobody

[2013-03-11 15:25] schlamar commented on #711
My errors are on Windows 7, BTW.

[2013-03-11 17:14] springmeyer commented on #649
Can this now be closed after the change to unix in https://github.com/joyent/libuv/commit/1e97b4567e1717bf17316230eff6e1a7350b8034?

I'm quite interested though in details from @piscisaureus in how this currently works (or might change) on windows...

On Windows with (mapbox/tilemill) we could benefit from a way to reduce the threadpool size in fact, while on linux we tend to always make it 1.5*CP

[2013-03-11 17:20] piscisaureus commented on #649
@springmeyer

Current situation as of node v0.10.0:
- uv-unix uses a custom thread pool (libeio is no longer in the mix) with a constant number of threads (4 by default, configurable with an environment variable.)
- uv-win still uses the windows thread pool implementation which auto-scales up to 512 threads.

Future directions:
- uv-unix will probably get some form of auto-scaling.
- uv-win will c

[2013-03-12 23:24] bnoordhuis commented on #609
No follow-up, closing.

[2013-03-12 23:24] #609 closed, assigned to nobody

[2013-03-14 07:03] schlamar opened #740 "Please create the 0.10 branch"
Then @saghul will release pyuv 0.10 :)
:cake:

[2013-03-14 08:04] piscisaureus commented on #740
https://github.com/joyent/libuv/commits/v0.10

[2013-03-14 08:04] #740 closed, assigned to nobody

[2013-03-14 08:20] saghul commented on #740
@piscisaureus Can you update UV_VERSION_MINOR please? :-)

[2013-03-14 16:37] bmeck opened #741 "Accept strings for uid and gid spawning"
On Windows you currently cannot spawn a process as a different user ( [source](https://github.com/joyent/libuv/blob/master/src/win/process.c#L768) ). This is because the [SID](http://msdn.microsoft.com/en-us/library/windows/desktop/aa379594(v=vs.85\).aspx) structures used are only reliably serialized as strings not numbers. By adding this, we can spawn up a privileged application (service) and hav

[2013-03-14 20:38] bnoordhuis opened #742 "unix: combine multiple write reqs into single writev() call"
Currently, writev() is only called when the user passes multiple buffers to uv_write().

If there are multiple write reqs in the pending queue, combine them and call writev().

See also joyent/node#4975.

[2013-03-14 20:45] bnoordhuis opened #743 "stream: add uv_cork() and uv_uncork()"
Proposal: add two new API functions, uv_cork() and uv_uncork().

The first one stops libuv from trying to write out pending write reqs, the second one tells libuv it's okay again to write.

Purpose: to make it possible for the libuv user to signal libuv that he'll be making several calls to uv_write() and that libuv should try to batch those into a single writev() call.

Example:

[code]

Without

[2013-03-14 20:46] bnoordhuis commented on #743
Depends on #742, refs joyent/node#4975.

[2013-03-14 20:53] bnoordhuis commented on #742
PS: Needs some careful benchmarking to determine where the cut-off point is (if there is one) where combining things for writev() because more expensive than doing _n_ separate write() syscalls.

[2013-03-15 23:54] bnoordhuis opened #746 "unix: don't uv__write() when stream handle is made pending with uv__io_feed()"
It's a rather subtle issue but I think this is what's happening:
1. epoll_wait() wakes up with the fd marked ready for writing (EPOLLOUT).
2. uv__write() writes one or more pending reqs until write(fd, buf, len) returns a value < len (meaning the send buffer is full and the next write will fail with EAGAIN)
3. It marks the handle pending with uv__io_feed().
4. The event loop cycles and calls uv__s

[2013-03-16 13:49] bnoordhuis commented on #746
Turns out the extraneous calls to uv__write() are pretty simple to eliminate but cause regressions on some benchmarks.

The patch:

[code]

It's a net win for TCP sockets (I'm seeing a consistent 5% throughput increase on localhost and LAN traffic) but it regresses node's net/tcp-raw-pipe benchmark something awful:

[code]

In that benchmark, all those extra calls to uv__write() actually improve t

[2013-03-16 19:03] bnoordhuis opened #747 "linux: set SO_REUSEPORT on listen sockets"
[code]

http://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/?id=c617f398edd4db2b8567a28e899a88f8f574798d

Available in 3.9-rc1.

[2013-03-16 23:17] #737 closed, assigned to nobody

[2013-03-16 23:17] bnoordhuis commented on #737
Fixed in a9740c9.

/cc @pfox

[2013-03-20 20:21] txdv commented on #635
Indutny goes with Solution 3: https://github.com/indutny/libuv/commit/dd927aa18a3cab15cac02a0b58a96292eaf96329

[2013-03-22 07:37] bmeck opened #750 "Don't know when safe to free uv_async_t*"
right now uv_async_t can be invoked multiple times, so freeing during the uv_async_cb is also problematic. Need to find a good way to free the handle of a uv_async_cb.

[2013-03-22 07:40] indutny commented on #750
Just `uv_close()` it and free in callback.

[2013-03-22 07:43] NewYuil opened #751 "Does libuv working in android well?"
I want build libuv by android ndk , and I want know does libuv work well in android ?

[2013-03-22 11:12] bnoordhuis commented on #751
YMMV. People send patches from time to time. That suggests a) people build libuv on android, and b) it doesn't always build flawlessly. It's not a platform we often test on, if that's what you're asking.

[2013-03-22 11:12] #751 closed, assigned to nobody

[2013-03-22 11:20] bnoordhuis commented on #750
What @indutny said.

[2013-03-22 11:20] #750 closed, assigned to nobody

[2013-03-23 20:41] bnoordhuis commented on #726
I decided to take a slightly different approach after thinking it over. A (deeply incomplete) proof-of-concept in all its horrible beauty is here: https://gist.github.com/bnoordhuis/3fafd09f65a789dd98bc - warning: lots and lots of cpp abuse.

Essentially, what it gives you are the store, load, exchange, compare_exchange_{strong,weak} and fetch_{add,sub,and,or,xor}  operations from C++11, with spec

[2013-03-24 06:47] ghost commented on #726
First of all, thanks for taking another look at this. I've been meaning to get back around to looking at this, but my knowledge of the C++11 memory model is "immature" at best, so I still have a lot of background reading to do. I mainly code in old C89, so I don't get to even look at fancy C11 features, and my experience and knowledge with threading and lock-free programming is Just Enough To Be D

[2013-03-24 18:10] sck opened #752 "uv__read should stop reading when alloc_cb can't allocate"
In my project I am using a static buffer that has a reasonable size but if it's full I just like to close the connection and reconnect.  This is, however, not possible with uv__read right now because alloc_cb failure will just raise an assert, and the calls to uv_read_stop() and uv_close() that were initiated by my alloc_cb are never executed.

[2013-03-25 01:49] bnoordhuis commented on #726
MIPS. It's not a tier 1 architecture but I don't want to break it if I can avoid it, provided the cost is not too high.

There is some interest from large companies in porting node.js to AIX so keeping the door open for PPC would be nice too.

They are, but only when the compiler supports them. The __sync_*() family of functions was originally added in gcc 4.1 but not fully implemented on most arc

[2013-03-25 13:02] bnoordhuis commented on #752
I propose a change where alloc_cb calls uv_read_stop() and returns a zero-length buffer. It's a little more work for the user but it lets us catch bugs where the user inadvertently returns a zero-length buffer. In pseudo-code, it would look like this:

[code]

@piscisaureus Does that work for you?

[2013-03-25 13:23] saghul commented on #752
@bnoordhuis what about calling the read_cb with UV_ENOBUFS as the error?

[2013-03-25 14:12] bnoordhuis commented on #752
That's fine too.

[2013-03-25 14:48] piscisaureus commented on #752
@saghul, @bnoordhuis I like both your suggestions equally well.

[2013-03-26 20:07] vtjnash opened #754 "uv_getaddrinfo_cb status code documentation incorrect"
The status argument for uv_getaddrinfo_cb is stated to be 0 on success and -1 on error. In fact, the unix code for this function returns the result returned by the getaddrinfo call (typically a small positive integer)
https://github.com/joyent/libuv/blob/master/include/uv.h#L1265

[2013-03-26 20:25] txdv commented on #754
There are a lot of inconsistencies around because the win and unix part was mainly written by two separate people.
Having an issue will help focus on making it consistent.

[2013-03-26 20:36] saghul commented on #754
What does that small integer mean? From OSX's man(3) page: "getaddrinfo() returns zero on success or one of the error codes listed in gai_strerror(3) if an error occurs."

[2013-03-26 20:51] vtjnash commented on #754
on OS X, the gai_strerror return codes are small integers. that's all i meant:

[code]

(from `/usr/include/netdb.h`)

[2013-03-26 20:52] saghul commented on #754
Ah, you meant in case of error :-)

[2013-03-26 21:31] #754 closed, assigned to nobody

[2013-03-26 22:03] ivanassen commented on #711
I'm seeing failing
-  loop_stop
-  timer_huge_timeout
- timer_huge_repeat
- fs_file_loop
- fs_symlink_dir
  ...and the four threadpool_cancel_*

Also, in run-benchmarks:
- tcp_multi_accept{2,4,8} fail, assert on benchmark-multi-accept.c line 123
- async{2,4,8} fail with timeout (but async1 passes)
- async_pummel_{4,8} fail with timeout
- spawn fails with timeout
- thread_create fails with timeout

[2013-03-27 11:15] bnoordhuis commented on #742
WIP: https://github.com/bnoordhuis/libuv/compare/issue742

[2013-03-30 01:51] bnoordhuis opened #757 "linux: tcp_multi_accept2 hangs when binding to random loopback addresses"
[code]

The benchmark eventually hangs in epoll_wait(). It doesn't look like it's port exhaustion because there haven't been that many sockets created by the time it hangs, maybe a few thousand.

I'm running 3.9-rc4 so it might be a kernel bug. Will cross-check with 3.8.